In [2]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools
from IPython.display import display
import os
import csv
from textblob import TextBlob

In [3]:
#Search term to be used on twitter scrape
search = "@starbucks"

#how to scrape
scraped_tweets= sntwitter.TwitterSearchScraper(search).get_items()
sliced_scraped_tweets = itertools.islice(scraped_tweets,10)

#create df of all the new data
df = pd.DataFrame(sliced_scraped_tweets)[['date', 'content']]

In [4]:
df

                       date                                            content
0 2021-07-14 03:58:31+00:00  Day 17 - Started the day at the original @Star...
1 2021-07-14 03:49:28+00:00  @chrismessina @Starbucks I've watched this a d...
2 2021-07-14 03:35:52+00:00  Who knew chocolate &amp; passionfruit made suc...
3 2021-07-14 03:32:01+00:00          @Starbucks manana https://t.co/2mPJMjV2oL
4 2021-07-14 03:25:37+00:00  @twicenews_ @Starbucks @JYPETWICE More &amp; M...
5 2021-07-14 03:21:24+00:00  @Danielrent8733 @NoDeberianTener @Starbucks @i...
6 2021-07-14 03:13:30+00:00  Ah noe dis iz dat @Starbucks playss, so ah noe...
7 2021-07-14 02:53:55+00:00  I miss my little @starbucks trips once a week ...
8 2021-07-14 02:49:55+00:00  @italicised @StarbucksNews @Starbucks @Disabil...
9 2021-07-14 02:49:31+00:00  @SlavaMalamud @Starbucks Mobile order via the ...

In [5]:
#create array that will store the names of all the cities
city_array = []

#import dataframe containing populations of cities in california
california_cities_df = pd.read_csv('cal_populations_city.csv')

In [6]:
california_cities_df['pop_april_2010'].count()

455

In [7]:
california_cities_df.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330
2,Alameda,Alameda,1854,63852.0,76459,72259,73812
3,Alameda,Albany,1908,15130.0,16327,16444,18539
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089

In [8]:
#only want to look at cities bigger than 75k to ensure there is enough data
bigger_ca_cities_df = california_cities_df[california_cities_df['pop_april_2010']>75000] 

#rslt_df = dataframe[dataframe['Percentage'] > 70]

In [9]:
bigger_ca_cities_df.count()

#100 cities meet the criteria

County                 100
City                   100
Incorportation_date    100
pop_april_1980          95
pop_april_1990         100
pop_april_2000         100
pop_april_2010         100
dtype: int64

In [10]:
#df of bigger cities in CA
bigger_ca_cities_df.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089
7,Orange,Anaheim,1876,219494.0,266406,328014,336265
10,Contra Costa,Antioch,1872,42683.0,62195,90532,102372
24,Kern,Bakersfield,1873,105611.0,174820,246889,347483
25,Los Angeles,Baldwin Park,1956,50554.0,69330,75837,75390

In [11]:
city_array = bigger_ca_cities_df['City']

In [12]:
#import dataframe containing city coordinates
city_latlng = pd.read_csv('cal_cities_lat_long.csv')

In [13]:
#rename columns
city_latlng = city_latlng.rename(columns={'Name': 'City', 'Latitude': 'lat', 'Longitude': 'lng'})

city_latlng.head()

           City        lat         lng
0      Adelanto  34.582769 -117.409214
1  Agoura Hills  34.153339 -118.761675
2       Alameda  37.765206 -122.241636
3        Albany  37.886869 -122.297747
4      Alhambra  34.095286 -118.127014

In [14]:
#merge columns together, so have city populations, and long/lat
city_df_merged = bigger_ca_cities_df.merge(city_latlng, how='inner', on='City')

In [15]:
#
city_df_merged.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,lat,lng
0,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089,34.095286,-118.127014
1,Orange,Anaheim,1876,219494.0,266406,328014,336265,33.835292,-117.914503
2,Contra Costa,Antioch,1872,42683.0,62195,90532,102372,38.004922,-121.805789
3,Kern,Bakersfield,1873,105611.0,174820,246889,347483,35.373292,-119.018711
4,Los Angeles,Baldwin Park,1956,50554.0,69330,75837,75390,34.085286,-117.960897

In [16]:
final_city_df = city_df_merged[['City', 'pop_april_2010', 'lat', 'lng']]

In [17]:
final_city_df.count()

City              100
pop_april_2010    100
lat               100
lng               100
dtype: int64

In [18]:
final_city_df = final_city_df.rename(columns={'City':'city'})

In [19]:
final_city_df

            city  pop_april_2010        lat         lng
0       Alhambra           83089  34.095286 -118.127014
1        Anaheim          336265  33.835292 -117.914503
2        Antioch          102372  38.004922 -121.805789
3    Bakersfield          347483  35.373292 -119.018711
4   Baldwin Park           75390  34.085286 -117.960897
..           ...             ...        ...         ...
95       Visalia          124442  36.330228 -119.292058
96         Vista           93834  33.200036 -117.242536
97   West Covina          106098  34.068622 -117.938953
98   Westminster           89701  33.751342 -117.993992
99      Whittier           85331  33.979178 -118.032844

[100 rows x 4 columns]

In [20]:
final_city_len = final_city_df['lat'].count()

In [22]:
##tests
#lat = "37.765206"
#lng = "-122.241636"


df_array = []
i = 0
#cycle through every 
#while i < final_city_df['lat'].count():
    
#testing
while i < final_city_len:
    #creates a string for twitter scrapper to read and use as location
    loc = f"{str(final_city_df.loc[i, 'lat'])}, {str(final_city_df.loc[i, 'lng'])}, 10km"
    
    df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@starbucks geocode:"{}"'.format(loc)).get_items(), 5000))[['date', 'content', 'user']]
    
    df_test['user_location'] = df_test['user'].apply(lambda x: x['location'])
    df_test['lat'] = final_city_df.loc[i, 'lat']
    df_test['lng'] = final_city_df.loc[i, 'lng']
    
    df_array.append(df_test)
    i = i +1

In [23]:
for i in df_array:
    display(i)

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.095286,-118.127014
1,2021-07-13 23:44:35+00:00,@walkingoogle @Starbucks redeem these 4500 sta...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.095286,-118.127014
2,2021-07-13 23:44:16+00:00,@_YeOldeCabin @Starbucks what about 4500 stars...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.095286,-118.127014
3,2021-07-13 23:43:56+00:00,@marinergirl75 @Starbucks but do you have 4500...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.095286,-118.127014
4,2021-07-13 23:43:26+00:00,@Starbucks will you share this on your main pa...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.095286,-118.127014
...,...,...,...,...,...,...
130,2020-12-24 19:25:26+00:00,"Working, but at least I got my iced coffee. 🏥😚...","{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",34.095286,-118.127014
131,2020-12-15 19:46:24+00:00,I think I deserve some @Starbucks. All my lab ...,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",34.095286,-118.127014
132,2020-12-09 16:11:09+00:00,"@starbucks #aintgotnothingonme @ Rosemead, Cal...","{'username': 'andrewvasquez83', 'id': 39179529...","Montebello, CA",34.095286,-118.127014
133,2020-12-04 22:34:29+00:00,Can you guys why I love this painting \n@starb...,"{'username': 'sunnylarue17', 'id': 10094815785...","Los Angeles, CA",34.095286,-118.127014
134,2020-11-28 21:15:30+00:00,I just came to @Starbucks and ordered a venti ...,"{'username': 'Andres74Torres', 'id': 428556155...","East Los Angeles, CA",34.095286,-118.127014

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.835292,-117.914503
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.835292,-117.914503
2,2021-07-07 20:30:57+00:00,@Starbucks OMFG why is the CEO RUINING STARBUC...,"{'username': 'Excaligirl', 'id': 8644732, 'dis...","Norco, CA",33.835292,-117.914503
3,2021-07-07 15:09:24+00:00,@Starbucks True 🧊☕️ https://t.co/RBVQl6QJV9,"{'username': 'illuminEddiie', 'id': 274103858,...","Anaheim, CA",33.835292,-117.914503
4,2021-07-02 21:16:34+00:00,Did @Starbucks give up on green tea? It's gett...,"{'username': 'BigMac07', 'id': 32095920, 'disp...",The OC,33.835292,-117.914503
...,...,...,...,...,...,...
2517,2010-10-20 17:31:38+00:00,@starbucks! I LOVE my #neighborhoodstarbucks!!...,"{'username': 'CassieRussek', 'id': 31628020, '...",los angeles,33.835292,-117.914503
2518,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.835292,-117.914503
2519,2010-09-25 16:24:59+00:00,"Car droped off car, walked to @starbucks, now ...","{'username': 'colorcopies', 'id': 15883869, 'd...","Santa ana, ca",33.835292,-117.914503
2520,2010-08-23 23:14:01+00:00,Driven out of @Starbucks by the smell of two h...,"{'username': 'TravisGadsden', 'id': 9272202, '...","Southern California, USA",33.835292,-117.914503
2521,2010-07-01 01:43:16+00:00,@Starbucks....excellent marketing idea you guy...,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,33.835292,-117.914503

,date,content,user,user_location,lat,lng
0,2021-05-12 06:47:50+00:00,I’m looking foward to tomorrow mornings coffee...,"{'username': '_daniela_sarahi', 'id': 35545309...","Pittsburg, CA",38.004922,-121.805789
1,2021-03-03 03:12:25+00:00,@Starbucks just fucked up my drink,"{'username': 'kiaaarra_', 'id': 1674284749, 'd...","Vallejo, CA",38.004922,-121.805789
2,2021-01-24 23:42:18+00:00,"Yeah, @Starbucks is going meatless Mondays, wh...","{'username': 'vsansome', 'id': 24806248, 'disp...","California, USA",38.004922,-121.805789
3,2020-12-05 22:29:13+00:00,@daniellemquinn @Starbucks @asuonline Great jo...,"{'username': 'cojfootball', 'id': 43348630, 'd...",Brentwood (NorCal),38.004922,-121.805789
4,2020-09-08 23:25:25+00:00,Tastes like Christmas morning ... well done @S...,"{'username': 'JohnNetworQ', 'id': 953515440, '...",Awawo,38.004922,-121.805789
...,...,...,...,...,...,...
175,2012-01-31 14:15:45+00:00,@Starbucks Last Day of January! Thanks for the...,"{'username': 'lecramdrawde', 'id': 19827696, '...","Manteca, CA",38.004922,-121.805789
176,2012-01-14 21:54:28+00:00,Got coffee on my mind. :0) @ChooseCoffee @hash...,"{'username': 'SWEETLiSAxo', 'id': 458600022, '...","BAY AREA, CALIFORNIA",38.004922,-121.805789
177,2011-12-07 16:06:41+00:00,@Starbucks I love the holiday drinks you guys ...,"{'username': 'OchibiSamaDesu', 'id': 91232101,...","Antioch, CA",38.004922,-121.805789
178,2011-09-10 17:44:55+00:00,@Starbucks I'm glad u were nearby while waitin...,"{'username': 'Bevstwit', 'id': 178518054, 'dis...",SF Bay Area,38.004922,-121.805789
179,2010-09-28 11:57:51+00:00,has the privilege of wrkng w/our @Starbucks VP...,"{'username': 'Nina_0Li', 'id': 170956242, 'dis...",TheCity. SF.,38.004922,-121.805789

,date,content,user,user_location,lat,lng
0,2021-07-12 22:25:00+00:00,@Ladysc23 @Starbucks Right! I’ve been annoyed ...,"{'username': 'Nezzie2203', 'id': 3418725554, '...",,35.373292,-119.018711
1,2021-07-10 01:49:41+00:00,@Starbucks I’ve ordered 3 vsc cold brews since...,"{'username': 'JuIieaux', 'id': 2760934646, 'di...","Bakersfield, CA",35.373292,-119.018711
2,2021-06-21 21:30:40+00:00,What happens when you write by the seat of you...,"{'username': 'wetzelv', 'id': 1247789905, 'dis...","West Sacramento, CA",35.373292,-119.018711
3,2021-04-30 22:51:53+00:00,@Starbucks Clydie loves Puppaccinos ❣️🐕 #ThePu...,"{'username': 'roze_hurd', 'id': 2747035544, 'd...","Las Vegas, NV",35.373292,-119.018711
4,2021-04-09 00:44:49+00:00,@jonathancivil @Starbucks I’m so sorry 😂,"{'username': 'MrJoseRozay', 'id': 911656604570...",CA/TX,35.373292,-119.018711
...,...,...,...,...,...,...
338,2011-01-11 20:15:47+00:00,"to @Starbucks I had oatmeal with nuts, raisins...","{'username': 'Kevinmartinelli', 'id': 14329633...","Bakersfield, California",35.373292,-119.018711
339,2010-12-25 19:22:54+00:00,@Starbucks thanks to all your hard workers on ...,"{'username': 'karb0n13', 'id': 15382687, 'disp...",California,35.373292,-119.018711
340,2010-10-21 20:55:05+00:00,Gonna take my Mala Onda to @Starbucks buy a Ba...,"{'username': 'Milchito', 'id': 32808372, 'disp...","Miami Beach, FL",35.373292,-119.018711
341,2010-10-19 23:16:28+00:00,just paid for his coffee with his iPhone! @Sta...,"{'username': 'pittsspotter', 'id': 19304330, '...","Nairobi, Kenya",35.373292,-119.018711
342,2010-10-08 03:17:53+00:00,Thank you employees @Starbucks on 24th and L i...,"{'username': 'kellenaugh', 'id': 18296638, 'di...","New York, USA",35.373292,-119.018711

,date,content,user,user_location,lat,lng
0,2021-07-12 20:31:42+00:00,@Starbucks what can you tell us about 🦉?,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.085286,-117.960897
1,2021-07-12 20:28:29+00:00,@Starbucks @awils165 Has to be #safemoon related,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.085286,-117.960897
2,2021-07-08 22:10:36+00:00,@EAWilsonAuthor Or maybe a free @Starbucks co...,"{'username': 'DSiflingWCPDPIO', 'id': 71734127...","West Covina, CA",34.085286,-117.960897
3,2021-07-03 20:35:26+00:00,@ohheytommy @Starbucks I want cinnamon dolce l...,"{'username': 'Mrs_Ayano', 'id': 13038883881440...",,34.085286,-117.960897
4,2021-06-30 19:42:54+00:00,@Starbucks do you have any coupons foe next week?,"{'username': 'NotNewTwiterite', 'id': 12277639...",,34.085286,-117.960897
...,...,...,...,...,...,...
1152,2010-12-02 17:04:26+00:00,"I'm @starbucks (5705 Rosemead Blvd, Temple Cit...","{'username': 'cat1152114', 'id': 30341217, 'di...","ÜT: 34.129889,-118.069719",34.085286,-117.960897
1153,2010-11-14 22:49:48+00:00,"I'm @starbucks (733 W Naomi Ave, Arcadia) htt...","{'username': 'cat1152114', 'id': 30341217, 'di...","ÜT: 34.129889,-118.069719",34.085286,-117.960897
1154,2010-11-01 14:23:31+00:00,Breakfast @starbucks gotta have my coffee  to...,"{'username': 'OpTicSwagg24', 'id': 191716219, ...",,34.085286,-117.960897
1155,2010-09-28 22:19:40+00:00,This looks very exciting.... @Starbucks http:/...,"{'username': 'JeffDMartinez', 'id': 21318642, ...","Nashville, TN",34.085286,-117.960897
1156,2010-07-16 23:37:00+00:00,@Starbucks I Did :) #TreatReceipt,"{'username': 'JeffDMartinez', 'id': 21318642, ...","Nashville, TN",34.085286,-117.960897

,date,content,user,user_location,lat,lng
0,2021-07-07 18:26:02+00:00,The pawfect coffee date. ☕️ ❤️ @Starbucks \n📸...,"{'username': 'LakewoodCenter', 'id': 41459776,...","Lakewood, CA",33.881683,-118.117011
1,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.881683,-118.117011
2,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.881683,-118.117011
3,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.881683,-118.117011
4,2021-06-26 21:03:22+00:00,@FLYHIGH_310 @Starbucks You know what I mean. Lol,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.881683,-118.117011
...,...,...,...,...,...,...
65,2020-09-16 21:13:51+00:00,SHE'S PAYING YOUR @Starbucks\nOR A MEAL! WOW!!...,"{'username': 'VonWolf9', 'id': 222189121, 'dis...",Long Beach CA,33.881683,-118.117011
66,2020-09-10 14:12:49+00:00,@heckyamimi @TheCoffeeBean @Starbucks Coffee b...,"{'username': 'Arleneyyyx', 'id': 1146090379122...",90250/90220,33.881683,-118.117011
67,2020-09-09 00:17:57+00:00,@mr_Alsheimer @Starbucks @Starbucks #TeacherLi...,"{'username': 'msgarcia721', 'id': 328308888, '...",,33.881683,-118.117011
68,2020-09-01 22:08:43+00:00,"@spaceh0es I hope you went back, just imagine ...","{'username': 'glamxobells', 'id': 105477096393...","Boyle Heights, Los Angeles",33.881683,-118.117011
69,2020-08-15 22:21:48+00:00,I love when my @Starbucks manager yells at me ...,"{'username': 'cruzelii22', 'id': 1255026018, '...",Norwalk,33.881683,-118.117011

,date,content,user,user_location,lat,lng
0,2021-07-14 04:00:32+00:00,"@kfury @Starbucks Can you see it now? (Yes, it...","{'username': 'chrismessina', 'id': 1186, 'disp...","Oakland, CA",37.871592,-122.272747
1,2021-07-13 16:49:16+00:00,"#stashstockparty 2020 #investing list, @Starbu...","{'username': 'dbdeveloper', 'id': 136164394, '...",OAK,37.871592,-122.272747
2,2021-07-12 01:56:47+00:00,"So far,I'm still having a Good #birthday &amp;...","{'username': 'raynesharoyale', 'id': 23398334,...","Oakland,CA",37.871592,-122.272747
3,2021-07-11 20:17:26+00:00,"Honestly, we need another @Starbucks (or @peet...","{'username': 'meekorouse', 'id': 11922222, 'di...","Berkeley, CA",37.871592,-122.272747
4,2021-07-10 19:49:00+00:00,@Starbucks citrus lemon honey tea ☕️,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.871592,-122.272747
...,...,...,...,...,...,...
156,2019-04-23 13:15:52+00:00,@GermanicShepard @FinniganKatie @Starbucks Yasss!,"{'username': 'nugslilsis', 'id': 315133994, 'd...","California, USA",37.871592,-122.272747
157,2019-04-17 05:59:14+00:00,@Starbucks pls hire my friend here for your co...,"{'username': 'thatssoreeven', 'id': 956741197,...",,37.871592,-122.272747
158,2019-04-16 00:04:03+00:00,@drshawna @Starbucks @sacstate It’s fancy way ...,"{'username': 'AjayHolmes', 'id': 635584444, 'd...",California,37.871592,-122.272747
159,2019-04-13 22:30:25+00:00,Keeping cool &amp; cute @CityofEdmonton🇨🇦\n\nA...,"{'username': 'FerhatSF', 'id': 20831439, 'disp...","Silicon Valley, CA",37.871592,-122.272747
160,2019-04-13 21:40:29+00:00,Bay Area (Alameda/Oakland) Please come out and...,"{'username': 'RealTonyFury', 'id': 800395656, ...","Oakland, CA.",37.871592,-122.272747

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.867514,-117.998117
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.867514,-117.998117
2,2021-07-07 15:09:24+00:00,@Starbucks True 🧊☕️ https://t.co/RBVQl6QJV9,"{'username': 'illuminEddiie', 'id': 274103858,...","Anaheim, CA",33.867514,-117.998117
3,2021-07-02 21:16:34+00:00,Did @Starbucks give up on green tea? It's gett...,"{'username': 'BigMac07', 'id': 32095920, 'disp...",The OC,33.867514,-117.998117
4,2021-06-22 19:01:15+00:00,@Starbucks why are your butter croissants so g...,"{'username': 'jabbacrumb', 'id': 310571624, 'd...",,33.867514,-117.998117
...,...,...,...,...,...,...
1607,2010-10-20 17:31:38+00:00,@starbucks! I LOVE my #neighborhoodstarbucks!!...,"{'username': 'CassieRussek', 'id': 31628020, '...",los angeles,33.867514,-117.998117
1608,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.867514,-117.998117
1609,2010-08-23 23:14:01+00:00,Driven out of @Starbucks by the smell of two h...,"{'username': 'TravisGadsden', 'id': 9272202, '...","Southern California, USA",33.867514,-117.998117
1610,2010-07-18 04:40:06+00:00,Starbucks is 1st company with 10 million Faceb...,"{'username': 'BrendaSStephens', 'id': 35841020...",California,33.867514,-117.998117
1611,2010-07-01 01:43:16+00:00,@Starbucks....excellent marketing idea you guy...,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,33.867514,-117.998117

,date,content,user,user_location,lat,lng
0,2021-07-11 16:15:08+00:00,Starbucks is literally ALWAYS on my “favorite”...,"{'username': 'imAndrewRussell', 'id': 70459377...","Los Angeles, CA",34.180839,-118.308967
1,2021-06-30 14:55:39+00:00,@NewsSourceLA @MonsterEnergy @Starbucks Same h...,"{'username': 'HalfpintCarrie', 'id': 35091010,...",,34.180839,-118.308967
2,2021-06-28 00:32:50+00:00,. @Starbucks Sunset &amp; Hayworth discriminat...,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,34.180839,-118.308967
3,2021-06-03 14:09:35+00:00,@Starbucks when I go and order a blueberry oat...,"{'username': 'TheRoxzilla', 'id': 30253692, 'd...",,34.180839,-118.308967

,date,content,user,user_location,lat,lng
0,2021-07-11 02:44:59+00:00,@CherishToday08 @Starbucks Bond 💜🥂 @MissSally...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.158092,-117.350594
1,2021-07-08 05:30:28+00:00,@Starbucks what gives? wanted to pay $DOGE for...,"{'username': 'daviddelgado', 'id': 17050943, '...","Carlsbad, CA",33.158092,-117.350594
2,2021-07-07 00:10:08+00:00,@jmjohn15 @CherishToday08 @FetchTeach @Gabriel...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.158092,-117.350594
3,2021-07-06 15:19:33+00:00,@Starbucks Good idea 👍🏼,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.158092,-117.350594
4,2021-07-01 17:04:23+00:00,@Starbucks You should promote your refreshers ...,"{'username': 'estheticgod', 'id': 118525296614...","San Diego, CA",33.158092,-117.350594
...,...,...,...,...,...,...
488,2011-01-17 18:00:58+00:00,Dept. meeting @starbucks — at Starbucks http:...,"{'username': 'steveeller', 'id': 7856622, 'dis...","Colorado Springs, CO",33.158092,-117.350594
489,2010-11-09 16:16:57+00:00,"http://twitpic.com/35cmt3 OceansideDMV, only p...","{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.158092,-117.350594
490,2010-07-25 16:52:50+00:00,Kicking it at Carlsbad @Starbucks with Hawaii ...,"{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.158092,-117.350594
491,2010-06-03 17:45:50+00:00,@Starbucks I used my rewards card 5+ times bef...,"{'username': 'Neufusion', 'id': 16655831, 'dis...","Vista, CA",33.158092,-117.350594
492,2010-03-18 23:06:37+00:00,"@Starbucks has ""for here mugs"". Ask for it and...","{'username': 'NickChillPhoto', 'id': 22030942,...","Decorah, IA",33.158092,-117.350594

,date,content,user,user_location,lat,lng
0,2021-07-11 00:36:30+00:00,@TuckerGeri @Starbucks I thought it was good…I...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.831406,-118.282017
1,2021-07-10 23:00:01+00:00,About to try the kiwi star fruit refresher😋 @S...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.831406,-118.282017
2,2021-07-10 19:32:41+00:00,@CeiliGal @Starbucks No thanks! That's why I ...,"{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.831406,-118.282017
3,2021-07-09 17:46:04+00:00,"75 and sunny, cartop down,, @Starbucks stop be...","{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.831406,-118.282017
4,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.831406,-118.282017
...,...,...,...,...,...,...
1471,2010-10-24 19:42:55+00:00,"Jason, Jr and Lou - the best @Starbucks team E...","{'username': 'BevJack', 'id': 14910986, 'displ...",Global,33.831406,-118.282017
1472,2010-10-07 23:03:35+00:00,"I swore I just lost my keys, had a minor freak...","{'username': 'heykrisp', 'id': 29043788, 'disp...","San Diego, CA",33.831406,-118.282017
1473,2010-09-30 14:55:52+00:00,Just saw Weeman at @Starbucks in Hermosa Beach...,"{'username': 'heykrisp', 'id': 29043788, 'disp...","San Diego, CA",33.831406,-118.282017
1474,2010-08-12 17:38:48+00:00,I'm so mad!!! I went into @Starbucks to get my...,"{'username': 'junkinthetrunkk', 'id': 17646261...","Anaheim, Ca",33.831406,-118.282017
1475,2010-05-14 22:23:57+00:00,@Starbucks no soap in your restroom in Compton...,"{'username': 'brandynlbc', 'id': 14889375, 'di...","Sacramento, CA",33.831406,-118.282017

,date,content,user,user_location,lat,lng
0,2021-07-14 01:04:49+00:00,my sister’s dog since my sister no longer want...,"{'username': 'ca_thuglife', 'id': 102530135623...","chico, ca",39.728494,-121.837478
1,2021-07-14 01:01:20+00:00,my sisters because @Starbucks discontinued the...,"{'username': 'ca_thuglife', 'id': 102530135623...","chico, ca",39.728494,-121.837478
2,2021-07-12 16:55:44+00:00,"@FoxNews This ""study"" brought to you by @Starb...","{'username': 'gochico', 'id': 127034025, 'disp...","Chico, California",39.728494,-121.837478
3,2021-07-12 01:43:25+00:00,literally crying why do none of the @Starbuck...,"{'username': 'carolinaaa09', 'id': 81504882881...","Chico, CA",39.728494,-121.837478
4,2020-11-17 18:33:05+00:00,@jvalles_xo @Starbucks It’s called honey citru...,"{'username': 'Kianaalvarezz', 'id': 41858372, ...","Chico, CA",39.728494,-121.837478
...,...,...,...,...,...,...
102,2012-10-21 19:04:52+00:00,(@Starbucks) http://t.co/nYsZ3azW,"{'username': 'Thejesterman', 'id': 14940308, '...",,39.728494,-121.837478
103,2012-09-17 15:21:25+00:00,It's definitely cold enough this morning for a...,"{'username': 'JoannaClaus', 'id': 479304130, '...","Sacramento, CA",39.728494,-121.837478
104,2012-03-10 22:27:03+00:00,Yum I love White Chocolate Mochas with Carmel ...,"{'username': 'whitnialis', 'id': 41560630, 'di...",waiting for the Doctor,39.728494,-121.837478
105,2011-12-26 15:56:20+00:00,@dkthenoodles @starbucks gotta do what you bot...,"{'username': 'ktnluv', 'id': 24446548, 'displa...",Bay Area,39.728494,-121.837478
106,2010-11-11 19:47:15+00:00,I need @Starbucks to start delivering to their...,"{'username': '_iReno_', 'id': 24845863, 'displ...",San Francisco,39.728494,-121.837478

,date,content,user,user_location,lat,lng
0,2021-07-13 18:25:10+00:00,@Starbucks In-person study sessions figuring o...,"{'username': 'cppengineering', 'id': 243610144...","Pomona, CA",34.012236,-117.688944
1,2021-06-29 20:40:51+00:00,@Starbucks Fuck you for discontinuing my drink...,"{'username': 'eph_jess', 'id': 3044557238, 'di...","orange county, ca",34.012236,-117.688944
2,2021-06-25 14:12:35+00:00,"stupid bitch made my coffee watery, it’s nasty...","{'username': 'TAM_RAHh', 'id': 434690692, 'dis...",california,34.012236,-117.688944
3,2021-06-14 23:32:55+00:00,@Starbucks I wasn't having a good day until I ...,"{'username': 'CrisiMB79', 'id': 281374734, 'di...",Pomona,34.012236,-117.688944
4,2021-05-13 18:16:20+00:00,I find it a bit unfair that all the nice new @...,"{'username': 'SXEBETTY', 'id': 65825546, 'disp...","Pomona, CA",34.012236,-117.688944
...,...,...,...,...,...,...
226,2016-11-23 03:08:06+00:00,"I'm at @Starbucks in Eastvale, CA https://t.co...","{'username': 'BabyBinky33', 'id': 51011521, 'd...",,34.012236,-117.688944
227,2016-11-14 00:09:28+00:00,@its_ahhma @Starbucks 👎🏽👎🏽,"{'username': '_nicolemarisa', 'id': 1442749446...",Hogwarts,34.012236,-117.688944
228,2016-10-07 20:26:13+00:00,"@Starbucks , I've started bringing my own lave...","{'username': 'caseycreates', 'id': 529015845, ...",Louisville KY/ Los Angeles CA,34.012236,-117.688944
229,2016-09-29 18:57:38+00:00,#NationalCoffeeDay @Starbucks #starbucks #coff...,"{'username': 'vmjazz07', 'id': 2148011810, 'di...",,34.012236,-117.688944
230,2016-09-26 22:41:36+00:00,@Starbucks caught on....I can't use Sway as a...,"{'username': '_swaydev', 'id': 211753665, 'dis...","Los Angeles, CA",34.012236,-117.688944

,date,content,user,user_location,lat,lng
0,2021-07-14 00:06:40+00:00,@CarlasStyles2 @Starbucks I’m sure he don’t de...,"{'username': 'CaliDiegan_', 'id': 113681079, '...","San Diego, CA",32.640053,-117.084197
1,2021-07-13 21:24:29+00:00,@NicholasFerroni @Starbucks 🤣🤣,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.640053,-117.084197
2,2021-07-13 21:24:05+00:00,When will @Starbucks not be out of juices and ...,"{'username': '__adomingo', 'id': 584801834, 'd...","San Diego, CA",32.640053,-117.084197
3,2021-07-13 21:23:06+00:00,@NicholasFerroni @Starbucks That’s an awfully ...,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.640053,-117.084197
4,2021-07-13 20:49:16+00:00,@orangetheory @JohnPHyland20 @Starbucks 🤣🤣🤣🤣 u...,"{'username': 'AndrewColeSmith', 'id': 34043050...","San Diego, CA",32.640053,-117.084197
...,...,...,...,...,...,...
64,2020-12-19 22:47:36+00:00,Really @Starbucks 3 days of trying to get thro...,"{'username': 'iztaccuatli', 'id': 19046563, 'd...",30th & Beech,32.640053,-117.084197
65,2020-12-08 21:35:51+00:00,Free @Starbucks coffee for front line works al...,"{'username': 'run_carlos', 'id': 1293800801605...","San Diego, CA",32.640053,-117.084197
66,2020-11-15 19:39:09+00:00,These @thesandstraw are nice and skinny ... Fi...,"{'username': 'sholden', 'id': 73153, 'displayn...","San Diego, CA",32.640053,-117.084197
67,2020-11-06 17:46:56+00:00,@Starbucks ♥️♥️♥️😫👏🏾 https://t.co/clTmpmDWkv,"{'username': 'ShuniaNia', 'id': 4733667470, 'd...","California, USA",32.640053,-117.084197
68,2020-11-05 19:11:55+00:00,"@Jessicasquared9 @Starbucks Wwow, what beautif...","{'username': 'JkGuero', 'id': 1268875274, 'dis...",America's Finest City,32.640053,-117.084197

,date,content,user,user_location,lat,lng
0,2021-07-09 16:54:54+00:00,@Starbucks @StarbucksCare \nShameful that I di...,"{'username': 'madi_als', 'id': 138247853809214...","Fresno, CA",36.825228,-119.702919
1,2021-07-08 23:11:57+00:00,what i'm gonna have on my mini break from twee...,"{'username': 'LoveVenusHarder', 'id': 13789682...","Fresno, CA",36.825228,-119.702919
2,2021-07-07 02:40:28+00:00,is there a hazelnut syrup shortage or wtf @Sta...,"{'username': 'macdaddyady', 'id': 425576979, '...","Fresno, CA",36.825228,-119.702919
3,2021-07-02 19:42:22+00:00,And then @Starbucks totally messes up my order...,"{'username': 'TOMMYXO22', 'id': 3013604822, 'd...","Santa Rosa, CA",36.825228,-119.702919
4,2021-07-01 23:33:16+00:00,Strawberry funel cake from @Starbucks its http...,"{'username': 'niner_raul', 'id': 3286949390, '...","Fresno, CA",36.825228,-119.702919
...,...,...,...,...,...,...
640,2011-06-24 18:45:08+00:00,Im waiting in line @starbucks inside @fashionf...,"{'username': 'Angel_89er', 'id': 302691377, 'd...",■■■●•●●□□□●●•■■■■,36.825228,-119.702919
641,2011-03-17 16:22:19+00:00,@Starbucks you are my green today &lt;3 cocoa ...,"{'username': 'ALLYLOVESRICKY', 'id': 40372393,...",California,36.825228,-119.702919
642,2010-07-10 00:28:11+00:00,"Ok, the nap was a total fail. So I drove to @S...","{'username': 'DJJenkins', 'id': 14158500, 'dis...","Studio City, CA",36.825228,-119.702919
643,2010-05-29 14:23:49+00:00,Went out and grabbed some @starbucks real quic...,"{'username': 'DJJenkins', 'id': 14158500, 'dis...","Studio City, CA",36.825228,-119.702919
644,2010-05-23 00:13:11+00:00,"@Starbucks, vanuit de sneeuw(bui) in Mariposa ...","{'username': 'usaroadtrip2010', 'id': 14544471...",,36.825228,-119.702919

,date,content,user,user_location,lat,lng
0,2021-07-07 18:26:02+00:00,The pawfect coffee date. ☕️ ❤️ @Starbucks \n📸...,"{'username': 'LakewoodCenter', 'id': 41459776,...","Lakewood, CA",33.89585,-118.220072
1,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.89585,-118.220072
2,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.89585,-118.220072
3,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.89585,-118.220072
4,2021-06-27 03:39:01+00:00,@wiredknut @Starbucks Yes that’s a lot for cof...,"{'username': 'lesliehollis', 'id': 36284306, '...","Los Angeles, CA",33.89585,-118.220072
5,2021-06-26 21:03:22+00:00,@FLYHIGH_310 @Starbucks You know what I mean. Lol,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.89585,-118.220072
6,2021-06-26 19:44:08+00:00,The one time I get @Starbucks and I throw up. ...,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.89585,-118.220072
7,2021-06-22 19:01:15+00:00,@Starbucks why are your butter croissants so g...,"{'username': 'jabbacrumb', 'id': 310571624, 'd...",,33.89585,-118.220072
8,2021-06-19 16:21:10+00:00,"Entire order messed up @Starbucks wrong food, ...","{'username': 'FritzOKC', 'id': 47522633, 'disp...","Oklahoma City, OK",33.89585,-118.220072
9,2021-06-16 16:37:57+00:00,@MellertWhite @Starbucks Great pic !!!!!!!,"{'username': 'jerry077', 'id': 23564725, 'disp...",EAST LOS ANGELES,33.89585,-118.220072
10,2021-06-08 02:24:40+00:00,Should @Starbucks #AcceptDoge ???\n$doge #doge...,"{'username': 'sickindustries', 'id': 28737481,...","Los Angeles, CA.",33.89585,-118.220072
11,2021-05-23 04:53:35+00:00,#cancelboardexams at any school 🏫 meeting on #...,"{'username': 'eclipse7vig', 'id': 111033660173...","Beverly Hills, CA",33.89585,-118.220072
12,2021-05-22 04:55:11+00:00,Everything is all good every #morning @Starbuc...,"{'username': 'eclipse7vig', 'id': 111033660173...","Beverly Hills, CA",33.89585,-118.220072
13,2021-05-02 00:11:35+00:00,@MitchellZarro @Starbucks No way lmao,"{'username': 'arahmanipour', 'id': 443490157, ...",,33.89585,-118.220072
14,2021-04-23 22:35:21+00:00,@Starbucks ftw! 🙌🏻 #EarthDay #ty https://t.c...,"{'username': 'theean_g', 'id': 324645044, 'dis...",310,33.89585,-118.220072
15,2021-04-16 16:54:03+00:00,Sanitize them actually.\n\nI am so glad I work...,"{'username': 'enicholewalker', 'id': 68004188,...","Los Angeles, CA",33.89585,-118.220072
16,2021-04-11 17:51:19+00:00,@Jay_Uno_Trey27 @Starbucks Make whack,"{'username': 'AmayaTheGreat19', 'id': 84776314...",,33.89585,-118.220072
17,2021-04-07 20:08:40+00:00,I got the honey almond milk nitro cold brew @S...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.89585,-118.220072
18,2021-03-26 21:30:52+00:00,@tiffanyironrage @StarbucksCanada @Starbucks @...,"{'username': 'ShannonLind1', 'id': 75161254657...",Los Angeles,33.89585,-118.220072
19,2021-03-24 15:33:02+00:00,The barista at the drive thru at @Starbucks in...,"{'username': 'nereidaaxo', 'id': 80629643, 'di...",JAL 🇲🇽,33.89585,-118.220072
20,2021-03-20 21:52:43+00:00,@Starbucks easy on the ice jeez https://t.co/o...,"{'username': 'brandynlbc', 'id': 14889375, 'di...","Sacramento, CA",33.89585,-118.220072
21,2021-03-20 04:25:36+00:00,So.... @Starbucks doesn’t warm up their iced p...,"{'username': 'ceetee_ellay', 'id': 93669925066...","Los Angeles, CA",33.89585,-118.220072
22,2021-03-18 22:35:43+00:00,@Starbucks Iced brown sugar oatmeal latte of c...,"{'username': 'angela_simisola', 'id': 14091455...","Los Angeles, CA",33.89585,-118.220072
23,2021-03-12 23:06:53+00:00,I burnt the fuck out of my hand at work and wh...,"{'username': 'aja_erickson', 'id': 2880516565,...","Long Beach, CA",33.89585,-118.220072
24,2021-02-20 03:09:45+00:00,Thank you to whoever paid for my drink @Starbu...,"{'username': 'Younice92', 'id': 75849445019256...","Hawthorne, CA",33.89585,-118.220072
25,2021-01-07 22:22:29+00:00,@Starbucks didn't make my drink the correct way.,"{'username': 'LynnieMonaeee', 'id': 163250716,...","Los Angeles, CA",33.89585,-118.220072
26,2021-01-05 15:46:50+00:00,@Starbucks I went to 5 Starbucks this morning ...,"{'username': 'miraLaAngie', 'id': 43389897, 'd...",,33.89585,-118.220072
27,2021-01-05 05:57:50+00:00,@lovelynidia_ @Starbucks 😂😂,"{'username': 'BecerraBelen', 'id': 298737508, ...",,33.89585,-118.220072
28,2020-12-30 21:59:56+00:00,@Starbucks should tweet about the chai &amp; p...,"{'username': 'lauraju24743041', 'id': 11027735...","Long Beach, CA",33.89585,-118.220072
29,2020-12-27 02:50:48+00:00,Why are almost all @Starbucks closed?! For lik...,"{'username': 'Arleneyyyx', 'id': 1146090379122...",90250/90220,33.89585,-118.220072
30,2020-11-24 14:18:20+00:00,@HiddenCash @Starbucks Peppermint mocha!,"{'username': 'randyfewell', 'id': 24329919, 'd...","Los Angeles, CA",33.89585,-118.220072
31,2020-11-19 10:26:54+00:00,Thank you @KPSCALnews @CarMax @Starbucks #watt...,"{'username': 'EASTSIDERIDERS', 'id': 60228837,...","Los Angeles, CA",33.89585,-118.220072
32,2020-11-09 01:03:05+00:00,@vnvhi_ @xokaren_ @Starbucks Honestlyyyyy they...,"{'username': '_theRoach', 'id': 28913529, 'dis...","Los Angeles, CA",33.89585,-118.220072
33,2020-10-16 23:15:08+00:00,See you at 5:00PM!\n\nJoin us for #RecRadio s...,"{'username': 'Lynwoodparks', 'id': 3094131336,...","City of Lynwood, CA - USA",33.89585,-118.220072
34,2020-08-29 21:39:41+00:00,"@Starbucks I did , thank youuuu❣️","{'username': 'Jennnilove_', 'id': 510532161, '...",,33.89585,-118.220072
35,2020-08-28 02:22:16+00:00,I’m excited pumpkin is back at @Starbucks but ...,"{'username': 'megannnv', 'id': 473555692, 'dis...","Los Angeles, CA",33.89585,-118.220072
36,2020-08-26 20:45:26+00:00,All the white girls are here today to let y’al...,"{'username': 'lizlaxx_', 'id': 1316450959, 'di...","Los Angeles, CA",33.89585,-118.220072
37,2020-08-25 01:37:28+00:00,Pumpkin spice comes back tomorrow @Starbucks y...,"{'username': 'maarisooool_', 'id': 70312796192...","Compton, CA",33.89585,-118.220072
38,2020-08-22 15:29:33+00:00,Bike and Business Buddy bewildered we are here...,"{'username': 'eclipse7vig', 'id': 111033660173...","Beverly Hills, CA",33.89585,-118.220072
39,2020-08-19 04:12:51+00:00,@Starbucks you should sponsor me already 😂😂 3 ...,"{'username': 'DisJavii', 'id': 799789081, 'dis...","Los Angeles, CA",33.89585,-118.220072
40,2020-08-15 22:21:48+00:00,I love when my @Starbucks manager yells at me ...,"{'username': 'cruzelii22', 'id': 1255026018, '...",Norwalk,33.89585,-118.220072
41,2020-07-18 14:42:25+00:00,@AdamKoralik Peace n Blessing to you and your ...,"{'username': 'Nyc2cali1', 'id': 2490896270, 'd...",,33.89585,-118.220072
42,2020-07-11 18:29:06+00:00,Can you please bring back the cinnamon almond ...,"{'username': 'Nyc2cali1', 'id': 2490896270, 'd...",,33.89585,-118.220072

,date,content,user,user_location,lat,lng
0,2021-07-05 16:26:33+00:00,High School Musical is playing at @Starbucks -...,"{'username': 'the_yoder_', 'id': 30676657, 'di...","Pt. Richmond, CA",37.977978,-122.031072
1,2021-06-05 20:59:54+00:00,Dearest @Starbucks please bring back my very b...,"{'username': 'Turtle3200', 'id': 292507496, 'd...","Bay Area, NorCal",37.977978,-122.031072
2,2021-05-22 17:26:54+00:00,@sarahsstonks @Starbucks Most used straws too ...,"{'username': 'jasonmorris', 'id': 14235672, 'd...",SF Bay Area,37.977978,-122.031072
3,2021-05-19 15:08:43+00:00,@Starbucks Bacon Egg Bites go crazy #Breakfast...,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.977978,-122.031072
4,2021-05-12 06:47:50+00:00,I’m looking foward to tomorrow mornings coffee...,"{'username': '_daniela_sarahi', 'id': 35545309...","Pittsburg, CA",37.977978,-122.031072
...,...,...,...,...,...,...
398,2010-08-19 19:40:12+00:00,"@Starbucks get ur recipes right, I just had my...","{'username': 'daeganbysofast', 'id': 15748218,...",Bay Area,37.977978,-122.031072
399,2010-06-25 19:21:44+00:00,Listening/watching to @sarahmclachlan live at ...,"{'username': 'Maltphoto', 'id': 7321132, 'disp...","San Francisco Bay Area, CA",37.977978,-122.031072
400,2010-04-01 04:42:08+00:00,Can't wait to get my Plenta Caramel Macchiato ...,"{'username': 'luxylu', 'id': 14192027, 'displa...","San Diego, CA",37.977978,-122.031072
401,2010-03-23 05:26:09+00:00,RT @starbucks: See you tomorrow morning for #F...,"{'username': 'luxylu', 'id': 14192027, 'displa...","San Diego, CA",37.977978,-122.031072
402,2010-03-23 01:33:06+00:00,@mactavish I didn't know the @martinezbeavers ...,"{'username': 'DrDuran', 'id': 16302924, 'displ...","Antioch, CA",37.977978,-122.031072

,date,content,user,user_location,lat,lng
0,2021-06-10 00:37:14+00:00,@WhewisLewis @PopeyesChicken I have to have my...,"{'username': 'PeteyPablo623', 'id': 388450833,...",626 📍,33.875294,-117.566439
1,2021-06-09 12:32:15+00:00,Seriously love the hometown feeling that this ...,"{'username': 'tsspiegel', 'id': 25721214, 'dis...",Southern California,33.875294,-117.566439
2,2021-04-08 01:38:05+00:00,@Starbucks HELP!!!!!! I’ve tried for 2 weeks t...,"{'username': 'Excaligirl', 'id': 8644732, 'dis...","Norco, CA",33.875294,-117.566439
3,2021-03-15 12:09:52+00:00,Happy 5️⃣0️⃣th Anniversary @Starbucks! 💚 ☕ htt...,"{'username': 'tsspiegel', 'id': 25721214, 'dis...",Southern California,33.875294,-117.566439
4,2021-03-02 21:12:12+00:00,@lionrohr01 @Starbucks I have seen them as hig...,"{'username': 'FirePhotoGirl', 'id': 74475174, ...","California, USA",33.875294,-117.566439
...,...,...,...,...,...,...
283,2010-10-29 20:48:48+00:00,http://twitpic.com/31yu35 /via @Starbucks so f...,"{'username': 'ditzynicky', 'id': 21017410, 'di...","California, USA",33.875294,-117.566439
284,2010-08-06 17:30:43+00:00,@starbucks oh so delissh love the new drink my...,"{'username': 'itsajoey', 'id': 20414333, 'disp...","Las Vegas, NV",33.875294,-117.566439
285,2010-07-08 14:47:31+00:00,So not all @Starbucks make food? Hmm ...,"{'username': 'Amayzun', 'id': 27801768, 'displ...","Tacoma, Wa",33.875294,-117.566439
286,2010-06-23 17:22:05+00:00,Someone really wanted a coffee last night. @St...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.875294,-117.566439
287,2010-06-10 15:12:22+00:00,"This @Starbucks has the best customer service,...","{'username': 'Amayzun', 'id': 27801768, 'displ...","Tacoma, Wa",33.875294,-117.566439

,date,content,user,user_location,lat,lng
0,2021-07-13 01:07:48+00:00,@LaceyKesler @Starbucks Wow. Engineering fix a...,"{'username': 'FAfied32', 'id': 14470761, 'disp...","Costa Mesa, CA",33.641133,-117.918669
1,2021-07-12 19:43:49+00:00,Some drinks are more perfect than others. My B...,"{'username': 'HBGhostCrypt', 'id': 90952339540...","Huntington Beach, CA",33.641133,-117.918669
2,2021-07-11 16:52:53+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.641133,-117.918669
3,2021-07-11 15:06:04+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.641133,-117.918669
4,2021-07-08 15:26:03+00:00,Learn from the best. These brands know what th...,"{'username': 'BenchmarkEmail', 'id': 23979865,...","Huntington Beach, CA",33.641133,-117.918669
...,...,...,...,...,...,...
1564,2010-08-08 19:00:16+00:00,Is grabbing some @Starbucks,"{'username': 'fabulousjoshie', 'id': 74038032,...",From Small town Now Cincinnati,33.641133,-117.918669
1565,2010-05-12 21:58:37+00:00,I really do love @starbucks! iced drink on a b...,"{'username': 'kyleberns', 'id': 31200766, 'dis...","Melbourne, Victoria",33.641133,-117.918669
1566,2010-05-09 21:51:09+00:00,I haven't been to @Starbucks in two days. Some...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.641133,-117.918669
1567,2010-05-07 22:03:46+00:00,It's Frappy Hour at @Starbucks!! 1/2 all Frapp...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.641133,-117.918669
1568,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.641133,-117.918669

,date,content,user,user_location,lat,lng
0,2021-07-06 17:33:12+00:00,"After an 18 month hiatus, my @Starbucks barist...","{'username': 'OneNOnlyOmari', 'id': 74375221, ...","Oakland, CA",37.687925,-122.470208
1,2021-07-01 20:03:21+00:00,Buying a gallon of @Starbucks hot pike coffee ...,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.687925,-122.470208
2,2021-06-29 15:55:04+00:00,@Starbucks how can I add nutmeg powder to my d...,"{'username': 'misterbisson', 'id': 1245061, 'd...","San Francisco, California",37.687925,-122.470208
3,2021-06-24 19:12:58+00:00,At @Starbucks Hiro at 442 Geary St Starbucks i...,"{'username': 'IAmSakuraSF', 'id': 3038881554, ...","San Francisco, CA",37.687925,-122.470208
4,2021-06-24 12:54:18+00:00,@Dogecoin_Aus Hey @Starbucks you should accept...,"{'username': 'Jeffrey03502177', 'id': 13929624...","San Francisco, CA",37.687925,-122.470208
...,...,...,...,...,...,...
3103,2010-05-05 17:54:50+00:00,why would i take a fiber supplement or psylliu...,"{'username': 'kkblabs', 'id': 36127553, 'displ...","Oakland, CA",37.687925,-122.470208
3104,2010-05-01 14:32:22+00:00,Cheated on @Starbucks with Peet's (@JoshGuerre...,"{'username': 'SweetMizery22', 'id': 18224546, ...","Bay Area, CA",37.687925,-122.470208
3105,2010-04-26 13:17:10+00:00,"#NowPlaying ""Bottle It Up"" by @SaraBareilles a...","{'username': 'SweetMizery22', 'id': 18224546, ...","Bay Area, CA",37.687925,-122.470208
3106,2010-04-17 22:14:16+00:00,@starbucks time! (@ Starbucks) http://4sq.com/...,"{'username': 'kevinti', 'id': 48462860, 'displ...","Shanghai, China",37.687925,-122.470208
3107,2010-04-03 20:58:48+00:00,Getting my @starbucks venti coffee!! (@ Starbu...,"{'username': 'kevinti', 'id': 48462860, 'displ...","Shanghai, China",37.687925,-122.470208

,date,content,user,user_location,lat,lng
0,2021-07-12 03:34:28+00:00,@loqua_renee @Starbucks Ohhhh I believe that. ...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.940014,-118.132569
1,2021-07-12 02:33:32+00:00,@tobybrooke @Starbucks Well that too. 🤣,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.940014,-118.132569
2,2021-07-12 02:25:06+00:00,We all know that churches spend all their unta...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.940014,-118.132569
3,2021-07-07 18:26:02+00:00,The pawfect coffee date. ☕️ ❤️ @Starbucks \n📸...,"{'username': 'LakewoodCenter', 'id': 41459776,...","Lakewood, CA",33.940014,-118.132569
4,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.940014,-118.132569
5,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.940014,-118.132569
6,2021-06-20 18:28:04+00:00,whoever came up with the medicine ball at @Sta...,"{'username': 'chrispychriscat', 'id': 39141596...","Pasadena, CA",33.940014,-118.132569
7,2021-06-16 20:19:38+00:00,@crocs goes to @starbucks …perfect combo 🤟🏼 🍍 ...,"{'username': 'ForeverAmber3', 'id': 28901170, ...",California,33.940014,-118.132569
8,2021-06-16 16:37:57+00:00,@MellertWhite @Starbucks Great pic !!!!!!!,"{'username': 'jerry077', 'id': 23564725, 'disp...",EAST LOS ANGELES,33.940014,-118.132569
9,2021-06-12 17:29:29+00:00,At first I was stoked that @th0tpilgrim got a ...,"{'username': 'frankreina', 'id': 17139832, 'di...","Cerritos, California",33.940014,-118.132569
10,2021-05-29 16:05:01+00:00,@imbradmiller @Starbucks Yup I have 3 of them ...,"{'username': 'jasontucker', 'id': 791125, 'dis...","Whittier, CA 90603",33.940014,-118.132569
11,2021-05-14 23:35:32+00:00,@mjoffixial @Starbucks Yea it’s reallyyyy good!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.940014,-118.132569
12,2021-05-14 23:35:23+00:00,@mjoffixial @Starbucks I tried it!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.940014,-118.132569
13,2021-05-07 16:12:05+00:00,@Starbucks we're in the home stretch and tryin...,"{'username': 'iSouthsideCC', 'id': 2314103161,...","Inglewood, CA",33.940014,-118.132569
14,2021-05-07 15:51:47+00:00,@Starbucks 💚🤗 https://t.co/lbAKmxOf36,"{'username': 'TerrifiedRabbit', 'id': 11114669...","Downey, CA/Beggar's Canyon",33.940014,-118.132569
15,2021-05-03 07:05:55+00:00,I’m fucking tweaking bro fuck you @Starbucks,"{'username': 'physiczxxx', 'id': 9186809541340...",Trust not even a soul,33.940014,-118.132569
16,2021-05-02 00:11:35+00:00,@MitchellZarro @Starbucks No way lmao,"{'username': 'arahmanipour', 'id': 443490157, ...",,33.940014,-118.132569
17,2021-04-30 16:30:05+00:00,@Starbucks since yall been out of soymilk for ...,"{'username': 'mzcale21', 'id': 1309251584, 'di...",,33.940014,-118.132569
18,2021-04-30 16:27:40+00:00,@Starbucks I knw yall probably having supplier...,"{'username': 'mzcale21', 'id': 1309251584, 'di...",,33.940014,-118.132569
19,2021-04-13 04:17:19+00:00,@UneeQ_ @Starbucks 😂 why?,"{'username': 'curtisperdue0', 'id': 7499990721...","Downey, CA",33.940014,-118.132569
20,2021-04-11 17:51:19+00:00,@Jay_Uno_Trey27 @Starbucks Make whack,"{'username': 'AmayaTheGreat19', 'id': 84776314...",,33.940014,-118.132569
21,2021-03-24 15:33:02+00:00,The barista at the drive thru at @Starbucks in...,"{'username': 'nereidaaxo', 'id': 80629643, 'di...",JAL 🇲🇽,33.940014,-118.132569
22,2021-03-05 05:44:53+00:00,So the app says @Starbucks is open till 12:00 ...,"{'username': 'josev2398', 'id': 1958288814, 'd...","Bell, CA",33.940014,-118.132569
23,2021-02-16 19:35:11+00:00,@JosephJMiccolis @Starbucks Happy birthday !,"{'username': 'Jacobknight_jk', 'id': 719724461...","Whittier, CA",33.940014,-118.132569
24,2021-02-15 20:13:16+00:00,"@AFaith_Allen @Starbucks Yeah, you guys are aw...","{'username': 'manofsteel83', 'id': 31479699, '...",L.A.,33.940014,-118.132569
25,2021-02-12 02:45:46+00:00,so of course I drove myself to @Starbucks sinc...,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.940014,-118.132569
26,2021-02-11 21:01:54+00:00,@yennyysworld @Starbucks Lmfao 🤣😂,"{'username': 'dropdeadbeeth', 'id': 138526420,...",United States,33.940014,-118.132569
27,2021-01-29 05:40:54+00:00,@joshtatofimusic + Iced Guava Green Tea from @...,"{'username': 'tmpoly', 'id': 3059349007, 'disp...",Compton,33.940014,-118.132569
28,2021-01-28 02:14:01+00:00,@Starbucks y’all should be ashamed of all this...,"{'username': 'notsaranativo', 'id': 1194273696...","Los Angeles, CA",33.940014,-118.132569
29,2021-01-20 03:47:59+00:00,I remember the first time I realized how to us...,"{'username': 'hopexxless', 'id': 1339862654999...",,33.940014,-118.132569
30,2021-01-14 17:41:08+00:00,@omarlopez1 @Starbucks Ohhh okay! Oh no i cant...,"{'username': 'heatheranmariee', 'id': 16154135...","Paramount, California",33.940014,-118.132569
31,2021-01-14 17:26:46+00:00,Back when I tried to cheat the reloading syste...,"{'username': 'omarlopez1', 'id': 25184580, 'di...",S. California,33.940014,-118.132569
32,2021-01-13 17:54:57+00:00,I have undeniable proof that 2021 will be ligh...,"{'username': 'PhotonEmpress', 'id': 1114672817...","Anaheim, CA",33.940014,-118.132569
33,2021-01-10 01:30:44+00:00,There is a shortage of pastries at every @Star...,"{'username': 'NERDvsGAMES', 'id': 2379565945, ...","Los Angeles, CA",33.940014,-118.132569
34,2020-12-31 03:47:56+00:00,On my nightly @Starbucks run before work ☺️,"{'username': 'hopexxless', 'id': 1339862654999...",,33.940014,-118.132569
35,2020-12-24 19:25:26+00:00,"Working, but at least I got my iced coffee. 🏥😚...","{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.940014,-118.132569
36,2020-12-04 01:21:09+00:00,@kuutieee_ @Starbucks dang that’s my HR after ...,"{'username': 'yeslikethemoon', 'id': 850904858...",w/ my lover,33.940014,-118.132569
37,2020-11-12 01:33:46+00:00,If you see me in my car with sunglasses on enj...,"{'username': 'CrusnikBoo', 'id': 83747077, 'di...","Norwalk, California",33.940014,-118.132569
38,2020-11-11 21:24:04+00:00,Does @Starbucks not reward star collectors on ...,"{'username': 'MermaidMari96', 'id': 1282057535...",,33.940014,-118.132569
39,2020-11-09 01:08:16+00:00,i’ve been coming to the same starbucks for mon...,"{'username': 'Lovelyy_Lizzyy', 'id': 164419881...",Somewhere,33.940014,-118.132569
40,2020-11-09 01:03:05+00:00,@vnvhi_ @xokaren_ @Starbucks Honestlyyyyy they...,"{'username': '_theRoach', 'id': 28913529, 'dis...","Los Angeles, CA",33.940014,-118.132569
41,2020-11-06 23:24:31+00:00,Got my holiday 🎄🎅🏻 cup thanks.@Starbucks,"{'username': 'jdmfatima', 'id': 10175365860056...","Downey, CA",33.940014,-118.132569
42,2020-11-06 18:35:26+00:00,God my holiday cup from @Starbucks 🥰🎄☃️❄️,"{'username': 'heyleenseleena', 'id': 58993073,...","Montebello, CA.",33.940014,-118.132569
43,2020-11-05 16:46:12+00:00,@Starbucks @heyleenseleena 😏😂,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.940014,-118.132569

,date,content,user,user_location,lat,lng
0,2021-07-06 15:11:07+00:00,@Starbucks when you created these paper straws...,"{'username': '367_alex', 'id': 1209420199, 'di...","Bonita, CA",32.794772,-116.962528
1,2021-06-25 15:38:29+00:00,@Starbucks This is my summer of life and I’m n...,"{'username': 'craig_osborne', 'id': 86156024, ...","La Mesa, CA",32.794772,-116.962528
2,2021-04-28 16:56:48+00:00,"@Aedialia @Starbucks Dang, that sounds harder ...","{'username': 'hedaredme', 'id': 24989537, 'dis...","San Diego, CA",32.794772,-116.962528
3,2021-04-09 13:05:53+00:00,You know that first sip feeling of your usual ...,"{'username': 'Cristi_Sarai', 'id': 270644200, ...",Arizona,32.794772,-116.962528
4,2021-04-02 20:09:43+00:00,Gizmo got his nails trimmed and that deserved ...,"{'username': 'Poohbare1010', 'id': 21962394, '...","El Cajon, California",32.794772,-116.962528
...,...,...,...,...,...,...
513,2011-08-03 23:45:49+00:00,Oil change #runlikenew and wait here @starbuck...,"{'username': 'Franndly', 'id': 199026470, 'dis...","Rancho San Diego, CA",32.794772,-116.962528
514,2011-04-27 23:56:51+00:00,Hey @Starbucks! What should I tell people when...,"{'username': 'xxCaam', 'id': 142558942, 'displ...","San Diego, CA",32.794772,-116.962528
515,2011-03-12 15:13:30+00:00,Really enjoying @Starbucks tribute blend!,"{'username': 'dkferraro', 'id': 17164343, 'dis...","San Diego, CA",32.794772,-116.962528
516,2010-06-07 21:06:25+00:00,Midday break time at my local La Mesa Village ...,"{'username': 'kirkholmes', 'id': 16075836, 'di...","Las Vegas, NV",32.794772,-116.962528
517,2010-03-27 22:49:05+00:00,How cool! The bartista at @Starbucks noticed t...,"{'username': 'garyware', 'id': 11965142, 'disp...","32.869770,-117.222443",32.794772,-116.962528

,date,content,user,user_location,lat,lng
0,2021-07-12 20:31:42+00:00,@Starbucks what can you tell us about 🦉?,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.068622,-118.027567
1,2021-07-12 20:28:29+00:00,@Starbucks @awils165 Has to be #safemoon related,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.068622,-118.027567
2,2021-07-12 03:34:28+00:00,@loqua_renee @Starbucks Ohhhh I believe that. ...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",34.068622,-118.027567
3,2021-07-12 02:33:32+00:00,@tobybrooke @Starbucks Well that too. 🤣,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",34.068622,-118.027567
4,2021-07-12 02:25:06+00:00,We all know that churches spend all their unta...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",34.068622,-118.027567
5,2021-07-08 22:10:36+00:00,@EAWilsonAuthor Or maybe a free @Starbucks co...,"{'username': 'DSiflingWCPDPIO', 'id': 71734127...","West Covina, CA",34.068622,-118.027567
6,2021-07-03 20:35:26+00:00,@ohheytommy @Starbucks I want cinnamon dolce l...,"{'username': 'Mrs_Ayano', 'id': 13038883881440...",,34.068622,-118.027567
7,2021-06-30 19:42:54+00:00,@Starbucks do you have any coupons foe next week?,"{'username': 'NotNewTwiterite', 'id': 12277639...",,34.068622,-118.027567
8,2021-06-29 14:21:14+00:00,"Guy: Do you like #WorldCup? ⚽️ \nMe: No, I lik...","{'username': 'LifeWithScotty', 'id': 254416718...",LA,34.068622,-118.027567
9,2021-06-29 04:01:38+00:00,@OhNoItsJanet @Starbucks Did she get them back...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.068622,-118.027567
10,2021-06-29 04:00:57+00:00,@OhNoItsJanet @Starbucks Did you lose her gold...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.068622,-118.027567
11,2021-06-29 03:56:12+00:00,Has anyone else had their @starbucks account h...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.068622,-118.027567
12,2021-06-17 19:20:25+00:00,When your @starbucks rest stop turns in to pur...,"{'username': 'ExiledfromNY', 'id': 85042057, '...","Los Angeles, Ca",34.068622,-118.027567
13,2021-06-04 22:07:58+00:00,Making way for another @Starbucks Beverly &amp...,"{'username': 'marviljr', 'id': 491480220, 'dis...",,34.068622,-118.027567
14,2021-05-17 05:24:09+00:00,And @Starbucks is out of straws too! https://t...,"{'username': 'Ali_mommy', 'id': 31057091, 'dis...",Friendly S El Monte,34.068622,-118.027567
15,2021-04-30 14:17:46+00:00,Free…thank you @starbucks another year…Now arm...,"{'username': 'West0013', 'id': 32185623, 'disp...","Santa Monica+Brentwood, CA",34.068622,-118.027567

,date,content,user,user_location,lat,lng
0,2021-07-13 23:37:08+00:00,So yesterday I tried @Starbucks grilled cheese...,"{'username': 'Jackie135_7', 'id': 591043386, '...","San Marcos,CA",33.119208,-117.086422
1,2021-07-11 21:23:22+00:00,First day @Starbucks tomorrow. Excited!,"{'username': 'JoeyScarantino', 'id': 119693466...","Lake Forest, CA",33.119208,-117.086422
2,2021-06-09 18:49:22+00:00,Justice &amp; Jaxon throwing back some @starbu...,"{'username': 'TheBurgessBunch', 'id': 23906990...","San Marcos, Ca",33.119208,-117.086422
3,2021-04-21 02:16:32+00:00,@desolasol @Starbucks I thought they sent a me...,"{'username': 'FabersLoeras', 'id': 10999134748...","San Diego, CA",33.119208,-117.086422
4,2021-04-01 16:49:50+00:00,@MCorcea @Starbucks @MCorcea @RScottClark It i...,"{'username': 'noalhan', 'id': 76922279, 'displ...","Escondido, CA",33.119208,-117.086422
...,...,...,...,...,...,...
296,2011-08-09 19:19:48+00:00,Studying @Starbucks always seems to make me so...,"{'username': 'darinsargent', 'id': 13072322, '...","iPhone: 33.124313,-117.102005",33.119208,-117.086422
297,2011-04-21 21:51:07+00:00,Walking through the mall right now to get to @...,"{'username': 'corey_dylan', 'id': 35427941, 'd...",Ocean Beach | San Diego,33.119208,-117.086422
298,2011-03-30 18:33:53+00:00,First GTL of the year. #Spring @Starbucks,"{'username': 'nmark125', 'id': 31245607, 'disp...","San Diego, CA",33.119208,-117.086422
299,2011-03-23 18:06:58+00:00,This is the third time this @Starbucks my iPho...,"{'username': 'oceanwest', 'id': 7756642, 'disp...",Probably Starbucks,33.119208,-117.086422
300,2011-03-07 16:10:13+00:00,Nothing like a 12oz cup of regret to start my ...,"{'username': 'JamieTheGrey', 'id': 97115441, '...",San Marcos,33.119208,-117.086422

,date,content,user,user_location,lat,lng
0,2021-07-12 10:27:02+00:00,@RoyalTse 7/11 Silver Eyes Butterfly🦋 @Starbuc...,"{'username': 'royaltse', 'id': 220002430, 'dis...","Fairfield, CA",38.249358,-122.039967
1,2020-12-03 19:05:41+00:00,"Bought @Starbucks this morning, got home to wo...","{'username': 'EricMyers31', 'id': 36888791, 'd...",NorCal,38.249358,-122.039967
2,2020-08-13 17:11:33+00:00,@Starbucks why are you out of strawberry açaí ...,"{'username': 'jelaney510', 'id': 3964412118, '...",,38.249358,-122.039967
3,2020-07-07 19:43:31+00:00,@Starbucks ... this is unacceptable!!!! I will...,"{'username': 'PreacherWife49', 'id': 22126013,...",Somewhere,38.249358,-122.039967
4,2020-01-03 01:36:03+00:00,@rose21___ @Starbucks The sticker was still in...,"{'username': 'tommylapaz', 'id': 405280224, 'd...",,38.249358,-122.039967
...,...,...,...,...,...,...
56,2015-08-22 21:34:35+00:00,Bad form @Starbucks! Why dont your employees k...,"{'username': 'lauralovesart', 'id': 9574902, '...","Fairfield, CA",38.249358,-122.039967
57,2015-08-21 20:22:23+00:00,@Starbucks I guess it's supposed to be like that?,"{'username': 'tinaaleeroy', 'id': 1592692764, ...",#california,38.249358,-122.039967
58,2015-08-10 21:47:17+00:00,@Starbucks I just got a Carmel frap &amp; that...,"{'username': 'AyeeItsBillbert', 'id': 34776720...",707,38.249358,-122.039967
59,2015-07-23 00:55:13+00:00,Road trip sized teatime with the mini photobom...,"{'username': 'zeebalancingact', 'id': 13927192...","Los Angeles, CA",38.249358,-122.039967
60,2015-05-06 06:49:31+00:00,"I love you, @Starbucks. 💚","{'username': 'geevaldez007', 'id': 2960952552,...",Yay Area,38.249358,-122.039967

,date,content,user,user_location,lat,lng
0,2021-07-13 20:32:07+00:00,"Hello @starbucks, me again. Can us struggling ...","{'username': 'GRiN216', 'id': 2832499866, 'dis...","Fontana, CA",34.092233,-117.435047
1,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.092233,-117.435047
2,2021-06-23 01:23:47+00:00,@Starbucks what is this!! Why does this happe...,"{'username': 'jimpalmer87', 'id': 614105461, '...",,34.092233,-117.435047
3,2021-06-22 17:03:47+00:00,I’m well aware @Starbucks doesn’t make their p...,"{'username': '__meganhuston', 'id': 20526676, ...",Los Angeles,34.092233,-117.435047
4,2021-06-16 21:33:53+00:00,MILF central at this Starbucks in Rancho Cucam...,"{'username': 'JL3710', 'id': 72138954387049676...","California, USA",34.092233,-117.435047
...,...,...,...,...,...,...
577,2011-01-30 00:04:15+00:00,@starbucks waiting for my @bbrigette,"{'username': 'Rosa_A_Martinez', 'id': 73006692...",,34.092233,-117.435047
578,2011-01-09 01:01:46+00:00,@Starbucks Has an Instagram?! Nice!,"{'username': 'aka_Bobby', 'id': 84494731, 'dis...","Riverside, CA",34.092233,-117.435047
579,2010-10-18 23:42:52+00:00,Just been put up on game... Green tea lemonade...,"{'username': 'RAWKITT', 'id': 19470646, 'displ...","iPhone: 33.910156,-117.457283",34.092233,-117.435047
580,2010-09-29 17:25:25+00:00,@Starbucks r u guys giving out free Starbucks!...,"{'username': 'ItsMaaaleny', 'id': 32291730, 'd...",,34.092233,-117.435047
581,2010-09-18 15:18:15+00:00,Treating myself this morning... Haven't had @S...,"{'username': 'mainerinrancho', 'id': 31158757,...","Highlands Ranch, CO",34.092233,-117.435047

,date,content,user,user_location,lat,lng
0,2021-05-17 16:11:48+00:00,@nyike @Starbucks Awesome! We are almost back ...,"{'username': 'sarbjeetjohal', 'id': 22168349, ...","Fremont, CA",37.548269,-121.988572
1,2021-05-15 17:40:18+00:00,Today is a really special day it is officially...,"{'username': 'dantes0814', 'id': 2482925690, '...","Santa Clara, CA",37.548269,-121.988572
2,2021-04-15 06:00:51+00:00,Every MAGNET Designated Hospital should have a...,"{'username': 'obramaeztra', 'id': 59386080, 'd...","Palo Alto, California 🌲",37.548269,-121.988572
3,2021-03-21 05:32:06+00:00,We both have the hours we want and the days of...,"{'username': 'dantes0814', 'id': 2482925690, '...","Santa Clara, CA",37.548269,-121.988572
4,2021-03-03 03:15:47+00:00,@Starbucks I want to report that I placed an o...,"{'username': 'djalexreyes', 'id': 177475572, '...","Fremont, CA",37.548269,-121.988572
5,2020-12-12 23:37:45+00:00,@Craw @Starbucks 😂 that’s a good one! Hi Crawf...,"{'username': 'sarbjeetjohal', 'id': 22168349, ...","Fremont, CA",37.548269,-121.988572
6,2020-11-17 04:17:13+00:00,@ddogfilm @Starbucks @AmazonHelp Oh and I foun...,"{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
7,2020-11-17 04:15:51+00:00,@ddogfilm @Starbucks @AmazonHelp I got 4 cases...,"{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
8,2020-10-10 16:38:12+00:00,Hey @Starbucks let’s train your baristas to no...,"{'username': 'duhhh_1313', 'id': 1204527204828...",,37.548269,-121.988572
9,2020-09-29 14:48:37+00:00,@Starbucks I’ve been a gold member for 5 years...,"{'username': 'kaybythebay', 'id': 61075618, 'd...","Bay Area, CA",37.548269,-121.988572
10,2020-09-06 22:56:44+00:00,RIP @Starbucks refreshers. My last can is empt...,"{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
11,2020-09-04 15:43:49+00:00,@Starbucks I’m with you! I am so sad I’m almos...,"{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
12,2020-08-25 17:40:41+00:00,I’ve been awake for exactly 1 hour and have se...,"{'username': 'NVTYD', 'id': 61388957, 'display...",,37.548269,-121.988572
13,2020-08-15 23:49:46+00:00,@ddogfilm @Starbucks I got five cases yesterda...,"{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
14,2020-08-12 02:53:33+00:00,"I’m depressed, @Starbucks has these amazing en...","{'username': 'susan_lydick', 'id': 14287851, '...","California, USA",37.548269,-121.988572
15,2020-08-06 17:08:39+00:00,@Starbucks your Summer Game is horrible. I now...,"{'username': 'bpreyes', 'id': 15198919, 'displ...","Newark, CA",37.548269,-121.988572
16,2020-08-03 00:26:41+00:00,Got this @Starbucks Nitro Cold Brew from @Luck...,"{'username': 'MysteryMania987', 'id': 33442326...",Bay Area,37.548269,-121.988572
17,2020-07-24 15:09:41+00:00,@apyrodesign @Starbucks 😮🤮,"{'username': 'RayBan1988', 'id': 191863794, 'd...","Bay Area, CA",37.548269,-121.988572
18,2020-06-12 22:11:59+00:00,Hey KT. Did this result in @Starbucks telling...,"{'username': '1AKA_VS', 'id': 19868353, 'displ...",San Francisco Bay Area,37.548269,-121.988572
19,2020-06-12 00:32:29+00:00,Weird if the @starbucks ban of #BLM wear on th...,"{'username': 'RobotTaylor', 'id': 25337234, 'd...","Pleasant Hill, CA, USA",37.548269,-121.988572
20,2020-04-26 00:06:44+00:00,I'm kind of glad to find out that with the exc...,"{'username': 'geographile', 'id': 18594598, 'd...",California,37.548269,-121.988572
21,2020-04-14 15:03:09+00:00,"I work at FB, do I get anything for free? @Sta...","{'username': 'shrwzzzy', 'id': 39595020, 'disp...","Sunnyvale, CA",37.548269,-121.988572
22,2020-03-21 02:26:57+00:00,The Barista Analisa @Starbucks Store #74807 wa...,"{'username': 'MysteryMania987', 'id': 33442326...",Bay Area,37.548269,-121.988572

,date,content,user,user_location,lat,lng
0,2021-07-09 16:54:54+00:00,@Starbucks @StarbucksCare \nShameful that I di...,"{'username': 'madi_als', 'id': 138247853809214...","Fresno, CA",36.746842,-119.772586
1,2021-07-08 23:11:57+00:00,what i'm gonna have on my mini break from twee...,"{'username': 'LoveVenusHarder', 'id': 13789682...","Fresno, CA",36.746842,-119.772586
2,2021-07-07 02:40:28+00:00,is there a hazelnut syrup shortage or wtf @Sta...,"{'username': 'macdaddyady', 'id': 425576979, '...","Fresno, CA",36.746842,-119.772586
3,2021-07-02 19:42:22+00:00,And then @Starbucks totally messes up my order...,"{'username': 'TOMMYXO22', 'id': 3013604822, 'd...","Santa Rosa, CA",36.746842,-119.772586
4,2021-07-01 23:33:16+00:00,Strawberry funel cake from @Starbucks its http...,"{'username': 'niner_raul', 'id': 3286949390, '...","Fresno, CA",36.746842,-119.772586
...,...,...,...,...,...,...
560,2011-03-15 01:04:11+00:00,Some little asshole hoodlums joined me at @Sta...,"{'username': 'brightillusions', 'id': 20464546...",CALIFORNIA!,36.746842,-119.772586
561,2011-03-15 00:32:46+00:00,Comp is dead and @Starbucks is packed. Guess I...,"{'username': 'brightillusions', 'id': 20464546...",CALIFORNIA!,36.746842,-119.772586
562,2011-02-23 02:21:07+00:00,I finally indulged at @Starbucks and got a hot...,"{'username': 'JreddACA', 'id': 110917617, 'dis...","Hutchinson, KS",36.746842,-119.772586
563,2010-11-12 01:12:34+00:00,It's been a long day!!! So @Starbucks or not?,"{'username': 'Yeranik16', 'id': 178906582, 'di...",,36.746842,-119.772586
564,2010-05-23 00:13:11+00:00,"@Starbucks, vanuit de sneeuw(bui) in Mariposa ...","{'username': 'usaroadtrip2010', 'id': 14544471...",,36.746842,-119.772586

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.870292,-117.925339
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.870292,-117.925339
2,2021-07-07 20:30:57+00:00,@Starbucks OMFG why is the CEO RUINING STARBUC...,"{'username': 'Excaligirl', 'id': 8644732, 'dis...","Norco, CA",33.870292,-117.925339
3,2021-07-07 20:21:17+00:00,@Starbucks I am SO SICK of the disrespecting s...,"{'username': 'Excaligirl', 'id': 8644732, 'dis...","Norco, CA",33.870292,-117.925339
4,2021-07-07 15:09:24+00:00,@Starbucks True 🧊☕️ https://t.co/RBVQl6QJV9,"{'username': 'illuminEddiie', 'id': 274103858,...","Anaheim, CA",33.870292,-117.925339
...,...,...,...,...,...,...
2153,2010-11-02 15:59:52+00:00,@starbucks getting some calm tea and honey as ...,"{'username': 'Leoskii', 'id': 36006532, 'displ...",from the Bay to LA,33.870292,-117.925339
2154,2010-10-21 22:50:41+00:00,Vanilla frapuccino @starbucks http://twitpic.c...,"{'username': 'agudobjj', 'id': 34680347, 'disp...","Wylie, TX",33.870292,-117.925339
2155,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.870292,-117.925339
2156,2010-08-23 23:14:01+00:00,Driven out of @Starbucks by the smell of two h...,"{'username': 'TravisGadsden', 'id': 9272202, '...","Southern California, USA",33.870292,-117.925339
2157,2010-07-01 01:43:16+00:00,@Starbucks....excellent marketing idea you guy...,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,33.870292,-117.925339

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.773906,-117.941447
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.773906,-117.941447
2,2021-07-11 16:52:53+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.773906,-117.941447
3,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.773906,-117.941447
4,2021-07-11 15:06:04+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.773906,-117.941447
...,...,...,...,...,...,...
3015,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.773906,-117.941447
3016,2010-09-25 16:24:59+00:00,"Car droped off car, walked to @starbucks, now ...","{'username': 'colorcopies', 'id': 15883869, 'd...","Santa ana, ca",33.773906,-117.941447
3017,2010-08-08 19:00:16+00:00,Is grabbing some @Starbucks,"{'username': 'fabulousjoshie', 'id': 74038032,...",From Small town Now Cincinnati,33.773906,-117.941447
3018,2010-07-02 00:28:51+00:00,@Starbucks =]],"{'username': 'johnymilaphoto', 'id': 111200627...","Los Angeles, CA",33.773906,-117.941447
3019,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.773906,-117.941447

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.142508,-118.255075
1,2021-07-13 01:17:35+00:00,@Starbucks I am saddened and Disgusted but als...,"{'username': 'CocoViejo', 'id': 41004218, 'dis...","Koreatown, Los Angeles",34.142508,-118.255075
2,2021-07-12 15:50:56+00:00,@juzjulian @Starbucks go to coffee bean and ge...,"{'username': 'theythemjess', 'id': 3314579616,...","Pasadena, CA",34.142508,-118.255075
3,2021-07-11 18:07:12+00:00,Starting a new book. #Blush by #JamieBrenner. ...,"{'username': 'windwillow69', 'id': 608198362, ...","Pasadena, California",34.142508,-118.255075
4,2021-07-11 16:15:08+00:00,Starbucks is literally ALWAYS on my “favorite”...,"{'username': 'imAndrewRussell', 'id': 70459377...","Los Angeles, CA",34.142508,-118.255075
...,...,...,...,...,...,...
117,2020-04-18 05:25:31+00:00,How does @Starbucks only release this in China...,"{'username': 'sincerely_becky', 'id': 38364463...",,34.142508,-118.255075
118,2020-04-14 17:44:47+00:00,That’s a good idea!!! #StayHomeSaveLives Good ...,"{'username': 'ReichenYoo', 'id': 8710982, 'dis...","Los Angeles, CA",34.142508,-118.255075
119,2020-04-13 01:51:00+00:00,Trying to enjoy the little things like having ...,"{'username': 'Youtubetechguy', 'id': 588759430...","Los Angeles, CA",34.142508,-118.255075
120,2020-04-08 18:04:40+00:00,@MarLngeo @Starbucks Noooooooo,"{'username': 'laffit', 'id': 19578315, 'displa...",(818),34.142508,-118.255075
121,2020-04-01 04:17:04+00:00,@supermattachine 31. @Starbucks or @petescoffee ?,"{'username': 'ourWEHO', 'id': 15794991, 'displ...",west hollywood,34.142508,-118.255075

,date,content,user,user_location,lat,lng
0,2021-07-11 00:36:30+00:00,@TuckerGeri @Starbucks I thought it was good…I...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.916403,-118.352575
1,2021-07-10 23:00:01+00:00,About to try the kiwi star fruit refresher😋 @S...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.916403,-118.352575
2,2021-07-10 19:32:41+00:00,@CeiliGal @Starbucks No thanks! That's why I ...,"{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.916403,-118.352575
3,2021-07-09 17:46:04+00:00,"75 and sunny, cartop down,, @Starbucks stop be...","{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.916403,-118.352575
4,2021-07-08 16:28:19+00:00,You haven’t experienced real disappointment un...,"{'username': 'Callmelizziee_', 'id': 114974658...","Los Angeles, CA",33.916403,-118.352575
5,2021-06-27 03:39:01+00:00,@wiredknut @Starbucks Yes that’s a lot for cof...,"{'username': 'lesliehollis', 'id': 36284306, '...","Los Angeles, CA",33.916403,-118.352575
6,2021-06-19 00:55:35+00:00,Cute artwork 🧜‍♀️🛁🖼 @Starbucks. https://t.co/i...,"{'username': 'EdithYang', 'id': 25194862, 'dis...","Los Angeles, CA",33.916403,-118.352575
7,2021-06-08 13:45:48+00:00,@PRisUs @Starbucks Cha-Ching! ☕️☕️☕️,"{'username': 'TonyaMcKenziePR', 'id': 11101987...","Redondo Beach, CA",33.916403,-118.352575
8,2021-06-08 13:15:09+00:00,@PRisUs @Starbucks Wow! I had no idea! #mindbl...,"{'username': 'TonyaMcKenziePR', 'id': 11101987...","Redondo Beach, CA",33.916403,-118.352575
9,2021-06-08 02:24:40+00:00,Should @Starbucks #AcceptDoge ???\n$doge #doge...,"{'username': 'sickindustries', 'id': 28737481,...","Los Angeles, CA.",33.916403,-118.352575
10,2021-05-25 19:27:37+00:00,There’s apparently a @Starbucks company shorta...,"{'username': 'SarahSaryan', 'id': 44100529, 'd...","Los Angeles, CA",33.916403,-118.352575
11,2021-05-03 07:05:55+00:00,I’m fucking tweaking bro fuck you @Starbucks,"{'username': 'physiczxxx', 'id': 9186809541340...",Trust not even a soul,33.916403,-118.352575
12,2021-04-16 16:54:03+00:00,Sanitize them actually.\n\nI am so glad I work...,"{'username': 'enicholewalker', 'id': 68004188,...","Los Angeles, CA",33.916403,-118.352575
13,2021-04-13 01:59:20+00:00,Me in @Target after power walking and obtainin...,"{'username': 'nickshattuck', 'id': 23332754, '...","Los Angeles, CA",33.916403,-118.352575
14,2021-04-11 17:51:19+00:00,@Jay_Uno_Trey27 @Starbucks Make whack,"{'username': 'AmayaTheGreat19', 'id': 84776314...",,33.916403,-118.352575
15,2021-04-05 14:28:09+00:00,Shoutout to the lady at @Starbucks. \n\nShe re...,"{'username': 'Xclusivekesh', 'id': 24373832, '...",,33.916403,-118.352575
16,2021-03-20 15:19:34+00:00,@Starbucks https://t.co/yJ5XupKLcY,"{'username': 'rosealioth', 'id': 8572590897467...","Los Angeles, CA",33.916403,-118.352575
17,2021-03-18 22:35:43+00:00,@Starbucks Iced brown sugar oatmeal latte of c...,"{'username': 'angela_simisola', 'id': 14091455...","Los Angeles, CA",33.916403,-118.352575
18,2021-02-23 18:43:15+00:00,Nice product placement Steven Sund. Can't plac...,"{'username': 'Man_of_Tales', 'id': 2221528122,...","Los Angeles, Calif.",33.916403,-118.352575
19,2021-02-20 03:09:45+00:00,Thank you to whoever paid for my drink @Starbu...,"{'username': 'Younice92', 'id': 75849445019256...","Hawthorne, CA",33.916403,-118.352575
20,2021-02-15 20:13:16+00:00,"@AFaith_Allen @Starbucks Yeah, you guys are aw...","{'username': 'manofsteel83', 'id': 31479699, '...",L.A.,33.916403,-118.352575
21,2021-01-30 03:07:35+00:00,@fununderthesunx @Starbucks I was afraid it wa...,"{'username': 'Nityislife', 'id': 108541507, 'd...",California.,33.916403,-118.352575
22,2021-01-30 01:50:52+00:00,the new pistachio latte from @Starbucks seems ...,"{'username': 'Nityislife', 'id': 108541507, 'd...",California.,33.916403,-118.352575
23,2021-01-29 05:40:54+00:00,@joshtatofimusic + Iced Guava Green Tea from @...,"{'username': 'tmpoly', 'id': 3059349007, 'disp...",Compton,33.916403,-118.352575
24,2021-01-29 02:24:59+00:00,Tell @Starbucks that no one should have to pay...,"{'username': 'KathyCu06267863', 'id': 12516107...",,33.916403,-118.352575
25,2021-01-14 17:26:46+00:00,Back when I tried to cheat the reloading syste...,"{'username': 'omarlopez1', 'id': 25184580, 'di...",S. California,33.916403,-118.352575
26,2021-01-12 16:52:00+00:00,"With @Prexa Graves, Senior Director of Marketi...","{'username': 'JeannieWeaver1', 'id': 294856166...","Redondo Beach, CA",33.916403,-118.352575
27,2021-01-11 00:52:34+00:00,#Quarantine depression is when you walk to the...,"{'username': 'MyFriendGwen', 'id': 1400126454,...",,33.916403,-118.352575
28,2021-01-10 01:30:44+00:00,There is a shortage of pastries at every @Star...,"{'username': 'NERDvsGAMES', 'id': 2379565945, ...","Los Angeles, CA",33.916403,-118.352575
29,2021-01-05 15:46:50+00:00,@Starbucks I went to 5 Starbucks this morning ...,"{'username': 'miraLaAngie', 'id': 43389897, 'd...",,33.916403,-118.352575
30,2020-12-18 18:30:25+00:00,@Starbucks “ last christmas i gave you my hear...,"{'username': 'rosealioth', 'id': 8572590897467...","Los Angeles, CA",33.916403,-118.352575
31,2020-12-03 17:52:14+00:00,@Starbucks I was telling the employee I either...,"{'username': 'TherealDalle', 'id': 79953229, '...",American Samoa,33.916403,-118.352575
32,2020-11-30 17:50:09+00:00,@Starbucks @StarbucksCare is this the normal a...,"{'username': 'MathewBarletta', 'id': 18080298,...","Los Angeles, CA",33.916403,-118.352575
33,2020-11-24 14:18:20+00:00,@HiddenCash @Starbucks Peppermint mocha!,"{'username': 'randyfewell', 'id': 24329919, 'd...","Los Angeles, CA",33.916403,-118.352575
34,2020-11-19 10:26:54+00:00,Thank you @KPSCALnews @CarMax @Starbucks #watt...,"{'username': 'EASTSIDERIDERS', 'id': 60228837,...","Los Angeles, CA",33.916403,-118.352575
35,2020-11-17 14:06:49+00:00,As we continue to serve our community during t...,"{'username': 'EASTSIDERIDERS', 'id': 60228837,...","Los Angeles, CA",33.916403,-118.352575
36,2020-11-13 03:59:36+00:00,Wanting some @Starbucks rn,"{'username': 'RubyMaraz', 'id': 12447486157481...","Inglewood, CA",33.916403,-118.352575
37,2020-11-06 17:52:28+00:00,@Starbucks I’m so mad... I ordered 2 drinks on...,"{'username': 'sayda_olr89', 'id': 593402366, '...","Downey, CA",33.916403,-118.352575
38,2020-11-04 15:36:01+00:00,hoping carmel brulée is returning this year @S...,"{'username': 'rosealioth', 'id': 8572590897467...","Los Angeles, CA",33.916403,-118.352575
39,2020-11-01 15:38:29+00:00,"Happy November!! My birthday, thanksgiving and...","{'username': 'megannnv', 'id': 473555692, 'dis...","Los Angeles, CA",33.916403,-118.352575
40,2020-09-15 03:39:14+00:00,The way to attract customers in the super mark...,"{'username': 'GeorgeGallard20', 'id': 11088305...",United States,33.916403,-118.352575
41,2020-09-10 14:12:49+00:00,@heckyamimi @TheCoffeeBean @Starbucks Coffee b...,"{'username': 'Arleneyyyx', 'id': 1146090379122...",90250/90220,33.916403,-118.352575
42,2020-08-25 17:31:30+00:00,@Starbucks @DarkMatterWolf9,"{'username': 'rosealioth', 'id': 8572590897467...","Los Angeles, CA",33.916403,-118.352575
43,2020-08-25 01:37:28+00:00,Pumpkin spice comes back tomorrow @Starbucks y...,"{'username': 'maarisooool_', 'id': 70312796192...","Compton, CA",33.916403,-118.352575
44,2020-08-20 21:37:30+00:00,.@Starbucks: Keep Premium Pay for the Remainde...,"{'username': 'Dae_Young_', 'id': 452549208, 'd...","California, USA",33.916403,-118.352575
45,2020-08-20 21:37:02+00:00,Stop @Starbucks Happy Hour due to COVID-19! Jo...,"{'username': 'Dae_Young_', 'id': 452549208, 'd...","California, USA",33.916403,-118.352575
46,2020-08-19 04:12:51+00:00,@Starbucks you should sponsor me already 😂😂 3 ...,"{'username': 'DisJavii', 'id': 799789081, 'dis...","Los Angeles, CA",33.916403,-118.352575
47,2020-07-25 16:11:00+00:00,"Someone loves @Starbucks #puppuccinos so much,...","{'username': 'mrscall911', 'id': 1012539419914...","Los Angeles, CA",33.916403,-118.352575
48,2020-07-25 03:07:38+00:00,@Starbucks I made one this morning☕️☕️☕️,"{'username': 'VickieVentor', 'id': 145408905, ...",Los Angeles,33.916403,-118.352575
49,2020-07-18 14:42:25+00:00,@AdamKoralik Peace n Blessing to you and your ...,"{'username': 'Nyc2cali1', 'id': 2490896270, 'd...",,33.916403,-118.352575
50,2020-07-17 16:47:02+00:00,This @starbucks does NOT have ordering and pic...,"{'username': 'mamasherrom', 'id': 25952121, 'd...","the Beach, SoCal",33.916403,-118.352575
51,2020-07-11 18:29:06+00:00,Can you please bring back the cinnamon almond ...,"{'username': 'Nyc2cali1', 'id': 2490896270, 'd...",,33.916403,-118.352575
52,2020-06-24 19:48:06+00:00,Got an iced coffee with oat milk this morning ...,"{'username': 'HHaydeet', 'id': 4444500317, 'di...",,33.916403,-118.352575
53,2020-06-23 13:32:41+00:00,@Joyce30876809 The hotel here did have @Starbu...,"{'username': 'VonWolf9', 'id': 222189121, 'dis...",Long Beach CA,33.916403,-118.352575
54,2020-06-13 17:47:50+00:00,Why did I pretty much order a giant expresso s...,"{'username': 'byhannahnils', 'id': 1184889325,...","Los Angeles, CA",33.916403,-118.352575
55,2020-06-12 20:47:40+00:00,@Starbucks https://t.co/6SECxFTI7D,"{'username': 'Curshaunanana', 'id': 36825045, ...","Compton, California",33.916403,-118.352575
56,2020-05-09 04:35:01+00:00,ok shoutout to my fav @Starbucks location 😭😭💙💙...,"{'username': 'kluuh1', 'id': 10807522845673594...",,33.916403,-118.352575
57,2020-05-06 14:41:33+00:00,@jeffersongraham @Starbucks https://t.co/TqEEJ...,"{'username': 'petehalvorsen', 'id': 28645874, ...","Manhattan Beach, CA",33.916403,-118.352575
58,2020-04-29 16:49:27+00:00,The @Starbucks Century &amp; Prairie is so dop...,"{'username': 'ChardeTasia', 'id': 122909435397...","Inglewood, CA",33.916403,-118.352575
59,2020-03-20 04:21:26+00:00,Suspend @Starbucks business until further noti...,"{'username': 'JonnyD310', 'id': 237790522, 'di...","Torrance, CA",33.916403,-118.352575

,date,content,user,user_location,lat,lng
0,2021-07-07 02:37:29+00:00,@Starbucks coffeee,"{'username': 'Ricardo15006539', 'id': 32696836...",Hayward california,37.668819,-122.080797
1,2021-06-03 18:02:54+00:00,@Starbucks has been out of butter croissants a...,"{'username': 'NVTYD', 'id': 61388957, 'display...",,37.668819,-122.080797
2,2021-05-05 22:19:06+00:00,@Starbucks customer service is ridiculously sl...,"{'username': 'banANAkeks', 'id': 23489018, 'di...","Hayward, Ca",37.668819,-122.080797
3,2021-04-04 21:17:30+00:00,Line of 20 cars for @Starbucks drive thru. Crazy!,"{'username': 'werehungry2', 'id': 778269898627...","San Francisco, CA",37.668819,-122.080797
4,2021-03-27 13:03:24+00:00,@Starbucks Whyyyyy I ordered to bags of coffee...,"{'username': 'lindasue0818', 'id': 792790628, ...",🌎,37.668819,-122.080797
...,...,...,...,...,...,...
390,2011-01-17 05:28:21+00:00,"@starbucks hanging at Starbucks, having a pass...","{'username': 'chunkamunkabows', 'id': 15574980...","Union City, CA",37.668819,-122.080797
391,2011-01-09 17:35:01+00:00,I'm back to work and Caffeinated lately. @gabb...,"{'username': 'thejemalshow', 'id': 17138927, '...","San Jose, California",37.668819,-122.080797
392,2010-11-18 01:26:29+00:00,"RT @Starbucks: Take an afternoon break, from t...","{'username': 'patriciaoliva', 'id': 19810744, ...","San Francisco, CA",37.668819,-122.080797
393,2010-10-05 17:46:03+00:00,RT @Starbucks: We're proud to introduce Starbu...,"{'username': 'patriciaoliva', 'id': 19810744, ...","San Francisco, CA",37.668819,-122.080797
394,2010-06-19 16:53:45+00:00,Drive-through or walk-in? Frap or Snack? The b...,"{'username': 'thejemalshow', 'id': 17138927, '...","San Jose, California",37.668819,-122.080797

,date,content,user,user_location,lat,lng
0,2021-05-25 16:00:44+00:00,I ordered a very berry hibiscus lemonade on th...,"{'username': 'sowrongitskell', 'id': 441219541...",she/her,33.747519,-116.971967
1,2021-03-19 00:41:22+00:00,I went to @Starbucks today and I saw one of th...,"{'username': 'sarah_5sos94', 'id': 329488644, ...",Hemet California,33.747519,-116.971967
2,2021-01-16 17:13:13+00:00,@Starbucks your location in Hemet off of Stets...,"{'username': 'oobieboobiedoo1', 'id': 11629108...","California, USA",33.747519,-116.971967
3,2021-01-15 00:26:54+00:00,I went to my favorite @Starbucks spot today 😭...,"{'username': 'sarah_5sos94', 'id': 329488644, ...",Hemet California,33.747519,-116.971967
4,2020-11-07 03:28:42+00:00,Waiting for my mom and I coffee for @Starbucks...,"{'username': 'sarah_5sos94', 'id': 329488644, ...",Hemet California,33.747519,-116.971967
...,...,...,...,...,...,...
70,2016-07-14 20:24:59+00:00,Loving the new Berry Sangria Tea!!! @Starbucks,"{'username': 'BrighteyesGina', 'id': 401612557...",,33.747519,-116.971967
71,2016-06-15 00:37:39+00:00,@snieckus Back when @Starbucks was only in the...,"{'username': 'AndrewWiskow', 'id': 2817035318,...",American Forces Network (AFN),33.747519,-116.971967
72,2016-06-02 21:30:10+00:00,Loved the New Sweet Cream coffee @Starbucks 😋☕️💙,"{'username': 'BrighteyesGina', 'id': 401612557...",,33.747519,-116.971967
73,2016-03-15 20:08:29+00:00,@jessicafrech @Starbucks I'll be standing by f...,"{'username': 'AndrewWiskow', 'id': 2817035318,...",American Forces Network (AFN),33.747519,-116.971967
74,2016-02-15 22:28:34+00:00,@starbucks #starbucks #red #filter \n\nSometim...,"{'username': 'jessicavarela17', 'id': 70260273...",san jacinto ca,33.747519,-116.971967

,date,content,user,user_location,lat,lng
0,2021-05-18 19:23:56+00:00,I hate when @Starbucks makes my drink shitty a...,"{'username': 'Saammyye', 'id': 856175731210104...",,34.426389,-117.300878
1,2021-05-11 09:45:33+00:00,@Starbucks https://t.co/3MSNFP1QYd,"{'username': 'fendifax', 'id': 115611325863116...",Fuck Off,34.426389,-117.300878
2,2021-05-05 00:22:28+00:00,@Starbucks where the s’mores at,"{'username': 'fendifax', 'id': 115611325863116...",Fuck Off,34.426389,-117.300878
3,2021-04-01 17:51:27+00:00,@Starbucks when is that s’mores coming back?,"{'username': 'fendifax', 'id': 115611325863116...",Fuck Off,34.426389,-117.300878
4,2020-12-11 20:37:18+00:00,this car freshener from @Starbucks is cute! 😀 ...,"{'username': 'lakerangel14', 'id': 229642139, ...","Southern California, USA",34.426389,-117.300878
...,...,...,...,...,...,...
101,2012-09-09 17:19:10+00:00,Coffee is so good today! Thank you @CorissaNL...,"{'username': 'JoelLasater', 'id': 312226242, '...",,34.426389,-117.300878
102,2012-06-22 14:38:36+00:00,The lady in front of us @Starbucks paid for us...,"{'username': 'lakerangel14', 'id': 229642139, ...","Southern California, USA",34.426389,-117.300878
103,2012-01-19 19:53:14+00:00,@Starbucks just tried the new blond roast and ...,"{'username': '66_carolyn', 'id': 466828875, 'd...","Apple Valley, CA",34.426389,-117.300878
104,2011-12-28 21:38:50+00:00,Do you have @starbucks rewards? (@ Starbucks) ...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.426389,-117.300878
105,2011-06-12 23:22:09+00:00,Watching #NFL top 100 & #NBAFinals pregame (go...,"{'username': 'theryangibb', 'id': 19150009, 'd...","Richmond, VA",34.426389,-117.300878

,date,content,user,user_location,lat,lng
0,2021-07-13 01:07:48+00:00,@LaceyKesler @Starbucks Wow. Engineering fix a...,"{'username': 'FAfied32', 'id': 14470761, 'disp...","Costa Mesa, CA",33.660297,-117.999225
1,2021-07-12 19:43:49+00:00,Some drinks are more perfect than others. My B...,"{'username': 'HBGhostCrypt', 'id': 90952339540...","Huntington Beach, CA",33.660297,-117.999225
2,2021-07-11 16:52:53+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.660297,-117.999225
3,2021-07-11 15:06:04+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.660297,-117.999225
4,2021-07-11 15:00:25+00:00,"Yeah, always order it with ""light ice"" to take...","{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.660297,-117.999225
...,...,...,...,...,...,...
1384,2010-09-25 00:27:25+00:00,Does anybody know anybody that works at @Starb...,"{'username': 'StewartRamsey', 'id': 71354605, ...","Newport Beach, CA",33.660297,-117.999225
1385,2010-08-08 19:00:16+00:00,Is grabbing some @Starbucks,"{'username': 'fabulousjoshie', 'id': 74038032,...",From Small town Now Cincinnati,33.660297,-117.999225
1386,2010-05-09 21:51:09+00:00,I haven't been to @Starbucks in two days. Some...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.660297,-117.999225
1387,2010-05-07 22:03:46+00:00,It's Frappy Hour at @Starbucks!! 1/2 all Frapp...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.660297,-117.999225
1388,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.660297,-117.999225

,date,content,user,user_location,lat,lng
0,2021-06-15 20:13:49+00:00,I hate the @Starbucks near me 😡,"{'username': 'chrisvsilva', 'id': 124792393280...","Indio, CA",33.720578,-116.215561
1,2021-03-24 16:08:00+00:00,@Starbucks you guys wanna tell me why I found ...,"{'username': 'vallesjulian11', 'id': 752682704...","Palm Desert ,California",33.720578,-116.215561
2,2021-03-06 12:48:25+00:00,@Starbucks I am a stop and smell the coffee ki...,"{'username': 'tadaloni', 'id': 522687573, 'dis...","La Quinta, CA",33.720578,-116.215561
3,2020-11-08 18:23:51+00:00,"@AaronK510 @Starbucks I don’t drink coffee, bu...","{'username': 'aubreyanne', 'id': 18584267, 'di...",NorCal,33.720578,-116.215561
4,2020-11-08 17:19:12+00:00,@jason_sc1 @Starbucks Yes!,"{'username': 'aubreyanne', 'id': 18584267, 'di...",NorCal,33.720578,-116.215561
...,...,...,...,...,...,...
221,2012-01-03 17:08:47+00:00,Brewing my last cup of Christmas Blend coffee ...,"{'username': '1KASHLEE', 'id': 77870610, 'disp...",,33.720578,-116.215561
222,2011-03-08 22:29:55+00:00,Happy 40th anniversary @Starbucks,"{'username': 'SimplyWendyK', 'id': 37961028, '...",West Coast ... East Coast,33.720578,-116.215561
223,2011-02-08 03:31:30+00:00,"So I noticed @burgerking, @starbucks, and @in...","{'username': 'xjamiex', 'id': 16008178, 'displ...",Disneyland,33.720578,-116.215561
224,2010-03-25 23:39:35+00:00,@Starbucks with @SprklO http://myloc.me/5eBI2,"{'username': 'caseyrriley', 'id': 15138932, 'd...","Temecula, CA",33.720578,-116.215561
225,2010-03-23 15:58:40+00:00,@Starbucks despite what's in display the locat...,"{'username': 'Toddo44', 'id': 20851397, 'displ...",Southern California,33.720578,-116.215561

,date,content,user,user_location,lat,lng
0,2021-07-13 07:54:33+00:00,@Starbucks https://t.co/l3vm9wonZ0,"{'username': 'm1ssvenic3', 'id': 1250297286329...",she/her.20.MANCHESTER,33.961681,-118.353131
1,2021-07-11 18:10:13+00:00,Do not DM me @StarbucksCare . You’ve wasted my...,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,33.961681,-118.353131
2,2021-07-11 18:10:10+00:00,She’d NEVER ask a man in a wheelchair what gua...,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,33.961681,-118.353131
3,2021-07-11 18:10:10+00:00,The employee who discriminated against me was....,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,33.961681,-118.353131
4,2021-07-11 18:10:10+00:00,"The irony is, THIS HERE, is what I was seeking...","{'username': 'jenpricci', 'id': 73474374, 'dis...",,33.961681,-118.353131
...,...,...,...,...,...,...
4995,2017-07-07 01:14:41+00:00,It's as if @Starbucks had scientifically engin...,"{'username': 'TheMarkRoman', 'id': 28444084, '...","Hollywood, Los Angeles",33.961681,-118.353131
4996,2017-07-06 18:32:26+00:00,Dropping your venti #coldbrew suckssss but @St...,"{'username': 'andrewcurryla', 'id': 17204919, ...","Los Angeles, CA",33.961681,-118.353131
4997,2017-07-05 20:52:33+00:00,@LAScoresCup @StubHubCenter And a huge thanks ...,"{'username': 'LAScores', 'id': 113075254, 'dis...","Los Angeles, CA",33.961681,-118.353131
4998,2017-07-05 20:49:09+00:00,"I'm not one to complain about food service, bu...","{'username': 'isabelghuerta', 'id': 379012577,...",So. Cal,33.961681,-118.353131
4999,2017-07-05 20:21:41+00:00,"@abigail_purcell @Starbucks Uh oh, please keep...","{'username': 'BenRSuarez', 'id': 444904446, 'd...",San Francisco | Los Angeles,33.961681,-118.353131

,date,content,user,user_location,lat,lng
0,2021-07-13 23:46:06+00:00,@KookyPersona @Starbucks For real?! The SF cin...,"{'username': 'Siloeyes', 'id': 15428312, 'disp...",Orange County,33.683947,-117.794694
1,2021-07-13 01:07:48+00:00,@LaceyKesler @Starbucks Wow. Engineering fix a...,"{'username': 'FAfied32', 'id': 14470761, 'disp...","Costa Mesa, CA",33.683947,-117.794694
2,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.683947,-117.794694
3,2021-07-07 22:00:15+00:00,This week we’re celebrating a #weekofkindness....,"{'username': 'AnnaPerezSbux', 'id': 1295934760...","Santa Ana, CA",33.683947,-117.794694
4,2021-07-06 23:37:44+00:00,"Now that the 4th of July is over, when is Pump...","{'username': 'janelc1228', 'id': 15302540, 'di...",Southern California,33.683947,-117.794694
...,...,...,...,...,...,...
1295,2010-09-25 16:24:59+00:00,"Car droped off car, walked to @starbucks, now ...","{'username': 'colorcopies', 'id': 15883869, 'd...","Santa ana, ca",33.683947,-117.794694
1296,2010-09-25 00:27:25+00:00,Does anybody know anybody that works at @Starb...,"{'username': 'StewartRamsey', 'id': 71354605, ...","Newport Beach, CA",33.683947,-117.794694
1297,2010-08-04 18:23:43+00:00,Happy I'm a gold level @starbucks customer,"{'username': 'ali_asgar', 'id': 28449307, 'dis...",,33.683947,-117.794694
1298,2010-03-23 15:40:02+00:00,Nevermind on the earlier tweet about @starbuck...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.683947,-117.794694
1299,2010-03-23 15:09:28+00:00,To #UCI peeps: our @starbucks is NOT participa...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.683947,-117.794694

,date,content,user,user_location,lat,lng
0,2021-07-07 18:26:02+00:00,The pawfect coffee date. ☕️ ❤️ @Starbucks \n📸...,"{'username': 'LakewoodCenter', 'id': 41459776,...","Lakewood, CA",33.853628,-118.133956
1,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.853628,-118.133956
2,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.853628,-118.133956
3,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.853628,-118.133956
4,2021-06-26 21:03:22+00:00,@FLYHIGH_310 @Starbucks You know what I mean. Lol,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.853628,-118.133956
...,...,...,...,...,...,...
88,2020-11-15 12:36:02+00:00,@nearpod @Starbucks @UberEats So grateful to h...,"{'username': 'Yu27G', 'id': 1971998047, 'displ...",Paramount Park Middle School,33.853628,-118.133956
89,2020-11-09 23:21:41+00:00,So excited about the seasonal drinks at @Starb...,"{'username': 'isabelCSULB', 'id': 129801273410...","Los Angeles, CA",33.853628,-118.133956
90,2020-11-07 17:10:28+00:00,@AMilksssss @Starbucks Bruh thats hella cute,"{'username': 'kathyozil2', 'id': 1245851678030...","Long Beach, CA",33.853628,-118.133956
91,2020-11-06 23:24:31+00:00,Got my holiday 🎄🎅🏻 cup thanks.@Starbucks,"{'username': 'jdmfatima', 'id': 10175365860056...","Downey, CA",33.853628,-118.133956
92,2020-11-06 13:23:12+00:00,"I literally just went to sleep , now I'm @Star...","{'username': 'LynnieMonaeee', 'id': 163250716,...","Los Angeles, CA",33.853628,-118.133956

,date,content,user,user_location,lat,lng
0,2021-06-10 19:39:08+00:00,"Starbucks anyone, mocha Frappuccino blended.\...","{'username': 'TheJPplan', 'id': 85552824877143...","Los Angeles, CA",34.686786,-118.154164
1,2021-06-04 00:49:37+00:00,@JessOchoaMEd @pgilders @zjgalvan @DrMariaMPou...,"{'username': 'santiagoAM115', 'id': 96279145, ...","Rosamond, CA",34.686786,-118.154164
2,2021-05-14 15:10:41+00:00,@Starbucks Where is the S’mores Frap at. I’m n...,"{'username': 'pesssttt_', 'id': 1535697456, 'd...",sc: pesssstttt,34.686786,-118.154164
3,2021-05-01 00:55:49+00:00,@Starbucks Venti iced chai tea latte with almo...,"{'username': 'karlit25a', 'id': 98455794656563...","Northridge, Los Angeles",34.686786,-118.154164
4,2021-04-17 01:40:28+00:00,@Starbucks when will indoor seating for studyi...,"{'username': 'pesssttt_', 'id': 1535697456, 'd...",sc: pesssstttt,34.686786,-118.154164
...,...,...,...,...,...,...
139,2012-10-13 21:53:30+00:00,@annikakes Yep today is a bit better! Thanks t...,"{'username': 'BadReligionTina', 'id': 55322272...","My spiritual home in Welly, NZ",34.686786,-118.154164
140,2012-10-12 22:54:38+00:00,@BellaFromTheMar Can't wait til that day happe...,"{'username': 'BadReligionTina', 'id': 55322272...","My spiritual home in Welly, NZ",34.686786,-118.154164
141,2012-08-31 16:16:50+00:00,"@bretweir and yes, they served him. Nice job @...","{'username': 'bretweir', 'id': 15365382, 'disp...","California City, CA",34.686786,-118.154164
142,2012-04-13 21:36:24+00:00,#Fridaythe13th and I'm having a lovely hot cho...,"{'username': 'BadReligionTina', 'id': 55322272...","My spiritual home in Welly, NZ",34.686786,-118.154164
143,2012-03-23 02:46:00+00:00,I asked my dad for @Starbucks and this wigga b...,"{'username': '_thedennison', 'id': 90107167, '...","Oakland, CA",34.686786,-118.154164

,date,content,user,user_location,lat,lng
0,2021-07-04 20:03:59+00:00,I hate how @Starbucks points expires. Greedy a...,"{'username': 'Mike209D', 'id': 514074189, 'dis...",,37.681875,-121.768008
1,2021-06-21 00:03:29+00:00,@upsteadheart @Starbucks That sounds delicious...,"{'username': 'AnnemarieRoss', 'id': 6973310435...","California, USA",37.681875,-121.768008
2,2021-06-20 21:16:57+00:00,I got a strawberry lemonade açaí refresher wit...,"{'username': 'AnnemarieRoss', 'id': 6973310435...","California, USA",37.681875,-121.768008
3,2020-12-05 04:57:35+00:00,@daniellemquinn @Starbucks @asuonline Atta gir...,"{'username': 'JoeyShreffler', 'id': 1055127269...","Livermore, CA",37.681875,-121.768008
4,2020-08-25 16:18:19+00:00,This is supposed to be a “wrap?” Hey @Starbuck...,"{'username': 'MrsRaider_Dave', 'id': 23339872,...",California,37.681875,-121.768008
...,...,...,...,...,...,...
170,2011-05-20 03:05:10+00:00,Watching Jamie's @Starbucks softball team play...,"{'username': 'mhartshorn', 'id': 23256248, 'di...","Ontario, CA",37.681875,-121.768008
171,2011-05-10 21:15:36+00:00,I like the black iced tea lemonade better here...,"{'username': 'adamwc', 'id': 10197082, 'displa...","Racine, WI",37.681875,-121.768008
172,2011-01-29 22:45:48+00:00,"Really, @Starbucks?!?!?! WTF is this? You see ...","{'username': 'Mx_IvyQuinn', 'id': 22405869, 'd...","San Francisco / Livermore, CA",37.681875,-121.768008
173,2010-06-24 19:48:57+00:00,She missed me!:) @brandiiiiiiiiii @Starbucks ...,"{'username': 'RXQueenGabby', 'id': 36251970, '...",,37.681875,-121.768008
174,2010-06-19 21:51:51+00:00,The guy that works @Starbucks is sooo cute. I ...,"{'username': 'RXQueenGabby', 'id': 36251970, '...",,37.681875,-121.768008

,date,content,user,user_location,lat,lng
0,2021-07-07 00:49:11+00:00,Excuse me @Starbucks I will literally not allo...,"{'username': 'huntercw13', 'id': 123525793, 'd...",california,33.768322,-118.195617
1,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.768322,-118.195617
2,2021-06-26 23:39:49+00:00,Hoy se agotan las gift cards de @Starbucks ......,"{'username': 'reneromanosport', 'id': 33569742...",TheLAVox headquarters,33.768322,-118.195617
3,2021-06-26 21:03:22+00:00,@FLYHIGH_310 @Starbucks You know what I mean. Lol,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.768322,-118.195617
4,2021-06-26 19:44:08+00:00,The one time I get @Starbucks and I throw up. ...,"{'username': 'DapperDuck34', 'id': 10966699684...","Carson, CA",33.768322,-118.195617
...,...,...,...,...,...,...
463,2015-12-24 01:18:25+00:00,@Starbucks #RedCupArt. I just changed a lit...,"{'username': 'wang9727', 'id': 363797656, 'dis...","Temple City, California USA",33.768322,-118.195617
464,2015-12-24 00:24:39+00:00,@Starbucks #RedCupArt https://t.co/xt5LiT57gl,"{'username': 'wang9727', 'id': 363797656, 'dis...","Temple City, California USA",33.768322,-118.195617
465,2015-12-16 22:33:56+00:00,It's only 63 degrees but I'm freezing. Drinkin...,"{'username': 'bnopster', 'id': 3146843342, 'di...","Huntington Beach, CA",33.768322,-118.195617
466,2015-12-15 19:03:31+00:00,"On a break, 2 great speakers. Complimentary @s...","{'username': 'ajyourtrainer', 'id': 181991754,...","Hollywood, CA",33.768322,-118.195617
467,2015-12-04 07:20:34+00:00,Just a laugh to end the day. ✌🏼😂#CantMakeThatU...,"{'username': 'julliehammer', 'id': 1240580443,...",Traveling Hairystylist USA,33.768322,-118.195617

,date,content,user,user_location,lat,lng
0,2021-07-13 23:44:35+00:00,@walkingoogle @Starbucks redeem these 4500 sta...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.052233,-118.243686
1,2021-07-13 23:44:16+00:00,@_YeOldeCabin @Starbucks what about 4500 stars...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.052233,-118.243686
2,2021-07-13 23:43:56+00:00,@marinergirl75 @Starbucks but do you have 4500...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.052233,-118.243686
3,2021-07-13 23:43:26+00:00,@Starbucks will you share this on your main pa...,"{'username': 'are_why_a_in', 'id': 390560316, ...","Los Angeles, CA",34.052233,-118.243686
4,2021-07-13 20:35:24+00:00,What are your executives doing to end voter su...,"{'username': 'scottdaly', 'id': 16787466, 'dis...","Los Angeles, CA",34.052233,-118.243686
...,...,...,...,...,...,...
2903,2010-11-19 23:57:33+00:00,2-for-1 #holiday drinks @Starbucks w/co-worker...,"{'username': 'thepaulmeyers', 'id': 42331021, ...","Los Angeles, CA",34.052233,-118.243686
2904,2010-11-18 00:54:37+00:00,For some reason I didn't think the @starbucks ...,"{'username': 'julieptong', 'id': 108232476, 'd...","New York, NY",34.052233,-118.243686
2905,2010-10-06 20:39:21+00:00,This @starbucks is vastly understaffed. (@ Sta...,"{'username': 'JLuk', 'id': 21018190, 'displayn...","New York, NY",34.052233,-118.243686
2906,2010-09-27 18:42:10+00:00,Last night we saw @jesus in the subway.. He dr...,"{'username': 'edieeverson', 'id': 17871157, 'd...",New York City,34.052233,-118.243686
2907,2010-06-24 03:37:26+00:00,Thank you @Starbucks! I love my #Frappuccino c...,"{'username': 'IsraelDuran', 'id': 34211552, 'd...","Portland, OR",34.052233,-118.243686

,date,content,user,user_location,lat,lng
0,2021-07-01 22:31:46+00:00,@Starbucks does this look like a fucking chees...,"{'username': 'brattybrittanny', 'id': 11788981...",,37.302164,-120.482967
1,2021-04-17 02:35:19+00:00,@Starbucks I. Am. Addicted. Officially. 🍵,"{'username': 'katwurld', 'id': 102155993884844...",la,37.302164,-120.482967
2,2021-03-26 16:20:50+00:00,@Starbucks didn’t give me my cream cheese and ...,"{'username': 'merraaa23', 'id': 10276450755121...",,37.302164,-120.482967
3,2021-01-06 17:13:17+00:00,Ordered a @Starbucks and couldn’t even pick it...,"{'username': 'AntRiich84', 'id': 3091805101, '...",,37.302164,-120.482967
4,2020-10-05 18:44:13+00:00,This week is already cancelled. Dropped my dri...,"{'username': 'AntRiich84', 'id': 3091805101, '...",,37.302164,-120.482967
...,...,...,...,...,...,...
87,2012-11-23 18:46:51+00:00,#ArtInstallation titled #Black #Chairs OR ...,"{'username': 'BobBackwardsLA', 'id': 275938652...",Los Angeles,37.302164,-120.482967
88,2012-11-21 22:11:27+00:00,#Perfect #Oatmeal &amp; Venti Blonde Roast #co...,"{'username': 'BobBackwardsLA', 'id': 275938652...",Los Angeles,37.302164,-120.482967
89,2012-09-02 21:20:15+00:00,Shade #shaded #sunday #summer #sunlight #merce...,"{'username': 'BobBackwardsLA', 'id': 275938652...",Los Angeles,37.302164,-120.482967
90,2012-03-01 21:15:43+00:00,@starbucks with @vanitybri_91 today. woooo,"{'username': '22ten91', 'id': 49848798, 'displ...",CA,37.302164,-120.482967
91,2011-04-19 20:12:14+00:00,@ImTheBirdie @Starbucks YES PLEASE!,"{'username': 'william_clayton', 'id': 28128283...",North Carolina,37.302164,-120.482967

,date,content,user,user_location,lat,lng
0,2021-07-06 18:45:33+00:00,Drink Sustainably with beyondGREEN’s PHA Straw...,"{'username': 'beyondGREEN_USA', 'id': 48788445...","Orange County, CA",33.600022,-117.671994
1,2021-06-26 01:26:10+00:00,@Starbucks HOW COULD YOU? HOW DARE YOU? WHAT W...,"{'username': 'movieposterguy', 'id': 109503033...","Irvine, CA",33.600022,-117.671994
2,2021-06-21 19:06:22+00:00,Staff got @Starbucks this morning. We are read...,"{'username': 'TheImageCenter', 'id': 110267004...","Huntington Beach, CA",33.600022,-117.671994
3,2021-04-03 18:55:54+00:00,@Starbucks investing and roasting #coffee in #...,"{'username': 'DefensTech', 'id': 1439236826, '...",United States,33.600022,-117.671994
4,2021-04-03 18:48:36+00:00,@2emaNdelbbircS @Starbucks roasted coffee made...,"{'username': 'DefensTech', 'id': 1439236826, '...",United States,33.600022,-117.671994
...,...,...,...,...,...,...
641,2010-11-22 15:46:34+00:00,Mmm @starbucks,"{'username': 'StevenTroye', 'id': 30596216, 'd...","Orange County, California USA",33.600022,-117.671994
642,2010-08-09 21:49:03+00:00,@Starbucks i use the cold cups that i get in s...,"{'username': 'JasonBossert', 'id': 22342008, '...","Sunrise, FL",33.600022,-117.671994
643,2010-07-23 20:48:45+00:00,@Starbucks- Thinking about going to sit at sta...,"{'username': 'JasonBossert', 'id': 22342008, '...","Sunrise, FL",33.600022,-117.671994
644,2010-06-08 00:07:36+00:00,Can someone at @Starbucks tell me the foursqua...,"{'username': 'jrgutier', 'id': 645253, 'displa...","Oklahoma City, OK",33.600022,-117.671994
645,2010-04-15 15:26:31+00:00,Picking up the great pastries our local @Starb...,"{'username': 'Toddo44', 'id': 20851397, 'displ...",Southern California,33.600022,-117.671994

,date,content,user,user_location,lat,lng
0,2021-05-10 14:33:05+00:00,@Starbucks we want S’MORES,"{'username': 'kiwibx', 'id': 3311456352, 'disp...",,37.639097,-120.996878
1,2021-05-02 02:17:18+00:00,I miss @Starbucks mocha coconut frap soooooooo...,"{'username': 'KarlawithaK1325', 'id': 33944029...",Alex,37.639097,-120.996878
2,2021-03-21 18:53:33+00:00,@Starbucks the banana nut loaf is amazing th...,"{'username': 'DboiiWitDaRicee', 'id': 89690646...","California, USA",37.639097,-120.996878
3,2021-02-07 19:10:02+00:00,On my way to get my @Starbucks fix,"{'username': 'queencobra5150', 'id': 102075604...","Modesto, CA",37.639097,-120.996878
4,2021-01-28 16:27:58+00:00,when @Starbucks still fucks up your order afte...,"{'username': 'saassysag', 'id': 3280460898, 'd...",welcome2 a real bitchs twitter,37.639097,-120.996878
...,...,...,...,...,...,...
301,2011-04-27 15:56:47+00:00,#GoodMorning ... extra shots please! @Starbuck...,"{'username': 'MelissaCohoon', 'id': 18423446, ...",Silicon Valley,37.639097,-120.996878
302,2011-04-05 03:48:31+00:00,@Starbucks: appreciate the dirty looks when I ...,"{'username': 'ayyosteph', 'id': 137570960, 'di...",C A L I F O R N I A,37.639097,-120.996878
303,2010-12-21 06:38:15+00:00,@starbucks http://we.rw/t5NHD (+50pts),"{'username': 'DJDRuNKuNMuNKy', 'id': 128481255...",KaLi4NiA,37.639097,-120.996878
304,2010-11-23 19:02:51+00:00,Enjoying some Christmas Blend at @Starbucks wh...,"{'username': 'ChristopherLS', 'id': 16084648, ...","Moses Lake, Washington",37.639097,-120.996878
305,2010-08-19 20:45:19+00:00,was gonna lay down to relax for a bit.. not th...,"{'username': 'Nina_0Li', 'id': 170956242, 'dis...",TheCity. SF.,37.639097,-120.996878

,date,content,user,user_location,lat,lng
0,2021-07-06 18:07:47+00:00,@CherishToday08 @GabrielleEgolf @Starbucks @Da...,"{'username': 'AngieLepe6', 'id': 1350599897431...","Moreno Valley, Ca.",33.942467,-117.229672
1,2021-03-19 18:28:42+00:00,Dear @Starbucks why don’t you guys have the PE...,"{'username': 'davidanthoney', 'id': 148187508,...",Hell,33.942467,-117.229672
2,2020-12-05 02:54:57+00:00,Starbucks – The Best Coffee and Espresso Drink...,"{'username': 'damien_66', 'id': 47684064, 'dis...",Sunny Southern California,33.942467,-117.229672
3,2020-07-23 18:27:38+00:00,When the drive thru barista gives your drink t...,"{'username': 'funkym0nky', 'id': 40087141, 'di...",,33.942467,-117.229672
4,2020-07-14 04:42:49+00:00,@carlaveee @Starbucks https://t.co/RQqXVCYOOX,"{'username': 'VinnySalcedo26', 'id': 492040351...","Riverside, CA",33.942467,-117.229672
5,2020-07-07 15:55:16+00:00,"Listen, I understand that the drive thru has ...","{'username': 'funkym0nky', 'id': 40087141, 'di...",,33.942467,-117.229672
6,2020-05-19 18:22:45+00:00,Aww! Why thank you @Starbucks on Day st. In Mo...,"{'username': 'funkym0nky', 'id': 40087141, 'di...",,33.942467,-117.229672
7,2020-05-02 22:54:42+00:00,@furbeemarissa29 @GVigoda @CharmCityGing @Star...,"{'username': 'merry_shai', 'id': 29849771, 'di...",Somewhere in California,33.942467,-117.229672
8,2020-04-23 21:22:05+00:00,. @Starbucks making my day💚 https://t.co/VAck3...,"{'username': 'miriamvillazon', 'id': 199342515...","Riverside, CA",33.942467,-117.229672
9,2020-04-08 17:37:32+00:00,"Forgot to post yesterday’s mug, but here is to...","{'username': 'DonnieCriswell', 'id': 244761499...","Moreno Valley, CA",33.942467,-117.229672
10,2020-04-02 13:53:26+00:00,Perks of being a healthcare worker I’ve been g...,"{'username': '_muajunkiie', 'id': 772598087017...",,33.942467,-117.229672
11,2020-02-24 20:54:41+00:00,Can you bring back the old chicken wrap the ne...,"{'username': 'stephaniee___am', 'id': 19207133...",,33.942467,-117.229672
12,2020-02-19 23:36:03+00:00,Thank you to whoever gave this to me and paid ...,"{'username': 'djpoliak', 'id': 26675855, 'disp...","I.E., Ca",33.942467,-117.229672
13,2020-02-06 06:43:30+00:00,@drummertito13 @Starbucks Relax,"{'username': 'jahmadsax', 'id': 2555570778, 'd...","Rancho Belago, CA",33.942467,-117.229672
14,2020-01-25 20:51:55+00:00,@Starbucks DM,"{'username': 'LORDMACC', 'id': 838828494, 'dis...","Las Vegas, NV",33.942467,-117.229672
15,2020-01-25 20:50:02+00:00,@Starbucks is Starbucks on you today dm me I n...,"{'username': 'LORDMACC', 'id': 838828494, 'dis...","Las Vegas, NV",33.942467,-117.229672
16,2019-12-25 19:53:03+00:00,@MrKustomzCEO @Starbucks @MorongoCasino Crazy ...,"{'username': 'JHWreporter', 'id': 28669792, 'd...","Riverside, CA",33.942467,-117.229672
17,2019-12-07 07:39:17+00:00,@Starbucks @Starbucksnews This needs to be lo...,"{'username': 'Veronica1776', 'id': 52652701, '...","Moreno Valley, CA",33.942467,-117.229672
18,2019-11-27 22:41:17+00:00,Looks interesting @starbucks \n#firsttimeadven...,"{'username': 'jjackson235', 'id': 145153049, '...",the murda-College Park,33.942467,-117.229672
19,2019-11-21 15:48:19+00:00,@BlendBeast @Starbucks @ultabeauty @Sephora @T...,"{'username': 'Veronica1776', 'id': 52652701, '...","Moreno Valley, CA",33.942467,-117.229672
20,2019-11-16 16:54:30+00:00,Why can’t we have something other than @starbu...,"{'username': 'lilhoetoes', 'id': 187340879, 'd...",Southern California,33.942467,-117.229672
21,2019-11-07 18:04:21+00:00,@TheGnarlyGoat @Starbucks Or Belsnickel,"{'username': 'MagnaCarterDC', 'id': 1010803053...",Snyderverse,33.942467,-117.229672
22,2019-11-07 18:03:31+00:00,@TheGnarlyGoat @Starbucks If you say that out ...,"{'username': 'MagnaCarterDC', 'id': 1010803053...",Snyderverse,33.942467,-117.229672
23,2019-10-27 13:22:23+00:00,@Starbucks I’m not one to bitch and moan often...,"{'username': 'RDWolfeBooks', 'id': 79872153, '...",SoCal,33.942467,-117.229672
24,2019-09-02 06:38:03+00:00,Thankful for 24-hour coffee shops. @Starbucks ...,"{'username': 'AustinDave_', 'id': 968788490, '...","Santa Clarita, California",33.942467,-117.229672
25,2019-08-30 04:17:59+00:00,@Starbucks is there something you can do for m...,"{'username': 'theclassy_1one', 'id': 258537198...","California, USA",33.942467,-117.229672
26,2019-08-29 23:51:08+00:00,I’m so fucking mad when dumb B***** @Starbucks...,"{'username': 'theclassy_1one', 'id': 258537198...","California, USA",33.942467,-117.229672
27,2019-08-28 14:24:19+00:00,Hey @Starbucks can you tell me what's wrong wi...,"{'username': 'ScreamoKid', 'id': 12713432, 'di...",Gotham,33.942467,-117.229672
28,2019-08-14 09:09:27+00:00,@MattSchoenmann @Leung__Wendy @Starbucks Awww ...,"{'username': 'JHWreporter', 'id': 28669792, 'd...","Riverside, CA",33.942467,-117.229672
29,2019-08-14 07:03:51+00:00,@MattSchoenmann @Leung__Wendy @Starbucks Facts...,"{'username': 'JHWreporter', 'id': 28669792, 'd...","Riverside, CA",33.942467,-117.229672
30,2019-08-14 06:50:55+00:00,@Leung__Wendy @MattSchoenmann @Starbucks I wou...,"{'username': 'JHWreporter', 'id': 28669792, 'd...","Riverside, CA",33.942467,-117.229672
31,2019-08-14 06:24:45+00:00,@MattSchoenmann @Leung__Wendy @Starbucks I swe...,"{'username': 'JHWreporter', 'id': 28669792, 'd...","Riverside, CA",33.942467,-117.229672
32,2019-07-18 16:31:53+00:00,Everyone in the family gets @Starbucks Shout ...,"{'username': 'MayorPwnage', 'id': 3943995734, ...","Dallas, TX",33.942467,-117.229672
33,2019-07-07 13:29:26+00:00,@jlumfox10 @ToaAz @Starbucks Surprised no one ...,"{'username': 'bradyfix', 'id': 370493899, 'dis...",,33.942467,-117.229672
34,2019-07-06 23:47:59+00:00,I know exactly what I would say: ”Everyone is ...,"{'username': 'glenn_h', 'id': 16197222, 'displ...",California,33.942467,-117.229672
35,2019-06-19 03:58:00+00:00,Really @Starbucks?! This is my grande soy whit...,"{'username': 'iambatgirl69', 'id': 80995289, '...","Mo Val, CA",33.942467,-117.229672
36,2019-06-14 19:12:17+00:00,This is how we do #BirthdayShots ... Yep it's ...,"{'username': 'IamToiT', 'id': 1245741764, 'dis...",California,33.942467,-117.229672
37,2019-06-02 18:46:25+00:00,"When you’re a good, brave girl at your first o...","{'username': 'TeresaRhyne', 'id': 500944385, '...","Paso Robles, CA",33.942467,-117.229672
38,2019-05-27 05:51:04+00:00,When you roll up to @Starbucks and see a dog i...,"{'username': 'jjackson235', 'id': 145153049, '...",the murda-College Park,33.942467,-117.229672
39,2019-05-14 00:16:04+00:00,"apart from chai tea, the shaken black iced tea...","{'username': '_Saryyy', 'id': 202019584, 'disp...",,33.942467,-117.229672
40,2019-05-09 17:37:17+00:00,@queen_kasssy @bpaulineeee @Starbucks Venti wa...,"{'username': 'simpl0rd', 'id': 617896514, 'dis...","Riverside, CA",33.942467,-117.229672

,date,content,user,user_location,lat,lng
0,2021-07-13 05:32:35+00:00,@Starbucks what is “standard menu size” for bi...,"{'username': 'mtnlyte13', 'id': 91738382077669...","Napa, CA",38.297539,-122.286864
1,2021-03-17 04:21:10+00:00,@Stop_Trump20 I have a big time at my Starbuck...,"{'username': 'SuzRoy', 'id': 26867799, 'displa...","Napa, CA",38.297539,-122.286864
2,2021-01-31 04:36:54+00:00,"@Starbucks Hiiiii, is the Cocoa ☁️ Machiatto e...","{'username': 'Sparetheairika', 'id': 22748874,...","Napa, CA",38.297539,-122.286864
3,2020-11-19 15:48:18+00:00,@Starbucks app really out to get me this morni...,"{'username': 'yasmiiiiiine_', 'id': 3102022531...",,38.297539,-122.286864
4,2020-11-07 05:53:59+00:00,@mevansjr12 @RexChapman @Starbucks Can we get ...,"{'username': 'bottlepopbetty', 'id': 76185314,...","Bay Area, CA",38.297539,-122.286864
...,...,...,...,...,...,...
120,2012-11-09 16:51:51+00:00,Wow napa may have the most unfriendly @Starbuc...,"{'username': 'kroden', 'id': 17302562, 'displa...","Seattle, WA",38.297539,-122.286864
121,2012-09-15 16:28:25+00:00,@domestik8d stupid @mcdonalds and @Starbucks b...,"{'username': 'elitistbroseph', 'id': 15577814,...","Eureka, CA",38.297539,-122.286864
122,2012-03-11 23:09:22+00:00,I found my car's twin! Crazy. (with @smileymar...,"{'username': 'themacinjosh', 'id': 629743, 'di...","North Hollywood, CA",38.297539,-122.286864
123,2011-11-08 20:38:49+00:00,"Apparently, school just got out here in #Napa....","{'username': 'thepaulmeyers', 'id': 42331021, ...","Los Angeles, CA",38.297539,-122.286864
124,2011-07-27 03:52:53+00:00,Going 2 go n get my coffee @Starbucks on Jeffe...,"{'username': 'NAVEEDRBHATTI', 'id': 33192295, ...","Vallejo, California USA",38.297539,-122.286864

,date,content,user,user_location,lat,lng
0,2021-07-13 01:07:48+00:00,@LaceyKesler @Starbucks Wow. Engineering fix a...,"{'username': 'FAfied32', 'id': 14470761, 'disp...","Costa Mesa, CA",33.618911,-117.928947
1,2021-07-12 19:43:49+00:00,Some drinks are more perfect than others. My B...,"{'username': 'HBGhostCrypt', 'id': 90952339540...","Huntington Beach, CA",33.618911,-117.928947
2,2021-07-11 16:52:53+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.618911,-117.928947
3,2021-07-11 15:06:04+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.618911,-117.928947
4,2021-07-08 15:26:03+00:00,Learn from the best. These brands know what th...,"{'username': 'BenchmarkEmail', 'id': 23979865,...","Huntington Beach, CA",33.618911,-117.928947
...,...,...,...,...,...,...
1199,2010-09-25 00:27:25+00:00,Does anybody know anybody that works at @Starb...,"{'username': 'StewartRamsey', 'id': 71354605, ...","Newport Beach, CA",33.618911,-117.928947
1200,2010-08-08 19:00:16+00:00,Is grabbing some @Starbucks,"{'username': 'fabulousjoshie', 'id': 74038032,...",From Small town Now Cincinnati,33.618911,-117.928947
1201,2010-05-12 21:58:37+00:00,I really do love @starbucks! iced drink on a b...,"{'username': 'kyleberns', 'id': 31200766, 'dis...","Melbourne, Victoria",33.618911,-117.928947
1202,2010-05-09 21:51:09+00:00,I haven't been to @Starbucks in two days. Some...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.618911,-117.928947
1203,2010-05-07 22:03:46+00:00,It's Frappy Hour at @Starbucks!! 1/2 all Frapp...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.618911,-117.928947

,date,content,user,user_location,lat,lng
0,2021-07-12 03:34:28+00:00,@loqua_renee @Starbucks Ohhhh I believe that. ...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.902236,-118.081733
1,2021-07-12 02:33:32+00:00,@tobybrooke @Starbucks Well that too. 🤣,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.902236,-118.081733
2,2021-07-12 02:25:06+00:00,We all know that churches spend all their unta...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.902236,-118.081733
3,2021-07-07 18:26:02+00:00,The pawfect coffee date. ☕️ ❤️ @Starbucks \n📸...,"{'username': 'LakewoodCenter', 'id': 41459776,...","Lakewood, CA",33.902236,-118.081733
4,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.902236,-118.081733
5,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.902236,-118.081733
6,2021-06-20 18:28:04+00:00,whoever came up with the medicine ball at @Sta...,"{'username': 'chrispychriscat', 'id': 39141596...","Pasadena, CA",33.902236,-118.081733
7,2021-06-19 16:21:10+00:00,"Entire order messed up @Starbucks wrong food, ...","{'username': 'FritzOKC', 'id': 47522633, 'disp...","Oklahoma City, OK",33.902236,-118.081733
8,2021-06-16 16:37:57+00:00,@MellertWhite @Starbucks Great pic !!!!!!!,"{'username': 'jerry077', 'id': 23564725, 'disp...",EAST LOS ANGELES,33.902236,-118.081733
9,2021-06-12 17:29:29+00:00,At first I was stoked that @th0tpilgrim got a ...,"{'username': 'frankreina', 'id': 17139832, 'di...","Cerritos, California",33.902236,-118.081733
10,2021-05-29 16:05:01+00:00,@imbradmiller @Starbucks Yup I have 3 of them ...,"{'username': 'jasontucker', 'id': 791125, 'dis...","Whittier, CA 90603",33.902236,-118.081733
11,2021-05-14 23:35:32+00:00,@mjoffixial @Starbucks Yea it’s reallyyyy good!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.902236,-118.081733
12,2021-05-14 23:35:23+00:00,@mjoffixial @Starbucks I tried it!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.902236,-118.081733
13,2021-05-07 16:12:05+00:00,@Starbucks we're in the home stretch and tryin...,"{'username': 'iSouthsideCC', 'id': 2314103161,...","Inglewood, CA",33.902236,-118.081733
14,2021-05-07 15:51:47+00:00,@Starbucks 💚🤗 https://t.co/lbAKmxOf36,"{'username': 'TerrifiedRabbit', 'id': 11114669...","Downey, CA/Beggar's Canyon",33.902236,-118.081733
15,2021-05-03 07:05:55+00:00,I’m fucking tweaking bro fuck you @Starbucks,"{'username': 'physiczxxx', 'id': 9186809541340...",Trust not even a soul,33.902236,-118.081733
16,2021-05-02 00:11:35+00:00,@MitchellZarro @Starbucks No way lmao,"{'username': 'arahmanipour', 'id': 443490157, ...",,33.902236,-118.081733
17,2021-04-30 16:30:05+00:00,@Starbucks since yall been out of soymilk for ...,"{'username': 'mzcale21', 'id': 1309251584, 'di...",,33.902236,-118.081733
18,2021-04-30 16:27:40+00:00,@Starbucks I knw yall probably having supplier...,"{'username': 'mzcale21', 'id': 1309251584, 'di...",,33.902236,-118.081733

,date,content,user,user_location,lat,lng
0,2021-07-14 04:25:40+00:00,"@kfury @Starbucks Yes, if you start at the fir...","{'username': 'chrismessina', 'id': 1186, 'disp...","Oakland, CA",37.804364,-122.271114
1,2021-07-14 04:00:32+00:00,"@kfury @Starbucks Can you see it now? (Yes, it...","{'username': 'chrismessina', 'id': 1186, 'disp...","Oakland, CA",37.804364,-122.271114
2,2021-07-13 16:49:16+00:00,"#stashstockparty 2020 #investing list, @Starbu...","{'username': 'dbdeveloper', 'id': 136164394, '...",OAK,37.804364,-122.271114
3,2021-07-12 01:56:47+00:00,"So far,I'm still having a Good #birthday &amp;...","{'username': 'raynesharoyale', 'id': 23398334,...","Oakland,CA",37.804364,-122.271114
4,2021-07-11 20:17:26+00:00,"Honestly, we need another @Starbucks (or @peet...","{'username': 'meekorouse', 'id': 11922222, 'di...","Berkeley, CA",37.804364,-122.271114
...,...,...,...,...,...,...
1063,2010-09-28 22:49:27+00:00,sooo hot I wanna go to @starbucks and have my ...,"{'username': 'ZhEeNgAi', 'id': 36166241, 'disp...","san francisco,ca",37.804364,-122.271114
1064,2010-08-26 17:15:28+00:00,Diggin' free wifi @Starbucks http://sbux.co/9U...,"{'username': 'matteshore', 'id': 52520853, 'di...",Silicon Valley,37.804364,-122.271114
1065,2010-06-05 03:31:09+00:00,@krzq10speed go to @Starbucks!,"{'username': 'krystilena', 'id': 73286694, 'di...","Reno, NV",37.804364,-122.271114
1066,2010-05-15 16:37:44+00:00,also in the dream I had to test 35 cups of cof...,"{'username': 'Jayson510', 'id': 22942585, 'dis...","Oakland, CA",37.804364,-122.271114
1067,2010-04-13 22:24:19+00:00,@Starbucks seriously? So why have a gold card?...,"{'username': 'metsfaninCA', 'id': 21987790, 'd...","san Bruno, ca",37.804364,-122.271114

,date,content,user,user_location,lat,lng
0,2021-07-11 02:44:59+00:00,@CherishToday08 @Starbucks Bond 💜🥂 @MissSally...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.195869,-117.379483
1,2021-07-08 05:30:28+00:00,@Starbucks what gives? wanted to pay $DOGE for...,"{'username': 'daviddelgado', 'id': 17050943, '...","Carlsbad, CA",33.195869,-117.379483
2,2021-07-07 00:10:08+00:00,@jmjohn15 @CherishToday08 @FetchTeach @Gabriel...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.195869,-117.379483
3,2021-07-06 15:19:33+00:00,@Starbucks Good idea 👍🏼,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.195869,-117.379483
4,2021-07-01 17:04:23+00:00,@Starbucks You should promote your refreshers ...,"{'username': 'estheticgod', 'id': 118525296614...","San Diego, CA",33.195869,-117.379483
...,...,...,...,...,...,...
354,2011-08-17 18:50:00+00:00,Won a @Starbucks card for getting one of the t...,"{'username': 'rodsprod', 'id': 13807252, 'disp...","iPhone: 37.331787,-122.030891",33.195869,-117.379483
355,2011-07-22 21:29:19+00:00,#jason? No #wrong #again @starbucks @ Starbu...,"{'username': 'JHSipes', 'id': 192745243, 'disp...","Oceanside, CA - Seattle, WA",33.195869,-117.379483
356,2011-04-22 15:58:01+00:00,@starbucks thanks for the free cup of joe. No...,"{'username': 'HocoaSanDiego', 'id': 221977579,...",San Diego,33.195869,-117.379483
357,2011-03-09 22:02:11+00:00,Teaching @jamesdoezie how to skateboard on the...,"{'username': 'corey_dylan', 'id': 35427941, 'd...",Ocean Beach | San Diego,33.195869,-117.379483
358,2010-11-09 16:16:57+00:00,"http://twitpic.com/35cmt3 OceansideDMV, only p...","{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.195869,-117.379483

,date,content,user,user_location,lat,lng
0,2021-07-13 18:25:10+00:00,@Starbucks In-person study sessions figuring o...,"{'username': 'cppengineering', 'id': 243610144...","Pomona, CA",34.063344,-117.650889
1,2021-07-13 16:58:10+00:00,Just had a @Starbucks caramel frap and it tast...,"{'username': 'Slarko', 'id': 196816366, 'displ...","Claremont, CA",34.063344,-117.650889
2,2021-06-29 20:40:51+00:00,@Starbucks Fuck you for discontinuing my drink...,"{'username': 'eph_jess', 'id': 3044557238, 'di...","orange county, ca",34.063344,-117.650889
3,2021-06-25 14:12:35+00:00,"stupid bitch made my coffee watery, it’s nasty...","{'username': 'TAM_RAHh', 'id': 434690692, 'dis...",california,34.063344,-117.650889
4,2021-06-23 01:23:47+00:00,@Starbucks what is this!! Why does this happe...,"{'username': 'jimpalmer87', 'id': 614105461, '...",,34.063344,-117.650889
...,...,...,...,...,...,...
835,2010-10-18 23:42:52+00:00,Just been put up on game... Green tea lemonade...,"{'username': 'RAWKITT', 'id': 19470646, 'displ...","iPhone: 33.910156,-117.457283",34.063344,-117.650889
836,2010-09-18 15:18:15+00:00,Treating myself this morning... Haven't had @S...,"{'username': 'mainerinrancho', 'id': 31158757,...","Highlands Ranch, CO",34.063344,-117.650889
837,2010-09-07 21:23:12+00:00,2nd @Starbucks of the day. ......Keep that Tre...,"{'username': 'Chapman4CM', 'id': 18007614, 'di...","Costa Mesa, CA",34.063344,-117.650889
838,2010-03-23 18:30:51+00:00,@katevoegele i found my inspiration this morni...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.063344,-117.650889
839,2010-03-23 16:31:05+00:00,@Starbucks http://twitpic.com/1agaz4 - got my ...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.063344,-117.650889

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.787794,-117.853111
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.787794,-117.853111
2,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.787794,-117.853111
3,2021-07-07 22:00:15+00:00,This week we’re celebrating a #weekofkindness....,"{'username': 'AnnaPerezSbux', 'id': 1295934760...","Santa Ana, CA",33.787794,-117.853111
4,2021-07-07 20:30:57+00:00,@Starbucks OMFG why is the CEO RUINING STARBUC...,"{'username': 'Excaligirl', 'id': 8644732, 'dis...","Norco, CA",33.787794,-117.853111
...,...,...,...,...,...,...
1866,2010-11-02 15:59:52+00:00,@starbucks getting some calm tea and honey as ...,"{'username': 'Leoskii', 'id': 36006532, 'displ...",from the Bay to LA,33.787794,-117.853111
1867,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.787794,-117.853111
1868,2010-09-25 16:24:59+00:00,"Car droped off car, walked to @starbucks, now ...","{'username': 'colorcopies', 'id': 15883869, 'd...","Santa ana, ca",33.787794,-117.853111
1869,2010-09-13 19:05:26+00:00,"At @Starbucks, and DAMN I can tell its lunch t...","{'username': 'Chapman4CM', 'id': 18007614, 'di...","Costa Mesa, CA",33.787794,-117.853111
1870,2010-07-02 00:28:51+00:00,@Starbucks =]],"{'username': 'johnymilaphoto', 'id': 111200627...","Los Angeles, CA",33.787794,-117.853111

,date,content,user,user_location,lat,lng
0,2021-07-03 15:03:13+00:00,The little morning fluff with my ☕️ @starbuck...,"{'username': 'forbesington_', 'id': 7007524279...","Ventura, CA",34.197506,-119.177053
1,2021-06-21 17:47:43+00:00,@fave_problem @Starbucks U GONNA SHARE THAT ME...,"{'username': 'mariahblowpez', 'id': 2272580809...",Los Angeles,34.197506,-119.177053
2,2021-06-21 17:43:58+00:00,@fave_problem Marketing team getting fired @St...,"{'username': 'mariahblowpez', 'id': 2272580809...",Los Angeles,34.197506,-119.177053
3,2021-06-03 19:11:26+00:00,I know it’s only June but I really need a good...,"{'username': 'Marleepage_', 'id': 107927686991...","Ventura, CA",34.197506,-119.177053
4,2021-04-28 20:34:07+00:00,Is there an almond milk/soy milk shortage? Two...,"{'username': 'joshtbernstein', 'id': 15060196,...","Ventura County, CA",34.197506,-119.177053
...,...,...,...,...,...,...
436,2011-08-26 21:39:39+00:00,Seeing triple at @Starbucks @ Starbucks http...,"{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.197506,-119.177053
437,2011-08-24 21:27:42+00:00,Too bad @Starbucks iced coffee is half as good...,"{'username': 'JanelleRBlu', 'id': 18662507, 'd...","Chapel Hill, NC",34.197506,-119.177053
438,2011-07-29 00:14:55+00:00,@Starbucks on this warm and sunny Southern Cal...,"{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.197506,-119.177053
439,2011-07-06 21:09:02+00:00,"Trenta Passion Iced Tea Lemonade, thank you @S...","{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.197506,-119.177053
440,2010-05-27 15:02:25+00:00,@Starbucks (@ Vons) http://4sq.com/9XXoPb,"{'username': 'ThatBlueEyedGuy', 'id': 20920130...","Arizona, USA",34.197506,-119.177053

,date,content,user,user_location,lat,lng
0,2021-02-12 01:41:47+00:00,NEVER AM I EVER SUPPORTING OR DRINKING @Starbucks,"{'username': 'colemanzano', 'id': 4852057880, ...","Palmdale, CA",34.579433,-118.116461
1,2021-01-01 15:00:50+00:00,@Starbucks https://t.co/2Ztr1ImIjS,"{'username': 'dora91607', 'id': 17966625, 'dis...","Palmdale, CA",34.579433,-118.116461
2,2020-04-12 17:25:09+00:00,"A huge thank you to @Starbucks, for bringing c...","{'username': 'PalmdaleSheriff', 'id': 34724038...","Antelope Valley, California",34.579433,-118.116461
3,2019-11-30 17:05:30+00:00,I guess I have established a routine.... walki...,"{'username': 'Jen_Southern', 'id': 29590330, '...","Los Angeles, CA / Dallas💙",34.579433,-118.116461
4,2019-11-08 16:30:54+00:00,"This line at @Starbucks is crazy, but am sure...","{'username': 'loanadang', 'id': 543246858, 'di...",Los Angeles,34.579433,-118.116461
...,...,...,...,...,...,...
92,2012-08-31 16:16:50+00:00,"@bretweir and yes, they served him. Nice job @...","{'username': 'bretweir', 'id': 15365382, 'disp...","California City, CA",34.579433,-118.116461
93,2012-07-04 18:53:03+00:00,“@KRS_OVOXO: Is @Starbucks really giving away ...,"{'username': 'SkweezHO', 'id': 212035351, 'dis...",Maldives,34.579433,-118.116461
94,2012-06-13 00:27:07+00:00,Summer is all about the mocha coconut! So much...,"{'username': 'mightiemik', 'id': 24651819, 'di...","Henderson, NV",34.579433,-118.116461
95,2012-05-23 22:49:10+00:00,@sylvainreynard Enjoying another reread of #Ga...,"{'username': 'ThePetAndCoffee', 'id': 48113872...",California,34.579433,-118.116461
96,2010-10-15 03:46:00+00:00,They really closed at 8:30 :( @Starbucks http...,"{'username': 'JonPobre', 'id': 16172133, 'disp...","Sacramento, CA",34.579433,-118.116461

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.147786,-118.144517
1,2021-07-12 20:31:42+00:00,@Starbucks what can you tell us about 🦉?,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.147786,-118.144517
2,2021-07-12 20:28:29+00:00,@Starbucks @awils165 Has to be #safemoon related,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.147786,-118.144517
3,2021-07-12 15:50:56+00:00,@juzjulian @Starbucks go to coffee bean and ge...,"{'username': 'theythemjess', 'id': 3314579616,...","Pasadena, CA",34.147786,-118.144517
4,2021-07-11 18:07:12+00:00,Starting a new book. #Blush by #JamieBrenner. ...,"{'username': 'windwillow69', 'id': 608198362, ...","Pasadena, California",34.147786,-118.144517
5,2021-07-07 17:39:06+00:00,@Starbucks Every day!!!!!!,"{'username': 'denagirl59', 'id': 8881714976839...","Pasadena, CA",34.147786,-118.144517
6,2021-06-29 14:21:14+00:00,"Guy: Do you like #WorldCup? ⚽️ \nMe: No, I lik...","{'username': 'LifeWithScotty', 'id': 254416718...",LA,34.147786,-118.144517
7,2021-06-16 04:26:06+00:00,@davidvisentin1 @Starbucks Then why the mermai...,"{'username': 'SugaMamasNATURE', 'id': 28006123...","Altadena, CA",34.147786,-118.144517
8,2021-06-15 14:22:36+00:00,Happy Tuesday ☕ @Starbucks https://t.co/7sxa29...,"{'username': 'jaime49ers', 'id': 136356669, 'd...",SAN FRANCISCO 49ERS,34.147786,-118.144517
9,2021-06-05 05:55:37+00:00,Also @Starbucks can your Japanese stores to do...,"{'username': 'chiemikaneko', 'id': 29936192, '...","Los Angeles, CA",34.147786,-118.144517

,date,content,user,user_location,lat,lng
0,2021-07-13 18:25:10+00:00,@Starbucks In-person study sessions figuring o...,"{'username': 'cppengineering', 'id': 243610144...","Pomona, CA",34.055228,-117.752306
1,2021-07-13 16:58:10+00:00,Just had a @Starbucks caramel frap and it tast...,"{'username': 'Slarko', 'id': 196816366, 'displ...","Claremont, CA",34.055228,-117.752306
2,2021-06-30 19:42:54+00:00,@Starbucks do you have any coupons foe next week?,"{'username': 'NotNewTwiterite', 'id': 12277639...",,34.055228,-117.752306
3,2021-06-29 20:40:51+00:00,@Starbucks Fuck you for discontinuing my drink...,"{'username': 'eph_jess', 'id': 3044557238, 'di...","orange county, ca",34.055228,-117.752306
4,2021-06-25 14:12:35+00:00,"stupid bitch made my coffee watery, it’s nasty...","{'username': 'TAM_RAHh', 'id': 434690692, 'dis...",california,34.055228,-117.752306
...,...,...,...,...,...,...
720,2010-11-19 19:05:36+00:00,"Man, @Starbucks has a strong business client b...","{'username': 'AdamGoyer', 'id': 104438475, 'di...","Los Angeles, CA",34.055228,-117.752306
721,2010-09-07 21:23:12+00:00,2nd @Starbucks of the day. ......Keep that Tre...,"{'username': 'Chapman4CM', 'id': 18007614, 'di...","Costa Mesa, CA",34.055228,-117.752306
722,2010-04-15 19:30:40+00:00,Just got my free cup! This rocks! Thanks @star...,"{'username': 'beingsalvador', 'id': 8607892, '...",Inland Empire,34.055228,-117.752306
723,2010-03-23 18:30:51+00:00,@katevoegele i found my inspiration this morni...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.055228,-117.752306
724,2010-03-23 16:31:05+00:00,@Starbucks http://twitpic.com/1agaz4 - got my ...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.055228,-117.752306

,date,content,user,user_location,lat,lng
0,2021-07-13 16:58:10+00:00,Just had a @Starbucks caramel frap and it tast...,"{'username': 'Slarko', 'id': 196816366, 'displ...","Claremont, CA",34.1064,-117.593108
1,2021-06-29 20:40:51+00:00,@Starbucks Fuck you for discontinuing my drink...,"{'username': 'eph_jess', 'id': 3044557238, 'di...","orange county, ca",34.1064,-117.593108
2,2021-06-25 14:12:35+00:00,"stupid bitch made my coffee watery, it’s nasty...","{'username': 'TAM_RAHh', 'id': 434690692, 'dis...",california,34.1064,-117.593108
3,2021-06-23 01:23:47+00:00,@Starbucks what is this!! Why does this happe...,"{'username': 'jimpalmer87', 'id': 614105461, '...",,34.1064,-117.593108
4,2021-06-16 21:33:53+00:00,MILF central at this Starbucks in Rancho Cucam...,"{'username': 'JL3710', 'id': 72138954387049676...","California, USA",34.1064,-117.593108
...,...,...,...,...,...,...
619,2010-09-18 15:18:15+00:00,Treating myself this morning... Haven't had @S...,"{'username': 'mainerinrancho', 'id': 31158757,...","Highlands Ranch, CO",34.1064,-117.593108
620,2010-09-07 21:23:12+00:00,2nd @Starbucks of the day. ......Keep that Tre...,"{'username': 'Chapman4CM', 'id': 18007614, 'di...","Costa Mesa, CA",34.1064,-117.593108
621,2010-04-15 19:30:40+00:00,Just got my free cup! This rocks! Thanks @star...,"{'username': 'beingsalvador', 'id': 8607892, '...",Inland Empire,34.1064,-117.593108
622,2010-03-23 18:30:51+00:00,@katevoegele i found my inspiration this morni...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.1064,-117.593108
623,2010-03-23 16:31:05+00:00,@Starbucks http://twitpic.com/1agaz4 - got my ...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.1064,-117.593108

,date,content,user,user_location,lat,lng
0,2021-07-08 15:11:52+00:00,@Starbucks I don’t like the caramel ribbon cru...,"{'username': 'angelsfan2009', 'id': 1445093281...","Redding, CA",40.586539,-122.391675
1,2021-05-25 16:06:59+00:00,Took a few moments this morning to drink my @S...,"{'username': 'JohnGuevaraJr', 'id': 2214823076...",Arizona,40.586539,-122.391675
2,2020-09-29 14:49:58+00:00,@Starbucks please fix your freakin app because...,"{'username': 'honey_EKM', 'id': 432768954, 'di...",,40.586539,-122.391675
3,2020-09-17 14:39:33+00:00,👉🏼 Do you need to zoom? Need fast secure WiFi?...,"{'username': 'dropin2work', 'id': 3271072891, ...",,40.586539,-122.391675
4,2020-03-24 03:13:58+00:00,@NicFayeNiv @Starbucks That’s the way it was h...,"{'username': 'onebigchaz', 'id': 2365830222, '...",Here,40.586539,-122.391675
...,...,...,...,...,...,...
64,2013-06-05 22:58:34+00:00,Stopping for a cold drink @Starbucks in Reddin...,"{'username': 'husky1984', 'id': 20578204, 'dis...","Ashland, OR",40.586539,-122.391675
65,2013-02-24 20:18:26+00:00,Wow! Thanks anonymous lady who just blessed me...,"{'username': 'jeffwitt', 'id': 26266195, 'disp...",California,40.586539,-122.391675
66,2011-10-02 04:40:01+00:00,Enjoying the little things @Starbucks,"{'username': 'jonnavarrete', 'id': 360605779, ...","Ensenada, Baja California",40.586539,-122.391675
67,2011-06-30 22:00:35+00:00,New post @ http://t.co/vial0oR. My ode to @St...,"{'username': 'songsoftheriver', 'id': 50159690...","Cottonwood, CA",40.586539,-122.391675
68,2011-06-18 20:00:37+00:00,Tried to avoid the chain coffee shops today an...,"{'username': 'andrewmeher', 'id': 16607154, 'd...",New York City,40.586539,-122.391675

,date,content,user,user_location,lat,lng
0,2021-07-12 18:33:21+00:00,@drjessigold @Starbucks @AmerenMissouri I'm ta...,"{'username': 'jack_turban', 'id': 802622679287...","Palo Alto, CA",37.485214,-122.236356
1,2021-07-08 15:50:19+00:00,@Starbucks @Jackie__Buckley PLEASE hurry. I do...,"{'username': 'jasonmcminn', 'id': 783144, 'dis...","Redwood City, CA",37.485214,-122.236356
2,2021-06-19 22:57:34+00:00,@dkegel @Starbucks Ensure + Metamucil + Starbu...,"{'username': 'dr_hsu', 'id': 242825622, 'displ...",Planet Earth,37.485214,-122.236356
3,2021-06-17 23:39:06+00:00,Still feels really awkward going inside a @Sta...,"{'username': 'atulbutte', 'id': 262365030, 'di...","San Francisco, CA",37.485214,-122.236356
4,2021-06-16 14:29:36+00:00,@dralfiee @AAKOMAProject @Starbucks 👏🏽👏🏽👏🏽 tip...,"{'username': 'HelenHsuPsyD', 'id': 2838687480,...","Stanford, CA",37.485214,-122.236356
...,...,...,...,...,...,...
980,2011-02-27 08:29:21+00:00,I want @Starbucks. I wish there was a 24hr one...,"{'username': 'MelikaGonzales', 'id': 19103795,...","San Francisco, CA",37.485214,-122.236356
981,2011-01-30 01:05:49+00:00,...testing the @Starbucks #iPhone app for paym...,"{'username': 'rowiro', 'id': 21115691, 'displa...",Somewhere,37.485214,-122.236356
982,2011-01-29 04:05:23+00:00,"A quick trip to @Starbucks for a frappuccino, ...","{'username': 'shrey_g', 'id': 29364692, 'displ...","California, USA",37.485214,-122.236356
983,2011-01-13 19:32:44+00:00,I think this was 1st time I was ever asked how...,"{'username': 'RhoAsh', 'id': 40318182, 'displa...",SF Bay Area,37.485214,-122.236356
984,2010-04-16 13:18:40+00:00,WTF? Am I making a habit of this? Already on w...,"{'username': 'celticcub1', 'id': 69486808, 'di...",san francisco,37.485214,-122.236356

,date,content,user,user_location,lat,lng
0,2021-07-13 20:32:07+00:00,"Hello @starbucks, me again. Can us struggling ...","{'username': 'GRiN216', 'id': 2832499866, 'dis...","Fontana, CA",34.1064,-117.370325
1,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.1064,-117.370325
2,2021-07-07 21:49:12+00:00,A new @Starbucks opening in San Bernardino! Wo...,"{'username': 'commgrad71', 'id': 1194157949964...",Southern California,34.1064,-117.370325
3,2021-06-22 17:03:47+00:00,I’m well aware @Starbucks doesn’t make their p...,"{'username': '__meganhuston', 'id': 20526676, ...",Los Angeles,34.1064,-117.370325
4,2021-06-15 21:42:48+00:00,@Starbucks @Nikibe It’s been 6 months,"{'username': 'KipsHaus', 'id': 1632435006, 'di...","Rialto, CA",34.1064,-117.370325
...,...,...,...,...,...,...
470,2011-09-05 23:27:41+00:00,Signs of fall=Pumpkin Spice Latte from @Starbu...,"{'username': 'errasco', 'id': 249650702, 'disp...",Southern Cali,34.1064,-117.370325
471,2011-07-25 05:49:38+00:00,Drinking @Starbucks coffee straight,"{'username': 'sophijita', 'id': 271795743, 'di...",somewhere in california,34.1064,-117.370325
472,2011-04-09 17:28:36+00:00,Tussenstop @starbucks http://t.co/8m41VX2,"{'username': 'PaulGordijn', 'id': 119506122, '...",Wijk Bij Duurstede,34.1064,-117.370325
473,2011-01-30 00:04:15+00:00,@starbucks waiting for my @bbrigette,"{'username': 'Rosa_A_Martinez', 'id': 73006692...",,34.1064,-117.370325
474,2010-07-16 21:49:59+00:00,@Starbucks i got green tea lemonade yesterday ...,"{'username': 'FERNANDODL', 'id': 22285994, 'di...","San Bernardino, CA",34.1064,-117.370325

,date,content,user,user_location,lat,lng
0,2021-07-11 20:17:26+00:00,"Honestly, we need another @Starbucks (or @peet...","{'username': 'meekorouse', 'id': 11922222, 'di...","Berkeley, CA",37.935758,-122.34775
1,2021-07-08 17:00:01+00:00,"First @Starbucks discontinued white tea, now ...","{'username': 'Ohufromberkeley', 'id': 98143050...","Berkeley, CA",37.935758,-122.34775
2,2021-07-07 21:19:40+00:00,@Lisabarian Did he go to @CalStateEastBay ?? T...,"{'username': 'meekorouse', 'id': 11922222, 'di...","Berkeley, CA",37.935758,-122.34775
3,2021-04-10 02:13:47+00:00,Crazy hair and #maskoftheday - yes I’m in the ...,"{'username': 'the_yoder_', 'id': 30676657, 'di...","Pt. Richmond, CA",37.935758,-122.34775
4,2021-03-23 18:16:52+00:00,@Starbucks apparently I don’t get Starbucks in...,"{'username': 'arielnavaphoto', 'id': 271259959...","Berkeley, CA",37.935758,-122.34775
...,...,...,...,...,...,...
250,2015-09-08 16:19:03+00:00,In a pumpkin coma at @Starbucks and...... I LO...,"{'username': 'ShyainC', 'id': 1493324557, 'dis...","Oakland, CA",37.935758,-122.34775
251,2015-09-01 16:32:11+00:00,When @Starbucks plays my husband (ed sheeran)&...,"{'username': 'ShyainC', 'id': 1493324557, 'dis...","Oakland, CA",37.935758,-122.34775
252,2015-08-27 15:41:05+00:00,This still pisses me off...@Starbucks #fail #p...,"{'username': 'KPossible7', 'id': 138508693, 'd...","Mill Valley, CA",37.935758,-122.34775
253,2015-08-15 20:16:26+00:00,Sports day at work today! #tobeapartner @Starb...,"{'username': '_JuliaBoo', 'id': 499979127, 'di...","Oakland, California",37.935758,-122.34775
254,2015-08-15 17:00:37+00:00,@glennEmartin @Microsoft @VictoriasSecret @jcp...,"{'username': 'gglightbulb', 'id': 2245887787, ...",SF California Bay Area,37.935758,-122.34775

,date,content,user,user_location,lat,lng
0,2021-07-10 20:13:48+00:00,Cheat Day Treat - Biscotti Frap\n\nInspired by...,"{'username': 'abbyroed', 'id': 1713365066, 'di...","Riverside, CA",33.95335,-117.396156
1,2021-07-07 18:20:01+00:00,@RoadtripC @Starbucks In general @Starbucks em...,"{'username': 'gorushtravel', 'id': 14050163700...","Riverside, California",33.95335,-117.396156
2,2021-05-06 18:14:29+00:00,"@Starbucks hey! can you guys DM me, i have a r...","{'username': 'oatmilkari', 'id': 9602605730142...",26 | csulb + bama alum,33.95335,-117.396156
3,2021-04-24 16:31:30+00:00,Kahve alışkanlığı büyük büyük dedemizden gelir...,"{'username': 'EkremsB', 'id': 8147887513355550...","Antalya, Türkiye",33.95335,-117.396156
4,2021-04-04 19:17:21+00:00,"Hey @Starbucks, why is every store practically...","{'username': 'ST1401toEndor', 'id': 7320142, '...","Riverside, CA",33.95335,-117.396156
...,...,...,...,...,...,...
234,2016-02-20 21:01:51+00:00,@l0rd_bryan @Starbucks bring me some,"{'username': '_AshleyArias', 'id': 377660967, ...",,33.95335,-117.396156
235,2016-01-26 17:05:00+00:00,Post workout drink @Starbucks @ Starbucks http...,"{'username': 'Deziree_Keshay', 'id': 161877112...",Moreno Valley,33.95335,-117.396156
236,2016-01-20 04:52:18+00:00,Cold &amp; rainy night. Of course lcisneros07 ...,"{'username': 'DonTicallion', 'id': 98451767, '...",THEE Inland Empire 😎,33.95335,-117.396156
237,2015-12-15 16:00:30+00:00,This is what you get from @Starbucks when they...,"{'username': 'fam_man', 'id': 197257394, 'disp...",Riverside,33.95335,-117.396156
238,2015-12-03 21:46:34+00:00,United from the start by our love for taylorsw...,"{'username': 'tonybaltierra', 'id': 33828903, ...",,33.95335,-117.396156

,date,content,user,user_location,lat,lng
0,2021-07-09 20:51:16+00:00,⁦@Starbucks⁩ Pupachino - pure bliss! Sir Rile...,"{'username': 'judylm', 'id': 25215076, 'displa...","Orangevale, CA",38.752122,-121.288006
1,2021-07-07 00:33:37+00:00,@Starbucks Not until you get SUGAR FREE FLAVOR...,"{'username': 'lexiybarra42', 'id': 1003174298,...","Roseville, CA",38.752122,-121.288006
2,2021-07-06 13:08:15+00:00,@brianmccormick @Starbucks Or a ice water…,"{'username': 'CoachTetTweets', 'id': 43623452,...","Rocklin, CA",38.752122,-121.288006
3,2021-06-06 22:38:34+00:00,@JamesWe26561005 @ProjectJosiee @Starbucks @Tw...,"{'username': 'SeanBaumstark', 'id': 29403939, ...",Sacramento,38.752122,-121.288006
4,2021-06-06 22:27:37+00:00,@JamesWe26561005 @ProjectJosiee @Starbucks @Tw...,"{'username': 'SeanBaumstark', 'id': 29403939, ...",Sacramento,38.752122,-121.288006
...,...,...,...,...,...,...
410,2011-03-08 16:21:15+00:00,Happy Birthday @Starbucks you wonderful Seattl...,"{'username': 'bencannon', 'id': 13920102, 'dis...","San Bruno, CA",38.752122,-121.288006
411,2011-02-17 20:19:12+00:00,Love this @Starbucks mix: #bedlightforblueeyes...,"{'username': 'karljames3', 'id': 26136084, 'di...","Sacramento, CA",38.752122,-121.288006
412,2010-11-22 18:59:33+00:00,Mmm coffee at @Starbucks :) working on my book...,"{'username': 'realdavidwebb', 'id': 19668335, ...","Sacramento, CA",38.752122,-121.288006
413,2010-11-17 03:36:31+00:00,@Starbucks i love my 3 new venti cold cups. An...,"{'username': 'kathleengalster', 'id': 20112139...",Sacramento,38.752122,-121.288006
414,2010-07-21 19:13:52+00:00,at @Starbucks... decided to go with the Pike's...,"{'username': 'realdavidwebb', 'id': 19668335, ...","Sacramento, CA",38.752122,-121.288006

,date,content,user,user_location,lat,lng
0,2021-07-13 19:45:36+00:00,@Starbucks Mmm salted caramel! Say the word an...,"{'username': 'Azr1th', 'id': 30526395, 'displa...","Sacramento, CA",38.581572,-121.4944
1,2021-07-13 19:40:53+00:00,@Starbucks I actually worked for Starbucks in ...,"{'username': 'Azr1th', 'id': 30526395, 'displa...","Sacramento, CA",38.581572,-121.4944
2,2021-07-13 18:55:55+00:00,@Starbucks I got a passion fruit iced tea lemo...,"{'username': 'Azr1th', 'id': 30526395, 'displa...","Sacramento, CA",38.581572,-121.4944
3,2021-07-13 15:18:03+00:00,@AutumarWic @Starbucks You can ask the barista...,"{'username': 'osinitsaa', 'id': 2841468305, 'd...","Sacramento, California",38.581572,-121.4944
4,2021-07-10 14:12:46+00:00,@Starbucks @StarbucksCare please add option fo...,"{'username': 'foxy3ls', 'id': 138282243, 'disp...",Sacramento,38.581572,-121.4944
...,...,...,...,...,...,...
883,2010-11-24 20:19:36+00:00,Wow the line for @starbucks is insane! The ...,"{'username': 'Caligirln916', 'id': 64085996, '...",California,38.581572,-121.4944
884,2010-11-10 16:31:25+00:00,Getting some coffee omw 2 chiro ... Intersting...,"{'username': 'DonNoxon', 'id': 18548115, 'disp...",,38.581572,-121.4944
885,2010-11-02 15:04:21+00:00,The holiday cups have arrived at @starbucks. Fun!,"{'username': 'gshepperd', 'id': 30100336, 'dis...","Chicago, IL",38.581572,-121.4944
886,2010-10-28 00:50:04+00:00,http://is.gd/gnlW8. @Starbucks,"{'username': 'll_Quasar_ll', 'id': 18112107, '...","38.5152837,-121.462754233333",38.581572,-121.4944
887,2010-10-03 11:57:45+00:00,http://is.gd/fIjM3. http://twitpic.com/2uauul...,"{'username': 'll_Quasar_ll', 'id': 18112107, '...","38.5152837,-121.462754233333",38.581572,-121.4944

,date,content,user,user_location,lat,lng
0,2021-07-07 14:59:41+00:00,@Starbucks 3rd day ordering 30 minutes before ...,"{'username': 'claudy831', 'id': 1041246715, 'd...","Salinas, CA",36.677736,-121.6555
1,2021-06-10 14:59:20+00:00,Stopped by twice @Starbucks and they still man...,"{'username': 'g_marlene25', 'id': 52322969, 'd...","Salinas, CA",36.677736,-121.6555
2,2021-06-01 04:55:22+00:00,"Really @starbucks, insisting that your employe...","{'username': 'davidciani', 'id': 821199, 'disp...","Marina, CA",36.677736,-121.6555
3,2021-01-29 21:18:10+00:00,Mocha Cookie 🍪 Crumble 😋😋😋 @Starbucks https://...,"{'username': 'UceJuiceLLC', 'id': 1381144506, ...","Marina, CA",36.677736,-121.6555
4,2020-12-31 02:19:41+00:00,@WirthTM Next time use the @Starbucks app ther...,"{'username': 'johnnysfgiants', 'id': 752025554...","Salinas, CA",36.677736,-121.6555
...,...,...,...,...,...,...
135,2013-12-18 00:46:12+00:00,@Starbucks http://t.co/KJM2Zd7Uxm,"{'username': 'NayNay_Nichole', 'id': 111066291...","California, USA",36.677736,-121.6555
136,2013-12-11 16:02:00+00:00,@Starbucks 💕 💕😍 #WCW http://t.co/vCRtVnw3eI,"{'username': 'NayNay_Nichole', 'id': 111066291...","California, USA",36.677736,-121.6555
137,2013-11-05 19:52:48+00:00,Enjoying a Peppermint Mocha from @Starbucks. G...,"{'username': '0rLambo', 'id': 31285700, 'displ...","Salinas, CA",36.677736,-121.6555
138,2013-10-22 18:09:36+00:00,The @Starbucks on North Main in Salinas pretty...,"{'username': 'Fancypants143', 'id': 819980132,...","Monterey, CA",36.677736,-121.6555
139,2013-10-09 00:27:52+00:00,@Starbucks when is the peppermint mocha coming...,"{'username': '0rLambo', 'id': 31285700, 'displ...","Salinas, CA",36.677736,-121.6555

,date,content,user,user_location,lat,lng
0,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.108344,-117.289764
1,2021-07-07 21:49:12+00:00,A new @Starbucks opening in San Bernardino! Wo...,"{'username': 'commgrad71', 'id': 1194157949964...",Southern California,34.108344,-117.289764
2,2021-06-22 17:03:47+00:00,I’m well aware @Starbucks doesn’t make their p...,"{'username': '__meganhuston', 'id': 20526676, ...",Los Angeles,34.108344,-117.289764
3,2021-06-15 21:42:48+00:00,@Starbucks @Nikibe It’s been 6 months,"{'username': 'KipsHaus', 'id': 1632435006, 'di...","Rialto, CA",34.108344,-117.289764
4,2021-06-09 17:01:00+00:00,@Starbucks bring back the strawberry green tea...,"{'username': 'kailemoine', 'id': 7813841584969...",,34.108344,-117.289764
...,...,...,...,...,...,...
588,2011-04-09 17:28:36+00:00,Tussenstop @starbucks http://t.co/8m41VX2,"{'username': 'PaulGordijn', 'id': 119506122, '...",Wijk Bij Duurstede,34.108344,-117.289764
589,2011-01-18 18:44:34+00:00,Cutesy thing ever @Starbucks http://twitpic.co...,"{'username': 'DJJenkins', 'id': 14158500, 'dis...","Studio City, CA",34.108344,-117.289764
590,2011-01-18 18:22:22+00:00,Daddy Date with my baby girl @Starbucks (@ Sta...,"{'username': 'DJJenkins', 'id': 14158500, 'dis...","Studio City, CA",34.108344,-117.289764
591,2010-10-22 00:31:26+00:00,I hate @starbucks why is it so crowded right n...,"{'username': 'periwinkle9788', 'id': 135419258...",Crystal Tokyo aka riverside,34.108344,-117.289764
592,2010-07-16 21:49:59+00:00,@Starbucks i got green tea lemonade yesterday ...,"{'username': 'FERNANDODL', 'id': 22285994, 'di...","San Bernardino, CA",34.108344,-117.289764

,date,content,user,user_location,lat,lng
0,2021-07-14 00:06:40+00:00,@CarlasStyles2 @Starbucks I’m sure he don’t de...,"{'username': 'CaliDiegan_', 'id': 113681079, '...","San Diego, CA",32.715328,-117.157256
1,2021-07-13 21:24:29+00:00,@NicholasFerroni @Starbucks 🤣🤣,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.715328,-117.157256
2,2021-07-13 21:24:05+00:00,When will @Starbucks not be out of juices and ...,"{'username': '__adomingo', 'id': 584801834, 'd...","San Diego, CA",32.715328,-117.157256
3,2021-07-13 21:23:06+00:00,@NicholasFerroni @Starbucks That’s an awfully ...,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.715328,-117.157256
4,2021-07-13 20:49:16+00:00,@orangetheory @JohnPHyland20 @Starbucks 🤣🤣🤣🤣 u...,"{'username': 'AndrewColeSmith', 'id': 34043050...","San Diego, CA",32.715328,-117.157256
5,2021-07-13 20:48:46+00:00,@JohnPHyland20 @orangetheory @Starbucks Heyyyy...,"{'username': 'AndrewColeSmith', 'id': 34043050...","San Diego, CA",32.715328,-117.157256
6,2021-07-13 19:25:23+00:00,@michizzle_ @Starbucks same! 😭,"{'username': 'michellleserr', 'id': 1108991303...","San Diego, CA",32.715328,-117.157256
7,2021-07-13 17:36:16+00:00,Hey @Starbucks why are two stores next to the ...,"{'username': 'holgermu', 'id': 224765197, 'dis...",San Diego,32.715328,-117.157256
8,2021-07-13 16:00:30+00:00,Congratulations @Starbucks for being part of t...,"{'username': 'airaio', 'id': 3002448120, 'disp...","San Diego, CA",32.715328,-117.157256
9,2021-07-13 08:16:18+00:00,"Starbucks spokesperson Jim Olsen emphasized, “...","{'username': 'Epinephrineee', 'id': 1293472459...","San Diego, CA",32.715328,-117.157256
10,2021-07-12 21:26:46+00:00,@LaceyKesler @Starbucks Hahah pure genius http...,"{'username': 'anitakirkovska', 'id': 259744053...",San Diego,32.715328,-117.157256
11,2021-07-12 20:31:11+00:00,I said Serena but this is a new one 😂 thanks f...,"{'username': 'serenapetrie', 'id': 12414742, '...","San Diego, CA",32.715328,-117.157256
12,2021-07-12 20:09:55+00:00,"@the_real_k_p @kidbarrio @Starbucks Nah, were ...","{'username': 'tomMeDub', 'id': 1483484180, 'di...","San Diego, CA",32.715328,-117.157256
13,2021-07-12 19:44:21+00:00,@kidbarrio #Safemoon accepted @Starbucks ! htt...,"{'username': 'tomMeDub', 'id': 1483484180, 'di...","San Diego, CA",32.715328,-117.157256
14,2021-07-12 14:12:24+00:00,His first @Starbucks #puppuccino https://t.co/...,"{'username': 'KyiranFamous', 'id': 216337042, ...","San Diego, CA",32.715328,-117.157256
15,2021-07-12 05:47:03+00:00,@Starbucks When is the very berry hibiscus com...,"{'username': 'shannyrod', 'id': 29675300, 'dis...",san diego,32.715328,-117.157256
16,2021-07-12 04:57:38+00:00,"@Starbucks: love it or hate it, we gotta agree...","{'username': 'Valentini_Elly', 'id': 269015193...",National City,32.715328,-117.157256
17,2021-07-11 18:42:02+00:00,@TheJackForge You work at @Starbucks ?,"{'username': '_Mo_Malaka_', 'id': 344571549, '...","SAN DIEGO, CA",32.715328,-117.157256
18,2021-07-11 13:37:04+00:00,@Starbucks The Corporate Focus on Drive-thru P...,"{'username': 'putneyswope7', 'id': 85231350560...","San Diego, CA",32.715328,-117.157256
19,2021-07-11 13:27:18+00:00,@Starbucks These cardboard straws are disgusti...,"{'username': 'TitoMcCaffrey', 'id': 399201144,...",San Diego CA,32.715328,-117.157256
20,2021-07-11 13:26:06+00:00,@Starbucks These cardboard straws are disgusti...,"{'username': 'TitoMcCaffrey', 'id': 399201144,...",San Diego CA,32.715328,-117.157256
21,2021-07-11 08:24:17+00:00,@CherishToday08 @Starbucks Family. \n@crafty_t...,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.715328,-117.157256
22,2021-07-11 07:32:29+00:00,@Starbucks Z,"{'username': 'ItsMaxJenkins', 'id': 1113029748...","San Diego, CA",32.715328,-117.157256
23,2021-07-10 23:11:05+00:00,The @Starbucks app said one of the local Starb...,"{'username': 'questions846', 'id': 27282904, '...","San Diego, CA 92123",32.715328,-117.157256
24,2021-07-10 17:21:16+00:00,Can I just be bummed that @Starbucks destroyed...,"{'username': 'kzaxplainsitall', 'id': 40943378...","San Diego, CA",32.715328,-117.157256
25,2021-07-10 13:43:04+00:00,Balances @Starbucks,"{'username': 'jazzygirl081', 'id': 28719979, '...","San Diego, CA",32.715328,-117.157256
26,2021-07-10 13:34:23+00:00,Minimum is$5 to load . Y u in my bank account ...,"{'username': 'jazzygirl081', 'id': 28719979, '...","San Diego, CA",32.715328,-117.157256
27,2021-07-10 13:32:43+00:00,Minimum amount for gift cards @starbucks . Why...,"{'username': 'jazzygirl081', 'id': 28719979, '...","San Diego, CA",32.715328,-117.157256
28,2021-07-10 00:18:19+00:00,@Starbucks Why go there?!,"{'username': 'yusho27_ne', 'id': 3753359472, '...","San Diego, CA",32.715328,-117.157256
29,2021-07-09 19:21:01+00:00,@Coach_Greenman @Starbucks Whenever I’m on the...,"{'username': 'MShoneBahar', 'id': 550739181, '...","San Diego, CA",32.715328,-117.157256
30,2021-07-09 18:37:45+00:00,@Starbucks y’all need to get your shit togethe...,"{'username': 'AngelBatista_', 'id': 1150670506...","San Diego, CA",32.715328,-117.157256
31,2021-07-09 02:41:34+00:00,@duhitzmark @Starbucks our warehouses won’t se...,"{'username': 'dakotapwalsh', 'id': 2970624930,...","San Diego, CA",32.715328,-117.157256
32,2021-07-08 22:24:46+00:00,@DaddyxDrac @Starbucks @panerabread @Doughnutt...,"{'username': 'CutwaterSpirits', 'id': 47893398...","San Diego, CA",32.715328,-117.157256
33,2021-07-08 16:20:29+00:00,@RachelKenobi @Starbucks 😭,"{'username': 'kitsparrow', 'id': 7178012, 'dis...","San Diego, CA",32.715328,-117.157256
34,2021-07-07 19:35:43+00:00,@Rome_at_Home @Starbucks This was like 8 years...,"{'username': 'blind_girl_dre', 'id': 160233698...","San Diego, CA",32.715328,-117.157256
35,2021-07-07 17:24:25+00:00,أبلغت @Starbucks مستخدمي iOS app اليوم عن إمكا...,"{'username': 'emiliehasrouty', 'id': 27944582,...","San Diego, CA.",32.715328,-117.157256
36,2021-07-06 22:58:59+00:00,@CoralDiBell @StarbucksCanada Has @Starbucks o...,"{'username': 'ng0___', 'id': 85204953138232115...","San Diego, CA",32.715328,-117.157256
37,2021-07-06 21:18:56+00:00,@Rome_at_Home @Starbucks Wait what?! It used t...,"{'username': 'blind_girl_dre', 'id': 160233698...","San Diego, CA",32.715328,-117.157256
38,2021-07-06 18:36:02+00:00,@CherishToday08 @GabrielleEgolf @Starbucks Wel...,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.715328,-117.157256
39,2021-07-06 18:28:41+00:00,@Starbucks It’d be nice to have some as I star...,"{'username': 'VanessaEscarce1', 'id': 12597595...","San Diego, CA",32.715328,-117.157256
40,2021-07-06 17:32:11+00:00,"Close enough, @Starbucks 🙂\n\n#MyStarbucksName...","{'username': 'AugustoJVega', 'id': 83932414769...","San Diego, CA",32.715328,-117.157256
41,2021-06-24 17:30:23+00:00,A moment of silence people… \n\nThank You @ver...,"{'username': '2NDPLCE', 'id': 251916241, 'disp...",West Side,32.715328,-117.157256
42,2021-04-16 17:18:43+00:00,Getting my free birthday drink at Starbucks! ...,"{'username': 'sugar_charity', 'id': 269327992,...","La Mesa, CA",32.715328,-117.157256
43,2021-04-14 13:48:30+00:00,@Starbucks 💕 https://t.co/MPIVDFwSca,"{'username': 'ShuniaNia', 'id': 4733667470, 'd...","California, USA",32.715328,-117.157256
44,2021-03-21 13:07:10+00:00,First Starbucks at a store in quite some time....,"{'username': 'pchylinski', 'id': 29278442, 'di...",,32.715328,-117.157256
45,2021-03-20 19:17:23+00:00,Goodmorning from the most beautiful place on e...,"{'username': 'melodycgreen', 'id': 67141122, '...","San Diego, CA",32.715328,-117.157256
46,2021-03-11 17:40:39+00:00,I hate @Starbucks is literally the only food t...,"{'username': 'baristanikki', 'id': 3038393814,...","Washington, USA",32.715328,-117.157256
47,2021-02-26 03:06:01+00:00,@magentamegatron @TMobilejacket @Starbucks I w...,"{'username': 'ludzchoi', 'id': 2853712417, 'di...","San Diego, CA",32.715328,-117.157256
48,2021-02-26 03:05:26+00:00,@AnnaArgast @Starbucks If it was use then damn...,"{'username': 'ludzchoi', 'id': 2853712417, 'di...","San Diego, CA",32.715328,-117.157256
49,2021-02-25 18:17:39+00:00,The coolest thing just happen!!!! Waiting in t...,"{'username': 'ludzchoi', 'id': 2853712417, 'di...","San Diego, CA",32.715328,-117.157256
50,2021-01-13 17:53:42+00:00,@Starbucks The new pistachio latte don’t have ...,"{'username': 'rodrigosokol', 'id': 47829122, '...","San Diego, CA",32.715328,-117.157256
51,2020-12-08 21:35:51+00:00,Free @Starbucks coffee for front line works al...,"{'username': 'run_carlos', 'id': 1293800801605...","San Diego, CA",32.715328,-117.157256
52,2020-11-15 19:39:09+00:00,These @thesandstraw are nice and skinny ... Fi...,"{'username': 'sholden', 'id': 73153, 'displayn...","San Diego, CA",32.715328,-117.157256
53,2020-11-06 17:40:21+00:00,In lighter news.. @Starbucks is giving away fr...,"{'username': 'hussain_samirah', 'id': 10450573...","San Diego, CA",32.715328,-117.157256
54,2020-11-05 19:11:55+00:00,"@Jessicasquared9 @Starbucks Wwow, what beautif...","{'username': 'JkGuero', 'id': 1268875274, 'dis...",America's Finest City,32.715328,-117.157256

,date,content,user,user_location,lat,lng
0,2021-07-13 16:56:25+00:00,@Starbucks PLEASE give me the option to Tip my...,"{'username': 'BillyJHightower', 'id': 46465575...","San Francisco, CA",37.774931,-122.419417
1,2021-07-13 07:48:47+00:00,@PrasoonPratham The food options at Indian @St...,"{'username': 'atulbutte', 'id': 262365030, 'di...","San Francisco, CA",37.774931,-122.419417
2,2021-07-13 02:00:39+00:00,@GavinNewsom @CAgovernor Its ok 2020 @starbuc...,"{'username': 'fragtagtoomag', 'id': 4676567456...","San Francisco, CA",37.774931,-122.419417
3,2021-07-12 18:36:43+00:00,@LaceyKesler @Starbucks omg perfect gif too 😂,"{'username': 'merci', 'id': 16403, 'displaynam...","San Francisco, CA",37.774931,-122.419417
4,2021-07-12 18:24:23+00:00,@LaceyKesler @Starbucks Very cool!,"{'username': 'merci', 'id': 16403, 'displaynam...","San Francisco, CA",37.774931,-122.419417
...,...,...,...,...,...,...
4127,2010-05-25 21:41:20+00:00,Fighting the urge to go home an make brownies....,"{'username': 'RachelChristie', 'id': 19357199,...","California, USA",37.774931,-122.419417
4128,2010-05-16 15:04:53+00:00,"Half awake me in my ""chariot"" aka the @kgoradi...","{'username': 'SweetMizery22', 'id': 18224546, ...","Bay Area, CA",37.774931,-122.419417
4129,2010-04-16 15:50:19+00:00,I luv ppl watching. Sitting @Starbucks on the ...,"{'username': 'kcmomma76', 'id': 15192551, 'dis...","Kansas City, MO",37.774931,-122.419417
4130,2010-03-23 17:35:36+00:00,Just scored my free pastry with coffee from @s...,"{'username': 'Marina_K', 'id': 14677541, 'disp...",SFO-MEL,37.774931,-122.419417
4131,2010-03-17 00:04:31+00:00,Not very original. I already do this @starbuck...,"{'username': 'RachelChristie', 'id': 19357199,...","California, USA",37.774931,-122.419417

,date,content,user,user_location,lat,lng
0,2021-07-13 20:30:21+00:00,I just want to own that @Starbucks purple/mint...,"{'username': 'scarlette_yue', 'id': 8000458615...","San Jose, CA",37.339386,-121.894956
1,2021-07-10 16:29:25+00:00,I don’t mean to wish away the #summer but I’m ...,"{'username': 'brynn_rachel', 'id': 277693058, ...","San Jose, CA",37.339386,-121.894956
2,2021-07-09 23:35:39+00:00,Remember!\n\nThx @Starbucks San Jose on River ...,"{'username': 'abrenderT48', 'id': 33421695, 'd...","SF ""Bae Area""",37.339386,-121.894956
3,2021-07-09 22:44:30+00:00,"@Starbucks in Cupertino, CA is playing ""my blo...","{'username': 'sidneyunh', 'id': 357036206, 'di...","San Jose, CA",37.339386,-121.894956
4,2021-07-09 20:22:58+00:00,@Starbucks This is a little bittersweet but I ...,"{'username': 'Antibes97', 'id': 91579285527625...","Campbell, CA",37.339386,-121.894956
...,...,...,...,...,...,...
1667,2010-06-04 05:38:23+00:00,"I'm at @Starbucks in San Jose, CA http://gowal...","{'username': 'xjhay', 'id': 9117752, 'displayn...","Los Angeles, CA",37.339386,-121.894956
1668,2010-05-12 16:56:18+00:00,I've got my @starbucks and I'm already doing h...,"{'username': 'imnotsean', 'id': 1775001, 'disp...","San Francisco, CA",37.339386,-121.894956
1669,2010-04-10 16:58:53+00:00,20-something dude here at @Starbucks is wearin...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.339386,-121.894956
1670,2010-03-23 18:15:49+00:00,*grumble* Going to @Starbucks for #FreePastryD...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.339386,-121.894956
1671,2010-03-12 01:38:47+00:00,I love how while @starbucks the guy in front o...,"{'username': 'Dellman87', 'id': 15875681, 'dis...","Arvada, Colorado",37.339386,-121.894956

,date,content,user,user_location,lat,lng
0,2021-07-10 19:49:00+00:00,@Starbucks citrus lemon honey tea ☕️,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.724931,-122.156078
1,2021-07-10 16:32:03+00:00,Yesterday’s experience at @Starbucks was gross...,"{'username': 'betogrape_', 'id': 1149245601390...",,37.724931,-122.156078
2,2021-07-08 20:26:46+00:00,☕️☕️☕️😵‍💫\n@Starbucks has a #NewAppIcon! https...,"{'username': 'chrismessina', 'id': 1186, 'disp...","Oakland, CA",37.724931,-122.156078
3,2021-07-07 02:37:29+00:00,@Starbucks coffeee,"{'username': 'Ricardo15006539', 'id': 32696836...",Hayward california,37.724931,-122.156078
4,2021-07-05 19:23:47+00:00,Not only that... But that was a shopping mall....,"{'username': 'abrenderT48', 'id': 33421695, 'd...","SF ""Bae Area""",37.724931,-122.156078
...,...,...,...,...,...,...
632,2011-06-11 23:50:58+00:00,Thank you @Starbucks for my #afternoondelight....,"{'username': 'Breitens', 'id': 24386393, 'disp...","West Hollywood, CA",37.724931,-122.156078
633,2011-06-07 19:19:11+00:00,Mmm @Starbucks,"{'username': 'ThatPurpleFox', 'id': 275224869,...","Georgia, USA",37.724931,-122.156078
634,2011-05-07 01:41:26+00:00,Have U guys tried the @Starbucks mocha coconut...,"{'username': 'iopCA', 'id': 48035412, 'display...","Bay area, California",37.724931,-122.156078
635,2011-04-28 21:05:37+00:00,@rubypress Hi Melissa - I just left you a mess...,"{'username': 'bellavitahome', 'id': 26398613, ...","oakland, ca",37.724931,-122.156078
636,2010-05-15 16:37:44+00:00,also in the dream I had to test 35 cups of cof...,"{'username': 'Jayson510', 'id': 22942585, 'dis...","Oakland, CA",37.724931,-122.156078

,date,content,user,user_location,lat,lng
0,2021-07-13 23:37:08+00:00,So yesterday I tried @Starbucks grilled cheese...,"{'username': 'Jackie135_7', 'id': 591043386, '...","San Marcos,CA",33.143372,-117.166144
1,2021-07-11 21:23:22+00:00,First day @Starbucks tomorrow. Excited!,"{'username': 'JoeyScarantino', 'id': 119693466...","Lake Forest, CA",33.143372,-117.166144
2,2021-06-18 18:17:46+00:00,Day 329 without sex: I went to @Starbucks just...,"{'username': 'pobrecitademoni', 'id': 11545122...","Oceanside, CA",33.143372,-117.166144
3,2021-06-09 18:49:22+00:00,Justice &amp; Jaxon throwing back some @starbu...,"{'username': 'TheBurgessBunch', 'id': 23906990...","San Marcos, Ca",33.143372,-117.166144
4,2021-06-03 23:46:28+00:00,@CherishToday08 @RRhondasutton @teachergal_ks ...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.143372,-117.166144
...,...,...,...,...,...,...
588,2011-03-09 22:02:11+00:00,Teaching @jamesdoezie how to skateboard on the...,"{'username': 'corey_dylan', 'id': 35427941, 'd...",Ocean Beach | San Diego,33.143372,-117.166144
589,2010-11-09 16:16:57+00:00,"http://twitpic.com/35cmt3 OceansideDMV, only p...","{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.143372,-117.166144
590,2010-07-25 16:52:50+00:00,Kicking it at Carlsbad @Starbucks with Hawaii ...,"{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.143372,-117.166144
591,2010-06-03 17:45:50+00:00,@Starbucks I used my rewards card 5+ times bef...,"{'username': 'Neufusion', 'id': 16655831, 'dis...","Vista, CA",33.143372,-117.166144
592,2010-03-18 23:06:37+00:00,"@Starbucks has ""for here mugs"". Ask for it and...","{'username': 'NickChillPhoto', 'id': 22030942,...","Decorah, IA",33.143372,-117.166144

,date,content,user,user_location,lat,lng
0,2021-07-07 16:39:52+00:00,Why thank you @Starbucks I will have an amazin...,"{'username': 'betseylou', 'id': 14523717, 'dis...",SF Bay Area,37.562992,-122.325525
1,2021-07-07 12:10:21+00:00,I got grounds to grind whole bean!!\n\n@Starbu...,"{'username': 'KathrynMKGeary', 'id': 117051163...","San Mateo, CA",37.562992,-122.325525
2,2021-06-19 22:57:34+00:00,@dkegel @Starbucks Ensure + Metamucil + Starbu...,"{'username': 'dr_hsu', 'id': 242825622, 'displ...",Planet Earth,37.562992,-122.325525
3,2021-06-18 22:42:05+00:00,Can you say bingo?!!! #starbucksbingo @Starbuc...,"{'username': 'bettejoetweeter', 'id': 59058684...",,37.562992,-122.325525
4,2021-04-30 16:09:12+00:00,@OnKnockers @Starbucks You are correct and tha...,"{'username': 'StanleyRoberts', 'id': 90895400,...","33.4500° N, 112.0667° W 🌵🌞",37.562992,-122.325525
...,...,...,...,...,...,...
561,2011-02-08 20:45:21+00:00,Having my very first #trenta black iced tea un...,"{'username': 'johncolucci', 'id': 23033882, 'd...","Seattle, WA",37.562992,-122.325525
562,2010-12-25 23:07:14+00:00,"Yes, Virginia, my @Starbucks is open on Christ...","{'username': 'RhoAsh', 'id': 40318182, 'displa...",SF Bay Area,37.562992,-122.325525
563,2010-11-25 18:02:21+00:00,The line at my local @Starbucks is insanely lo...,"{'username': 'RhoAsh', 'id': 40318182, 'displa...",SF Bay Area,37.562992,-122.325525
564,2010-11-14 18:05:58+00:00,The line at my @Starbucks is longer today than...,"{'username': 'RhoAsh', 'id': 40318182, 'displa...",SF Bay Area,37.562992,-122.325525
565,2010-10-20 21:33:51+00:00,"Hey @Starbucks baristas, quit looking at me fu...","{'username': 'metsfaninCA', 'id': 21987790, 'd...","san Bruno, ca",37.562992,-122.325525

,date,content,user,user_location,lat,lng
0,2021-07-13 23:46:06+00:00,@KookyPersona @Starbucks For real?! The SF cin...,"{'username': 'Siloeyes', 'id': 15428312, 'disp...",Orange County,33.745572,-117.867833
1,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.745572,-117.867833
2,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.745572,-117.867833
3,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.745572,-117.867833
4,2021-07-07 22:00:15+00:00,This week we’re celebrating a #weekofkindness....,"{'username': 'AnnaPerezSbux', 'id': 1295934760...","Santa Ana, CA",33.745572,-117.867833
...,...,...,...,...,...,...
2580,2010-05-12 21:58:37+00:00,I really do love @starbucks! iced drink on a b...,"{'username': 'kyleberns', 'id': 31200766, 'dis...","Melbourne, Victoria",33.745572,-117.867833
2581,2010-05-09 21:51:09+00:00,I haven't been to @Starbucks in two days. Some...,"{'username': 'b_bach', 'id': 61240803, 'displa...","Carlsbad, Ca",33.745572,-117.867833
2582,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.745572,-117.867833
2583,2010-03-23 15:40:02+00:00,Nevermind on the earlier tweet about @starbuck...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.745572,-117.867833
2584,2010-03-23 15:09:28+00:00,To #UCI peeps: our @starbucks is NOT participa...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.745572,-117.867833

,date,content,user,user_location,lat,lng
0,2021-07-11 16:32:48+00:00,@starbucks just likes to demonize the houselss...,"{'username': 'AnibalQuant', 'id': 714959219, '...","Santa Barbara, CA",34.420831,-119.698189
1,2021-07-07 17:14:58+00:00,@LOV3JONES31 @Starbucks They’re not sold in th...,"{'username': 'APabloIsForever', 'id': 38226611...","Santa Barbara, CA",34.420831,-119.698189
2,2021-07-07 15:08:01+00:00,Is he….*you know* 🤣🤣🤣 I love my @Starbucks tum...,"{'username': 'APabloIsForever', 'id': 38226611...","Santa Barbara, CA",34.420831,-119.698189
3,2021-06-05 21:40:52+00:00,@wetbulldog @Starbucks Ok this is too too much...,"{'username': 'APabloIsForever', 'id': 38226611...","Santa Barbara, CA",34.420831,-119.698189
4,2021-03-01 04:55:16+00:00,@Starbucks Are you think is good idea ??? In t...,"{'username': 'Lourdes72552235', 'id': 89436977...",,34.420831,-119.698189
...,...,...,...,...,...,...
228,2011-05-22 22:56:56+00:00,@Starbucks $20 card Random drawing when my #FB...,"{'username': 'GinasRealLife', 'id': 167236087,...","Santa Barbara, California",34.420831,-119.698189
229,2011-03-25 18:57:09+00:00,@Starbucks Birthday cake pop is delicious. @2G...,"{'username': 'GinasRealLife', 'id': 167236087,...","Santa Barbara, California",34.420831,-119.698189
230,2011-03-24 02:49:25+00:00,@SuperSavingSara @Starbucks has the best music!!,"{'username': 'GinasRealLife', 'id': 167236087,...","Santa Barbara, California",34.420831,-119.698189
231,2011-01-19 04:41:34+00:00,@sarassaraswati just realized!! I got the GOLD...,"{'username': 'JulianZamGuz', 'id': 40130016, '...",Los Angeles,34.420831,-119.698189
232,2011-01-19 04:41:06+00:00,OMG just reached GOLD LEVEL in @Starbucks with...,"{'username': 'JulianZamGuz', 'id': 40130016, '...",Los Angeles,34.420831,-119.698189

,date,content,user,user_location,lat,lng
0,2021-07-13 20:30:21+00:00,I just want to own that @Starbucks purple/mint...,"{'username': 'scarlette_yue', 'id': 8000458615...","San Jose, CA",37.354108,-121.955236
1,2021-07-10 16:29:25+00:00,I don’t mean to wish away the #summer but I’m ...,"{'username': 'brynn_rachel', 'id': 277693058, ...","San Jose, CA",37.354108,-121.955236
2,2021-07-09 23:35:39+00:00,Remember!\n\nThx @Starbucks San Jose on River ...,"{'username': 'abrenderT48', 'id': 33421695, 'd...","SF ""Bae Area""",37.354108,-121.955236
3,2021-07-09 22:44:30+00:00,"@Starbucks in Cupertino, CA is playing ""my blo...","{'username': 'sidneyunh', 'id': 357036206, 'di...","San Jose, CA",37.354108,-121.955236
4,2021-07-09 21:17:29+00:00,@Starbucks 🐹🥰 https://t.co/deW8dUaQxW,"{'username': 'TiffsterM', 'id': 416619852, 'di...","Silicon Valley, CA",37.354108,-121.955236
...,...,...,...,...,...,...
1279,2010-06-04 05:38:23+00:00,"I'm at @Starbucks in San Jose, CA http://gowal...","{'username': 'xjhay', 'id': 9117752, 'displayn...","Los Angeles, CA",37.354108,-121.955236
1280,2010-05-12 16:56:18+00:00,I've got my @starbucks and I'm already doing h...,"{'username': 'imnotsean', 'id': 1775001, 'disp...","San Francisco, CA",37.354108,-121.955236
1281,2010-04-10 16:58:53+00:00,20-something dude here at @Starbucks is wearin...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.354108,-121.955236
1282,2010-03-23 18:15:49+00:00,*grumble* Going to @Starbucks for #FreePastryD...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.354108,-121.955236
1283,2010-03-12 01:38:47+00:00,I love how while @starbucks the guy in front o...,"{'username': 'Dellman87', 'id': 15875681, 'dis...","Arvada, Colorado",37.354108,-121.955236

,date,content,user,user_location,lat,lng
0,2021-07-07 18:40:39+00:00,At lunch eating a blueberry muffin from @Starb...,"{'username': 'baddestbitchrob', 'id': 48610834...","Los Angeles, CA",34.391664,-118.542586
1,2021-06-21 14:50:02+00:00,Thank you @Starbucks for being there at 03:30 ...,"{'username': 'oldtrailrunner', 'id': 25441493,...",,34.391664,-118.542586
2,2021-06-15 14:54:55+00:00,.@Starbucks please continue using the sipper t...,"{'username': 'nelsonempro', 'id': 967459636776...","Los Angeles, CA",34.391664,-118.542586
3,2021-06-09 18:00:08+00:00,Got Bored. Another @Starbucks Run. ☺️ https://...,"{'username': 'bradleydillin17', 'id': 12396522...","Santa Clarita, CA",34.391664,-118.542586
4,2021-06-08 03:27:02+00:00,Just Went On An Evening @Starbucks Run...Bored...,"{'username': 'bradleydillin17', 'id': 12396522...","Santa Clarita, CA",34.391664,-118.542586
...,...,...,...,...,...,...
416,2010-07-16 17:27:49+00:00,RT @Starbucks &lt;3VIA instant iced coffee! Ad...,"{'username': 'MrDaveyBair', 'id': 34709197, 'd...","Santa Clarita, CA",34.391664,-118.542586
417,2010-07-13 17:16:04+00:00,@Starbucks Via® iced coffee gets a thumbs up. ...,"{'username': 'MrDaveyBair', 'id': 34709197, 'd...","Santa Clarita, CA",34.391664,-118.542586
418,2010-07-01 22:04:05+00:00,Cant wait to get to @Starbucks tonight and see...,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,34.391664,-118.542586
419,2010-06-28 16:59:44+00:00,My Wed and Thurs nights are about to get easie...,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,34.391664,-118.542586
420,2010-06-25 00:48:59+00:00,@Starbucks has one of THE best oatmeal cookies!,"{'username': 'LadyDie', 'id': 18731949, 'displ...",San Diego,34.391664,-118.542586

,date,content,user,user_location,lat,lng
0,2020-09-17 00:23:48+00:00,I’m not saying we just ordered the MOST delici...,"{'username': 'reneeplays__', 'id': 11506785367...","Santa Barbara, CA",34.953033,-120.435719
1,2020-08-18 12:50:46+00:00,Fuck @Starbucks for changing their store hours...,"{'username': 'C_Tony7', 'id': 7011034942252236...",Windy City,34.953033,-120.435719
2,2020-06-10 22:52:20+00:00,@MyFrogCroaked @carlaymoo @Starbucks Wow.,"{'username': 'snakeymama', 'id': 974583583, 'd...","San Luis Obispo, California",34.953033,-120.435719
3,2020-06-10 22:50:36+00:00,@MyFrogCroaked @carlaymoo @Starbucks That is s...,"{'username': 'snakeymama', 'id': 974583583, 'd...","San Luis Obispo, California",34.953033,-120.435719
4,2020-05-27 00:02:36+00:00,Ok. This is by far my favorite @starbucks colo...,"{'username': 'TheMakeupSlob', 'id': 1137250679...","Santa Maria, CA",34.953033,-120.435719
...,...,...,...,...,...,...
90,2012-02-09 18:26:57+00:00,At @starbucks — http://t.co/BWPvhRC8,"{'username': 'DarrinRich', 'id': 756619, 'disp...","Central Coast,Ca",34.953033,-120.435719
91,2012-02-03 02:22:10+00:00,At @starbucks — http://t.co/84TI7yQD,"{'username': 'DarrinRich', 'id': 756619, 'disp...","Central Coast,Ca",34.953033,-120.435719
92,2011-12-16 17:05:42+00:00,Quick coffee run @Starbucks,"{'username': 'CalVicKlein', 'id': 137871408, '...","Anaheim, CA",34.953033,-120.435719
93,2010-11-18 05:44:33+00:00,"ATTN @Starbucks Lovers: Buy 1 holiday drink, g...","{'username': 'chrlsty', 'id': 15389188, 'displ...","California, USA",34.953033,-120.435719
94,2010-07-17 23:11:06+00:00,"did the beach, did the park, now time for some...","{'username': 'callmeed', 'id': 2030231, 'displ...","San Luis Obispo, CA",34.953033,-120.435719

,date,content,user,user_location,lat,lng
0,2021-07-13 07:54:33+00:00,@Starbucks https://t.co/l3vm9wonZ0,"{'username': 'm1ssvenic3', 'id': 1250297286329...",she/her.20.MANCHESTER,34.019453,-118.491192
1,2021-07-11 18:10:13+00:00,Do not DM me @StarbucksCare . You’ve wasted my...,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,34.019453,-118.491192
2,2021-07-11 18:10:10+00:00,She’d NEVER ask a man in a wheelchair what gua...,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,34.019453,-118.491192
3,2021-07-11 18:10:10+00:00,The employee who discriminated against me was....,"{'username': 'jenpricci', 'id': 73474374, 'dis...",,34.019453,-118.491192
4,2021-07-11 18:10:10+00:00,"The irony is, THIS HERE, is what I was seeking...","{'username': 'jenpricci', 'id': 73474374, 'dis...",,34.019453,-118.491192
...,...,...,...,...,...,...
4995,2017-06-29 14:28:08+00:00,It's always a great day when #ChaquitaMita #Ve...,"{'username': 'CStylesLa', 'id': 252228439, 'di...","California, USA",34.019453,-118.491192
4996,2017-06-29 14:08:57+00:00,Well this is a nice little morning surprise!\n...,"{'username': 'junioroxoa', 'id': 25405938, 'di...","Los Angeles, CA",34.019453,-118.491192
4997,2017-06-29 04:35:01+00:00,"Dear @Starbucks,\n\nYour store experience shou...","{'username': 'fam_man', 'id': 197257394, 'disp...",Riverside,34.019453,-118.491192
4998,2017-06-28 23:15:48+00:00,@DecronCorp Thx for my #decronsummerfun @Starb...,"{'username': 'terrytravels1', 'id': 55975110, ...",USA,34.019453,-118.491192
4999,2017-06-28 19:20:07+00:00,Just tried the new Mindnight Mint Mocha Frappu...,"{'username': 'Christosity1', 'id': 1464393846,...","Boston, MA",34.019453,-118.491192

,date,content,user,user_location,lat,lng
0,2021-06-13 14:44:25+00:00,There is a classic car show happening in the @...,"{'username': 'rickyleepotts', 'id': 17665608, ...","Santa Rosa, CA",38.440467,-122.714431
1,2021-05-12 22:49:51+00:00,@TheDantagonist @limitlessjest @Starbucks Lmao...,"{'username': 'CyberHalfling', 'id': 616631622,...",California,38.440467,-122.714431
2,2020-07-16 19:34:25+00:00,"@mariorobledo97 @Starbucks 20+ years ago, when...","{'username': 'EJMiller707', 'id': 21988609, 'd...","Sonoma County, CA",38.440467,-122.714431
3,2020-06-30 00:51:00+00:00,@Starbucks so what is a qualifying purchase? h...,"{'username': 'khartz90', 'id': 1648651502, 'di...","St George, UT",38.440467,-122.714431
4,2020-06-11 22:09:19+00:00,🖕 @Starbucks https://t.co/0r1MR5xR16,"{'username': 'bCrosat22', 'id': 14570923, 'dis...","Windsor, CA",38.440467,-122.714431
...,...,...,...,...,...,...
144,2011-04-20 18:39:00+00:00,@starbucks You guys should have more savory pa...,"{'username': 'mamasolskitchen', 'id': 94449679...",Western states and whatnot,38.440467,-122.714431
145,2011-04-14 17:30:39+00:00,"@Starbucks, passion tea lemmonade, thinking u.u","{'username': 'HeyyAmmbeer', 'id': 58971507, 'd...",·•сαliғояиіα•· ♡,38.440467,-122.714431
146,2011-03-09 17:28:51+00:00,Loving this new Tribute Blend. Try it on the #...,"{'username': 'stevecooks', 'id': 17058564, 'di...",Bqhatevwr,38.440467,-122.714431
147,2011-01-31 19:16:16+00:00,First #Clover Brewed coffee on the west coast!...,"{'username': 'stevecooks', 'id': 17058564, 'di...",Bqhatevwr,38.440467,-122.714431
148,2010-07-20 21:02:30+00:00,I bet downtown Santa rosa @peets_tweets is lov...,"{'username': 'elitistbroseph', 'id': 15577814,...","Eureka, CA",38.440467,-122.714431

,date,content,user,user_location,lat,lng
0,2021-05-29 18:31:53+00:00,@shadipetosky @Starbucks I thought I was in on...,"{'username': 'staceyldwilson', 'id': 494625863...",,34.269447,-118.781483
1,2020-12-31 05:18:35+00:00,I wonder if @Starbucks will bring back pistach...,"{'username': 'icaalvarado_', 'id': 10236308003...","Simi Valley, CA",34.269447,-118.781483
2,2020-10-21 07:28:21+00:00,"So i feel like as a nod to essential workers, ...","{'username': 'TheBluMilitant', 'id': 247174518...",United States,34.269447,-118.781483

,date,content,user,user_location,lat,lng
0,2021-07-08 16:28:19+00:00,You haven’t experienced real disappointment un...,"{'username': 'Callmelizziee_', 'id': 114974658...","Los Angeles, CA",33.954736,-118.212017
1,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.954736,-118.212017
2,2021-07-05 20:14:28+00:00,The @Starbucks on Alondra and Lakewood in Para...,"{'username': 'iTS_EHMEE', 'id': 94165387, 'dis...","Bay Area, CA",33.954736,-118.212017
3,2021-06-27 03:39:01+00:00,@wiredknut @Starbucks Yes that’s a lot for cof...,"{'username': 'lesliehollis', 'id': 36284306, '...","Los Angeles, CA",33.954736,-118.212017
4,2021-06-16 20:19:38+00:00,@crocs goes to @starbucks …perfect combo 🤟🏼 🍍 ...,"{'username': 'ForeverAmber3', 'id': 28901170, ...",California,33.954736,-118.212017
5,2021-06-04 22:07:58+00:00,Making way for another @Starbucks Beverly &amp...,"{'username': 'marviljr', 'id': 491480220, 'dis...",,33.954736,-118.212017
6,2021-05-25 19:27:37+00:00,There’s apparently a @Starbucks company shorta...,"{'username': 'SarahSaryan', 'id': 44100529, 'd...","Los Angeles, CA",33.954736,-118.212017
7,2021-05-23 04:53:35+00:00,#cancelboardexams at any school 🏫 meeting on #...,"{'username': 'eclipse7vig', 'id': 111033660173...","Beverly Hills, CA",33.954736,-118.212017
8,2021-05-22 04:55:11+00:00,Everything is all good every #morning @Starbuc...,"{'username': 'eclipse7vig', 'id': 111033660173...","Beverly Hills, CA",33.954736,-118.212017
9,2021-05-14 23:35:32+00:00,@mjoffixial @Starbucks Yea it’s reallyyyy good!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.954736,-118.212017
10,2021-05-14 23:35:23+00:00,@mjoffixial @Starbucks I tried it!,"{'username': 'RealJadenGray', 'id': 8748409901...","Compton, CA",33.954736,-118.212017
11,2021-05-07 16:12:05+00:00,@Starbucks we're in the home stretch and tryin...,"{'username': 'iSouthsideCC', 'id': 2314103161,...","Inglewood, CA",33.954736,-118.212017
12,2021-05-03 07:05:55+00:00,I’m fucking tweaking bro fuck you @Starbucks,"{'username': 'physiczxxx', 'id': 9186809541340...",Trust not even a soul,33.954736,-118.212017
13,2021-05-02 00:11:35+00:00,@MitchellZarro @Starbucks No way lmao,"{'username': 'arahmanipour', 'id': 443490157, ...",,33.954736,-118.212017
14,2021-04-16 16:54:03+00:00,Sanitize them actually.\n\nI am so glad I work...,"{'username': 'enicholewalker', 'id': 68004188,...","Los Angeles, CA",33.954736,-118.212017
15,2021-04-11 17:51:19+00:00,@Jay_Uno_Trey27 @Starbucks Make whack,"{'username': 'AmayaTheGreat19', 'id': 84776314...",,33.954736,-118.212017
16,2021-04-05 14:28:09+00:00,Shoutout to the lady at @Starbucks. \n\nShe re...,"{'username': 'Xclusivekesh', 'id': 24373832, '...",,33.954736,-118.212017
17,2021-03-24 15:33:02+00:00,The barista at the drive thru at @Starbucks in...,"{'username': 'nereidaaxo', 'id': 80629643, 'di...",JAL 🇲🇽,33.954736,-118.212017
18,2021-03-20 04:25:36+00:00,So.... @Starbucks doesn’t warm up their iced p...,"{'username': 'ceetee_ellay', 'id': 93669925066...","Los Angeles, CA",33.954736,-118.212017
19,2021-03-18 22:35:43+00:00,@Starbucks Iced brown sugar oatmeal latte of c...,"{'username': 'angela_simisola', 'id': 14091455...","Los Angeles, CA",33.954736,-118.212017
20,2021-03-08 00:46:26+00:00,@Starbucks I did my Mobil order so I can just...,"{'username': 'Lashes0610', 'id': 47296913, 'di...",,33.954736,-118.212017
21,2021-03-05 05:44:53+00:00,So the app says @Starbucks is open till 12:00 ...,"{'username': 'josev2398', 'id': 1958288814, 'd...","Bell, CA",33.954736,-118.212017
22,2021-02-20 03:09:45+00:00,Thank you to whoever paid for my drink @Starbu...,"{'username': 'Younice92', 'id': 75849445019256...","Hawthorne, CA",33.954736,-118.212017
23,2021-02-15 20:13:16+00:00,"@AFaith_Allen @Starbucks Yeah, you guys are aw...","{'username': 'manofsteel83', 'id': 31479699, '...",L.A.,33.954736,-118.212017
24,2021-02-12 08:22:34+00:00,@QVO_LOCO @Starbucks Oooooooh https://t.co/Dsl...,"{'username': 'KaliPanameno', 'id': 206972192, ...",Inglewood,33.954736,-118.212017
25,2021-02-12 02:45:46+00:00,so of course I drove myself to @Starbucks sinc...,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.954736,-118.212017
26,2021-02-11 21:01:54+00:00,@yennyysworld @Starbucks Lmfao 🤣😂,"{'username': 'dropdeadbeeth', 'id': 138526420,...",United States,33.954736,-118.212017
27,2021-02-10 17:49:57+00:00,@WHDNYC @Starbucks What did you get? 👅,"{'username': 'independantdemo', 'id': 22517652...",213,33.954736,-118.212017
28,2021-01-30 03:07:35+00:00,@fununderthesunx @Starbucks I was afraid it wa...,"{'username': 'Nityislife', 'id': 108541507, 'd...",California.,33.954736,-118.212017
29,2021-01-30 01:50:52+00:00,the new pistachio latte from @Starbucks seems ...,"{'username': 'Nityislife', 'id': 108541507, 'd...",California.,33.954736,-118.212017
30,2021-01-29 05:40:54+00:00,@joshtatofimusic + Iced Guava Green Tea from @...,"{'username': 'tmpoly', 'id': 3059349007, 'disp...",Compton,33.954736,-118.212017
31,2021-01-28 02:14:01+00:00,@Starbucks y’all should be ashamed of all this...,"{'username': 'notsaranativo', 'id': 1194273696...","Los Angeles, CA",33.954736,-118.212017
32,2021-01-14 17:41:08+00:00,@omarlopez1 @Starbucks Ohhh okay! Oh no i cant...,"{'username': 'heatheranmariee', 'id': 16154135...","Paramount, California",33.954736,-118.212017
33,2020-12-24 19:25:26+00:00,"Working, but at least I got my iced coffee. 🏥😚...","{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.954736,-118.212017
34,2020-12-18 20:28:20+00:00,@THEChrisLittle @SUBWAY @JackBox @Starbucks @p...,"{'username': 'stormynormyPR', 'id': 1318688719...",,33.954736,-118.212017
35,2020-12-15 19:46:24+00:00,I think I deserve some @Starbucks. All my lab ...,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.954736,-118.212017
36,2020-12-11 17:50:09+00:00,@Starbucks @NatalieAndJer04 And you stopped ma...,"{'username': 'erbrlob', 'id': 4880363587, 'dis...","California, USA",33.954736,-118.212017
37,2020-12-08 16:36:12+00:00,All I really do care about is coffee @Starbucks,"{'username': 'xnotnatalie', 'id': 123832581969...","Los Angeles, CA",33.954736,-118.212017
38,2020-12-04 15:09:20+00:00,This morning shit is brought to you today by @...,"{'username': 'kevinhotsoup', 'id': 1308698682,...","Los Angeles, CA",33.954736,-118.212017
39,2020-11-17 21:50:18+00:00,That extra foam in my drink is the best @Starb...,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.954736,-118.212017
40,2020-11-17 14:06:49+00:00,As we continue to serve our community during t...,"{'username': 'EASTSIDERIDERS', 'id': 60228837,...","Los Angeles, CA",33.954736,-118.212017
41,2020-11-13 03:59:36+00:00,Wanting some @Starbucks rn,"{'username': 'RubyMaraz', 'id': 12447486157481...","Inglewood, CA",33.954736,-118.212017
42,2020-11-09 01:03:05+00:00,@vnvhi_ @xokaren_ @Starbucks Honestlyyyyy they...,"{'username': '_theRoach', 'id': 28913529, 'dis...","Los Angeles, CA",33.954736,-118.212017
43,2020-11-06 23:24:31+00:00,Got my holiday 🎄🎅🏻 cup thanks.@Starbucks,"{'username': 'jdmfatima', 'id': 10175365860056...","Downey, CA",33.954736,-118.212017
44,2020-11-06 17:52:28+00:00,@Starbucks I’m so mad... I ordered 2 drinks on...,"{'username': 'sayda_olr89', 'id': 593402366, '...","Downey, CA",33.954736,-118.212017
45,2020-11-05 16:46:12+00:00,@Starbucks @heyleenseleena 😏😂,"{'username': 'Sinnthhia', 'id': 58986993, 'dis...","Montebello, CA",33.954736,-118.212017
46,2020-11-01 15:38:29+00:00,"Happy November!! My birthday, thanksgiving and...","{'username': 'megannnv', 'id': 473555692, 'dis...","Los Angeles, CA",33.954736,-118.212017
47,2020-10-16 23:15:08+00:00,See you at 5:00PM!\n\nJoin us for #RecRadio s...,"{'username': 'Lynwoodparks', 'id': 3094131336,...","City of Lynwood, CA - USA",33.954736,-118.212017
48,2020-10-13 15:01:45+00:00,Daily morning @Starbucks run for Azaiahs straw...,"{'username': 'B0MB__', 'id': 72609734, 'displa...","Los Angeles, CA",33.954736,-118.212017
49,2020-09-27 19:15:07+00:00,@Starbucks is popping y’all ! 🤪 this the place...,"{'username': 'slimthickcyn', 'id': 128680356, ...",,33.954736,-118.212017
50,2020-09-26 18:26:17+00:00,@NJGirlKathy @Starbucks @lisaponyexpress @dcow...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.954736,-118.212017
51,2020-09-24 01:16:40+00:00,@Dmurr68 @Nike @LEGO_Group @ChipotleTweets @ta...,"{'username': 'BarneySantos', 'id': 458961607, ...",L.A. / #USCTrojan ✌🏽,33.954736,-118.212017
52,2020-09-21 22:17:20+00:00,We went to @Starbucks today https://t.co/vJnwq...,"{'username': 'Luis_Soria3', 'id': 941293891700...","Montebello, CA",33.954736,-118.212017
53,2020-09-15 16:14:32+00:00,Don’t work at @Starbucks unless you want them ...,"{'username': 'cruzelii22', 'id': 1255026018, '...",Norwalk,33.954736,-118.212017
54,2020-09-10 14:12:49+00:00,@heckyamimi @TheCoffeeBean @Starbucks Coffee b...,"{'username': 'Arleneyyyx', 'id': 1146090379122...",90250/90220,33.954736,-118.212017
55,2020-09-09 00:17:57+00:00,@mr_Alsheimer @Starbucks @Starbucks #TeacherLi...,"{'username': 'msgarcia721', 'id': 328308888, '...",,33.954736,-118.212017
56,2020-09-08 07:15:01+00:00,@alyssaprancer @Starbucks While sipping a cold...,"{'username': 'PincheErik', 'id': 161837532, 'd...",Montebello,33.954736,-118.212017
57,2020-09-03 19:17:52+00:00,@dumbfrog @Starbucks Good pumpkin spice is shit.,"{'username': 'PincheErik', 'id': 161837532, 'd...",Montebello,33.954736,-118.212017
58,2020-09-01 22:08:43+00:00,"@spaceh0es I hope you went back, just imagine ...","{'username': 'glamxobells', 'id': 105477096393...","Boyle Heights, Los Angeles",33.954736,-118.212017

,date,content,user,user_location,lat,lng
0,2021-07-12 02:05:13+00:00,"@ReadeAlexandra @caitoz Finally, a @Starbucks ...","{'username': 'Art_Vallejo', 'id': 39296957, 'd...","Stockton, CA",37.957703,-121.290781
1,2021-07-07 16:44:32+00:00,@Starbucks @What_Scares_You Your coffee just s...,"{'username': 'TrejosWorld', 'id': 112597656652...","Stockton, CA",37.957703,-121.290781
2,2021-07-06 19:53:07+00:00,I don’t know why but it makes me upset that I ...,"{'username': 'Maria_A_Mtz', 'id': 174842645, '...","Stockton, CA",37.957703,-121.290781
3,2020-12-06 20:28:01+00:00,@MeehanEDU @Starbucks What a beautiful woman. ...,"{'username': 'TammyDunbar', 'id': 15911470, 'd...",Central Valley of California,37.957703,-121.290781
4,2020-11-26 09:59:02+00:00,I’m really upset I went to @Starbucks &amp; my...,"{'username': 'dolcemegustaa_', 'id': 218769918...",ya tú sabes,37.957703,-121.290781
...,...,...,...,...,...,...
249,2011-12-02 19:09:55+00:00,@starbucks http://t.co/hvOK3nUO (+5pts),"{'username': 'USAPennyFarmer', 'id': 413278314...","California, USA",37.957703,-121.290781
250,2011-12-01 16:23:37+00:00,@starbucks nice. http://t.co/d627WCxP (+5pts),"{'username': 'USAPennyFarmer', 'id': 413278314...","California, USA",37.957703,-121.290781
251,2011-11-18 16:07:18+00:00,@starbucks http://t.co/PNefBEAi (+5pts),"{'username': 'USAPennyFarmer', 'id': 413278314...","California, USA",37.957703,-121.290781
252,2011-02-02 05:45:28+00:00,Enjoyed a great meeting with a mentor this eve...,"{'username': 'ChristopherLS', 'id': 16084648, ...","Moses Lake, Washington",37.957703,-121.290781
253,2010-11-05 20:01:10+00:00,@ASBookstore bring in @Starbucks. Please!!!!,"{'username': '_iReno_', 'id': 24845863, 'displ...",San Francisco,37.957703,-121.290781

,date,content,user,user_location,lat,lng
0,2021-07-09 21:17:29+00:00,@Starbucks 🐹🥰 https://t.co/deW8dUaQxW,"{'username': 'TiffsterM', 'id': 416619852, 'di...","Silicon Valley, CA",37.368831,-122.03635
1,2021-07-09 13:46:36+00:00,"@JuGee808 @Vyyyper @Starbucks Hell yeah, I’m a...","{'username': 'ItsSequence', 'id': 209779697, '...","Silicon Valley, CA",37.368831,-122.03635
2,2021-07-09 13:44:26+00:00,@Vyyyper @JuGee808 @Starbucks Haha a vicious c...,"{'username': 'ItsSequence', 'id': 209779697, '...","Silicon Valley, CA",37.368831,-122.03635
3,2021-07-09 13:31:37+00:00,@orodtech @Vyyyper @Starbucks But in the style...,"{'username': 'ItsSequence', 'id': 209779697, '...","Silicon Valley, CA",37.368831,-122.03635
4,2021-07-09 13:30:59+00:00,@orodtech @Vyyyper @Starbucks Hahahah! https:/...,"{'username': 'ItsSequence', 'id': 209779697, '...","Silicon Valley, CA",37.368831,-122.03635
...,...,...,...,...,...,...
880,2010-07-21 17:37:41+00:00,Rough night but woke up at 10 and feel fantast...,"{'username': 'skalush', 'id': 62561376, 'displ...","San Francisco, CA",37.368831,-122.03635
881,2010-06-23 17:42:33+00:00,"Asking for a ""cup for here"" at @starbucks gets...","{'username': 'dnamax', 'id': 15261198, 'displa...","Mountain View, CA, USA",37.368831,-122.03635
882,2010-04-19 23:21:05+00:00,Getting set up for the #green #earth event! Fr...,"{'username': 'davidTstevens', 'id': 88969044, ...",Silicon Valley Native,37.368831,-122.03635
883,2010-04-10 16:58:53+00:00,20-something dude here at @Starbucks is wearin...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.368831,-122.03635
884,2010-03-23 18:15:49+00:00,*grumble* Going to @Starbucks for #FreePastryD...,"{'username': 'Buxley_Hall', 'id': 14498066, 'd...","California, USA",37.368831,-122.03635

,date,content,user,user_location,lat,lng
0,2021-07-13 18:52:55+00:00,@Starbucks are accepting Doge yet? They #dogea...,"{'username': 'B_moonshine77', 'id': 1388954220...","Murrieta, CA",33.493639,-117.148364
1,2021-07-13 16:56:51+00:00,When did @Starbucks stop pouring regular coffe...,"{'username': 'ryaninsuburbia', 'id': 264112608...","Murrieta, CA",33.493639,-117.148364
2,2021-07-12 15:07:16+00:00,@Starbucks If only I could buy this with Doge 🤔,"{'username': 'B_moonshine77', 'id': 1388954220...","Murrieta, CA",33.493639,-117.148364
3,2021-07-11 19:57:12+00:00,I see @elonmusk was enjoying some Starbucks th...,"{'username': 'B_moonshine77', 'id': 1388954220...","Murrieta, CA",33.493639,-117.148364
4,2021-07-08 15:22:06+00:00,@Stephanieeee_7 @Starbucks Right! Like wtf,"{'username': 'JosephGarcia97', 'id': 290563465...","Temecula, CA",33.493639,-117.148364
...,...,...,...,...,...,...
263,2011-09-14 17:57:23+00:00,@Starbucks Tmec is lagging hard always around ...,"{'username': 'ElleBxo', 'id': 22683744, 'displ...",By the Sea. CA.,33.493639,-117.148364
264,2011-08-28 21:14:46+00:00,Got me some @Starbucks. Now I can relax :-),"{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
265,2011-08-05 03:53:42+00:00,@Starbucks this is a disgusting way to keep a ...,"{'username': 'rembry', 'id': 14953020, 'displa...","Tempe, Arizona",33.493639,-117.148364
266,2011-01-05 21:26:22+00:00,@Starbucks logo - You will always be thought o...,"{'username': 'heardable', 'id': 20297158, 'dis...",Worldwide,33.493639,-117.148364
267,2010-07-09 15:15:14+00:00,Headin' to @Starbucks for peace and quiet for ...,"{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.107231,-118.057847
1,2021-07-12 20:31:42+00:00,@Starbucks what can you tell us about 🦉?,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.107231,-118.057847
2,2021-07-12 20:28:29+00:00,@Starbucks @awils165 Has to be #safemoon related,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.107231,-118.057847
3,2021-07-12 15:50:56+00:00,@juzjulian @Starbucks go to coffee bean and ge...,"{'username': 'theythemjess', 'id': 3314579616,...","Pasadena, CA",34.107231,-118.057847
4,2021-07-11 18:07:12+00:00,Starting a new book. #Blush by #JamieBrenner. ...,"{'username': 'windwillow69', 'id': 608198362, ...","Pasadena, California",34.107231,-118.057847
5,2021-07-08 22:10:36+00:00,@EAWilsonAuthor Or maybe a free @Starbucks co...,"{'username': 'DSiflingWCPDPIO', 'id': 71734127...","West Covina, CA",34.107231,-118.057847
6,2021-07-07 17:39:06+00:00,@Starbucks Every day!!!!!!,"{'username': 'denagirl59', 'id': 8881714976839...","Pasadena, CA",34.107231,-118.057847
7,2021-07-03 20:35:26+00:00,@ohheytommy @Starbucks I want cinnamon dolce l...,"{'username': 'Mrs_Ayano', 'id': 13038883881440...",,34.107231,-118.057847
8,2021-06-29 14:21:14+00:00,"Guy: Do you like #WorldCup? ⚽️ \nMe: No, I lik...","{'username': 'LifeWithScotty', 'id': 254416718...",LA,34.107231,-118.057847
9,2021-06-29 04:01:38+00:00,@OhNoItsJanet @Starbucks Did she get them back...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.107231,-118.057847
10,2021-06-29 04:00:57+00:00,@OhNoItsJanet @Starbucks Did you lose her gold...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.107231,-118.057847
11,2021-06-29 03:56:12+00:00,Has anyone else had their @starbucks account h...,"{'username': 'BeeMelie', 'id': 110390693509754...",Ahch-To,34.107231,-118.057847
12,2021-06-17 19:20:25+00:00,When your @starbucks rest stop turns in to pur...,"{'username': 'ExiledfromNY', 'id': 85042057, '...","Los Angeles, Ca",34.107231,-118.057847
13,2021-06-15 14:22:36+00:00,Happy Tuesday ☕ @Starbucks https://t.co/7sxa29...,"{'username': 'jaime49ers', 'id': 136356669, 'd...",SAN FRANCISCO 49ERS,34.107231,-118.057847
14,2021-06-05 05:55:37+00:00,Also @Starbucks can your Japanese stores to do...,"{'username': 'chiemikaneko', 'id': 29936192, '...","Los Angeles, CA",34.107231,-118.057847
15,2021-05-17 05:24:09+00:00,And @Starbucks is out of straws too! https://t...,"{'username': 'Ali_mommy', 'id': 31057091, 'dis...",Friendly S El Monte,34.107231,-118.057847
16,2021-05-05 20:07:12+00:00,I’m not a salad person but @Starbucks has a pr...,"{'username': 'conceited_626', 'id': 1298750207...","Pomona, CA",34.107231,-118.057847
17,2021-04-30 22:12:28+00:00,@Starbucks YES💚💚💚💚💚💚,"{'username': 'denagirl59', 'id': 8881714976839...","Pasadena, CA",34.107231,-118.057847
18,2021-04-30 14:17:46+00:00,Free…thank you @starbucks another year…Now arm...,"{'username': 'West0013', 'id': 32185623, 'disp...","Santa Monica+Brentwood, CA",34.107231,-118.057847
19,2021-04-07 20:41:39+00:00,@FatgirlHedonist @Starbucks I didn't have a ca...,"{'username': 'TheYumYumFoodie', 'id': 56922967...",Born: Miami Live: Los Angeles,34.107231,-118.057847
20,2021-04-07 20:39:17+00:00,@FatgirlHedonist @Starbucks Looks 🔥. I have t...,"{'username': 'TheYumYumFoodie', 'id': 56922967...",Born: Miami Live: Los Angeles,34.107231,-118.057847
21,2021-03-05 21:28:32+00:00,I seriously think @Starbucks should sponsor me...,"{'username': 'Abreb21', 'id': 111245538, 'disp...","Fontana, CA",34.107231,-118.057847

,date,content,user,user_location,lat,lng
0,2021-07-11 00:36:30+00:00,@TuckerGeri @Starbucks I thought it was good…I...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.83585,-118.340628
1,2021-07-10 23:00:01+00:00,About to try the kiwi star fruit refresher😋 @S...,"{'username': 'LTL_ARTICHOKE1', 'id': 605203235...","Redondo Beach, CA",33.83585,-118.340628
2,2021-07-10 19:32:41+00:00,@CeiliGal @Starbucks No thanks! That's why I ...,"{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.83585,-118.340628
3,2021-07-09 17:46:04+00:00,"75 and sunny, cartop down,, @Starbucks stop be...","{'username': 'Girlsurgeon', 'id': 29349511, 'd...","Hermosa Beach, CA",33.83585,-118.340628
4,2021-06-30 17:17:19+00:00,Tables back inside @Starbucks. I forgot that p...,"{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",33.83585,-118.340628
...,...,...,...,...,...,...
1134,2010-12-03 03:41:50+00:00,Girl @Starbucks just gave me a free drink. Fli...,"{'username': 'joejpaige', 'id': 17729861, 'dis...",└A C A L I F O R N I A ☀️,33.83585,-118.340628
1135,2010-10-07 23:03:35+00:00,"I swore I just lost my keys, had a minor freak...","{'username': 'heykrisp', 'id': 29043788, 'disp...","San Diego, CA",33.83585,-118.340628
1136,2010-09-30 14:55:52+00:00,Just saw Weeman at @Starbucks in Hermosa Beach...,"{'username': 'heykrisp', 'id': 29043788, 'disp...","San Diego, CA",33.83585,-118.340628
1137,2010-08-12 17:38:48+00:00,I'm so mad!!! I went into @Starbucks to get my...,"{'username': 'junkinthetrunkk', 'id': 17646261...","Anaheim, Ca",33.83585,-118.340628
1138,2010-05-14 22:23:57+00:00,@Starbucks no soap in your restroom in Compton...,"{'username': 'brandynlbc', 'id': 14889375, 'di...","Sacramento, CA",33.83585,-118.340628

,date,content,user,user_location,lat,lng
0,2021-07-01 18:34:20+00:00,@Starbucks 👋,"{'username': 'bloom_brenda', 'id': 3074380128,...","Tracy, California",37.73965,-121.425222
1,2021-03-30 18:12:35+00:00,@Starbucks And tomorrow is my birthday....so I...,"{'username': 'bloom_brenda', 'id': 3074380128,...","Tracy, California",37.73965,-121.425222
2,2021-03-30 15:17:16+00:00,@Starbucks Grateful for my home and family. Gr...,"{'username': 'bloom_brenda', 'id': 3074380128,...","Tracy, California",37.73965,-121.425222
3,2021-03-09 15:45:56+00:00,Hello @Starbucks your app should allow employe...,"{'username': 'joycetompsett', 'id': 1850731, '...","California, USA",37.73965,-121.425222
4,2021-01-14 22:50:38+00:00,@chipotlepepper @Starbucks 😁☕ Thanks,"{'username': 'bloom_brenda', 'id': 3074380128,...","Tracy, California",37.73965,-121.425222
...,...,...,...,...,...,...
76,2012-01-12 16:59:26+00:00,@Starbucks not a fan of the blonde. Dark roast...,"{'username': 'shel_erin', 'id': 52657845, 'dis...","San Francisco, CA",37.73965,-121.425222
77,2011-11-17 22:06:47+00:00,Sitting at @Starbucks. Missed the 2fer by 3 mi...,"{'username': 'KiaGregory_', 'id': 57806100, 'd...","Tracy, CA",37.73965,-121.425222
78,2011-09-22 17:18:31+00:00,4 cars ahead of me so far waiting 10 minutes. ...,"{'username': 'SusanGoulding', 'id': 9788992, '...","37.721474,-121.444457",37.73965,-121.425222
79,2011-08-21 19:55:19+00:00,I need to try the captain crunch with crunch b...,"{'username': 'who8myshoe', 'id': 170911804, 'd...","Central Valley, California",37.73965,-121.425222
80,2011-04-22 21:06:08+00:00,Take a cup to #starbucks and @starbucks will g...,"{'username': 'who8myshoe', 'id': 170911804, 'd...","Central Valley, California",37.73965,-121.425222

,date,content,user,user_location,lat,lng
0,2021-07-13 23:46:06+00:00,@KookyPersona @Starbucks For real?! The SF cin...,"{'username': 'Siloeyes', 'id': 15428312, 'disp...",Orange County,33.74585,-117.826167
1,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.74585,-117.826167
2,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.74585,-117.826167
3,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.74585,-117.826167
4,2021-07-07 22:00:15+00:00,This week we’re celebrating a #weekofkindness....,"{'username': 'AnnaPerezSbux', 'id': 1295934760...","Santa Ana, CA",33.74585,-117.826167
...,...,...,...,...,...,...
1892,2010-09-10 19:18:40+00:00,@JoannaLord I've already partaken of a couple ...,"{'username': 'josephmorin', 'id': 14144158, 'd...","Irvine, CA",33.74585,-117.826167
1893,2010-07-02 00:28:51+00:00,@Starbucks =]],"{'username': 'johnymilaphoto', 'id': 111200627...","Los Angeles, CA",33.74585,-117.826167
1894,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.74585,-117.826167
1895,2010-03-23 15:40:02+00:00,Nevermind on the earlier tweet about @starbuck...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.74585,-117.826167
1896,2010-03-23 15:09:28+00:00,To #UCI peeps: our @starbucks is NOT participa...,"{'username': 'brianlance', 'id': 16206206, 'di...","Irvine, CA",33.74585,-117.826167

,date,content,user,user_location,lat,lng
0,2021-05-30 21:00:47+00:00,#SundayFunday @Starbucks Ouch if he gets the w...,"{'username': 'Detcookieman74', 'id': 152865471...",Vacaville Ca Detroit Mi,38.356578,-121.987744
1,2021-04-14 14:26:00+00:00,The beauty of being apart of the @Starbucks fa...,"{'username': 'ayeeemayyyyy', 'id': 144480829, ...",,38.356578,-121.987744
2,2020-12-18 16:17:54+00:00,Paid it forward @Starbucks today for an order ...,"{'username': 'SellyySel_', 'id': 431211901, 'd...",Califonia,38.356578,-121.987744
3,2020-06-09 19:26:26+00:00,@Starbucks These them child slave coffee beans?,"{'username': 'joesmooooth', 'id': 1340859565, ...","vacaville,california",38.356578,-121.987744
4,2020-05-25 18:05:44+00:00,@Starbucks does not have their 💩 together righ...,"{'username': 'jelaney510', 'id': 3964412118, '...",,38.356578,-121.987744
...,...,...,...,...,...,...
67,2012-01-31 14:45:06+00:00,"I'm @starbucks (210 Peabody Rd, Vacaville) ht...","{'username': 'fun4tod', 'id': 123749632, 'disp...",,38.356578,-121.987744
68,2011-09-20 14:16:59+00:00,Let's see how many @Starbucks I can stop at to...,"{'username': 'ironclm', 'id': 14389698, 'displ...","ÜT: 37.7931228,-122.397795",38.356578,-121.987744
69,2011-04-18 02:23:03+00:00,@starbucks http://we.rw/tdSs6 (+50pts),"{'username': 'urskrishna', 'id': 47494529, 'di...","Atlanta,GA",38.356578,-121.987744
70,2011-02-10 03:22:16+00:00,I just paid for my @Starbucks w/ my @BlackBerr...,"{'username': 'Mteuzi', 'id': 14865512, 'displa...",SF Bay Area,38.356578,-121.987744
71,2011-01-17 14:21:13+00:00,@sillly_jordan @starbucks getting food.,"{'username': 'NicoleVillagran', 'id': 15670335...",instagram @NicoleVillagran,38.356578,-121.987744

,date,content,user,user_location,lat,lng
0,2021-06-22 21:12:44+00:00,She knows my order by heart &amp; has served t...,"{'username': 'nettaconyers', 'id': 21382428, '...",San Francisco Bay Area,38.104086,-122.256636
1,2021-06-07 15:32:01+00:00,"It took them over a year, but @Starbucks final...","{'username': 'camertron', 'id': 26684668, 'dis...","Benicia, CA",38.104086,-122.256636
2,2021-04-18 14:45:38+00:00,@starbucks #coffee #espresso #mocha #whatsthat...,"{'username': 'Rslam1500', 'id': 891901724, 'di...",,38.104086,-122.256636
3,2021-03-03 21:30:34+00:00,@Starbucks my niece from Germany bought me thi...,"{'username': 'ellisonl', 'id': 21988153, 'disp...",,38.104086,-122.256636
4,2021-01-18 19:28:37+00:00,@henrykleeKTVU @KTVU @CoCoSheriff @PittsburgPD...,"{'username': 'edwards_msd', 'id': 809479355218...",,38.104086,-122.256636
5,2020-12-17 15:59:48+00:00,@Starbucks what the heck is going on with your...,"{'username': 'camertron', 'id': 26684668, 'dis...","Benicia, CA",38.104086,-122.256636
6,2020-12-05 19:21:55+00:00,"Thank you to all the frontline workers, includ...","{'username': 'Mjacobsen18', 'id': 296569414, '...",,38.104086,-122.256636
7,2020-02-02 01:04:20+00:00,@VanLathan Scones are like a biscuit. Usually ...,"{'username': 'JetCityMom', 'id': 15999611, 'di...","Vallejo, CA",38.104086,-122.256636
8,2019-12-12 19:11:04+00:00,@AlaskaAir @Starbucks Toffee nut crunch #Starb...,"{'username': 'iMarlonJ', 'id': 46503521, 'disp...",,38.104086,-122.256636
9,2019-08-27 15:31:36+00:00,@10News @Starbucks Yes. Sorry but it’s my favo...,"{'username': 'tachcojimenez', 'id': 4841539758...",,38.104086,-122.256636
10,2019-07-31 18:03:34+00:00,Why is there always an @innoutburger next to a...,"{'username': 'kernsters', 'id': 11535461350944...",California,38.104086,-122.256636
11,2019-07-31 17:59:42+00:00,Starbucks Coffee Company https://t.co/J4bzmYSz...,"{'username': 'StopforthDenice', 'id': 98338094...","Rodeo, CA",38.104086,-122.256636
12,2019-07-07 03:50:45+00:00,@dlcase @Starbucks @SbuxArizona @DutchBros @du...,"{'username': 'Motorguy2', 'id': 86315913612021...","California, USA",38.104086,-122.256636
13,2019-06-22 17:18:44+00:00,One of the best cups I’ve seen so far! Had to ...,"{'username': 'mrdbondoc', 'id': 39955267, 'dis...",California,38.104086,-122.256636
14,2019-06-11 14:40:48+00:00,@Starbucks what is going on? 👎🏼 https://t.co/w...,"{'username': 'smilapila', 'id': 299196911, 'di...",Bay Area,38.104086,-122.256636
15,2019-05-04 21:11:57+00:00,About 15 mins for plain iced coffee sounds abo...,"{'username': 'ChicaNFL', 'id': 557211716, 'dis...","San Francisco, CA",38.104086,-122.256636
16,2019-03-28 03:49:58+00:00,@Starbucks I tried this drink for the first t...,"{'username': 'rhondas540', 'id': 1441409304, '...","Vallejo, CA",38.104086,-122.256636
17,2019-03-11 02:58:37+00:00,"Hey, @Starbucks , how often do you update or c...","{'username': 'gillianrobins', 'id': 99217720, ...","Oklahoma City, OK",38.104086,-122.256636
18,2019-02-20 19:17:22+00:00,Vallejo @starbucks on Magazine. Out of everyth...,"{'username': 'Marymol', 'id': 25135459, 'displ...",,38.104086,-122.256636
19,2019-01-16 20:22:11+00:00,Hey @Starbucks what’s this lint doing on my s...,"{'username': 'GotPuuurrlas', 'id': 171278436, ...",Yay Area,38.104086,-122.256636
20,2018-12-15 15:08:50+00:00,@Starbucks how come when I order a “sausage an...,"{'username': 'blackc2004', 'id': 1512251, 'dis...","San Francisco, CA",38.104086,-122.256636
21,2018-12-11 11:35:29+00:00,@prettyadilene @Starbucks If you make it a whi...,"{'username': 'ashleyhennagin', 'id': 225020017...",Napa California,38.104086,-122.256636
22,2018-12-01 07:00:40+00:00,'We didn't expect this': Man accuses #Vacavill...,"{'username': 'mlaguren', 'id': 25746139, 'disp...",,38.104086,-122.256636
23,2018-10-13 15:21:27+00:00,it’s a problem when all you see on your transa...,"{'username': 'angelic30186442', 'id': 10160617...","Vallejo, CA",38.104086,-122.256636
24,2018-08-23 23:43:31+00:00,Hey @Starbucks: When can I expect this #bug to...,"{'username': 'LogicalArthur', 'id': 40284074, ...","Denver, CO / San Francisco, CA",38.104086,-122.256636
25,2018-05-16 23:21:49+00:00,Hello @Starbucks. Are y’all still mad at me?,"{'username': 'tsmall0601', 'id': 842306533, 'd...",Bay Area,38.104086,-122.256636
26,2018-05-15 15:39:31+00:00,@Starbucks I’m sorry for the nasty things I sa...,"{'username': 'tsmall0601', 'id': 842306533, 'd...",Bay Area,38.104086,-122.256636
27,2018-05-11 23:39:04+00:00,I didn’t say nothing when y’all got rid of the...,"{'username': 'tsmall0601', 'id': 842306533, 'd...",Bay Area,38.104086,-122.256636
28,2018-05-11 22:58:25+00:00,I’m mad at you @Starbucks. Why would you disco...,"{'username': 'tsmall0601', 'id': 842306533, 'd...",Bay Area,38.104086,-122.256636
29,2018-05-11 22:44:25+00:00,The face you make when @starbucks… https://t.c...,"{'username': 'pastor_trejo', 'id': 348662884, ...","American Canyon, California",38.104086,-122.256636
30,2018-04-18 15:55:54+00:00,@ZahraBilloo @Starbucks Is there a group that ...,"{'username': 'JamiahAdams', 'id': 16073420, 'd...","San Francisco, CA",38.104086,-122.256636
31,2018-04-15 15:35:55+00:00,Why?? @Starbucks https://t.co/E6zDq3wdJx,"{'username': 'keshadb', 'id': 49204796, 'displ...",The Secret Place #Psalms91,38.104086,-122.256636
32,2018-04-15 03:52:03+00:00,@hale_appleman @amyallantdf @JadeTailor @Summe...,"{'username': 'DreadPirateBess', 'id': 86877700...","Wine Country, California",38.104086,-122.256636
33,2018-04-14 19:05:33+00:00,@Starbucks thats it????????,"{'username': 'vizzon11', 'id': 19434568, 'disp...",cali,38.104086,-122.256636
34,2018-04-14 15:41:23+00:00,@Starbucks y’all out here arresting black folk...,"{'username': 'Maj_ical', 'id': 802758496127053...",Brothel,38.104086,-122.256636
35,2018-04-14 03:37:19+00:00,Damnit @Starbucks this is unacceptable! https:...,"{'username': 'its_jaaaaay', 'id': 2918223834, ...",707/909/808/702,38.104086,-122.256636

,date,content,user,user_location,lat,lng
0,2021-07-03 15:03:13+00:00,The little morning fluff with my ☕️ @starbuck...,"{'username': 'forbesington_', 'id': 7007524279...","Ventura, CA",34.274639,-119.229006
1,2020-11-30 22:26:29+00:00,They taking Hellas @Starbucks,"{'username': 'AjayLucas7', 'id': 1303378953910...",,34.274639,-119.229006
2,2020-04-24 23:03:37+00:00,@Starbucks you should add chocolate chip Carm...,"{'username': 'lyzallen1', 'id': 12427580470777...","Ventura, CA",34.274639,-119.229006
3,2020-02-27 17:56:56+00:00,Been at Starbucks since 8am and the music is 🔥...,"{'username': 'juju_julz', 'id': 99010754366486...",,34.274639,-119.229006
4,2019-11-22 07:58:51+00:00,@Starbucks I can’t believe you are out of Pump...,"{'username': 'Marisela50', 'id': 126636980, 'd...","Ventura, CA",34.274639,-119.229006
...,...,...,...,...,...,...
121,2011-08-26 21:49:53+00:00,Thank you @Starbucks! I'm excited about the Ap...,"{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.274639,-119.229006
122,2011-08-26 21:39:39+00:00,Seeing triple at @Starbucks @ Starbucks http...,"{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.274639,-119.229006
123,2011-08-24 21:27:42+00:00,Too bad @Starbucks iced coffee is half as good...,"{'username': 'JanelleRBlu', 'id': 18662507, 'd...","Chapel Hill, NC",34.274639,-119.229006
124,2011-07-06 21:09:02+00:00,"Trenta Passion Iced Tea Lemonade, thank you @S...","{'username': 'squinte6', 'id': 41044471, 'disp...",Southern California,34.274639,-119.229006
125,2010-05-17 22:55:01+00:00,@starbucks having #HotChocolate,"{'username': 'Chapman4CM', 'id': 18007614, 'di...","Costa Mesa, CA",34.274639,-119.229006

,date,content,user,user_location,lat,lng
0,2021-05-18 19:23:56+00:00,I hate when @Starbucks makes my drink shitty a...,"{'username': 'Saammyye', 'id': 856175731210104...",,34.536108,-117.291158
1,2021-05-08 00:59:56+00:00,Went to @Starbucks today and my drink was so “...,"{'username': 'Thepaperteer', 'id': 239643380, ...",California,34.536108,-117.291158
2,2021-02-02 05:37:29+00:00,"@Starbucks just made a purchase on your app, m...","{'username': 'KJC23isMe', 'id': 1376206610, 'd...","Apple Valley, CA",34.536108,-117.291158
3,2020-06-19 16:20:16+00:00,@Starbucks since everything is crazy as heck i...,"{'username': 'CsVendetta', 'id': 304857135, 'd...","California, USA",34.536108,-117.291158
4,2020-02-04 18:54:51+00:00,Broooo I just watched a @Starbucks commercial ...,"{'username': '_blancuh_', 'id': 11259330142638...",,34.536108,-117.291158
...,...,...,...,...,...,...
95,2012-05-11 23:20:20+00:00,Wow my favorite @Starbucks in @AppleValleyCA i...,"{'username': 'joevill', 'id': 34082154, 'displ...","Apple Valley, CA",34.536108,-117.291158
96,2012-03-07 19:40:11+00:00,Hurray for @Starbucks http://t.co/NQhstC4u,"{'username': 'joevill', 'id': 34082154, 'displ...","Apple Valley, CA",34.536108,-117.291158
97,2011-12-28 21:38:50+00:00,Do you have @starbucks rewards? (@ Starbucks) ...,"{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.536108,-117.291158
98,2011-06-12 23:22:09+00:00,Watching #NFL top 100 & #NBAFinals pregame (go...,"{'username': 'theryangibb', 'id': 19150009, 'd...","Richmond, VA",34.536108,-117.291158
99,2010-08-29 21:09:49+00:00,Fuck yes! The only coffee I like from there! R...,"{'username': 'big_veee', 'id': 35008072, 'disp...",760.714.773,34.536108,-117.291158

,date,content,user,user_location,lat,lng
0,2021-06-24 15:01:49+00:00,Quad espresso to help with this day @Starbucks...,"{'username': 'DTPMZP', 'id': 97618660, 'displa...",United States,36.330228,-119.292058
1,2020-12-11 17:09:21+00:00,@Starbucks https://t.co/tZ78j6DTEs,"{'username': 'alleenagonzalez', 'id': 25727856...","California, USA",36.330228,-119.292058
2,2020-09-24 17:02:00+00:00,@misomaichi @Starbucks Omg what did you order ...,"{'username': 'youpinsee', 'id': 4553864773, 'd...","California, USA",36.330228,-119.292058
3,2020-09-21 23:22:56+00:00,I Went to 2 different @Starbucks locations tod...,"{'username': 'Ryyahh23', 'id': 979305966, 'dis...","California, USA",36.330228,-119.292058
4,2020-07-03 02:18:52+00:00,@Starbucks @thekpopaccount Hyungwon has Starbu...,"{'username': 'monizzy0618', 'id': 166336580, '...",,36.330228,-119.292058
...,...,...,...,...,...,...
99,2012-01-20 18:58:53+00:00,There's nothing like a shot of espresso and an...,"{'username': 'gavenoakley', 'id': 15436449, 'd...",United States,36.330228,-119.292058
100,2011-11-16 05:19:04+00:00,Peppermint White Chocolate Mocha at @Starbucks...,"{'username': 'gavenoakley', 'id': 15436449, 'd...",United States,36.330228,-119.292058
101,2011-11-12 07:11:35+00:00,@Starbucks Just found this at my local @Target...,"{'username': 'gavenoakley', 'id': 15436449, 'd...",United States,36.330228,-119.292058
102,2011-11-12 01:43:54+00:00,"Yeah, I love @Starbucks enough to walk half a ...","{'username': 'TaylorCharbjklz', 'id': 25527136...",Richmond,36.330228,-119.292058
103,2010-12-14 11:03:52+00:00,"down here @Starbucks @Visalia, CA enjoying cri...","{'username': 'sk8erchrissheek', 'id': 21109262...",Visalia CA,36.330228,-119.292058

,date,content,user,user_location,lat,lng
0,2021-07-13 23:37:08+00:00,So yesterday I tried @Starbucks grilled cheese...,"{'username': 'Jackie135_7', 'id': 591043386, '...","San Marcos,CA",33.200036,-117.242536
1,2021-07-11 02:44:59+00:00,@CherishToday08 @Starbucks Bond 💜🥂 @MissSally...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.200036,-117.242536
2,2021-07-08 05:30:28+00:00,@Starbucks what gives? wanted to pay $DOGE for...,"{'username': 'daviddelgado', 'id': 17050943, '...","Carlsbad, CA",33.200036,-117.242536
3,2021-07-07 00:10:08+00:00,@jmjohn15 @CherishToday08 @FetchTeach @Gabriel...,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.200036,-117.242536
4,2021-07-06 15:19:33+00:00,@Starbucks Good idea 👍🏼,"{'username': 'LaneBaima', 'id': 88441590665424...","Carlsbad, CA",33.200036,-117.242536
...,...,...,...,...,...,...
533,2011-03-09 22:02:11+00:00,Teaching @jamesdoezie how to skateboard on the...,"{'username': 'corey_dylan', 'id': 35427941, 'd...",Ocean Beach | San Diego,33.200036,-117.242536
534,2010-11-09 16:16:57+00:00,"http://twitpic.com/35cmt3 OceansideDMV, only p...","{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.200036,-117.242536
535,2010-07-25 16:52:50+00:00,Kicking it at Carlsbad @Starbucks with Hawaii ...,"{'username': 'NickyChips', 'id': 25372542, 'di...",OutsideTheBox : InsideTheLines,33.200036,-117.242536
536,2010-06-03 17:45:50+00:00,@Starbucks I used my rewards card 5+ times bef...,"{'username': 'Neufusion', 'id': 16655831, 'dis...","Vista, CA",33.200036,-117.242536
537,2010-03-18 23:06:37+00:00,"@Starbucks has ""for here mugs"". Ask for it and...","{'username': 'NickChillPhoto', 'id': 22030942,...","Decorah, IA",33.200036,-117.242536

,date,content,user,user_location,lat,lng
0,2021-07-12 20:31:42+00:00,@Starbucks what can you tell us about 🦉?,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.068622,-117.938953
1,2021-07-12 20:28:29+00:00,@Starbucks @awils165 Has to be #safemoon related,"{'username': 'Shahabs', 'id': 33845458, 'displ...","Pasadena, CA",34.068622,-117.938953
2,2021-07-08 22:10:36+00:00,@EAWilsonAuthor Or maybe a free @Starbucks co...,"{'username': 'DSiflingWCPDPIO', 'id': 71734127...","West Covina, CA",34.068622,-117.938953
3,2021-07-03 20:35:26+00:00,@ohheytommy @Starbucks I want cinnamon dolce l...,"{'username': 'Mrs_Ayano', 'id': 13038883881440...",,34.068622,-117.938953
4,2021-06-30 19:42:54+00:00,@Starbucks do you have any coupons foe next week?,"{'username': 'NotNewTwiterite', 'id': 12277639...",,34.068622,-117.938953
...,...,...,...,...,...,...
1080,2010-12-02 03:03:20+00:00,@gregmaron & I are leaving @starbucks because ...,"{'username': 'AdamGoyer', 'id': 104438475, 'di...","Los Angeles, CA",34.068622,-117.938953
1081,2010-11-19 19:05:36+00:00,"Man, @Starbucks has a strong business client b...","{'username': 'AdamGoyer', 'id': 104438475, 'di...","Los Angeles, CA",34.068622,-117.938953
1082,2010-11-01 14:23:31+00:00,Breakfast @starbucks gotta have my coffee  to...,"{'username': 'OpTicSwagg24', 'id': 191716219, ...",,34.068622,-117.938953
1083,2010-09-28 22:19:40+00:00,This looks very exciting.... @Starbucks http:/...,"{'username': 'JeffDMartinez', 'id': 21318642, ...","Nashville, TN",34.068622,-117.938953
1084,2010-07-16 23:37:00+00:00,@Starbucks I Did :) #TreatReceipt,"{'username': 'JeffDMartinez', 'id': 21318642, ...","Nashville, TN",34.068622,-117.938953

,date,content,user,user_location,lat,lng
0,2021-07-11 23:53:36+00:00,@bookiesncookies @Starbucks yeah that’s a good...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.751342,-117.993992
1,2021-07-11 21:40:09+00:00,so is @Starbucks charging for milk alternative...,"{'username': 'alliewithbooks', 'id': 113856211...",Disneyland,33.751342,-117.993992
2,2021-07-11 16:52:53+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.751342,-117.993992
3,2021-07-11 16:01:16+00:00,A @Starbucks hack for Vietnamese Iced Coffee e...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.751342,-117.993992
4,2021-07-11 15:06:04+00:00,@catheri88438842 @DakIsMyQB1 @GarDolphin733 @l...,"{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.751342,-117.993992
...,...,...,...,...,...,...
1599,2010-09-29 15:58:25+00:00,4 pump double shot @Starbucks chai latte to st...,"{'username': 'McVivicakes', 'id': 52949807, 'd...","Anaheim, CA",33.751342,-117.993992
1600,2010-09-25 16:24:59+00:00,"Car droped off car, walked to @starbucks, now ...","{'username': 'colorcopies', 'id': 15883869, 'd...","Santa ana, ca",33.751342,-117.993992
1601,2010-08-08 19:00:16+00:00,Is grabbing some @Starbucks,"{'username': 'fabulousjoshie', 'id': 74038032,...",From Small town Now Cincinnati,33.751342,-117.993992
1602,2010-07-02 00:28:51+00:00,@Starbucks =]],"{'username': 'johnymilaphoto', 'id': 111200627...","Los Angeles, CA",33.751342,-117.993992
1603,2010-04-01 05:48:04+00:00,RT @Starbucks: We're listening to your request...,"{'username': 'nowbrewing', 'id': 19081038, 'di...",SF Bay Area,33.751342,-117.993992

,date,content,user,user_location,lat,lng
0,2021-07-12 03:34:28+00:00,@loqua_renee @Starbucks Ohhhh I believe that. ...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.979178,-118.032844
1,2021-07-12 02:33:32+00:00,@tobybrooke @Starbucks Well that too. 🤣,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.979178,-118.032844
2,2021-07-12 02:25:06+00:00,We all know that churches spend all their unta...,"{'username': 'Joel_Simpson', 'id': 67280132, '...","Whittier, CA",33.979178,-118.032844
3,2021-07-06 16:43:57+00:00,What’s up with @Starbucks using way to much cr...,"{'username': 'Mercabet', 'id': 528834338, 'dis...","Downey, CA",33.979178,-118.032844
4,2021-06-20 18:28:04+00:00,whoever came up with the medicine ball at @Sta...,"{'username': 'chrispychriscat', 'id': 39141596...","Pasadena, CA",33.979178,-118.032844
5,2021-06-16 20:19:38+00:00,@crocs goes to @starbucks …perfect combo 🤟🏼 🍍 ...,"{'username': 'ForeverAmber3', 'id': 28901170, ...",California,33.979178,-118.032844
6,2021-05-29 16:05:01+00:00,@imbradmiller @Starbucks Yup I have 3 of them ...,"{'username': 'jasontucker', 'id': 791125, 'dis...","Whittier, CA 90603",33.979178,-118.032844

In [24]:
print(loc)

33.979178, -118.032844, 10km

In [51]:
df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@McDonalds geocode:"{}"'.format(loc)).get_items(), 1000))[['date', 'content']]

In [25]:
final_df_array = []

for df in df_array:
    print(df['date'].count())
    if df['date'].count() > 30:
        final_df_array.append(df)

135
2522
180
343
1157
70
161
1612
4
493
1476
107
231
69
645
43
403
288
1569
3108
44
518
16
301
61
582
23
565
2158
3020
122
60
395
75
106
1389
226
5000
1300
93
144
175
468
2908
92
646
306
41
125
1204
19
1068
359
840
1871
441
97
10
725
624
69
985
475
255
239
415
888
140
593
55
4132
1672
637
593
566
2585
233
1284
421
95
5000
149
3
59
254
885
268
22
1139
81
1897
72
36
126
100
104
538
1085
1604
7

In [110]:
for df in final_df_array:
    print(df['date'].count())

115
1192
46
218
842
372
239
966
46
49
394
48
83
504
1422
44
245
173
71
50
32
392
1153
1233
44
31
35
75
146
4606
344
54
64
100
138
74
46
162
37
363
91
214
423
506
204
38
237
370
358
136
76
93
114
306
69
339
67
1255
1730
370
231
681
119
1783
229
75
3756
70
186
125
151
658
109
485
31
68
59
302
778
416

In [26]:
rows = []

for df in final_df_array:
    sentiment_total = 0
    df_len = df['date'].count()
    i = 0
    while i < df_len:
        testimonial = TextBlob(df.loc[i, 'content'])
        sentiment_total = sentiment_total + testimonial.sentiment.polarity
        sentiment_average = sentiment_total/df_len
        i = i+1
    print(f"({df.loc[1,'lat']}, {df.loc[1,'lng']}): Sentiment Total = {sentiment_total}, Average Sentiment: {sentiment_average}")
    rows.append([df.loc[1,'lat'],df.loc[1,'lng'], sentiment_total, sentiment_average])
    print("-" *42)

(34.095286, -118.127014): Sentiment Total = 13.092027163374818, Average Sentiment: 0.09697797898796161
------------------------------------------
(33.835292, -117.914503): Sentiment Total = 360.40296882456875, Average Sentiment: 0.142903635537101
------------------------------------------
(38.004922, -121.805789): Sentiment Total = 22.203862433862433, Average Sentiment: 0.12335479129923574
------------------------------------------
(35.373292, -119.018711): Sentiment Total = 34.03192392676766, Average Sentiment: 0.0992184371042789
------------------------------------------
(34.085286, -117.960897): Sentiment Total = 125.3082766936478, Average Sentiment: 0.10830447423824356
------------------------------------------
(33.881683, -118.117011): Sentiment Total = 6.127256944444444, Average Sentiment: 0.08753224206349206
------------------------------------------
(37.871592, -122.272747): Sentiment Total = 6.10054879148629, Average Sentiment: 0.03789160740053596
------------------------------------------
(33.867514, -117.998117): Sentiment Total = 238.87945603730716, Average Sentiment: 0.14818824816210122
------------------------------------------
(33.158092, -117.350594): Sentiment Total = 60.79611828854015, Average Sentiment: 0.12331869835403682
------------------------------------------
(33.831406, -118.282017): Sentiment Total = 158.24602864025525, Average Sentiment: 0.10721275653133824
------------------------------------------
(39.728494, -121.837478): Sentiment Total = 13.761696203102451, Average Sentiment: 0.12861398320656497
------------------------------------------
(34.012236, -117.688944): Sentiment Total = 20.174266796029485, Average Sentiment: 0.08733448829449994
------------------------------------------
(32.640053, -117.084197): Sentiment Total = 12.017743714618716, Average Sentiment: 0.17417019876259007
------------------------------------------
(36.825228, -119.702919): Sentiment Total = 80.24106706950451, Average Sentiment: 0.12440475514651862
------------------------------------------
(33.89585, -118.220072): Sentiment Total = 5.586363636363636, Average Sentiment: 0.12991543340380549
------------------------------------------
(37.977978, -122.031072): Sentiment Total = 41.31534045815295, Average Sentiment: 0.10251945523114876
------------------------------------------
(33.875294, -117.566439): Sentiment Total = 50.7527220587572, Average Sentiment: 0.17622472937068473
------------------------------------------
(33.641133, -117.918669): Sentiment Total = 191.50752387245663, Average Sentiment: 0.12205705791743571
------------------------------------------
(37.687925, -122.470208): Sentiment Total = 296.31349168224097, Average Sentiment: 0.09533896128772232
------------------------------------------
(33.940014, -118.132569): Sentiment Total = 6.760416666666666, Average Sentiment: 0.15364583333333331
------------------------------------------
(32.794772, -116.962528): Sentiment Total = 51.74911347260958, Average Sentiment: 0.09990176346063626
------------------------------------------
(33.119208, -117.086422): Sentiment Total = 36.45239763708514, Average Sentiment: 0.1211043110866616
------------------------------------------
(38.249358, -122.039967): Sentiment Total = 6.324394841269843, Average Sentiment: 0.10367860395524332
------------------------------------------
(34.092233, -117.435047): Sentiment Total = 69.26238237004445, Average Sentiment: 0.1190075298454372
------------------------------------------
(36.746842, -119.772586): Sentiment Total = 68.90092615139488, Average Sentiment: 0.1219485418608759
------------------------------------------
(33.870292, -117.925339): Sentiment Total = 299.97565930827494, Average Sentiment: 0.13900632961458523
------------------------------------------
(33.773906, -117.941447): Sentiment Total = 404.351682541479, Average Sentiment: 0.13389128560976127
------------------------------------------
(34.142508, -118.255075): Sentiment Total = 16.023048115079366, Average Sentiment: 0.13133645995966695
------------------------------------------
(33.916403, -118.352575): Sentiment Total = 3.6987428225709484, Average Sentiment: 0.061645713709515805
------------------------------------------
(37.668819, -122.080797): Sentiment Total = 33.81240143247956, Average Sentiment: 0.08560101628475839
------------------------------------------
(33.747519, -116.971967): Sentiment Total = 7.92140870197511, Average Sentiment: 0.10561878269300146
------------------------------------------
(34.426389, -117.300878): Sentiment Total = 17.226659564393934, Average Sentiment: 0.1625156562678673
------------------------------------------
(33.660297, -117.999225): Sentiment Total = 200.2161988071863, Average Sentiment: 0.14414413161064527
------------------------------------------
(33.720578, -116.215561): Sentiment Total = 22.183575860445984, Average Sentiment: 0.0981574153117079
------------------------------------------
(33.961681, -118.353131): Sentiment Total = 403.4918275844815, Average Sentiment: 0.0806983655168963
------------------------------------------
(33.683947, -117.794694): Sentiment Total = 147.8490872771434, Average Sentiment: 0.11373006713626416
------------------------------------------
(33.853628, -118.133956): Sentiment Total = 13.393894300144295, Average Sentiment: 0.14402036881875585
------------------------------------------
(34.686786, -118.154164): Sentiment Total = 18.445985412157288, Average Sentiment: 0.12809712091775893
------------------------------------------
(37.681875, -121.768008): Sentiment Total = 22.021776591464093, Average Sentiment: 0.12583872337979482
------------------------------------------
(33.768322, -118.195617): Sentiment Total = 49.88247474747474, Average Sentiment: 0.10658648450315115
------------------------------------------
(34.052233, -118.243686): Sentiment Total = 362.49684672467777, Average Sentiment: 0.12465503670037062
------------------------------------------
(37.302164, -120.482967): Sentiment Total = 10.766774891774892, Average Sentiment: 0.11703016186711838
------------------------------------------
(33.600022, -117.671994): Sentiment Total = 60.92360831975823, Average Sentiment: 0.09430899120705609
------------------------------------------
(37.639097, -120.996878): Sentiment Total = 27.544405663780662, Average Sentiment: 0.09001439759405445
------------------------------------------
(33.942467, -117.229672): Sentiment Total = 1.7756583694083696, Average Sentiment: 0.043308740717277305
------------------------------------------
(38.297539, -122.286864): Sentiment Total = 10.357574404761902, Average Sentiment: 0.08286059523809522
------------------------------------------
(33.618911, -117.928947): Sentiment Total = 151.92726398188435, Average Sentiment: 0.12618543520090061
------------------------------------------
(37.804364, -122.271114): Sentiment Total = 111.44508089884643, Average Sentiment: 0.10434932668431314
------------------------------------------
(33.195869, -117.379483): Sentiment Total = 45.385969445196004, Average Sentiment: 0.12642331321781616
------------------------------------------
(34.063344, -117.650889): Sentiment Total = 97.97685200534886, Average Sentiment: 0.11663910953017721
------------------------------------------
(33.787794, -117.853111): Sentiment Total = 242.5619100698199, Average Sentiment: 0.12964292360760016
------------------------------------------
(34.197506, -119.177053): Sentiment Total = 52.37039682539683, Average Sentiment: 0.118753734297952
------------------------------------------
(34.579433, -118.116461): Sentiment Total = 13.690063694985573, Average Sentiment: 0.1411346772678925
------------------------------------------
(34.055228, -117.752306): Sentiment Total = 70.82117309893249, Average Sentiment: 0.09768437668818275
------------------------------------------
(34.1064, -117.593108): Sentiment Total = 70.78514400829502, Average Sentiment: 0.11343773078252407
------------------------------------------
(40.586539, -122.391675): Sentiment Total = 8.711566558441557, Average Sentiment: 0.12625458780350082
------------------------------------------
(37.485214, -122.236356): Sentiment Total = 75.01563215863996, Average Sentiment: 0.07615800219151266
------------------------------------------
(34.1064, -117.370325): Sentiment Total = 45.12810480732938, Average Sentiment: 0.09500653643648291
------------------------------------------

(37.935758, -122.34775): Sentiment Total = 21.963777958152946, Average Sentiment: 0.08613246258099194
------------------------------------------
(33.95335, -117.396156): Sentiment Total = 17.268213383838386, Average Sentiment: 0.07225193884451207
------------------------------------------
(38.752122, -121.288006): Sentiment Total = 50.26636582745957, Average Sentiment: 0.12112377307821584
------------------------------------------
(38.581572, -121.4944): Sentiment Total = 87.90333578024985, Average Sentiment: 0.09899024299577686
------------------------------------------
(36.677736, -121.6555): Sentiment Total = 15.619268071338382, Average Sentiment: 0.11156620050955987
------------------------------------------
(34.108344, -117.289764): Sentiment Total = 68.50174047182976, Average Sentiment: 0.11551726892382759
------------------------------------------
(32.715328, -117.157256): Sentiment Total = 10.860898476523477, Average Sentiment: 0.19747088139133595
------------------------------------------
(37.774931, -122.419417): Sentiment Total = 434.45878707680583, Average Sentiment: 0.10514491458780392
------------------------------------------
(37.339386, -121.894956): Sentiment Total = 207.3343024422046, Average Sentiment: 0.12400376940323242
------------------------------------------
(37.724931, -122.156078): Sentiment Total = 47.14462972791097, Average Sentiment: 0.07401040773612397
------------------------------------------
(33.143372, -117.166144): Sentiment Total = 70.12515966961283, Average Sentiment: 0.11825490669411944
------------------------------------------
(37.562992, -122.325525): Sentiment Total = 49.07406905363153, Average Sentiment: 0.08670330221489671
------------------------------------------
(33.745572, -117.867833): Sentiment Total = 322.57799305425436, Average Sentiment: 0.12478839189719705
------------------------------------------
(34.420831, -119.698189): Sentiment Total = 34.81411317415225, Average Sentiment: 0.14941679473885083
------------------------------------------
(37.354108, -121.955236): Sentiment Total = 148.0078253874014, Average Sentiment: 0.11527089204626277
------------------------------------------
(34.391664, -118.542586): Sentiment Total = 44.855161811568074, Average Sentiment: 0.1065443273433921
------------------------------------------
(34.953033, -120.435719): Sentiment Total = 12.071513998154625, Average Sentiment: 0.12706856840162764
------------------------------------------
(34.019453, -118.491192): Sentiment Total = 415.89851800926135, Average Sentiment: 0.08317970360185227
------------------------------------------
(38.440467, -122.714431): Sentiment Total = 15.638691821958417, Average Sentiment: 0.10495766323462025
------------------------------------------
(33.954736, -118.212017): Sentiment Total = 6.398713135822511, Average Sentiment: 0.10845276501394087
------------------------------------------
(37.957703, -121.290781): Sentiment Total = 19.39520911871693, Average Sentiment: 0.0763590910185706
------------------------------------------
(37.368831, -122.03635): Sentiment Total = 115.37106134162376, Average Sentiment: 0.130362781176976
------------------------------------------
(33.493639, -117.148364): Sentiment Total = 28.372022952741705, Average Sentiment: 0.10586575728634964
------------------------------------------
(33.83585, -118.340628): Sentiment Total = 123.7064564476729, Average Sentiment: 0.10860970715335637
------------------------------------------
(37.73965, -121.425222): Sentiment Total = 11.176040464165466, Average Sentiment: 0.13797580819957364
------------------------------------------
(33.74585, -117.826167): Sentiment Total = 235.03639590718876, Average Sentiment: 0.12389899626103783
------------------------------------------
(38.356578, -121.987744): Sentiment Total = 9.242107683982683, Average Sentiment: 0.12836260672198171
------------------------------------------
(38.104086, -122.256636): Sentiment Total = 0.44594524110149136, Average Sentiment: 0.01238736780837476
------------------------------------------
(34.274639, -119.229006): Sentiment Total = 7.790471681096679, Average Sentiment: 0.061829140326164114
------------------------------------------
(34.536108, -117.291158): Sentiment Total = 9.053884548611112, Average Sentiment: 0.09053884548611112
------------------------------------------
(36.330228, -119.292058): Sentiment Total = 17.37368837181337, Average Sentiment: 0.16705469588282085
------------------------------------------
(33.200036, -117.242536): Sentiment Total = 67.13828309132997, Average Sentiment: 0.12479234775340142
------------------------------------------
(34.068622, -117.938953): Sentiment Total = 116.94571919905904, Average Sentiment: 0.10778407299452446
------------------------------------------
(33.751342, -117.993992): Sentiment Total = 235.82378813987322, Average Sentiment: 0.147022311807901
------------------------------------------

In [27]:
total_sentiment_df = pd.DataFrame(rows, columns=["lat", "lng", "sentiment_total", "sentiment_average"])

In [28]:
total_sentiment_df

          lat         lng  sentiment_total  sentiment_average
0   34.095286 -118.127014        13.092027           0.096978
1   33.835292 -117.914503       360.402969           0.142904
2   38.004922 -121.805789        22.203862           0.123355
3   35.373292 -119.018711        34.031924           0.099218
4   34.085286 -117.960897       125.308277           0.108304
..        ...         ...              ...                ...
87  34.536108 -117.291158         9.053885           0.090539
88  36.330228 -119.292058        17.373688           0.167055
89  33.200036 -117.242536        67.138283           0.124792
90  34.068622 -117.938953       116.945719           0.107784
91  33.751342 -117.993992       235.823788           0.147022

[92 rows x 4 columns]

In [29]:
total_sentiment_df.to_csv("starbucks_tweets_average_sentiments.csv")

In [31]:
# Specify the file to write to
output_path = os.path.join("..","tweet_csvs", "starbucks_tweets.csv")

# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w', newline='') as csvfile:
    
    # Initialize csv.writer
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    csvwriter.writerow(['date', 'content', 'lat', 'lng', 'city', 'population', 'sentiment'])
    
    for df in final_df_array:
        print(df['date'].count())
        everything_bigger_final = pd.merge(df, final_city_df, how='inner', left_on=['lat', 'lng'], right_on=['lat', 'lng'])
        
        print(everything_bigger_final['date'].count())
        
        index_len = everything_bigger_final['date'].count()
        i = 0
        while i < index_len:
            testimonial = TextBlob(everything_bigger_final.loc[i, 'content'])
            
            csvwriter.writerow([everything_bigger_final.loc[i, 'date'], everything_bigger_final.loc[i, 'content'], everything_bigger_final.loc[i, 'lat'], everything_bigger_final.loc[i,'lng'], everything_bigger_final['city'][0], everything_bigger_final['pop_april_2010'][0], testimonial.sentiment.polarity])
            i = i+1
    # Write the first row (column headers)

    #date	content	user	user_location	lat	lng

135
135
2522
2522
180
180
343
343
1157
1157
70
70
161
161
1612
1612
493
493
1476
1476
107
107
231
231
69
69
645
645
43
43
403
403
288
288
1569
1569
3108
3108
44
44
518
518
301
301
61
61
582
582
565
565
2158
2158
3020
3020
122
122
60
60
395
395
75
75
106
106
1389
1389
226
226
5000
5000
1300
1300
93
93
144
144
175
175
468
468
2908
2908
92
92
646
646
306
306
41
41
125
125
1204
1204
1068
1068
359
359
840
840
1871
1871
441
441
97
97
725
725
624
624
69
69
985
985
475
475
255
255
239
239
415
415
888
888
140
140
593
593
55
55
4132
4132
1672
1672
637
637
593
593
566
566
2585
2585
233
233
1284
1284
421
421
95
95
5000
5000
149
149
59
59
254
254
885
885
268
268
1139
1139
81
81
1897
1897
72
72
36
36
126
126
100
100
104
104
538
538
1085
1085
1604
1604