In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools
from IPython.display import display
import os
import csv
from textblob import TextBlob

In [2]:
#Search term to be used on twitter scrape
search = "@subway"

#how to scrape
scraped_tweets= sntwitter.TwitterSearchScraper(search).get_items()
sliced_scraped_tweets = itertools.islice(scraped_tweets,10)

#create df of all the new data
df = pd.DataFrame(sliced_scraped_tweets)[['date', 'content']]

In [3]:
df

                       date                                            content
0 2021-07-15 19:17:31+00:00  @SUBWAY ordered  a steak &amp;cheese  melt wit...
1 2021-07-15 19:16:27+00:00  Great idea @Subway at installing touchscreen m...
2 2021-07-15 19:16:24+00:00  So @SUBWAY is claining they can put whaever th...
3 2021-07-15 19:15:28+00:00  @HoaLy97197245 @stevis2point0 @mPinoe @S10Bird...
4 2021-07-15 19:14:23+00:00  @SUBWAY is a joke. I stop eating there when i ...
5 2021-07-15 19:09:15+00:00  @4lisaguerrero @SUBWAY Guess what I’m buying r...
6 2021-07-15 19:04:45+00:00                    @SUBWAY https://t.co/8Og8Cm80Ro
7 2021-07-15 19:03:38+00:00  @WRadioColombia Señores de @Subway y @Sandwich...
8 2021-07-15 19:03:09+00:00               ayo @subway ur new wheat bread slaps
9 2021-07-15 19:02:37+00:00  @SUBWAY Why is there online ordering if they d...

In [4]:
#create array that will store the names of all the cities
city_array = []

#import dataframe containing populations of cities in california
california_cities_df = pd.read_csv('cal_populations_city.csv')

In [5]:
california_cities_df['pop_april_2010'].count()

455

In [6]:
california_cities_df.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330
2,Alameda,Alameda,1854,63852.0,76459,72259,73812
3,Alameda,Albany,1908,15130.0,16327,16444,18539
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089

In [7]:
#only want to look at cities bigger than 75k to ensure there is enough data
bigger_ca_cities_df = california_cities_df[california_cities_df['pop_april_2010']>75000] 

#rslt_df = dataframe[dataframe['Percentage'] > 70]

In [8]:
bigger_ca_cities_df.count()

#100 cities meet the criteria

County                 100
City                   100
Incorportation_date    100
pop_april_1980          95
pop_april_1990         100
pop_april_2000         100
pop_april_2010         100
dtype: int64

In [9]:
#df of bigger cities in CA
bigger_ca_cities_df.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089
7,Orange,Anaheim,1876,219494.0,266406,328014,336265
10,Contra Costa,Antioch,1872,42683.0,62195,90532,102372
24,Kern,Bakersfield,1873,105611.0,174820,246889,347483
25,Los Angeles,Baldwin Park,1956,50554.0,69330,75837,75390

In [10]:
city_array = bigger_ca_cities_df['City']

In [11]:
#import dataframe containing city coordinates
city_latlng = pd.read_csv('cal_cities_lat_long.csv')

In [12]:
#rename columns
city_latlng = city_latlng.rename(columns={'Name': 'City', 'Latitude': 'lat', 'Longitude': 'lng'})

city_latlng.head()

           City        lat         lng
0      Adelanto  34.582769 -117.409214
1  Agoura Hills  34.153339 -118.761675
2       Alameda  37.765206 -122.241636
3        Albany  37.886869 -122.297747
4      Alhambra  34.095286 -118.127014

In [13]:
#merge columns together, so have city populations, and long/lat
city_df_merged = bigger_ca_cities_df.merge(city_latlng, how='inner', on='City')

In [14]:
#
city_df_merged.head()

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010,lat,lng
0,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089,34.095286,-118.127014
1,Orange,Anaheim,1876,219494.0,266406,328014,336265,33.835292,-117.914503
2,Contra Costa,Antioch,1872,42683.0,62195,90532,102372,38.004922,-121.805789
3,Kern,Bakersfield,1873,105611.0,174820,246889,347483,35.373292,-119.018711
4,Los Angeles,Baldwin Park,1956,50554.0,69330,75837,75390,34.085286,-117.960897

In [15]:
#create df of just columns that are needed
final_city_df = city_df_merged[['City', 'pop_april_2010', 'lat', 'lng']]

In [16]:
final_city_df.count()

City              100
pop_april_2010    100
lat               100
lng               100
dtype: int64

In [17]:
final_city_df = final_city_df.rename(columns={'City':'city'})

In [46]:
final_city_df

            city  pop_april_2010        lat         lng
0       Alhambra           83089  34.095286 -118.127014
1        Anaheim          336265  33.835292 -117.914503
2        Antioch          102372  38.004922 -121.805789
3    Bakersfield          347483  35.373292 -119.018711
4   Baldwin Park           75390  34.085286 -117.960897
..           ...             ...        ...         ...
95       Visalia          124442  36.330228 -119.292058
96         Vista           93834  33.200036 -117.242536
97   West Covina          106098  34.068622 -117.938953
98   Westminster           89701  33.751342 -117.993992
99      Whittier           85331  33.979178 -118.032844

[100 rows x 4 columns]

In [27]:
loc = f"{str(final_city_df.loc[33, 'lat'])}, {str(final_city_df.loc[33, 'lng'])}, 10km"

df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@subway geocode:"{}"'.format(loc)).get_items(), 3))[['date', 'content', 'user']]

In [28]:
df_test

,date,content,user
0,2019-11-08 22:13:48+00:00,Dont go to @SUBWAY when its busy. They just fu...,"{'username': 'parsiak72', 'id': 1657803445, 'd..."

In [19]:
final_city_len = final_city_df['lat'].count()

In [38]:
##tests
#lat = "37.765206"
#lng = "-122.241636"


df_array = []
i = 0
#cycle through every 
#while i < final_city_df['lat'].count():
    
#testing
while i < final_city_len:
    #creates a string for twitter scrapper to read and use as location
    loc = f"{str(final_city_df.loc[i, 'lat'])}, {str(final_city_df.loc[i, 'lng'])}, 10km"
    
    print(i)
    df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@subway geocode:"{}"'.format(loc)).get_items(), 5000))[['date', 'content', 'user']]
    print('scraper worked')
    if not df_test.empty:
        df_test['user_location'] = df_test['user'].apply(lambda x: x['location'])
        df_test['lat'] = final_city_df.loc[i, 'lat']
        df_test['lng'] = final_city_df.loc[i, 'lng']
        print('test')
        df_array.append(df_test)
    i = i +1

0
scraper worked
test
1
scraper worked
test
2
scraper worked
test
3
scraper worked
test
4
scraper worked
test
5
scraper worked
test
6
scraper worked
test
7
scraper worked
test
8
scraper worked
test
9
scraper worked
test
10
scraper worked
test
11
scraper worked
test
12
scraper worked
test
13
scraper worked
test
14
scraper worked
test
15
scraper worked
test
16
scraper worked
test
17
scraper worked
test
18
scraper worked
test
19
scraper worked
test
20
scraper worked
test
21
scraper worked
test
22
scraper worked
test
23
scraper worked
test
24
scraper worked
test
25
scraper worked
test
26
scraper worked
test
27
scraper worked
test
28
scraper worked
test
29
scraper worked
test
30
scraper worked
test
31
scraper worked
test
32
scraper worked
test
33
scraper worked
test
34
scraper worked
test
35
scraper worked
test
36
scraper worked
test
37
scraper worked
test
38
scraper worked
test
39
scraper worked
test
40
scraper worked
test
41
scraper worked
test
42
scraper worked
test
43
scraper worked
test
44
scraper worked
test
45
scraper worked
test
46
scraper worked
test
47
scraper worked
test
48
scraper worked
test
49
scraper worked
test
50
scraper worked
test
51
scraper worked
test
52
scraper worked
test
53
scraper worked
test
54
scraper worked
test
55
scraper worked
test
56
scraper worked
test
57
scraper worked
test
58
scraper worked
test
59
scraper worked
test
60
scraper worked
test
61
scraper worked
test
62
scraper worked
test
63
scraper worked
test
64
scraper worked
test
65
scraper worked
test
66
scraper worked
test
67
scraper worked
test
68
scraper worked
test
69
scraper worked
test
70
scraper worked
test
71
scraper worked
test
72
scraper worked
test
73
scraper worked
test
74
scraper worked
test
75
scraper worked
test
76
scraper worked
test
77
scraper worked
test
78
scraper worked
test
79
scraper worked
test
80
scraper worked
test
81
scraper worked
test
82
scraper worked
test
83
scraper worked
test
84
scraper worked
test
85
scraper worked
test
86
scraper worked
test
87
scraper worked
test
88
scraper worked
test
89
scraper worked
test
90
scraper worked
test
91

KeyError: "None of [Index(['date', 'content', 'user'], dtype='object')] are in the [columns]"

In [43]:
i=92
while i < final_city_len:
    #creates a string for twitter scrapper to read and use as location
    loc = f"{str(final_city_df.loc[i, 'lat'])}, {str(final_city_df.loc[i, 'lng'])}, 10km"
    
    print(i)
    df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@subway geocode:"{}"'.format(loc)).get_items(), 5000))[['date', 'content', 'user']]
    print('scraper worked')
    if not df_test.empty:
        df_test['user_location'] = df_test['user'].apply(lambda x: x['location'])
        df_test['lat'] = final_city_df.loc[i, 'lat']
        df_test['lng'] = final_city_df.loc[i, 'lng']
        print('test')
        df_array.append(df_test)
    i = i +1

92
scraper worked
test
93
scraper worked
test
94
scraper worked
test
95
scraper worked
test
96
scraper worked
test
97
scraper worked
test
98
scraper worked
test
99
scraper worked
test

In [44]:
for i in df_array:
    display(i)

,date,content,user,user_location,lat,lng
0,2021-07-15 17:45:02+00:00,@4lisaguerrero @SUBWAY I love tuna fish. I’ll ...,"{'username': 'ABConte', 'id': 69948869, 'displ...",Los Angeles,34.095286,-118.127014
1,2021-07-15 16:55:06+00:00,I have now done TWO investigations into the @S...,"{'username': '4lisaguerrero', 'id': 265705962,...","Los Angeles, CA",34.095286,-118.127014
2,2021-07-15 15:10:50+00:00,@roketeuss @SUBWAY 💀💀,"{'username': 'xyzeVfx', 'id': 1028245954531680...","Los Angeles, CA",34.095286,-118.127014
3,2021-07-15 02:54:48+00:00,🗣️Y'all still eating @SUBWAY after they told ...,"{'username': 'VersiVeEFAMG', 'id': 58457184, '...","Los Angeles, CA",34.095286,-118.127014
4,2021-07-14 21:42:57+00:00,Okay scientists: Is @Subway's claim true or j...,"{'username': 'Ms_Ellen_F', 'id': 286381811, 'd...",Los Angeles,34.095286,-118.127014
...,...,...,...,...,...,...
96,2017-03-03 20:45:47+00:00,"I'm at @Subway in Los Angeles, CA https://t.co...","{'username': 'MattySandz', 'id': 1442977914, '...","Burbank, CA",34.095286,-118.127014
97,2017-02-20 04:00:48+00:00,I ain't lying. @SUBWAY https://t.co/MuXHeZ5LeR,"{'username': 'J_LaSoul', 'id': 15878214, 'disp...","Los Angeles, CA",34.095286,-118.127014
98,2017-02-20 03:59:12+00:00,Damn. I was looking forward to eating my @SUBW...,"{'username': 'J_LaSoul', 'id': 15878214, 'disp...","Los Angeles, CA",34.095286,-118.127014
99,2017-02-09 05:40:30+00:00,"😄 (at @SUBWAY in El Monte, CA) https://t.co/a1...","{'username': 'ICameAllOver', 'id': 456867480, ...","El Monte, CA",34.095286,-118.127014
100,2017-01-19 05:36:22+00:00,@SUBWAY SINCE WHEN IS A FOOTLONG LIKE $9 WHAT ...,"{'username': 'loneliestbara', 'id': 3399785294...",loneliestbara.shop,34.095286,-118.127014

,date,content,user,user_location,lat,lng
0,2021-07-14 06:15:02+00:00,@SUBWAY These #coupons can't be used on the #C...,"{'username': 'ghosty4', 'id': 24838604, 'displ...","Anaheim, Ca",33.835292,-117.914503
1,2021-07-14 02:29:32+00:00,@NCSGI @SUBWAY Whoops missed this,"{'username': 'JizzelEtBass', 'id': 282252332, ...","Anaheim, CA",33.835292,-117.914503
2,2021-07-07 18:09:08+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.835292,-117.914503
3,2021-07-07 18:03:16+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.835292,-117.914503
4,2021-06-23 07:35:27+00:00,If your go to order at @SUBWAY is a #tuna sand...,"{'username': 'frankenbert_', 'id': 1913707124,...",,33.835292,-117.914503
...,...,...,...,...,...,...
336,2012-06-21 15:31:36+00:00,@SUBWAY then give us more on the sanwiches tha...,"{'username': 'stephberryumyum', 'id': 31200646...","Fullerton, CA",33.835292,-117.914503
337,2012-05-05 02:44:28+00:00,A lot of magic is happening right now. Eating ...,"{'username': 'LuiCalibre', 'id': 42300444, 'di...","New Orleans, LA",33.835292,-117.914503
338,2011-10-01 02:45:29+00:00,"Starting tomorrow, @Subway has codes for #unch...","{'username': 'johnnymorner', 'id': 107948035, ...","California, USA",33.835292,-117.914503
339,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.835292,-117.914503
340,2011-04-08 03:48:42+00:00,Having veggie sub from @subway. #latedinner,"{'username': 'iRockCardigans', 'id': 187880318...",,33.835292,-117.914503

,date,content,user,user_location,lat,lng
0,2021-02-23 00:40:49+00:00,@SUBWAY Protein Bowl was smacking 💪,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",38.004922,-121.805789
1,2019-01-11 04:14:12+00:00,@SUBWAY your oakley california workwrs are tra...,"{'username': 'tia__joness', 'id': 824854693138...",Bay Area,38.004922,-121.805789
2,2018-05-18 03:13:27+00:00,I am so relaxed after having @SUBWAY 😁,"{'username': 'sixgoldenlilies', 'id': 88804681...","Walnut Creek, CA",38.004922,-121.805789
3,2018-05-13 21:14:16+00:00,If we being honest @SUBWAY need to sponsor me ...,"{'username': 'Nu_Montana', 'id': 2337104166, '...","Based World, San Francisco🌁",38.004922,-121.805789
4,2017-03-24 00:29:29+00:00,I'd suck some toes for some @SUBWAY or @BWWing...,"{'username': 'Devin__Novak', 'id': 3146688980,...",Oahu,38.004922,-121.805789
5,2017-01-13 04:25:39+00:00,My first trip with my license was to @SUBWAY. ...,"{'username': 'Devin__Novak', 'id': 3146688980,...",Oahu,38.004922,-121.805789
6,2016-09-07 04:43:23+00:00,@Ylagan @Gxlindo @antonio__puente @SUBWAY @dom...,"{'username': 'iamkarinalive', 'id': 88480020, ...",Bay Area,38.004922,-121.805789
7,2016-09-07 04:34:36+00:00,@Gxlindo @antonio__puente @SUBWAY wow! What lo...,"{'username': 'iamkarinalive', 'id': 88480020, ...",Bay Area,38.004922,-121.805789
8,2016-08-13 18:19:55+00:00,Why Yall ain't got no more $5 footlong😐 @SUBWAY,"{'username': 'jovanni_12', 'id': 2826766756, '...",,38.004922,-121.805789
9,2016-03-19 19:50:14+00:00,"Lunch (at @Subway in Pittsburg, CA) https://t....","{'username': 'mszgrl72', 'id': 223055858, 'dis...","Pittsburg, CA",38.004922,-121.805789
10,2016-02-19 06:23:32+00:00,@SUBWAY we use to love your sandwiches at $5 b...,"{'username': 'duanewilliams53', 'id': 16213666...","Antioch, CA",38.004922,-121.805789
11,2015-10-07 02:08:44+00:00,Tell @Subway: Switch to better meat! Add your ...,"{'username': 'dwmbosboy', 'id': 2646527334, 'd...","California, USA",38.004922,-121.805789
12,2015-06-15 21:04:29+00:00,@SUBWAY Just went to the Subway here in Pittsb...,"{'username': 'ASJcollector87', 'id': 301090758...",The Outer Reaches of Your Mind,38.004922,-121.805789
13,2014-04-04 22:47:38+00:00,@SUBWAY Eat fresh. 😍,"{'username': 'hey_aiyana', 'id': 1634139272, '...",CA,38.004922,-121.805789
14,2013-09-12 20:58:05+00:00,Lunch. $5 footlongs! (at @Subway) http://t.co/...,"{'username': 'kaysirota', 'id': 57296465, 'dis...","Oakland, CA",38.004922,-121.805789
15,2013-08-24 18:22:48+00:00,Getting this subway sandwhich (at @Subway) htt...,"{'username': 'KBjR510', 'id': 49918700, 'displ...","ÜT: 37.893817,-122.060971",38.004922,-121.805789
16,2013-08-16 22:30:47+00:00,Fuelin up for a physical night (at @Subway) ht...,"{'username': 'vaderbabe87', 'id': 44170486, 'd...","Sacramento, CA",38.004922,-121.805789

,date,content,user,user_location,lat,lng
0,2021-07-13 14:20:14+00:00,@UberTieGuy @SUBWAY EXCUSE ME?!?!?!,"{'username': 'Tylerbagz', 'id': 78786457944745...","Bakersfield, CA",35.373292,-119.018711
1,2021-06-27 15:47:50+00:00,Amazing that @SUBWAY hasn’t been shut down yet...,"{'username': 'TheChiropractor', 'id': 84782427...",San Francisco,35.373292,-119.018711
2,2021-06-27 15:42:15+00:00,Is it Roe from the mutant fish @SUBWAY is usin...,"{'username': 'TheChiropractor', 'id': 84782427...",San Francisco,35.373292,-119.018711
3,2021-06-27 15:41:58+00:00,@sfchronicle is it Roe from the mutant fish @S...,"{'username': 'TheChiropractor', 'id': 84782427...",San Francisco,35.373292,-119.018711
4,2021-04-23 21:58:48+00:00,Getting a foot-long meatball marinara meal (at...,"{'username': 'kd6cae', 'id': 16707098, 'displa...","Palmdale, CA",35.373292,-119.018711
...,...,...,...,...,...,...
142,2013-06-13 00:41:27+00:00,@puja_Swag @SUBWAY Mmmmm meata-balla Sammywich!,"{'username': 'DawnaRieRie', 'id': 1265978408, ...","Bakersfield Calif,NOT Nevada!",35.373292,-119.018711
143,2013-05-17 22:01:03+00:00,"Time for some post-workout @SUBWAY, then hoppi...","{'username': 'driverRyanReed', 'id': 40747509,...",California / North Carolina,35.373292,-119.018711
144,2012-08-06 05:53:07+00:00,My host family brought me to @SUBWAY twice tod...,"{'username': 'MissFregaos', 'id': 70955246, 'd...",Wonju-si Wonju-no,35.373292,-119.018711
145,2012-07-18 22:07:53+00:00,@SUBWAY -- Who said that I was Jared and why? ...,"{'username': 'Cerbutar', 'id': 98202526, 'disp...","Bakersfield, CA 93301-4211 USA",35.373292,-119.018711
146,2010-09-17 19:53:41+00:00,Eating Fresh @subway on stockdale,"{'username': 'chrisferrill', 'id': 14858243, '...",CA,35.373292,-119.018711

,date,content,user,user_location,lat,lng
0,2021-07-14 04:08:43+00:00,@SUBWAY Why does your tuna not have any traces...,"{'username': 'CrashSpyroBanjo', 'id': 12957275...","La Puente, CA",34.085286,-117.960897
1,2021-06-23 17:58:09+00:00,@RuthSch04593054 @SUBWAY No Tuna DNA in your f...,"{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.085286,-117.960897
2,2021-06-23 17:56:34+00:00,"@renderrain @MuckDNewsome88 @SUBWAY Maybe, may...","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.085286,-117.960897
3,2021-06-23 17:53:53+00:00,"@SUBWAY Not Tuna, it seems.","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.085286,-117.960897
4,2021-04-13 23:31:21+00:00,@SUBWAY why did u guys get rid of the 9 grain ...,"{'username': 'immatthew_', 'id': 2224369772, '...",,34.085286,-117.960897
...,...,...,...,...,...,...
180,2013-05-07 02:01:18+00:00,My family &amp; friends have switched to local...,"{'username': 'falvey_patrick', 'id': 527065482...",Los Angeles,34.085286,-117.960897
181,2013-04-30 20:38:24+00:00,Found some gift cards while cleaning my room. ...,"{'username': 'BigD923', 'id': 35308999, 'displ...","El Monte, CA",34.085286,-117.960897
182,2013-03-29 23:23:23+00:00,"Lunch time .. About to enjoy a footlong: ""Ital...","{'username': 'SANTOSALOFICIAL', 'id': 12814590...",United States,34.085286,-117.960897
183,2013-02-04 13:50:31+00:00,"@SUBWAY @SUBWAY, #SubwayShowdown and the appr...","{'username': 'ygalin', 'id': 76412707, 'displa...",ca,34.085286,-117.960897
184,2012-03-27 19:34:27+00:00,@subway you guys put 4 slices of meat on a san...,"{'username': 'JACimages', 'id': 35823897, 'dis...",L.A,34.085286,-117.960897

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.881683,-118.117011
1,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.881683,-118.117011
2,2021-06-24 07:39:30+00:00,Imma still eat me a good ole tuna sandwich fro...,"{'username': 'flowe310', 'id': 816891583794593...","Carson, CA",33.881683,-118.117011
3,2021-02-25 17:50:03+00:00,Still waiting for @SUBWAY to do a campaign aro...,"{'username': 'NateoftheDead', 'id': 82796831, ...","Willoughby, July 1888",33.881683,-118.117011
4,2021-01-25 23:06:58+00:00,@SUBWAY Count yo fucking days https://t.co/bsY...,"{'username': 'angel_vera101', 'id': 7784706353...","Toronto, Ontario",33.881683,-118.117011
5,2020-12-18 00:18:55+00:00,@SUBWAY help @PatrickTheGiver feed those who a...,"{'username': 'shewantsmusic', 'id': 1290725222...","California, USA",33.881683,-118.117011
6,2020-11-26 05:34:55+00:00,Still haven’t changed my @SUBWAY order in 20+ ...,"{'username': 'LuisFgalindo1', 'id': 87215149, ...",The Moon,33.881683,-118.117011
7,2020-10-01 13:58:57+00:00,@PatWallace @SUBWAY https://t.co/DiY6uAik5v,"{'username': 'ShannonLind1', 'id': 75161254657...",Los Angeles,33.881683,-118.117011
8,2020-09-30 02:45:28+00:00,@SUBWAY I'm the owner. Can I have free foot lo...,"{'username': 'ZAdhonna', 'id': 128090583831234...",,33.881683,-118.117011
9,2020-07-26 20:30:14+00:00,@11tcj @SUBWAY @JFlo12_ bold statements https:...,"{'username': 'vala_a2001', 'id': 2943611077, '...","North Long Beach, CA",33.881683,-118.117011
10,2020-07-26 18:26:14+00:00,@launicaesme @SUBWAY @JFlo12_ thabk you so muc...,"{'username': 'vala_a2001', 'id': 2943611077, '...","North Long Beach, CA",33.881683,-118.117011
11,2020-07-26 18:25:50+00:00,"@11tcj @SUBWAY @JFlo12_ no I don’t like em, I ...","{'username': 'vala_a2001', 'id': 2943611077, '...","North Long Beach, CA",33.881683,-118.117011
12,2020-02-14 16:57:41+00:00,@SUBWAY @JackFrosty85 I happen to like @jersey...,"{'username': 'TheGeeMoneyShow', 'id': 64364217...","Elysian Park, Los Angeles",33.881683,-118.117011
13,2020-02-02 11:34:57+00:00,@subway why you be taxing so much. I got a 6 i...,"{'username': 'LuisAngel2408', 'id': 7946919233...","Paramount, CA",33.881683,-118.117011
14,2019-11-24 15:41:23+00:00,Nvm I think it's #Chixtape5 and @SUBWAY https:...,"{'username': '2th1cc4myjeansx', 'id': 28868602...","California, USA",33.881683,-118.117011
15,2019-11-18 05:40:47+00:00,@SUBWAY where can I get one of those tiny vac...,"{'username': 'DaisyyRaquel', 'id': 303951657, ...",LA,33.881683,-118.117011
16,2019-11-09 18:41:12+00:00,"Last time, they lost my order. (at @SUBWAY in ...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
17,2019-11-04 18:24:27+00:00,"Eating before work. (at @SUBWAY in Buena Park,...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
18,2019-10-28 17:24:06+00:00,Breakfast on the go! (at @SUBWAY in Buena Park...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
19,2019-10-21 17:27:57+00:00,Yay! They didn’t screw up my order! (at @SUBWA...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
20,2019-10-13 17:20:10+00:00,My order was messed up! (at @SUBWAY in Buena P...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
21,2019-10-04 20:40:59+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/i8E...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
22,2019-10-02 19:57:19+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/HOH...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
23,2019-09-30 17:16:36+00:00,They lost my mobile order! (at @SUBWAY in Cerr...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
24,2019-09-26 19:51:15+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/A2A...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
25,2019-09-19 20:21:45+00:00,Getting extra napkins at Subway is harder than...,"{'username': 'GirlUhmerica', 'id': 135047187, ...","Long Beach, CA",33.881683,-118.117011
26,2019-09-18 17:00:09+00:00,"Before work. (at @SUBWAY in Buena Park, CA) ht...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
27,2019-09-15 17:03:59+00:00,"Breakfast! (at @SUBWAY in Buena Park, CA) http...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
28,2019-09-09 19:34:01+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/MTz...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
29,2019-09-07 16:30:12+00:00,Breakfast before work and look what I found!!!...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
30,2019-09-06 16:45:14+00:00,"Breakfast. (at @SUBWAY in Cerritos, CA) https:...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
31,2019-09-06 00:56:30+00:00,@SUBWAY just saw your commercial with the woma...,"{'username': 'lbcheesehead', 'id': 2618543534,...",,33.881683,-118.117011
32,2019-08-30 17:41:31+00:00,"eating before work. (at @SUBWAY in Buena Park,...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.881683,-118.117011
33,2019-07-08 19:45:50+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/sPu...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
34,2019-07-03 19:49:31+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/7G4...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
35,2019-07-01 01:12:56+00:00,"I'm at @SUBWAY in Long Beach, CA https://t.co/...","{'username': 'Gary200', 'id': 3768771, 'displa...","Bremerton, WA, USA",33.881683,-118.117011
36,2019-06-27 01:42:45+00:00,"I'm at @SUBWAY in Long Beach, CA https://t.co/...","{'username': 'Gary200', 'id': 3768771, 'displa...","Bremerton, WA, USA",33.881683,-118.117011
37,2019-06-19 19:37:27+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/js0...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.881683,-118.117011
38,2019-04-15 21:47:53+00:00,So @SUBWAY only has one person working and its...,"{'username': 'EP___3', 'id': 166071470, 'displ...",,33.881683,-118.117011
39,2019-02-12 03:05:05+00:00,@AoAmerican @SUBWAY Mee Too!,"{'username': 'unvjef', 'id': 3252994676, 'disp...",,33.881683,-118.117011
40,2018-12-05 17:53:32+00:00,@SUBWAY placed an order on the app like I alwa...,"{'username': 'texaz41', 'id': 818692346, 'disp...",,33.881683,-118.117011
41,2018-08-26 21:13:36+00:00,"Best copies come from @7eleven , @SUBWAY, @arc...","{'username': 'EP___3', 'id': 166071470, 'displ...",,33.881683,-118.117011
42,2018-07-10 17:34:45+00:00,Guess it’s time 2 boycott @SUBWAY. Black folks...,"{'username': 'kimfeagin', 'id': 33830920, 'dis...",,33.881683,-118.117011
43,2018-06-07 18:54:59+00:00,Excuse me as I go to heaven for a quick second...,"{'username': 'EP___3', 'id': 166071470, 'displ...",,33.881683,-118.117011
44,2018-06-03 00:11:13+00:00,@SUBWAY figure it out... https://t.co/zvm4XBAifH,"{'username': 'ricky_winfield', 'id': 227851862...","Lakewood, CA",33.881683,-118.117011
45,2018-02-18 21:14:03+00:00,@SUBWAY @freekbass Or has that changed?,"{'username': 'trailseekrs', 'id': 783472146735...",Left Coast,33.881683,-118.117011
46,2018-02-16 19:14:55+00:00,$34 fucken dollars for 2 subway combos wtf @SU...,"{'username': 'AriBolanos10', 'id': 3291697988,...",,33.881683,-118.117011

,date,content,user,user_location,lat,lng
0,2021-07-15 06:06:01+00:00,@itsjuztin @SUBWAY It’s fire,"{'username': 'David19871951', 'id': 1405286743...",Oakland,37.871592,-122.272747
1,2021-07-13 18:17:14+00:00,@SUBWAY You ruined Tony Hawk for me. Hope you’...,"{'username': 'Emmett_Eilands', 'id': 489963378...","Oakland, CA",37.871592,-122.272747
2,2021-07-13 14:29:22+00:00,@NCSGI @SUBWAY No. It’s all crap 💩,"{'username': 'PeterRabbit67', 'id': 1042214704...","Oakland, CA",37.871592,-122.272747
3,2021-07-07 19:29:28+00:00,@JoeyDevine @IkeShehadeh @SUBWAY I'd back this.,"{'username': 'BearSilber', 'id': 14614623, 'di...","Oakland, CA",37.871592,-122.272747
4,2021-06-25 07:47:06+00:00,@SUBWAY @ScorpioBaby601 @TNelsss should I tell...,"{'username': 'matmatjo', 'id': 130087559280023...","Berkeley, CA",37.871592,-122.272747
...,...,...,...,...,...,...
113,2015-07-25 19:53:20+00:00,"@SUBWAY in Oakland, the guy next to me in line...","{'username': 'thats4ever', 'id': 1666824727, '...",BLM // #FREEBRITNEY,37.871592,-122.272747
114,2015-06-23 19:06:13+00:00,"I'm at @Subway in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.871592,-122.272747
115,2015-05-14 15:57:48+00:00,@SUBWAY My superpower is pulling avocados out ...,"{'username': 'KathieHoehn', 'id': 490473942, '...",,37.871592,-122.272747
116,2015-05-01 22:34:25+00:00,"I HUNGER (at @Subway in Oakland, CA) http://t....","{'username': 'ASH_WILLIAMS456', 'id': 20568320...","ÜT: 37.67995,-122.0907",37.871592,-122.272747
117,2015-04-29 13:36:36+00:00,UR Well Come | #poem #poetry @GiGiHadid @thedo...,"{'username': 'safacles', 'id': 38020625, 'disp...",+i♡U+,37.871592,-122.272747

,date,content,user,user_location,lat,lng
0,2021-07-14 06:15:02+00:00,@SUBWAY These #coupons can't be used on the #C...,"{'username': 'ghosty4', 'id': 24838604, 'displ...","Anaheim, Ca",33.867514,-117.998117
1,2021-07-14 02:29:32+00:00,@NCSGI @SUBWAY Whoops missed this,"{'username': 'JizzelEtBass', 'id': 282252332, ...","Anaheim, CA",33.867514,-117.998117
2,2021-04-08 03:11:25+00:00,@SUBWAY shoutout to Yessenia! She shouldn’t g...,"{'username': 'NOH9999', 'id': 424003246, 'disp...",Los Angeles County,33.867514,-117.998117
3,2020-11-26 05:34:55+00:00,Still haven’t changed my @SUBWAY order in 20+ ...,"{'username': 'LuisFgalindo1', 'id': 87215149, ...",The Moon,33.867514,-117.998117
4,2020-07-06 22:42:45+00:00,"I'm at @SUBWAY in Cypress, CA https://t.co/8sn...","{'username': 'hapaniki', 'id': 24994477, 'disp...",,33.867514,-117.998117
...,...,...,...,...,...,...
362,2012-05-02 19:30:10+00:00,"@SUBWAY I'm having 6"" Turkey Avocado San on Wh...","{'username': 'QueenAlice777', 'id': 345812057,...",Yorba Linda,33.867514,-117.998117
363,2012-04-27 21:21:38+00:00,@isabellaizcool @heyitsashlyg @SUBWAY yummy!,"{'username': 'heyitsashlyg', 'id': 284252775, ...","Los Angeles, Planet Earth",33.867514,-117.998117
364,2012-03-06 03:03:41+00:00,haha saw chris @subway with his brother & frie...,"{'username': 'jollyx19', 'id': 206495136, 'dis...","Los Angeles, California",33.867514,-117.998117
365,2012-01-15 21:26:39+00:00,If @Subway made a Pussy sandwich ... it would ...,"{'username': 'RudeWickedXXXXL', 'id': 42217795...",LOS ANGELES & O.C. CALIFORNIA,33.867514,-117.998117
366,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.867514,-117.998117

,date,content,user,user_location,lat,lng
0,2021-07-15 16:58:48+00:00,@4lisaguerrero @SUBWAY Interesting as I've fou...,"{'username': 'News4Laughs', 'id': 134394884078...","Studio City, Los Angeles",34.180839,-118.308967
1,2021-07-14 16:06:07+00:00,@jimidoesntcare @capriottis @tonyhawk @SUBWAY ...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.180839,-118.308967
2,2021-07-14 16:05:07+00:00,@capriottis @tonyhawk @SUBWAY @StephenCurry30 ...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.180839,-118.308967
3,2021-07-14 16:04:27+00:00,@FrilentMusic @tonyhawk @SUBWAY @JJWatt im 100...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.180839,-118.308967
4,2021-07-14 16:02:53+00:00,@SUBWAY SUBWAY IS TASTY BUT ITS NOT REAL FOOD....,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.180839,-118.308967
5,2021-07-14 05:49:54+00:00,"@SUBWAY You mean like the fake tuna you offer,...","{'username': 'HenryRBishop', 'id': 3267293623,...","Hollywood, Los Angeles",34.180839,-118.308967
6,2021-07-13 15:26:48+00:00,"Got my free 6"" Turkey Cali from @SUBWAY . Go g...","{'username': 'Baldie_Locks_', 'id': 28960977, ...","Hollywood, CA",34.180839,-118.308967
7,2021-06-23 16:48:49+00:00,@YoitsChillie @SUBWAY Like first the chicken n...,"{'username': 'OGDAWGAMUS', 'id': 1389378836979...","Los Angeles, CA",34.180839,-118.308967
8,2021-06-23 16:12:31+00:00,SO WHAT IS IT?!?!? @SUBWAY https://t.co/VqmuCO...,"{'username': 'OGDAWGAMUS', 'id': 1389378836979...","Los Angeles, CA",34.180839,-118.308967

,date,content,user,user_location,lat,lng
0,2020-10-18 23:03:12+00:00,@SUBWAY @MiamiDolphins Thanks Subway,"{'username': 'AustinT129', 'id': 1267141027808...",,33.158092,-117.350594
1,2020-05-30 22:13:29+00:00,@ZavierPedro @SUBWAY Nope,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.158092,-117.350594
2,2020-05-30 20:12:32+00:00,@juaquin06264198 @SUBWAY Nah,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.158092,-117.350594
3,2020-05-30 20:05:26+00:00,@ThanksBilly @SUBWAY Onions,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.158092,-117.350594
4,2019-05-26 02:40:21+00:00,@SUBWAY thank you next.,"{'username': '_RickyLozano_', 'id': 2281279033...","San Diego, CA",33.158092,-117.350594
...,...,...,...,...,...,...
70,2013-09-22 23:58:12+00:00,#EatFresh #Tuna #Sandwich (at @Subway) [pic]: ...,"{'username': 'JoseMartinezSD', 'id': 553819218...","San Diego, CA",33.158092,-117.350594
71,2013-09-08 19:30:17+00:00,"I'm at @Subway (Vista, CA) http://t.co/aiU6dsJscV","{'username': 'oceangirl6108', 'id': 18150059, ...",,33.158092,-117.350594
72,2013-08-23 23:55:40+00:00,Petty lol “@ArabianNightsx: So so glad I don't...,"{'username': 'WavyJay_', 'id': 144972996, 'dis...","South Carolina, USA",33.158092,-117.350594
73,2013-08-12 00:39:48+00:00,Having to eat here since Mr. Sub won't deliver...,"{'username': '_KillerBeauty', 'id': 391283161,...",,33.158092,-117.350594
74,2013-01-08 21:35:24+00:00,@SUBWAY #EatFresh 👍 http://t.co/rW9D5bsq,"{'username': 'ErikSarni1', 'id': 49922295, 'di...",Blessed,33.158092,-117.350594

,date,content,user,user_location,lat,lng
0,2021-07-15 18:40:53+00:00,@FoodInsider In the UK @SUBWAY a court recentl...,"{'username': 'NubianThinker', 'id': 1605100358...","Long Beach, CA",33.831406,-118.282017
1,2021-07-15 17:13:51+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Lor...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.831406,-118.282017
2,2021-07-15 17:10:59+00:00,@OSV227Hex @vap1337 @4lisaguerrero @SUBWAY 🤦‍♀️,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.831406,-118.282017
3,2021-07-15 17:08:53+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Ok ...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.831406,-118.282017
4,2021-07-13 07:02:03+00:00,@SUBWAY Fake turkey fake tuna fake sandwich 🤮,"{'username': 'JamesMikeLowery', 'id': 47450504...","Long Beach, CA",33.831406,-118.282017
...,...,...,...,...,...,...
401,2012-10-21 19:43:29+00:00,Bouts to get my grub on. @SUBWAY,"{'username': 'oscar_velez__', 'id': 634280236,...",,33.831406,-118.282017
402,2012-10-12 19:42:08+00:00,@subway thanks for lunch :) #ff yum edition (@...,"{'username': 'calijulz', 'id': 182941546, 'dis...",So Cal,33.831406,-118.282017
403,2012-08-06 18:04:18+00:00,@SUBWAY want a sandwich,"{'username': 'ericktofilau', 'id': 606869300, ...","Las Vegas, NV",33.831406,-118.282017
404,2012-06-30 20:47:10+00:00,@robertirvine1 @SUBWAY Avacado season...I love...,"{'username': 'leelamariegorom', 'id': 54122411...","Riverside,Ca.",33.831406,-118.282017
405,2012-01-03 03:42:10+00:00,Gotta eat healthy @Subway is the way to go,"{'username': 'Ridyma_Ridi', 'id': 144409826, '...","Long Beach, Ca",33.831406,-118.282017

,date,content,user,user_location,lat,lng
0,2021-07-14 05:03:47+00:00,@ltjisstinky @SUBWAY People who say “boycott…....,"{'username': 'dillon_abrams', 'id': 1176536580...","Durham, CA",39.728494,-121.837478
1,2021-07-13 19:10:49+00:00,@ltjisstinky @SUBWAY This makes me want JJs ev...,"{'username': 'dillon_abrams', 'id': 1176536580...","Durham, CA",39.728494,-121.837478
2,2021-07-13 16:17:49+00:00,@SUBWAY The French bread at Jimmy John’s.,"{'username': 'dillon_abrams', 'id': 1176536580...","Durham, CA",39.728494,-121.837478
3,2020-03-17 16:34:35+00:00,Between the @SUBWAY and @trulyseltzer commerci...,"{'username': 'derekahlswede', 'id': 24789032, ...","Chico, CA",39.728494,-121.837478
4,2019-09-18 19:38:07+00:00,Swear to god i don’t think @SUBWAY has ever go...,"{'username': 'VinceDeGraff', 'id': 34385864, '...","Chico, CA",39.728494,-121.837478
5,2019-04-22 18:59:54+00:00,@SUBWAY how are you really gonna have your emp...,"{'username': '_amdd97', 'id': 768990908, 'disp...",,39.728494,-121.837478
6,2019-03-15 19:49:29+00:00,Bro i swear the fuckin @SUBWAY app is trash. W...,"{'username': 'VinceDeGraff', 'id': 34385864, '...","Chico, CA",39.728494,-121.837478
7,2019-01-10 09:06:22+00:00,@Lring_90 @SUBWAY Sub of the day bro. Gotta sw...,"{'username': 'VinceDeGraff', 'id': 34385864, '...","Chico, CA",39.728494,-121.837478
8,2019-01-10 02:48:22+00:00,The last 6 times I’ve used mobile ordering for...,"{'username': 'VinceDeGraff', 'id': 34385864, '...","Chico, CA",39.728494,-121.837478
9,2017-07-23 08:18:06+00:00,How does @SUBWAY try to get away with $6 footl...,"{'username': 'robbiinso', 'id': 336394890, 'di...","Morro Bay, CA",39.728494,-121.837478
10,2017-05-09 06:23:00+00:00,These @SUBWAY cookies is rockin',"{'username': 'gabe_ruth19', 'id': 561519404, '...","California, USA",39.728494,-121.837478
11,2017-02-25 01:28:30+00:00,Davis Carter this weeks @ActionNewsNow @SUBWAY...,"{'username': 'paacougars', 'id': 99192988, 'di...","Paradise, CA",39.728494,-121.837478
12,2016-04-30 03:27:51+00:00,TGIF on my way to my local @Walmart @Subway fo...,"{'username': 'FougDergus', 'id': 182652006, 'd...",,39.728494,-121.837478
13,2016-03-27 19:48:06+00:00,@Walmart want to grab a sub sandwich at the Wa...,"{'username': 'FougDergus', 'id': 182652006, 'd...",,39.728494,-121.837478
14,2016-02-07 05:52:53+00:00,@sexgoal @srslyinsane @SUBWAY @aliciaj3699 did...,"{'username': 'zofergg', 'id': 1571890944, 'dis...",,39.728494,-121.837478
15,2015-05-29 04:31:17+00:00,"If Kershaw is doing @SUBWAY commercials, we ne...","{'username': 'jblackoutl', 'id': 33312459, 'di...",chico cali,39.728494,-121.837478

,date,content,user,user_location,lat,lng
0,2021-07-15 16:50:34+00:00,"@SUBWAY Your Tuna gave me COVID-19, so I would...","{'username': 'DragonIVXX', 'id': 256828204, 'd...","Ontario, CA",34.012236,-117.688944
1,2021-07-14 15:39:50+00:00,@SUBWAY I have been eagerly awaiting the retur...,"{'username': 'JustJules83', 'id': 892424787783...","Upland, CA",34.012236,-117.688944
2,2021-07-11 15:15:32+00:00,@MaritimeTartan @SUBWAY Have you tried MrSub? ...,"{'username': 'bates_gail', 'id': 494252830, 'd...",Ontario,34.012236,-117.688944
3,2021-06-01 22:27:36+00:00,What happened to the cilantro 🌿 @SUBWAY,"{'username': 'danyoflore5', 'id': 87127386, 'd...","Rancho Cucamonga, CA",34.012236,-117.688944
4,2020-12-03 20:23:41+00:00,When tf did I block the @Subway account and wh...,"{'username': 'Ralopez426', 'id': 9780581135079...",,34.012236,-117.688944
5,2020-11-04 18:38:54+00:00,@firstwefeast Did you toast it though? @SUBWAY...,"{'username': 'BearGloves_', 'id': 603950748, '...","Los Angeles, CA",34.012236,-117.688944
6,2020-09-20 21:25:46+00:00,@SUBWAY @NFL @DeionSanders Great athlete. Over...,"{'username': 'the_franker_', 'id': 2517120536,...",,34.012236,-117.688944
7,2020-04-28 00:25:44+00:00,Even before covid getting @SUBWAY has always b...,"{'username': 'muthaducker666', 'id': 827233259...","Pomona, CA",34.012236,-117.688944
8,2020-02-16 07:55:25+00:00,@Mercuryinretro1 @TMauldarth #StormWarnerBros ...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
9,2020-02-16 07:53:50+00:00,@LordBatman_RTSC @TMauldarth @mattreevesLA @Be...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
10,2020-02-16 07:51:24+00:00,@butterbarr #StormWarnerBros #ReleaseTheSnyder...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
11,2020-02-16 07:51:07+00:00,@jayoliva1 #StormWarnerBros #ReleaseTheSnyderC...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
12,2020-02-16 07:50:17+00:00,@Newsweek #StormWarnerBros #ReleaseTheSnyderCu...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
13,2020-02-16 07:50:00+00:00,@SherazFarooqi_ #StormWarnerBros #ReleaseTheSn...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
14,2020-02-16 07:49:17+00:00,@backupPedro #StormWarnerBros #ReleaseTheSnyde...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
15,2020-02-12 00:25:11+00:00,@SnowdenIgor @AkbarRtsc @warnerbros @WBHomeEnt...,"{'username': 'Edward44136157', 'id': 111143149...","Pomona, CA",34.012236,-117.688944
16,2019-11-26 06:38:06+00:00,@TellMeISurvive @SUBWAY @SubwayListens where y...,"{'username': 'muthaducker666', 'id': 827233259...","Pomona, CA",34.012236,-117.688944
17,2019-11-21 06:25:14+00:00,@hobocita @Y_Soup @SUBWAY I worked at subway f...,"{'username': 'pupusa', 'id': 24794700, 'displa...","Chino Hills, CA",34.012236,-117.688944
18,2019-10-19 06:58:27+00:00,I wish I was able to go in the back and make m...,"{'username': 'MichaelS9821', 'id': 2395482972,...","Eastvale, CA",34.012236,-117.688944
19,2019-07-02 23:01:02+00:00,@Idontgi22152821 @SUBWAY @GreysABC It's a grea...,"{'username': 'EverlongPeace20', 'id': 15974050...","California, USA",34.012236,-117.688944
20,2019-07-02 22:56:57+00:00,@Idontgi22152821 @SUBWAY @GreysABC https://t.c...,"{'username': 'EverlongPeace20', 'id': 15974050...","California, USA",34.012236,-117.688944
21,2019-07-02 22:26:16+00:00,While in @SUBWAY they were playing Sleeping at...,"{'username': 'EverlongPeace20', 'id': 15974050...","California, USA",34.012236,-117.688944
22,2019-06-03 21:50:14+00:00,I'm so bummed I cane to @SUBWAY store numba #2...,"{'username': 'BallReFFbAbY323', 'id': 76220281...","Montebello, Ca",34.012236,-117.688944
23,2019-05-02 01:06:52+00:00,Shout-out to @SUBWAY for there blackberry Rasp...,"{'username': 'BallReFFbAbY323', 'id': 76220281...","Montebello, Ca",34.012236,-117.688944
24,2018-05-21 00:00:38+00:00,"@SUBWAY No pues si a esas vamos,si gana @lopez...","{'username': 'BiochemistMX', 'id': 45524886, '...",🏳️‍🌈California🇺🇸CDMX🇲🇽,34.012236,-117.688944
25,2018-05-05 00:57:28+00:00,"I'm at @SUBWAY in Ontario, CA https://t.co/UQ7...","{'username': 'cebollon88', 'id': 99385230, 'di...","Ontario, CA",34.012236,-117.688944
26,2018-04-12 04:34:50+00:00,@KaylaDTD @SUBWAY @DDonovan_24 LOL,"{'username': 'Slow_Surrender_', 'id': 74530699...",CA/PDX,34.012236,-117.688944
27,2018-03-31 07:05:43+00:00,@aliciavperry @SUBWAY @SubwayUK good for u 🍃,"{'username': 'Solid_Believer', 'id': 130748637...",⨭,34.012236,-117.688944

,date,content,user,user_location,lat,lng
0,2021-07-15 18:18:05+00:00,@SUBWAY Lost business forever! Choose a patri...,"{'username': 'ProVisionWM', 'id': 828745798380...","San Diego, CA",32.640053,-117.084197
1,2021-07-15 01:21:11+00:00,@SUBWAY spent a lot of damn money on their rec...,"{'username': 'nailsbykaylyn', 'id': 1219787582...","San Diego, CA",32.640053,-117.084197
2,2021-07-14 18:09:30+00:00,@SUBWAY Shut your mouth https://t.co/h39sxI1UsR,"{'username': 'angelo_rocko', 'id': 80562391797...","San Diego, CA",32.640053,-117.084197
3,2021-07-14 05:07:26+00:00,@Katniss_Amc @SUBWAY @TradesTrey TBH Ive been ...,"{'username': 'sandiegoAPE', 'id': 136168560188...","San Diego, CA",32.640053,-117.084197
4,2021-07-14 04:48:50+00:00,@SUBWAY Tuna?,"{'username': 'traveler952', 'id': 1486255320, ...",San Diego,32.640053,-117.084197
...,...,...,...,...,...,...
213,2016-06-13 01:59:15+00:00,"I'm at @SUBWAY in San Diego, CA https://t.co/n...","{'username': 'kcchiefsgrl4evr', 'id': 34983377...","Blue Springs, MO",32.640053,-117.084197
214,2016-06-07 03:56:51+00:00,"I'm at @SUBWAY in San Diego, CA https://t.co/f...","{'username': 'CESARISAMISFIT', 'id': 26184260,...",San Diego,32.640053,-117.084197
215,2016-05-18 22:43:51+00:00,@SUBWAY walked out of your store in the middle...,"{'username': 'v_yvonne71', 'id': 25851459, 'di...","32.993357,-117.082739",32.640053,-117.084197
216,2016-05-12 01:41:35+00:00,"Dinner (at @Subway in Chula Vista, CA) https:/...","{'username': 'AdAstra24', 'id': 202391273, 'di...","Chula Vista, CA",32.640053,-117.084197
217,2016-05-06 14:59:29+00:00,"I'm at @Subway in San Diego, CA https://t.co/r...","{'username': 'dorianservin', 'id': 17467263, '...",Tijuana - San Diego,32.640053,-117.084197

,date,content,user,user_location,lat,lng
0,2021-07-14 04:11:11+00:00,@jimidoesntcare @capriottis @tonyhawk @SUBWAY ...,"{'username': 'TehParalyzer', 'id': 46956704, '...","Fresno, California",36.825228,-119.702919
1,2021-07-13 17:38:52+00:00,@93_mikee @SUBWAY https://t.co/UFBziXPXa7,"{'username': 'joelflores94', 'id': 1348497967,...","Fresno, CA",36.825228,-119.702919
2,2021-07-13 01:05:34+00:00,Playing basketball killed me but @SUBWAY brun...,"{'username': 'JERMZUNO', 'id': 137427570545060...",Fresno CA,36.825228,-119.702919
3,2021-07-12 01:19:29+00:00,The greatest trick the devil ever pulled was g...,"{'username': 'jon_j28', 'id': 1411761312539975...","Fresno, CA",36.825228,-119.702919
4,2021-06-23 20:23:34+00:00,@law_hastings @SUBWAY So what is it if it's no...,"{'username': 'Ev_deGallery', 'id': 246894048, ...","Fresno, CA",36.825228,-119.702919
...,...,...,...,...,...,...
118,2013-07-20 19:25:28+00:00,"I'm at @Subway (Clovis, CA) http://t.co/aXNPSE...","{'username': 'AuggieReyes', 'id': 81227628, 'd...",Westcoast,36.825228,-119.702919
119,2013-03-25 16:25:12+00:00,@Fritolay @SUBWAY @LAYS I'll take a bag of Sun...,"{'username': 'syzeworld', 'id': 211784492, 'di...","Fresno, California",36.825228,-119.702919
120,2013-03-17 14:32:32+00:00,“@SUBWAY: Which veggies do u add 2 ur #3dollar...,"{'username': 'dkreidler2015', 'id': 734306095,...",,36.825228,-119.702919
121,2012-11-01 17:12:40+00:00,"@SUBWAY @WhitneyPhelpsFl Good luck, what a gre...","{'username': 'AlyssaHoutby', 'id': 868582003, ...","Visalia, CA",36.825228,-119.702919
122,2012-10-22 20:01:47+00:00,Lunch @subway #throwawaythebuns,"{'username': 'sabu213', 'id': 178927640, 'disp...",Central California,36.825228,-119.702919

,date,content,user,user_location,lat,lng
0,2021-07-15 03:29:57+00:00,Did y’all ever let us know what’s in this tuna...,"{'username': 'LEXXinthe_CITY', 'id': 49850788,...",90250,33.89585,-118.220072
1,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.89585,-118.220072
2,2021-07-13 19:32:24+00:00,I went to @SUBWAY for the first time in over a...,"{'username': 'padawanemily', 'id': 603852046, ...","South Gate, CA",33.89585,-118.220072
3,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.89585,-118.220072
4,2021-07-09 01:18:05+00:00,@nytimes had @SUBWAY's tuna dna-tested. Most l...,"{'username': 'kfsone', 'id': 94830628, 'displa...","Lawndale, CA",33.89585,-118.220072
5,2021-06-24 07:39:30+00:00,Imma still eat me a good ole tuna sandwich fro...,"{'username': 'flowe310', 'id': 816891583794593...","Carson, CA",33.89585,-118.220072
6,2021-04-20 02:19:16+00:00,@SUBWAY what’s the sub of the day,"{'username': 'jahgo97', 'id': 8124364865745018...","Los Angeles, CA",33.89585,-118.220072
7,2020-09-18 01:29:14+00:00,@BAM_itzJake @SUBWAY Que te hico @SUBWAY ahora...,"{'username': 'johnnym9511', 'id': 996378800, '...","Huntington Park, CA",33.89585,-118.220072
8,2020-07-26 20:30:14+00:00,@11tcj @SUBWAY @JFlo12_ bold statements https:...,"{'username': 'vala_a2001', 'id': 2943611077, '...","North Long Beach, CA",33.89585,-118.220072
9,2020-05-24 05:00:11+00:00,"@SUBWAY 16502 Beach Blvd\nHuntington Beach, CA...","{'username': 'lakepasta', 'id': 84754538, 'dis...","Los Angeles, CA",33.89585,-118.220072
10,2020-04-28 00:17:57+00:00,Bro the @SUBWAY app is literally unusable,"{'username': 'ObiWanToffoli', 'id': 279162955,...",Staples Center or a Mosh Pit,33.89585,-118.220072
11,2020-04-04 20:28:41+00:00,"Hey @SUBWAY, when are you going to get gluten...","{'username': 'James_Searches', 'id': 296153562...","Los Angeles, CA",33.89585,-118.220072
12,2020-03-07 03:30:02+00:00,Yo @SUBWAY how come the US don’t sell Pizza he...,"{'username': 'MarshyDaFox', 'id': 114300745576...","Bell Gardens, CA",33.89585,-118.220072
13,2020-01-22 18:53:23+00:00,I’m married to the Spicy Italian 😍although the...,"{'username': '2HungryHQ', 'id': 2661619208, 'd...","Los Angeles, CA",33.89585,-118.220072
14,2020-01-22 18:44:09+00:00,@TeaForTheQueen @SUBWAY Los Angeles,"{'username': '2HungryHQ', 'id': 2661619208, 'd...","Los Angeles, CA",33.89585,-118.220072
15,2019-12-13 05:41:59+00:00,Thanks @TheGameAwards &amp; @Subway for this #...,"{'username': 'LRTB_III', 'id': 623463949, 'dis...","Paramount, CA",33.89585,-118.220072
16,2019-11-18 05:40:47+00:00,@SUBWAY where can I get one of those tiny vac...,"{'username': 'DaisyyRaquel', 'id': 303951657, ...",LA,33.89585,-118.220072
17,2019-11-15 19:26:52+00:00,"I'm at @SUBWAY in Torrance, CA https://t.co/3g...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.89585,-118.220072
18,2019-07-17 03:23:32+00:00,Hey @SUBWAY are you guys ever going to get a g...,"{'username': 'James_Searches', 'id': 296153562...","Los Angeles, CA",33.89585,-118.220072
19,2019-03-04 21:20:08+00:00,FU @SUBWAY for having raspberry cheesecake coo...,"{'username': 'sAMOAn_KinG', 'id': 175706278, '...","Long Beach, CA",33.89585,-118.220072
20,2018-09-04 03:55:07+00:00,$ @sternshow - Let's have a cold coke @SUBWAY....,"{'username': 'BEAUTY5154', 'id': 3171297386, '...",THE MONA LISA!,33.89585,-118.220072
21,2018-09-03 18:49:51+00:00,@QuavoStuntin @SUBWAY - @Migos #BeautyCelebSig...,"{'username': 'BEAUTY5154', 'id': 3171297386, '...",THE MONA LISA!,33.89585,-118.220072
22,2018-08-29 14:48:45+00:00,"I'm at @SUBWAY in Carson, CA https://t.co/cjEb...","{'username': '98kzla', 'id': 210201147, 'displ...",los angeles ca,33.89585,-118.220072
23,2018-08-26 21:13:36+00:00,"Best copies come from @7eleven , @SUBWAY, @arc...","{'username': 'EP___3', 'id': 166071470, 'displ...",,33.89585,-118.220072
24,2018-08-20 17:15:18+00:00,"I'm at @SUBWAY in South Gate, CA https://t.co/...","{'username': 'chtucker18', 'id': 18357054, 'di...","Maryland City, MD",33.89585,-118.220072
25,2018-08-04 20:49:32+00:00,"I'm at @SUBWAY in Compton, CA https://t.co/9V4...","{'username': 'WendyKe62842460', 'id': 23338255...","Pensacola, FL",33.89585,-118.220072
26,2018-07-17 02:20:57+00:00,@SUBWAY Why train your workers to make sloppy ...,"{'username': 'SusanSantiago_', 'id': 301909391...",,33.89585,-118.220072
27,2018-07-10 17:34:45+00:00,Guess it’s time 2 boycott @SUBWAY. Black folks...,"{'username': 'kimfeagin', 'id': 33830920, 'dis...",,33.89585,-118.220072
28,2018-06-24 17:04:45+00:00,&lt;.&lt; @SUBWAY might not strike u as a brea...,"{'username': 'Cork_xx', 'id': 4913438301, 'dis...","Detroit, MI ~ He/His",33.89585,-118.220072
29,2018-06-07 18:54:59+00:00,Excuse me as I go to heaven for a quick second...,"{'username': 'EP___3', 'id': 166071470, 'displ...",,33.89585,-118.220072
30,2018-06-03 00:11:13+00:00,@SUBWAY figure it out... https://t.co/zvm4XBAifH,"{'username': 'ricky_winfield', 'id': 227851862...","Lakewood, CA",33.89585,-118.220072
31,2018-05-11 18:39:31+00:00,"I'm at @SUBWAY in Torrance, CA https://t.co/NX...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.89585,-118.220072
32,2018-04-26 10:18:41+00:00,I've been getting a double chicken chopped sal...,"{'username': 'PeacefulMarvyn', 'id': 262987637...","Bell Gardens, CA",33.89585,-118.220072
33,2018-04-04 04:12:55+00:00,@SUBWAY sell burritos now,"{'username': 'Bigbadglobal', 'id': 202567251, ...","Los Angeles, California",33.89585,-118.220072
34,2018-03-23 22:43:01+00:00,"I'm at @SUBWAY in Torrance, CA https://t.co/yy...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.89585,-118.220072

,date,content,user,user_location,lat,lng
0,2021-07-15 17:10:04+00:00,@4lisaguerrero @SUBWAY The only dog I have in ...,"{'username': 'yogi_barrister', 'id': 603967576...","Walnut Creek, CA",37.977978,-122.031072
1,2021-07-14 01:00:32+00:00,@kstockholm83 @SUBWAY That's what happens with...,"{'username': 'Bbondsmvp', 'id': 34465735, 'dis...","Martinez, Ca",37.977978,-122.031072
2,2021-03-19 00:03:38+00:00,@fymroo @Money23Green @jaytatum0 @SUBWAY Sound...,"{'username': 'jerhinesmith', 'id': 14564588, '...","Walnut Creek, CA",37.977978,-122.031072
3,2021-02-23 00:40:49+00:00,@SUBWAY Protein Bowl was smacking 💪,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.977978,-122.031072
4,2021-01-30 05:54:44+00:00,@JessicaSimpson @SUBWAY And imitation crab In ...,"{'username': 'victoriaportan1', 'id': 10574999...",,37.977978,-122.031072
5,2019-10-23 00:04:33+00:00,Congratulations new member @SUBWAY - Monument ...,"{'username': 'ConcordChamber1', 'id': 39755598...","Concord, CA",37.977978,-122.031072
6,2019-07-24 05:18:47+00:00,"@SUBWAY has the best chocolate chip cookies, h...","{'username': '_DangerDom_', 'id': 1517111120, ...",Bay Area,37.977978,-122.031072
7,2019-02-09 13:30:33+00:00,Will you be my #Valentine . Did a trial #Heads...,"{'username': 'cenisabelphoto', 'id': 54535272,...","Manteca, CA",37.977978,-122.031072

,date,content,user,user_location,lat,lng
0,2021-06-18 20:30:56+00:00,I went to @SUBWAY and pulled out the longest h...,"{'username': 'Simplymummbling', 'id': 22318063...",CA ☀️,33.875294,-117.566439
1,2020-12-10 20:36:51+00:00,@jimmystuck43 @SUBWAY that’s what i’m saying😭,"{'username': 'smallfryybby', 'id': 1546755662,...",w/ Andre probably,33.875294,-117.566439

,date,content,user,user_location,lat,lng
0,2021-07-13 19:35:01+00:00,@SUBWAY 😎,"{'username': 'Mikehb681', 'id': 65214196, 'dis...","Huntington Beach, CA",33.641133,-117.918669
1,2021-07-13 19:25:29+00:00,@toolbear74 @23andMe @SUBWAY You think Subway ...,"{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.641133,-117.918669
2,2021-07-13 17:33:47+00:00,@SUBWAY this is as pathetic as Jared https://t...,"{'username': 'ReneeGiraldy', 'id': 24547328, '...","Irvine,CA",33.641133,-117.918669
3,2021-07-13 08:14:12+00:00,"@toolbear74 @23andMe @SUBWAY If by ""processed""...","{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.641133,-117.918669
4,2021-07-10 00:02:12+00:00,@tizzywoman @IMontoyaResists @DebbieforFL @SUB...,"{'username': 'SheilaGinHB', 'id': 762084312518...","Huntington Beach, CA",33.641133,-117.918669
...,...,...,...,...,...,...
223,2011-10-03 21:19:41+00:00,Loving this @subway $5 anytober deal!!,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.641133,-117.918669
224,2011-10-03 21:16:45+00:00,Eating fresh Tweeps! @subway,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.641133,-117.918669
225,2011-10-01 22:43:41+00:00,Ryan Howard's bomb was brought to you in part ...,"{'username': 'geoffreyswhite', 'id': 151675659...","Portland, OR",33.641133,-117.918669
226,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.641133,-117.918669
227,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.641133,-117.918669

,date,content,user,user_location,lat,lng
0,2021-07-15 16:57:22+00:00,@SUBWAY I love the taste of your bread and kno...,"{'username': 'martinsean', 'id': 21164280, 'di...","Pacifica, CA",37.687925,-122.470208
1,2021-07-13 02:00:32+00:00,If you see them closed early today it’s becaus...,"{'username': '997now', 'id': 14992840, 'displa...","Daly City, California",37.687925,-122.470208
2,2021-07-12 15:54:20+00:00,"I'm at @SUBWAY in San Francisco, CA https://t....","{'username': 'mistyb415', 'id': 71383142, 'dis...",The Bay Area.... NUFF SAID....,37.687925,-122.470208
3,2021-07-12 04:03:52+00:00,@DrBryanLeyva @SUBWAY Yeah for real — what giv...,"{'username': 'mattryesciguy', 'id': 8055921982...",Ramaytush Ohlone Land,37.687925,-122.470208
4,2021-07-10 14:40:46+00:00,Road trip lunch break. @SUBWAY anyone? https:/...,"{'username': 'cristina_laki', 'id': 2941737755...","San Francisco, California",37.687925,-122.470208
...,...,...,...,...,...,...
1970,2012-07-26 00:47:01+00:00,take it out on the food you're preparing! And ...,"{'username': 'RedbirdsJunkie', 'id': 20833022,...",GK Niko 04B ClassicsElite ECNL,37.687925,-122.470208
1971,2012-06-15 19:41:21+00:00,"@tyleroakley well, @SUBWAY’s feet are smaller…","{'username': 'tlampo', 'id': 34363096, 'displa...","Cupertino, CA",37.687925,-122.470208
1972,2012-02-29 20:07:18+00:00,"apparently, it's #FreeCookieDay @Subway today!...","{'username': 'theRimsha', 'id': 115592705, 'di...",california,37.687925,-122.470208
1973,2011-11-28 20:14:38+00:00,The creamy broccoli and cheese soup from @SUBW...,"{'username': 'taylen24', 'id': 46507453, 'disp...","Sactown, CA",37.687925,-122.470208
1974,2011-11-13 22:08:52+00:00,I hate when @subway gives me dry bread.,"{'username': 'TheCsiz', 'id': 5638382, 'displa...",San Francisco,37.687925,-122.470208

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.940014,-118.132569
1,2021-07-13 19:32:24+00:00,I went to @SUBWAY for the first time in over a...,"{'username': 'padawanemily', 'id': 603852046, ...","South Gate, CA",33.940014,-118.132569
2,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.940014,-118.132569
3,2021-04-20 02:19:16+00:00,@SUBWAY what’s the sub of the day,"{'username': 'jahgo97', 'id': 8124364865745018...","Los Angeles, CA",33.940014,-118.132569
4,2021-04-16 01:58:12+00:00,@SUBWAY I can see nothing but bread!,"{'username': 'Javie1916', 'id': 460609917, 'di...",LA,33.940014,-118.132569
5,2021-04-16 01:57:41+00:00,God damn @SUBWAY y’all be so stingy with the c...,"{'username': 'Javie1916', 'id': 460609917, 'di...",LA,33.940014,-118.132569
6,2021-02-25 17:50:03+00:00,Still waiting for @SUBWAY to do a campaign aro...,"{'username': 'NateoftheDead', 'id': 82796831, ...","Willoughby, July 1888",33.940014,-118.132569
7,2020-12-18 20:28:20+00:00,@THEChrisLittle @SUBWAY @JackBox @Starbucks @p...,"{'username': 'stormynormyPR', 'id': 1318688719...",,33.940014,-118.132569
8,2020-09-18 01:29:14+00:00,@BAM_itzJake @SUBWAY Que te hico @SUBWAY ahora...,"{'username': 'johnnym9511', 'id': 996378800, '...","Huntington Park, CA",33.940014,-118.132569
9,2020-03-07 03:30:02+00:00,Yo @SUBWAY how come the US don’t sell Pizza he...,"{'username': 'MarshyDaFox', 'id': 114300745576...","Bell Gardens, CA",33.940014,-118.132569
10,2019-12-18 21:11:36+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/9sf...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
11,2019-12-13 05:41:59+00:00,Thanks @TheGameAwards &amp; @Subway for this #...,"{'username': 'LRTB_III', 'id': 623463949, 'dis...","Paramount, CA",33.940014,-118.132569
12,2019-10-04 20:40:59+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/i8E...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
13,2019-10-02 19:57:19+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/HOH...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
14,2019-10-02 07:21:01+00:00,Straight up temptation @SUBWAY glad I didn't p...,"{'username': 'plazolafernando', 'id': 21605006...","West Covina, CA",33.940014,-118.132569
15,2019-09-26 19:51:15+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/A2A...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
16,2019-09-09 19:34:01+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/MTz...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
17,2019-07-25 04:14:01+00:00,@SUBWAY https://t.co/O0xG4YTonh,"{'username': 'Slaproc', 'id': 33825114, 'displ...",V.A. to L.A.,33.940014,-118.132569
18,2019-07-13 04:03:49+00:00,@SUBWAY sponsor me,"{'username': 'FarWestGold', 'id': 2532790219, ...","South Los Angeles, Los Angeles",33.940014,-118.132569
19,2019-07-08 19:45:50+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/sPu...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
20,2019-07-03 19:49:31+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/7G4...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
21,2019-06-19 19:37:27+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/js0...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.940014,-118.132569
22,2019-02-12 03:05:05+00:00,@AoAmerican @SUBWAY Mee Too!,"{'username': 'unvjef', 'id': 3252994676, 'disp...",,33.940014,-118.132569
23,2019-01-23 17:39:50+00:00,@SUBWAY extremely gross @JerseyMikesSub might ...,"{'username': 'Aj_Campbell310', 'id': 255789884...",C.P.T,33.940014,-118.132569
24,2019-01-07 21:24:35+00:00,Killing time before the next bus comes! (at @S...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.940014,-118.132569
25,2019-01-04 22:20:59+00:00,"Hello, @SUBWAY do you not sell chicken noodle ...","{'username': 'Papitaa', 'id': 83283109, 'displ...",,33.940014,-118.132569
26,2018-11-16 15:47:02+00:00,"I'm at @SUBWAY in Whittier, CA https://t.co/ZX...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.940014,-118.132569

,date,content,user,user_location,lat,lng
0,2021-07-13 18:52:44+00:00,"@SUBWAY Just took advantage of the free 6"" Tur...","{'username': 'duckrow', 'id': 25552914, 'displ...","Rancho San Diego, CA",32.794772,-116.962528
1,2021-01-24 22:53:21+00:00,@SUBWAY if the @BuffaloBills win today I will ...,"{'username': 'billykorhummel', 'id': 91840403,...",716 to 619,32.794772,-116.962528
2,2021-01-01 07:48:08+00:00,@MariAvonTrapp @SUBWAY Eewww!!!...#justsaying.,"{'username': '1RavenLunatic', 'id': 7030175527...",,32.794772,-116.962528
3,2021-01-01 07:45:18+00:00,@MariAvonTrapp @SUBWAY Mine do...and change th...,"{'username': '1RavenLunatic', 'id': 7030175527...",,32.794772,-116.962528
4,2020-05-01 01:14:58+00:00,@SUBWAY your buy one get one on the app is not...,"{'username': 'TCBrownII', 'id': 128117567, 'di...",Earth,32.794772,-116.962528
...,...,...,...,...,...,...
93,2013-01-28 06:17:46+00:00,@Courtney @SUBWAY seriously? People sure get d...,"{'username': 'AnarchyGirl28', 'id': 82769204, ...",CA,32.794772,-116.962528
94,2012-10-30 02:54:32+00:00,The #subway near my house always has the worst...,"{'username': 'BryCaliente', 'id': 36209653, 'd...",Preferrably near an ocean,32.794772,-116.962528
95,2012-05-18 14:55:54+00:00,"#FishyFriday ""treat"" for my little guy! @Subwa...","{'username': 'Nasara_Gargonnu', 'id': 19148978...","San Diego, CA",32.794772,-116.962528
96,2011-12-09 01:41:04+00:00,$2 sub time! @subway (@ Subway) http://t.co/sM...,"{'username': 'rahshanh', 'id': 28861502, 'disp...",San Diego,32.794772,-116.962528
97,2011-09-28 03:08:16+00:00,Thank U @Subway Corporate Dietitian Lanette Ko...,"{'username': 'Nasara_Gargonnu', 'id': 19148978...","San Diego, CA",32.794772,-116.962528

,date,content,user,user_location,lat,lng
0,2021-07-14 04:08:43+00:00,@SUBWAY Why does your tuna not have any traces...,"{'username': 'CrashSpyroBanjo', 'id': 12957275...","La Puente, CA",34.068622,-118.027567
1,2021-06-23 17:58:09+00:00,@RuthSch04593054 @SUBWAY No Tuna DNA in your f...,"{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-118.027567
2,2021-06-23 17:56:34+00:00,"@renderrain @MuckDNewsome88 @SUBWAY Maybe, may...","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-118.027567
3,2021-06-23 17:53:53+00:00,"@SUBWAY Not Tuna, it seems.","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-118.027567
4,2021-04-16 01:58:12+00:00,@SUBWAY I can see nothing but bread!,"{'username': 'Javie1916', 'id': 460609917, 'di...",LA,34.068622,-118.027567
5,2021-04-16 01:57:41+00:00,God damn @SUBWAY y’all be so stingy with the c...,"{'username': 'Javie1916', 'id': 460609917, 'di...",LA,34.068622,-118.027567
6,2021-03-09 02:42:01+00:00,"I'm at @SUBWAY in Los Angeles, CA https://t.co...","{'username': 'Insane4now', 'id': 34710996, 'di...",Los Angeles,34.068622,-118.027567
7,2020-12-18 20:28:20+00:00,@THEChrisLittle @SUBWAY @JackBox @Starbucks @p...,"{'username': 'stormynormyPR', 'id': 1318688719...",,34.068622,-118.027567
8,2020-10-23 19:14:19+00:00,@SUBWAY I think you guys need to up your sala...,"{'username': 'chinosgurl74', 'id': 263901329, ...","Hacienda Heights, CA",34.068622,-118.027567

,date,content,user,user_location,lat,lng
0,2020-05-20 00:18:28+00:00,"I'm at @SUBWAY in Escondido, CA https://t.co/Z...","{'username': 'HereComsTrouble', 'id': 47407757...","Flight 504, Cali 4 Sho !",33.119208,-117.086422
1,2019-10-16 19:47:01+00:00,"No matter how many different ways I order it, ...","{'username': 'RockFam5', 'id': 1062279709, 'di...","Murrieta, CA",33.119208,-117.086422
2,2019-06-24 18:47:27+00:00,@SUBWAY Oh! And they couldn’t find the straws....,"{'username': 'RockFam5', 'id': 1062279709, 'di...","Murrieta, CA",33.119208,-117.086422
3,2019-06-24 18:43:23+00:00,@SUBWAY Hats of to the ONE EMPLOYEE behind the...,"{'username': 'RockFam5', 'id': 1062279709, 'di...","Murrieta, CA",33.119208,-117.086422
4,2019-04-03 18:51:38+00:00,"I'm at @SUBWAY in Escondido, CA https://t.co/L...","{'username': 'HereComsTrouble', 'id': 47407757...","Flight 504, Cali 4 Sho !",33.119208,-117.086422
5,2019-02-22 23:00:06+00:00,"Food (at @SUBWAY in Escondido, CA) https://t.c...","{'username': 'nclight86', 'id': 1325713573, 'd...",Escondido CA,33.119208,-117.086422
6,2018-12-07 19:55:04+00:00,"I'm at @SUBWAY in Escondido, CA https://t.co/v...","{'username': 'HereComsTrouble', 'id': 47407757...","Flight 504, Cali 4 Sho !",33.119208,-117.086422
7,2018-10-18 22:03:37+00:00,@SUBWAY I wonder why your El Norte Parkway Esc...,"{'username': 'RBMEllis', 'id': 928036965320032...","Anchorage, AK",33.119208,-117.086422
8,2018-09-12 20:55:48+00:00,@sofietorres_14 @SUBWAY https://t.co/oMSNDn2Zis,"{'username': 'BangBang_Sm', 'id': 1229196114, ...",,33.119208,-117.086422
9,2018-09-12 20:50:25+00:00,@SUBWAY @sofietorres_14 playing games and don’...,"{'username': 'BangBang_Sm', 'id': 1229196114, ...",,33.119208,-117.086422
10,2018-09-12 20:49:10+00:00,@sofietorres_14 @SUBWAY Is this where I send y...,"{'username': 'BangBang_Sm', 'id': 1229196114, ...",,33.119208,-117.086422
11,2018-09-12 20:47:45+00:00,I could go for some @SUBWAY rn 👨🏾‍🍳,"{'username': 'BangBang_Sm', 'id': 1229196114, ...",,33.119208,-117.086422
12,2018-04-02 18:38:21+00:00,"I'm at @Subway in Escondido, CA https://t.co/A...","{'username': 'N6XT', 'id': 75691647, 'displayn...","iPhone: 33.231209,-117.044617",33.119208,-117.086422
13,2017-11-07 21:29:38+00:00,The girls at this @SUBWAY location in San Marc...,"{'username': 'Nicole_CB', 'id': 25377388, 'dis...",,33.119208,-117.086422
14,2017-07-11 21:35:44+00:00,The only reason I come to this @SUBWAY is beca...,"{'username': 'Madmac1019', 'id': 8450269358392...","San Marcos, CA",33.119208,-117.086422
15,2017-02-19 21:37:23+00:00,@groovy_____ @SUBWAY https://t.co/C707fI1aqk,"{'username': 'xanthumtree', 'id': 1319058006, ...","California, USA",33.119208,-117.086422
16,2017-02-19 21:36:58+00:00,@groovy_____ @SUBWAY https://t.co/1zHS5Rffgs,"{'username': 'xanthumtree', 'id': 1319058006, ...","California, USA",33.119208,-117.086422
17,2017-02-19 02:18:37+00:00,I honestly feel cheated that there aren't $5 f...,"{'username': 'xanthumtree', 'id': 1319058006, ...","California, USA",33.119208,-117.086422
18,2017-01-16 22:26:15+00:00,"Lunch w/ @aaams15 (at @SUBWAY in Escondido, CA...","{'username': 'nomebrindes', 'id': 195429625, '...","Lima, Peru",33.119208,-117.086422
19,2016-12-17 20:17:09+00:00,I don't know why there's a @SUBWAY cookie on m...,"{'username': 'ThatHoeMo', 'id': 708536070, 'di...",,33.119208,-117.086422
20,2016-05-28 16:07:40+00:00,"I'm at @SUBWAY in San Marcos, CA https://t.co/...","{'username': 'TrevelyanL85A2', 'id': 139729760...","San Diego, CA",33.119208,-117.086422
21,2016-05-13 21:30:35+00:00,@SUBWAY that sandwich was horrible,"{'username': 'MSulli10', 'id': 2750428603, 'di...",Femboy Hooters,33.119208,-117.086422
22,2016-01-28 17:09:11+00:00,Need to grab food before I go to work. (at @SU...,"{'username': 'joeyfjr', 'id': 22225823, 'displ...",San Diego,33.119208,-117.086422
23,2016-01-08 16:31:21+00:00,@RandyFuller19 @ARRIS @StanleyRacing @SportCli...,"{'username': 'babiemoxley', 'id': 99643302, 'd...",San Diego,33.119208,-117.086422
24,2015-12-02 04:32:16+00:00,"I'm at @SUBWAY in San Marcos, CA https://t.co/...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.119208,-117.086422
25,2015-11-25 05:01:34+00:00,@IronFistBrewing really??? @subway?? They have...,"{'username': 'TheBerg', 'id': 59393, 'displayn...","San Marcos, CA",33.119208,-117.086422
26,2015-09-21 21:42:29+00:00,"I'm at @SUBWAY in San Marcos, CA https://t.co/...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.119208,-117.086422
27,2015-07-02 05:55:31+00:00,@JoeGibbsRacing @SUBWAY one of my favorite car...,"{'username': 'babiemoxley', 'id': 99643302, 'd...",San Diego,33.119208,-117.086422
28,2015-06-18 15:59:50+00:00,Bring back Jalapeño bread !!!!!!! @SUBWAY,"{'username': 'nefthalitorres', 'id': 574956206...","Missoula, MT",33.119208,-117.086422
29,2015-06-13 20:09:47+00:00,"I'm at @SUBWAY in Escondido, CA https://t.co/f...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.119208,-117.086422
30,2015-04-19 20:55:13+00:00,Now to order meals for dance team for Saturday...,"{'username': 'loriasaro', 'id': 33534504, 'dis...",Southern California,33.119208,-117.086422
31,2014-10-25 22:59:53+00:00,“@SUBWAY: The couple that subs together stays ...,"{'username': 'nataliestomsvik', 'id': 24047747...",,33.119208,-117.086422
32,2014-10-04 18:59:28+00:00,Double chicken chopped salad to go for beach c...,"{'username': 'washburnn', 'id': 15456582, 'dis...","ÜT: 32.770266,-117.162228",33.119208,-117.086422
33,2014-09-16 07:02:55+00:00,SUBWAY @subway. http://t.co/bx5xrT0XEV #San_Ma...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",33.119208,-117.086422
34,2014-09-08 18:54:33+00:00,Seriously @SUBWAY http://t.co/VWGGTqg6lV,"{'username': 'sheed420666', 'id': 2589934183, ...",,33.119208,-117.086422
35,2014-07-31 04:50:29+00:00,#Sharknado2 #jared @subway NICE CAMEO,"{'username': 'LPGDodds', 'id': 2586087906, 'di...",getting cawffee,33.119208,-117.086422
36,2014-06-05 18:17:16+00:00,"I'm at @SUBWAY (San Marcos, CA) http://t.co/D4...","{'username': 'brian_jones36', 'id': 320051911,...","Irvine, CA",33.119208,-117.086422
37,2014-05-26 20:03:39+00:00,Breakfast (at @SUBWAY) http://t.co/pw6IVb4tFN,"{'username': 'iAM6LiSS', 'id': 115778890, 'dis...","Atlanta, GA",33.119208,-117.086422
38,2014-03-18 17:08:46+00:00,"I'm at @SUBWAY (Escondido, CA) http://t.co/ln1...","{'username': 'ggooray', 'id': 932749009, 'disp...","Corona, ca",33.119208,-117.086422
39,2014-03-17 19:48:04+00:00,@CUCAHHH @SUBWAY @ haha he's busy right now wi...,"{'username': 'Pow_Hola', 'id': 625049320, 'dis...",,33.119208,-117.086422
40,2014-02-24 02:50:21+00:00,$5 footlongs (at @SUBWAY) http://t.co/HPAMCXbfVp,"{'username': 'Mannyman', 'id': 9901512, 'displ...","Escondido, CA",33.119208,-117.086422
41,2014-01-24 21:10:33+00:00,"I'm at @SUBWAY (Escondido, CA) http://t.co/3i4...","{'username': 'KrissySD', 'id': 31630823, 'disp...",San Diego,33.119208,-117.086422
42,2013-12-07 19:47:43+00:00,"I'm at @SUBWAY (San Marcos, CA) http://t.co/Zx...","{'username': 'torlovespurple', 'id': 170768216...",⚓︎,33.119208,-117.086422
43,2013-11-27 22:17:22+00:00,@SUBWAY katniss and I #SUBtractHUNGER http://...,"{'username': 'mick_falcon', 'id': 1315422888, ...",So Cal,33.119208,-117.086422
44,2013-09-26 23:23:03+00:00,"I'm at @Subway #50755 (Escondido, CA) http://t...","{'username': 'AmA760', 'id': 112495685, 'displ...","San Diego, CA",33.119208,-117.086422
45,2013-08-23 20:53:36+00:00,Mmm (at @Subway #50755) http://t.co/xLxeb6IUTU,"{'username': 'AmA760', 'id': 112495685, 'displ...","San Diego, CA",33.119208,-117.086422

,date,content,user,user_location,lat,lng
0,2021-05-23 14:02:17+00:00,Thanks for nothing @SUBWAY! I’ll have my bank ...,"{'username': 'ItsMikeSimon', 'id': 52939280, '...","Vacaville, CA",38.249358,-122.039967
1,2021-05-18 04:53:43+00:00,@SUBWAY can somebody explain why your app allo...,"{'username': 'ItsMikeSimon', 'id': 52939280, '...","Vacaville, CA",38.249358,-122.039967
2,2020-05-27 20:51:20+00:00,"I'm at @Subway in Fairfield, CA https://t.co/R...","{'username': 'IWorldrunner', 'id': 851745463, ...",California,38.249358,-122.039967
3,2019-10-07 21:08:06+00:00,"I'm at @Subway in Fairfield, CA https://t.co/W...","{'username': 'IWorldrunner', 'id': 851745463, ...",California,38.249358,-122.039967
4,2019-06-30 01:37:30+00:00,@whoischelsea_ A ad @Cimorelliband did in the ...,"{'username': 'arnoldmcguire16', 'id': 27268175...","Suisun City, CA",38.249358,-122.039967
5,2019-03-08 17:33:46+00:00,@Wendys @KaniDayOfficial @Wendys eat fresh? @S...,"{'username': 'bLibsCorner', 'id': 58565201, 'd...",,38.249358,-122.039967
6,2018-12-05 01:44:51+00:00,"Yum (at @Subway in Fairfield, CA) https://t.co...","{'username': 'AgentScarnTLM', 'id': 9512386031...","Scranton, PA",38.249358,-122.039967
7,2018-11-10 01:02:47+00:00,"Dinner (at @SUBWAY in Fairfield, CA) https://t...","{'username': 'monkeys2413', 'id': 36847328, 'd...","FAIRFIELD, CA 94533",38.249358,-122.039967
8,2018-07-29 03:08:33+00:00,"Dinner (at @SUBWAY in Fairfield, CA) https://t...","{'username': 'monkeys2413', 'id': 36847328, 'd...","FAIRFIELD, CA 94533",38.249358,-122.039967
9,2018-02-25 07:37:38+00:00,"I'm at @SUBWAY in Fairfield, CA https://t.co/p...","{'username': 'lwyatt693', 'id': 1266386220, 'd...","Suisun City, Ca",38.249358,-122.039967
10,2018-02-09 18:30:56+00:00,"I'm at @SUBWAY in Fairfield, CA https://t.co/J...","{'username': 'lwyatt693', 'id': 1266386220, 'd...","Suisun City, Ca",38.249358,-122.039967
11,2018-02-06 02:02:53+00:00,@jcjjcjjcjjcj @SUBWAY I mean free sandwiches w...,"{'username': 'savgabriellla', 'id': 7516676488...","ponce, puerto rico",38.249358,-122.039967

,date,content,user,user_location,lat,lng
0,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.092233,-117.435047
1,2021-04-20 05:45:24+00:00,"I'm at @SUBWAY in Rialto, CA w/ @cuccabug http...","{'username': 'Sir_Hit_Man', 'id': 357121602, '...","Corona, CA",34.092233,-117.435047
2,2021-01-29 20:26:46+00:00,@JessicaSimpson @SUBWAY Wow! Hope not! I have ...,"{'username': 'GuerrakimGuerra', 'id': 25846736...","California, USA",34.092233,-117.435047
3,2020-10-26 22:58:19+00:00,Really @jerseymikes? I could've gone to @Wendy...,"{'username': 'stevengregory', 'id': 16192212, ...",Los Angeles,34.092233,-117.435047
4,2020-07-23 19:53:52+00:00,@JoeyRundle2 @SUBWAY @LasVegasLocally Where ? ...,"{'username': 'TripleH2413', 'id': 150499657, '...",,34.092233,-117.435047
5,2020-02-20 23:43:06+00:00,@SUBWAY @SUBWAY FUND the SNYDER CUT or TAG @wa...,"{'username': 'austinvives', 'id': 2472045552, ...",,34.092233,-117.435047
6,2020-02-14 23:35:43+00:00,@ZackSnyder @SUBWAY COME BACK @ZackSnyder http...,"{'username': 'austinvives', 'id': 2472045552, ...",,34.092233,-117.435047
7,2020-01-09 15:41:23+00:00,"Hey @SUBWAY, 2 words, breakfast sliders!","{'username': 'Jenniferk76', 'id': 100293374687...","Rancho Cucamonga, CA",34.092233,-117.435047
8,2019-12-23 18:29:58+00:00,@SUBWAY damn 10 minutes waiting in line and no...,"{'username': 'Pedroskiez', 'id': 171680482, 'd...",Baseline & Waterman W/ Da Hoes,34.092233,-117.435047
9,2019-10-30 02:40:29+00:00,Been a cool minute since getting Subway @SUBWAY,"{'username': '_andyg97_', 'id': 10440095379365...","Fontana, CA",34.092233,-117.435047
10,2019-10-13 05:18:16+00:00,@SUBWAY worst sandwich ever I bought and taste...,"{'username': 'Missy102187', 'id': 856680895239...","California, USA",34.092233,-117.435047
11,2019-02-27 15:49:10+00:00,@lino_storyz @jocelynnmm @SUBWAY Come work at ...,"{'username': 'mynamesisntgeo', 'id': 101936364...",,34.092233,-117.435047
12,2019-02-03 18:19:31+00:00,@jerseymikes has the nerve to charge almost 8 ...,"{'username': 'GeniusOfLoveBae', 'id': 13203317...",,34.092233,-117.435047
13,2018-08-21 01:55:44+00:00,@lilcez90 @RalphGarman Where is this I’m tired...,"{'username': 'eddie_macias', 'id': 146986605, ...",Los Angeles,34.092233,-117.435047
14,2018-04-30 23:01:35+00:00,"I'm at @SUBWAY in Fontana, CA w/ @marligatinha...","{'username': 'dochutch109', 'id': 234075609, '...",Not sure yet,34.092233,-117.435047
15,2018-03-25 20:49:31+00:00,I’m so ready for a Sweet Onion Chicken Teriyak...,"{'username': 'RyanRapshus', 'id': 315488967, '...",,34.092233,-117.435047
16,2018-03-10 21:26:08+00:00,@SUBWAY where am I supposed to use this? My 10...,"{'username': 'PokeTrainerDoug', 'id': 76493581...",,34.092233,-117.435047
17,2018-01-14 00:04:30+00:00,Came to @SUBWAY for some cravings and they did...,"{'username': 'TheSandyVanessa', 'id': 37945695...",Southern California,34.092233,-117.435047
18,2017-11-15 15:07:38+00:00,"Breakfast sandwich (at @SUBWAY in Ontario, CA)...","{'username': 'AthVol', 'id': 2419607958, 'disp...",Missouri,34.092233,-117.435047
19,2017-11-06 03:08:49+00:00,"I'm at @SUBWAY in Fontana, CA https://t.co/gdI...","{'username': 'cebollon88', 'id': 99385230, 'di...","Ontario, CA",34.092233,-117.435047
20,2017-11-04 02:06:15+00:00,Free sandwich! At @SUBWAY restaurants. #yass #...,"{'username': 'Sinner_Saint_25', 'id': 62718242...","California, USA",34.092233,-117.435047
21,2017-10-23 21:30:16+00:00,since i no longer work here i can officially s...,"{'username': 'hotboyharv', 'id': 511552606, 'd...",The Mancave,34.092233,-117.435047
22,2017-09-13 21:07:20+00:00,For later while on route. Turkey spinach onion...,"{'username': 'Pugsi', 'id': 33704374, 'display...","ÜT: 34.580842,-117.270446",34.092233,-117.435047
23,2017-07-20 04:51:44+00:00,would like to thank @SUBWAY for keeping me sus...,"{'username': 'aaaronlabajo', 'id': 1636401037,...","Rancho Cucamonga, CA",34.092233,-117.435047
24,2017-06-03 22:55:41+00:00,"I'm at @SUBWAY in Ontario, CA https://t.co/axo...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.092233,-117.435047
25,2017-06-01 22:52:06+00:00,When Gina gets as excited as I do over @SUBWAY...,"{'username': '_Lex07', 'id': 72090334, 'displa...",C A L I F O R N I A. ☀️🌴,34.092233,-117.435047
26,2017-03-29 05:05:05+00:00,@SUBWAY https://t.co/OOqdnqXOJm,"{'username': 'kombomany', 'id': 515041444, 'di...","Fontana, CA",34.092233,-117.435047
27,2017-03-29 03:02:23+00:00,@SUBWAY Please serve hard boiled eggs. Thanks,"{'username': 'ranran94', 'id': 820534825, 'dis...",,34.092233,-117.435047
28,2017-03-28 06:02:12+00:00,@SUBWAY https://t.co/OOqdnrfpAU,"{'username': 'kombomany', 'id': 515041444, 'di...","Fontana, CA",34.092233,-117.435047

,date,content,user,user_location,lat,lng
0,2021-06-28 21:42:20+00:00,@SUBWAY it works all of my devices just went o...,"{'username': 'edjr04', 'id': 106950491, 'displ...","Fremont, CA",37.548269,-121.988572
1,2021-04-28 03:10:17+00:00,@SUBWAY Your ads with the soccer star really s...,"{'username': 'pauditore', 'id': 46995586, 'dis...","Pacifica, California",37.548269,-121.988572
2,2020-02-13 02:11:59+00:00,@josephgeha16 @audiosand @SUBWAY I’ll have to ...,"{'username': 'RajSalwan', 'id': 22313478, 'dis...","Fremont, CA",37.548269,-121.988572
3,2020-02-13 01:58:58+00:00,@audiosand @josephgeha16 I’m feeling the same ...,"{'username': 'RajSalwan', 'id': 22313478, 'dis...","Fremont, CA",37.548269,-121.988572
4,2019-12-25 15:33:54+00:00,@SUBWAY @fabio_fsilva,"{'username': 'RICARDOAMF', 'id': 57837878, 'di...","Goiânia, Brasil",37.548269,-121.988572
5,2019-12-19 21:14:43+00:00,@henrykleeKTVU @KTVU @SUBWAY @AlamedaPD https:...,"{'username': 'PinotHeaux', 'id': 122419223, 'd...",Somewhere Hiking,37.548269,-121.988572
6,2019-10-22 20:52:16+00:00,"I’ve never liked salad, but I am OBSESSED with...","{'username': 'malloryussery', 'id': 7284339804...",bay,37.548269,-121.988572
7,2019-08-11 12:31:21+00:00,"I'm at @Subway in Fremont, CA https://t.co/wZe...","{'username': 'Fullypaced15', 'id': 376360447, ...",YAY AREA!!,37.548269,-121.988572
8,2019-07-24 18:29:17+00:00,"I'm at @Subway in Fremont, CA https://t.co/Lgt...","{'username': 'Fullypaced15', 'id': 376360447, ...",YAY AREA!!,37.548269,-121.988572
9,2019-05-14 19:52:37+00:00,@SUBWAY No chicken 🐔 sub with the Ultimate Gar...,"{'username': 'PZvsPZ', 'id': 85574981761574912...","Fremont, CA",37.548269,-121.988572
10,2019-02-22 18:18:36+00:00,"@SUBWAY About The Loud House promotion, do cos...","{'username': 'kemo5791', 'id': 2757395042, 'di...","Fremont, CA",37.548269,-121.988572
11,2019-01-15 04:33:55+00:00,@TogosSandwiches Why am I at your location on ...,"{'username': 'cindernies', 'id': 2916466508, '...","SF Bay Area, CA",37.548269,-121.988572
12,2018-12-17 20:45:40+00:00,"I'm at @Subway in Fremont, CA https://t.co/wfD...","{'username': 'Fullypaced15', 'id': 376360447, ...",YAY AREA!!,37.548269,-121.988572
13,2018-09-20 17:25:27+00:00,"I'm at @Subway in Fremont, CA https://t.co/ZhV...","{'username': 'Fullypaced15', 'id': 376360447, ...",YAY AREA!!,37.548269,-121.988572
14,2018-09-13 17:16:31+00:00,"I'm at @Subway in Fremont, CA https://t.co/Iju...","{'username': 'Fullypaced15', 'id': 376360447, ...",YAY AREA!!,37.548269,-121.988572

,date,content,user,user_location,lat,lng
0,2021-07-14 04:11:11+00:00,@jimidoesntcare @capriottis @tonyhawk @SUBWAY ...,"{'username': 'TehParalyzer', 'id': 46956704, '...","Fresno, California",36.746842,-119.772586
1,2021-07-13 17:38:52+00:00,@93_mikee @SUBWAY https://t.co/UFBziXPXa7,"{'username': 'joelflores94', 'id': 1348497967,...","Fresno, CA",36.746842,-119.772586
2,2021-07-13 01:05:34+00:00,Playing basketball killed me but @SUBWAY brun...,"{'username': 'JERMZUNO', 'id': 137427570545060...",Fresno CA,36.746842,-119.772586
3,2021-07-12 01:19:29+00:00,The greatest trick the devil ever pulled was g...,"{'username': 'jon_j28', 'id': 1411761312539975...","Fresno, CA",36.746842,-119.772586
4,2021-06-23 20:23:34+00:00,@law_hastings @SUBWAY So what is it if it's no...,"{'username': 'Ev_deGallery', 'id': 246894048, ...","Fresno, CA",36.746842,-119.772586
...,...,...,...,...,...,...
137,2013-07-20 19:25:28+00:00,"I'm at @Subway (Clovis, CA) http://t.co/aXNPSE...","{'username': 'AuggieReyes', 'id': 81227628, 'd...",Westcoast,36.746842,-119.772586
138,2013-03-25 16:25:12+00:00,@Fritolay @SUBWAY @LAYS I'll take a bag of Sun...,"{'username': 'syzeworld', 'id': 211784492, 'di...","Fresno, California",36.746842,-119.772586
139,2012-11-21 21:38:11+00:00,@SUBWAY my new favorite is the veggie patty ch...,"{'username': 'Mteuzi', 'id': 14865512, 'displa...",SF Bay Area,36.746842,-119.772586
140,2012-11-01 17:12:40+00:00,"@SUBWAY @WhitneyPhelpsFl Good luck, what a gre...","{'username': 'AlyssaHoutby', 'id': 868582003, ...","Visalia, CA",36.746842,-119.772586
141,2012-10-22 20:01:47+00:00,Lunch @subway #throwawaythebuns,"{'username': 'sabu213', 'id': 178927640, 'disp...",Central California,36.746842,-119.772586

,date,content,user,user_location,lat,lng
0,2021-07-14 06:15:02+00:00,@SUBWAY These #coupons can't be used on the #C...,"{'username': 'ghosty4', 'id': 24838604, 'displ...","Anaheim, Ca",33.870292,-117.925339
1,2021-07-14 02:29:32+00:00,@NCSGI @SUBWAY Whoops missed this,"{'username': 'JizzelEtBass', 'id': 282252332, ...","Anaheim, CA",33.870292,-117.925339
2,2021-07-07 18:09:08+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.870292,-117.925339
3,2021-07-07 18:03:16+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.870292,-117.925339
4,2021-06-23 07:35:27+00:00,If your go to order at @SUBWAY is a #tuna sand...,"{'username': 'frankenbert_', 'id': 1913707124,...",,33.870292,-117.925339
...,...,...,...,...,...,...
394,2012-06-21 15:31:36+00:00,@SUBWAY then give us more on the sanwiches tha...,"{'username': 'stephberryumyum', 'id': 31200646...","Fullerton, CA",33.870292,-117.925339
395,2012-05-02 19:30:10+00:00,"@SUBWAY I'm having 6"" Turkey Avocado San on Wh...","{'username': 'QueenAlice777', 'id': 345812057,...",Yorba Linda,33.870292,-117.925339
396,2012-01-15 21:26:39+00:00,If @Subway made a Pussy sandwich ... it would ...,"{'username': 'RudeWickedXXXXL', 'id': 42217795...",LOS ANGELES & O.C. CALIFORNIA,33.870292,-117.925339
397,2011-10-27 18:09:56+00:00,@subway in La mirada on Santa Gertrudes and th...,"{'username': 'Coolinarytrends', 'id': 30814270...",Los Angeles,33.870292,-117.925339
398,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.870292,-117.925339

,date,content,user,user_location,lat,lng
0,2021-07-14 06:15:02+00:00,@SUBWAY These #coupons can't be used on the #C...,"{'username': 'ghosty4', 'id': 24838604, 'displ...","Anaheim, Ca",33.773906,-117.941447
1,2021-07-14 02:29:32+00:00,@NCSGI @SUBWAY Whoops missed this,"{'username': 'JizzelEtBass', 'id': 282252332, ...","Anaheim, CA",33.773906,-117.941447
2,2021-07-13 20:05:27+00:00,@willrowactor @SUBWAY I wish him a speedy reco...,"{'username': 'SandyRegion', 'id': 135865990454...",Midway City,33.773906,-117.941447
3,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.773906,-117.941447
4,2021-07-07 18:09:08+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.773906,-117.941447
...,...,...,...,...,...,...
500,2011-10-01 02:45:29+00:00,"Starting tomorrow, @Subway has codes for #unch...","{'username': 'johnnymorner', 'id': 107948035, ...","California, USA",33.773906,-117.941447
501,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.773906,-117.941447
502,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.773906,-117.941447
503,2011-04-08 03:48:42+00:00,Having veggie sub from @subway. #latedinner,"{'username': 'iRockCardigans', 'id': 187880318...",,33.773906,-117.941447
504,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.773906,-117.941447

,date,content,user,user_location,lat,lng
0,2021-07-15 16:58:48+00:00,@4lisaguerrero @SUBWAY Interesting as I've fou...,"{'username': 'News4Laughs', 'id': 134394884078...","Studio City, Los Angeles",34.142508,-118.255075
1,2021-07-14 16:06:07+00:00,@jimidoesntcare @capriottis @tonyhawk @SUBWAY ...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.142508,-118.255075
2,2021-07-14 16:05:07+00:00,@capriottis @tonyhawk @SUBWAY @StephenCurry30 ...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.142508,-118.255075
3,2021-07-14 16:04:27+00:00,@FrilentMusic @tonyhawk @SUBWAY @JJWatt im 100...,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.142508,-118.255075
4,2021-07-14 16:02:53+00:00,@SUBWAY SUBWAY IS TASTY BUT ITS NOT REAL FOOD....,"{'username': 'christyluvsla', 'id': 32165173, ...",Los Feliz CA,34.142508,-118.255075
...,...,...,...,...,...,...
135,2016-07-25 06:11:00+00:00,.@Subway microwaves their meatballs!! . . This...,"{'username': 'RyanDanielst', 'id': 30588780, '...","Burbank, CA",34.142508,-118.255075
136,2016-07-24 06:57:59+00:00,"I frequent my local @Subway so often, I was ju...","{'username': 'RyanDanielst', 'id': 30588780, '...","Burbank, CA",34.142508,-118.255075
137,2016-07-18 06:06:35+00:00,.@Subway Your $5 sub went up to $6. Doesn't ha...,"{'username': 'RyanDanielst', 'id': 30588780, '...","Burbank, CA",34.142508,-118.255075
138,2016-07-07 20:37:06+00:00,"I'm at @Subway in Los Angeles, CA https://t.co...","{'username': 'MARIUS_DTOWN', 'id': 19316168, '...",,34.142508,-118.255075
139,2016-07-05 20:39:22+00:00,Only a few days left at this subway. (at @Subw...,"{'username': 'primey', 'id': 14523328, 'displa...","iPhone: 37.796055,-122.416695",34.142508,-118.255075

,date,content,user,user_location,lat,lng
0,2021-07-15 17:13:51+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Lor...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.916403,-118.352575
1,2021-07-15 17:10:59+00:00,@OSV227Hex @vap1337 @4lisaguerrero @SUBWAY 🤦‍♀️,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.916403,-118.352575
2,2021-07-15 17:08:53+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Ok ...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.916403,-118.352575
3,2021-07-15 03:29:57+00:00,Did y’all ever let us know what’s in this tuna...,"{'username': 'LEXXinthe_CITY', 'id': 49850788,...",90250,33.916403,-118.352575
4,2021-07-09 01:18:05+00:00,@nytimes had @SUBWAY's tuna dna-tested. Most l...,"{'username': 'kfsone', 'id': 94830628, 'displa...","Lawndale, CA",33.916403,-118.352575
5,2021-06-30 02:53:54+00:00,I just inhaled a foot long @SUBWAY 🥖🤰🏻,"{'username': 'DaniMillionaire', 'id': 64535402...",⠀ ⠀⠀ ⠀⠀ ⠀⠀⠀ ⠀Dreamstate ✨👽💫,33.916403,-118.352575
6,2021-06-09 22:17:33+00:00,"@SUBWAY, I match my food perfectly today!! htt...","{'username': 'DrKunani', 'id': 109952455128362...",,33.916403,-118.352575
7,2021-03-22 17:37:59+00:00,@ESPNNFL @JJWatt @_TJWatt @SUBWAY see what you...,"{'username': 'Thebigchocolat1', 'id': 10661454...","Redondo Beach, CA",33.916403,-118.352575
8,2021-01-08 03:38:03+00:00,@Cmoyer @GeoffTBlosat @SUBWAY @pepsi @odysseyg...,"{'username': 'njh287', 'id': 21158648, 'displa...","Los Angeles, CA",33.916403,-118.352575
9,2020-12-29 18:29:51+00:00,@NFLonCBS @steelers @JJWatt well I guess that ...,"{'username': 'Thebigchocolat1', 'id': 10661454...","Redondo Beach, CA",33.916403,-118.352575
10,2020-06-19 00:09:11+00:00,"🥖🥪🌯 (at @SUBWAY in Los Angeles, CA) https://t....","{'username': 'DonnieLeftTurn', 'id': 60170259,...","Rancho Santa Margarita, CA",33.916403,-118.352575
11,2020-02-15 03:11:50+00:00,@AdelTWL @SUBWAY 😂,"{'username': 'thiswildbemis', 'id': 19749488, ...","Los Angeles, CA",33.916403,-118.352575
12,2020-01-22 18:53:23+00:00,I’m married to the Spicy Italian 😍although the...,"{'username': '2HungryHQ', 'id': 2661619208, 'd...","Los Angeles, CA",33.916403,-118.352575
13,2020-01-22 18:44:09+00:00,@TeaForTheQueen @SUBWAY Los Angeles,"{'username': '2HungryHQ', 'id': 2661619208, 'd...","Los Angeles, CA",33.916403,-118.352575
14,2020-01-17 22:21:19+00:00,S/o to the cute girl that made me a 💣 ass spic...,"{'username': 'CherishMonet', 'id': 78353976, '...","Los Angeles, CA",33.916403,-118.352575
15,2019-12-17 01:10:15+00:00,@SUBWAY im at one of your locations and tried ...,"{'username': 'FizPhoto', 'id': 307168675, 'dis...",South Bay,33.916403,-118.352575
16,2019-12-08 01:45:10+00:00,@SUBWAY you support #relasethesyder cut?,"{'username': 'nomaddeejayXO', 'id': 416655719,...",,33.916403,-118.352575
17,2019-12-08 01:43:51+00:00,@SUBWAY @dbond123 @rainnwilson What,"{'username': 'nomaddeejayXO', 'id': 416655719,...",,33.916403,-118.352575
18,2019-10-12 07:01:37+00:00,"I'm at @SUBWAY in Los Angeles, CA https://t.co...","{'username': 'MAIatMMK', 'id': 138739902, 'dis...",ももたろうの郷の山奥,33.916403,-118.352575
19,2019-10-07 20:05:09+00:00,@Subway is so Overpriced,"{'username': 'cesartdelreal', 'id': 143949641,...","Los Angeles, CA",33.916403,-118.352575
20,2019-07-17 03:23:32+00:00,Hey @SUBWAY are you guys ever going to get a g...,"{'username': 'James_Searches', 'id': 296153562...","Los Angeles, CA",33.916403,-118.352575
21,2019-06-16 19:38:09+00:00,@yrboypat @SUBWAY Im more of a @Quiznos kinda guy,"{'username': 'CruzF9teefoe', 'id': 628069524, ...","SSRB,Ca",33.916403,-118.352575
22,2019-03-04 21:20:08+00:00,FU @SUBWAY for having raspberry cheesecake coo...,"{'username': 'sAMOAn_KinG', 'id': 175706278, '...","Long Beach, CA",33.916403,-118.352575
23,2018-11-27 22:48:06+00:00,Where’s all the avo? @jerseymikes @SUBWAY http...,"{'username': 'jkjumps', 'id': 30176318, 'displ...","Nashville, TN",33.916403,-118.352575
24,2018-06-24 17:04:45+00:00,&lt;.&lt; @SUBWAY might not strike u as a brea...,"{'username': 'Cork_xx', 'id': 4913438301, 'dis...","Detroit, MI ~ He/His",33.916403,-118.352575
25,2018-06-10 13:24:27+00:00,"Subway: Help End Plastic Pollution, Stop Using...","{'username': 'hifiespresso', 'id': 70942247129...",227 PCH Hermosa Beach CA,33.916403,-118.352575
26,2018-05-16 14:39:01+00:00,To who ever at @subway decided to sneak this l...,"{'username': 'SPoulton', 'id': 466843715, 'dis...","Los Angeles, CA",33.916403,-118.352575
27,2018-05-11 18:39:31+00:00,"I'm at @SUBWAY in Torrance, CA https://t.co/NX...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.916403,-118.352575
28,2018-04-27 22:45:21+00:00,"Dear @Quiznos, I regret 😢 to inform you that I...","{'username': 'andreanthony323', 'id': 93830169...","Los Angeles, CA",33.916403,-118.352575
29,2018-03-24 01:57:58+00:00,@Lovelylanvin @SUBWAY @aslanistan123 @passthep...,"{'username': 'MrRon9', 'id': 41043058, 'displa...",All Ova Southern Cali,33.916403,-118.352575
30,2018-03-23 22:43:01+00:00,"I'm at @SUBWAY in Torrance, CA https://t.co/yy...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.916403,-118.352575

,date,content,user,user_location,lat,lng
0,2021-06-24 07:30:06+00:00,@SUBWAY explain this https://t.co/4g84zozK1L,"{'username': 'LyricalVapor', 'id': 1688762208,...","East Oakland, CA",37.668819,-122.080797
1,2020-09-08 22:53:08+00:00,@McDonalds just wanted to say thank you for ne...,"{'username': 'feld3d', 'id': 39554451, 'displa...","San Francisco, CA",37.668819,-122.080797
2,2020-07-30 20:18:41+00:00,"I'm at @Subway in San Leandro, CA https://t.co...","{'username': 'dldincali', 'id': 21883527, 'dis...",N 37°34' 0'' / W 77°23' 0'',37.668819,-122.080797
3,2020-01-08 04:04:23+00:00,"Dinner with the wife (at @SUBWAY in Hayward, C...","{'username': 'jdilladaddy3', 'id': 158525553, ...",Milpitas CA,37.668819,-122.080797
4,2019-11-14 18:34:38+00:00,"@SUBWAY Ham was cold, bread was hard. 🤨","{'username': 'jjsabenorio', 'id': 78734133, 'd...","Yay Area, California",37.668819,-122.080797
5,2019-09-26 02:05:49+00:00,"Dinner (at @SUBWAY in Hayward, CA) https://t.c...","{'username': 'jdilladaddy3', 'id': 158525553, ...",Milpitas CA,37.668819,-122.080797
6,2019-08-22 00:47:54+00:00,@_lordfarquaad__ @IlovebeinBlack @SUBWAY Alway...,"{'username': 'Ms_Iridescent', 'id': 8693524486...","California, USA",37.668819,-122.080797
7,2019-05-21 15:39:04+00:00,"Having Breakfast 😊 (at @Subway in San Leandro,...","{'username': 'DJHammerinhank', 'id': 325306323...","Hayward, California",37.668819,-122.080797
8,2019-05-01 05:10:14+00:00,Dear @SUBWAY i been trying to order from you'...,"{'username': 'betito1474', 'id': 390569114, 'd...",decoto,37.668819,-122.080797
9,2019-04-18 18:23:40+00:00,Having lunch before class 🎂 (at @SUBWAY in Hay...,"{'username': 'DJHammerinhank', 'id': 325306323...","Hayward, California",37.668819,-122.080797
10,2019-04-04 18:17:03+00:00,Having Thursday lunch 😊 (at @SUBWAY in Hayward...,"{'username': 'DJHammerinhank', 'id': 325306323...","Hayward, California",37.668819,-122.080797
11,2018-11-28 21:34:03+00:00,"Eat fresh (at @Subway in Hayward, CA) https://...","{'username': 'joemurguia', 'id': 241350479, 'd...","san ME, ca.",37.668819,-122.080797

,date,content,user,user_location,lat,lng
0,2019-12-19 08:19:42+00:00,@Irene_is_a_bean @SUBWAY #Amazing #winning #ea...,"{'username': 'july4eagle', 'id': 3256214899, '...","California, USA",33.747519,-116.971967
1,2019-11-08 22:13:48+00:00,Dont go to @SUBWAY when its busy. They just fu...,"{'username': 'parsiak72', 'id': 1657803445, 'd...",Temecula,33.747519,-116.971967

,date,content,user,user_location,lat,lng
0,2019-09-14 04:41:29+00:00,I love you @SUBWAY,"{'username': 'MegannShiness', 'id': 335730330,...","Huntington Beach, CA",34.426389,-117.300878
1,2018-05-02 21:30:31+00:00,"I'm at @SUBWAY in Hesperia, CA https://t.co/1c...","{'username': 'kobi001', 'id': 125880889, 'disp...","Seoul, Korea/Songpa/guro",34.426389,-117.300878
2,2018-02-02 01:06:18+00:00,"I'm at @SUBWAY in Hesperia, CA https://t.co/yY...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
3,2017-12-11 20:04:12+00:00,"I'm at @SUBWAY in Hesperia, CA https://t.co/8a...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
4,2017-12-10 00:26:21+00:00,"I'm at @SUBWAY in Hesperia, CA https://t.co/C2...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
...,...,...,...,...,...,...
137,2013-08-29 22:28:40+00:00,Dinner. (at @Subway w/ 2 others) [pic]: http:/...,"{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
138,2013-08-12 22:12:48+00:00,Dinner time. busy place today. (at @Subway) [p...,"{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
139,2013-08-08 22:10:24+00:00,Chow time. Busy place today. (at @Subway) [pic...,"{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
140,2013-08-01 22:30:19+00:00,Early dinner. (at @Subway) [pic]: http://t.co/...,"{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.426389,-117.300878
141,2011-08-22 01:04:28+00:00,The @subway commercial features @callofduty bu...,"{'username': 'codyundead', 'id': 54022773, 'di...","Hesperia, CA",34.426389,-117.300878

,date,content,user,user_location,lat,lng
0,2021-07-13 20:05:27+00:00,@willrowactor @SUBWAY I wish him a speedy reco...,"{'username': 'SandyRegion', 'id': 135865990454...",Midway City,33.660297,-117.999225
1,2021-07-13 19:35:01+00:00,@SUBWAY 😎,"{'username': 'Mikehb681', 'id': 65214196, 'dis...","Huntington Beach, CA",33.660297,-117.999225
2,2021-07-10 00:02:12+00:00,@tizzywoman @IMontoyaResists @DebbieforFL @SUB...,"{'username': 'SheilaGinHB', 'id': 762084312518...","Huntington Beach, CA",33.660297,-117.999225
3,2021-06-26 03:38:45+00:00,I dont care about the @SUBWAY tuna drama. I li...,"{'username': 'mfigroid', 'id': 16336708, 'disp...",,33.660297,-117.999225
4,2021-01-28 23:52:58+00:00,A “footlong tuna sandwich” from @Subway is non...,"{'username': 'HBGhostCrypt', 'id': 90952339540...","Huntington Beach, CA",33.660297,-117.999225
...,...,...,...,...,...,...
62,2016-02-04 06:25:45+00:00,@humped @SUBWAY @vickyychen im quitting,"{'username': 'lilki47', 'id': 4118834480, 'dis...",,33.660297,-117.999225
63,2016-01-09 19:43:02+00:00,"I'm at @SUBWAY in Santa Ana, CA https://t.co/a...","{'username': 'ZAIDALHAJER', 'id': 428153345, '...","Miami, FL",33.660297,-117.999225
64,2015-12-29 21:44:45+00:00,"I'm at @SUBWAY in Irvine, CA https://t.co/UNtz...","{'username': 'ssummerss7', 'id': 3899649554, '...",,33.660297,-117.999225
65,2015-12-01 20:06:58+00:00,Tune in tonight to find out how to win some of...,"{'username': 'dragonstarradio', 'id': 33196515...","Los Angeles, CA",33.660297,-117.999225
66,2015-11-21 16:18:06+00:00,"Breakfast (at @SUBWAY in Santa Ana, CA) https:...","{'username': 'Lonster55', 'id': 117486750, 'di...",Anaheim CA.,33.660297,-117.999225

,date,content,user,user_location,lat,lng
0,2021-05-19 03:48:01+00:00,"#INeedAFoods × 2 (at @SUBWAY in Palm Desert, C...","{'username': 'WindFamiliar', 'id': 57847299, '...","37.72579141,-113.05093017",33.720578,-116.215561
1,2020-02-29 18:30:47+00:00,5 Tags and 5 Favorites\n\nFood: @SUBWAY\nTV Sh...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
2,2019-11-28 10:23:24+00:00,@SUBWAY Most awesome sandwich ever!!!,"{'username': 'MavRoxWrites', 'id': 75613601009...","Coachella, CA",33.720578,-116.215561
3,2019-05-22 17:40:31+00:00,"Subway, eat fresh @DisChickApril @SUBWAY 🥪🤤👅💦😋","{'username': 'KrypticAce720', 'id': 7218220613...","Indio, CA",33.720578,-116.215561
4,2019-04-25 19:46:42+00:00,"I'm at @SUBWAY in Coachella Valley, CA https:/...","{'username': 'gi_24brother', 'id': 389671000, ...",410 🇺🇸,33.720578,-116.215561
5,2019-01-27 05:37:44+00:00,"I'm at @SUBWAY in Coachella Valley, CA https:/...","{'username': 'drock3800', 'id': 15420821, 'dis...",,33.720578,-116.215561
6,2018-12-11 00:51:23+00:00,@lilbaby4PF @realDonaldTrump @subway @KingJame...,"{'username': 'itsemelyhere', 'id': 78596268729...",,33.720578,-116.215561
7,2018-04-08 22:13:23+00:00,@jimmyjohns @jerseymikes @SUBWAY FYI competito...,"{'username': 'tdarnielle1', 'id': 2733648583, ...","Palm Desert, CA",33.720578,-116.215561
8,2018-04-01 05:31:41+00:00,"@SUBWAY Please, stop advertising on the Rosean...","{'username': 'ceciliaannh', 'id': 781303614560...",,33.720578,-116.215561
9,2018-01-15 04:40:30+00:00,Awe @SUBWAY has the cutest #Starwars bags for ...,"{'username': 'Baes_mama', 'id': 87254897563036...",,33.720578,-116.215561
10,2017-08-24 01:13:58+00:00,@SubwayListens That One Time @SUBWAY said they...,"{'username': 'Josaph107', 'id': 28301877, 'dis...","Indio, CA",33.720578,-116.215561
11,2017-08-23 22:23:30+00:00,#SO to @SUBWAY for being one of the few places...,"{'username': 'Josaph107', 'id': 28301877, 'dis...","Indio, CA",33.720578,-116.215561
12,2017-06-24 08:04:38+00:00,@FrankzEzcapezYT YOUR the best brother in the ...,"{'username': 'alyssabaches', 'id': 218451008, ...","Palm Springs, CA",33.720578,-116.215561
13,2017-06-23 22:03:54+00:00,@FrankzEzcapezYT YOUR the best brother in the ...,"{'username': 'alyssabaches', 'id': 218451008, ...","Palm Springs, CA",33.720578,-116.215561
14,2017-04-30 02:00:51+00:00,When you find out that your @SUBWAY will be c...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
15,2017-04-03 19:15:42+00:00,This line at @subway need to be DELETED! Save ...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
16,2017-03-26 22:14:56+00:00,@Daniel_SuarezG @SUBWAY 🤞🏼🦆,"{'username': 'gregfresquez', 'id': 22680093, '...","Ahwatukee Foothills, AZ",33.720578,-116.215561
17,2017-03-16 05:34:20+00:00,@Subway Update: took @mgrand27 to subway for d...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
18,2017-03-15 22:19:55+00:00,"Yo @SUBWAY,\n\nThis is totally grounds to end ...","{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
19,2017-03-02 03:09:03+00:00,Currently enjoying another amazing sub from @S...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
20,2017-02-03 17:45:53+00:00,I'm so happy knowing that whenever I'm having ...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
21,2017-01-17 18:27:56+00:00,I find it hilarious that no matter how many ti...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
22,2016-12-19 00:39:18+00:00,"I'm at @SUBWAY in Coachella Valley, CA https:/...","{'username': 'cebollon88', 'id': 99385230, 'di...","Ontario, CA",33.720578,-116.215561
23,2016-05-28 05:36:29+00:00,Everyone else I know went out for fancy dinner...,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
24,2016-02-20 22:33:21+00:00,Lunch with hubby (at @SUBWAY in Coachella Vall...,"{'username': '1singndiva', 'id': 36235808, 'di...","ÜT: 34.034373,-117.051836",33.720578,-116.215561
25,2015-10-02 04:27:43+00:00,@SUBWAY is the worst product on the market! Mo...,"{'username': 'Rdday91191', 'id': 308167371, 'd...",California,33.720578,-116.215561
26,2015-09-14 02:25:56+00:00,"Homie make my sandwich the way I said to, don'...","{'username': 'ohmoses', 'id': 19332250, 'displ...",Coachella...,33.720578,-116.215561
27,2015-04-08 20:17:41+00:00,"I'm at @SUBWAY in La Quinta, CA https://t.co/w...","{'username': 'StortonWynn', 'id': 2934148826, ...","Palm Desert, CA",33.720578,-116.215561
28,2014-12-08 20:39:16+00:00,@Subway 🔥,"{'username': 'Valdez_A8', 'id': 566080857, 'di...",,33.720578,-116.215561
29,2014-08-08 02:27:07+00:00,Currently with @Pele at @SUBWAY http://t.co/SI...,"{'username': 'KaidoAV', 'id': 328333470, 'disp...",Indio California,33.720578,-116.215561
30,2014-06-14 21:07:32+00:00,"I'm at @SUBWAY (Indio, CA) http://t.co/5hBNh2iWTQ","{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
31,2014-06-06 22:03:40+00:00,Mom wants avocado sandwich she been craving fo...,"{'username': 'Albertunm3', 'id': 70335233, 'di...","Denver, Colorado",33.720578,-116.215561
32,2014-06-03 01:37:10+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/lWb...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
33,2014-05-17 19:11:44+00:00,"I'm at @SUBWAY (Indio, CA) http://t.co/4WIJWAKRpZ","{'username': 'DodgerPaul', 'id': 76557134, 'di...","Indio, CA",33.720578,-116.215561
34,2014-05-02 01:19:13+00:00,Stopover before going back to Long Beach (at @...,"{'username': 'ajbarredo', 'id': 90351848, 'dis...","Long Beach, CA",33.720578,-116.215561
35,2014-04-29 23:51:57+00:00,Mmmm (at @SUBWAY) http://t.co/nPGzZFCFmf,"{'username': 'SirJamesRadio', 'id': 48049436, ...","La Quinta, CA",33.720578,-116.215561
36,2014-04-02 22:37:11+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/Ng8...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
37,2014-03-17 23:05:59+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/7OK...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
38,2014-01-29 20:28:23+00:00,"I'm at @SUBWAY (Indio, CA) http://t.co/7v1XdObmVm","{'username': 'DodgerPaul', 'id': 76557134, 'di...","Indio, CA",33.720578,-116.215561
39,2014-01-28 20:17:29+00:00,"I'm at @SUBWAY (La Quinta, CA) http://t.co/h34...","{'username': 'Flashusmc', 'id': 217674686, 'di...",,33.720578,-116.215561
40,2014-01-03 00:29:59+00:00,I'm at @SUBWAY w/ @ana_luvs_panda http://t.co/...,"{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
41,2013-11-27 23:01:52+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/RxL...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
42,2013-11-19 22:54:22+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/uAV...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
43,2013-11-13 19:55:02+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/KGL...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
44,2013-11-06 02:28:03+00:00,"I'm at @SUBWAY (Coachella, CA) http://t.co/3kU...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
45,2013-10-29 22:10:47+00:00,"I'm at @SUBWAY (Indio, CA) http://t.co/2KSTL39nlV","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
46,2013-10-17 22:06:29+00:00,"I'm at @SUBWAY (Coachella Valley, CA) http://t...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
47,2013-10-10 23:06:30+00:00,I'm at @SUBWAY w/ @ana_luvs_panda http://t.co/...,"{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
48,2013-10-05 02:54:06+00:00,I'm at @SUBWAY w/ @ana_luvs_panda http://t.co/...,"{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
49,2013-09-10 01:21:45+00:00,"I'm at @Subway (Coachella, CA) http://t.co/wav...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
50,2013-08-31 19:37:49+00:00,"I'm at @Subway (Coachella Valley, CA) http://t...","{'username': 'MissSaubel1819', 'id': 46965899,...",LA TO BANGTOWN,33.720578,-116.215561
51,2013-08-11 17:43:18+00:00,"I'm at @Subway (La Quinta, CA) http://t.co/rKe...","{'username': 'mattyg531', 'id': 20658823, 'dis...","Gilbert, AZ",33.720578,-116.215561
52,2013-08-03 03:48:24+00:00,I'm at @Subway w/ @ervingzissman http://t.co/Q...,"{'username': 'chentegonzalez', 'id': 52160177,...","Denver, Co",33.720578,-116.215561
53,2013-06-30 03:27:48+00:00,"I'm at @Subway (La Quinta, CA) http://t.co/MTh...","{'username': 'sweetasis', 'id': 216627513, 'di...","Palm Desert, CA",33.720578,-116.215561
54,2013-05-14 15:41:22+00:00,"I'm at @Subway (La Quinta, CA) http://t.co/tdR...","{'username': 'mattyg531', 'id': 20658823, 'dis...","Gilbert, AZ",33.720578,-116.215561
55,2013-04-09 19:09:44+00:00,"Turkey breast sandwich from @subway sun chips,...","{'username': 'MikeyAngel_', 'id': 827746446, '...","California, USA",33.720578,-116.215561
56,2012-12-30 20:07:51+00:00,@anne_marsch @SUBWAY @AnnCurry What a great idea,"{'username': 'THEVOICEOFTODAY', 'id': 35506328...",Palm Desert,33.720578,-116.215561

,date,content,user,user_location,lat,lng
0,2021-07-15 03:29:57+00:00,Did y’all ever let us know what’s in this tuna...,"{'username': 'LEXXinthe_CITY', 'id': 49850788,...",90250,33.961681,-118.353131
1,2021-07-14 02:03:27+00:00,@SUBWAY Might be better for you’re brand if yo...,"{'username': 'westsidepaesano', 'id': 12059259...","Venice, CA",33.961681,-118.353131
2,2021-07-13 19:32:24+00:00,I went to @SUBWAY for the first time in over a...,"{'username': 'padawanemily', 'id': 603852046, ...","South Gate, CA",33.961681,-118.353131
3,2021-07-13 16:34:04+00:00,@jillian0428 @NCSGI @SUBWAY 🤣😂😂🤣🤣😂,"{'username': 'TheLastPirateLA', 'id': 24813535...",Los Angeles #DTLA,33.961681,-118.353131
4,2021-07-13 13:20:04+00:00,@NCSGI @SUBWAY What? No tuna ?🤣😂🤣😂🤣😂 https://t...,"{'username': 'TheLastPirateLA', 'id': 24813535...",Los Angeles #DTLA,33.961681,-118.353131
...,...,...,...,...,...,...
1351,2011-07-08 19:32:49+00:00,free @Subway in the kitchen. sickkkkk,"{'username': 'irabrianmiller', 'id': 27272300,...","Los Angeles, CA",33.961681,-118.353131
1352,2011-04-15 21:28:21+00:00,::: sPRiiinkLES! :::: juS' wRAPPed + up W()Rk...,"{'username': 'malibu_c0wgirl', 'id': 272139938...",d.t.LA /mempHiS.tn,33.961681,-118.353131
1353,2011-04-03 23:56:17+00:00,@MarkBolin @subway did i reply to this yet? W...,"{'username': 'williambrent', 'id': 15214778, '...","Hollywood, CA",33.961681,-118.353131
1354,2011-03-05 18:41:02+00:00,Can't go wrong with @subway (@ Subway - El Seg...,"{'username': 'Iggy_Rodriguez', 'id': 212473007...","Los Angeles, CA",33.961681,-118.353131
1355,2010-05-28 18:30:00+00:00,Getting some lunch @Subway before the game (@ ...,"{'username': 'skalush', 'id': 62561376, 'displ...","San Francisco, CA",33.961681,-118.353131

,date,content,user,user_location,lat,lng
0,2021-07-13 19:25:29+00:00,@toolbear74 @23andMe @SUBWAY You think Subway ...,"{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.683947,-117.794694
1,2021-07-13 17:33:47+00:00,@SUBWAY this is as pathetic as Jared https://t...,"{'username': 'ReneeGiraldy', 'id': 24547328, '...","Irvine,CA",33.683947,-117.794694
2,2021-07-13 08:14:12+00:00,"@toolbear74 @23andMe @SUBWAY If by ""processed""...","{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.683947,-117.794694
3,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.683947,-117.794694
4,2021-06-26 03:38:45+00:00,I dont care about the @SUBWAY tuna drama. I li...,"{'username': 'mfigroid', 'id': 16336708, 'disp...",,33.683947,-117.794694
...,...,...,...,...,...,...
329,2012-07-14 03:05:15+00:00,At @Subway :)))),"{'username': 'AhidetAnguiano', 'id': 334407423...",Orange County,33.683947,-117.794694
330,2012-05-07 19:51:09+00:00,"Just had a veggie sandwich @subway, it was so ...","{'username': 'MatiMorgan', 'id': 157872489, 'd...","Washington, DC US",33.683947,-117.794694
331,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.683947,-117.794694
332,2011-04-08 03:48:42+00:00,Having veggie sub from @subway. #latedinner,"{'username': 'iRockCardigans', 'id': 187880318...",,33.683947,-117.794694
333,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.683947,-117.794694

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.853628,-118.133956
1,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.853628,-118.133956
2,2021-06-24 07:39:30+00:00,Imma still eat me a good ole tuna sandwich fro...,"{'username': 'flowe310', 'id': 816891583794593...","Carson, CA",33.853628,-118.133956
3,2021-01-25 23:06:58+00:00,@SUBWAY Count yo fucking days https://t.co/bsY...,"{'username': 'angel_vera101', 'id': 7784706353...","Toronto, Ontario",33.853628,-118.133956
4,2020-12-18 00:18:55+00:00,@SUBWAY help @PatrickTheGiver feed those who a...,"{'username': 'shewantsmusic', 'id': 1290725222...","California, USA",33.853628,-118.133956
...,...,...,...,...,...,...
380,2013-04-09 20:57:49+00:00,"I'm at @Subway (Cerritos, CA) http://t.co/iw5V...","{'username': 'brianvdesign', 'id': 27554787, '...","Long Beach, CA",33.853628,-118.133956
381,2013-04-09 20:19:16+00:00,@Trouty20 @subway hit a homer today ! Gotta gi...,"{'username': 'Choleeco', 'id': 45075862, 'disp...","Long Beach, California",33.853628,-118.133956
382,2013-04-05 13:54:00+00:00,"""@apache90745: @subway grand opening in Carson...","{'username': 'MorenoParadise', 'id': 580954988...","Kauai,Hi/Carson,Calif",33.853628,-118.133956
383,2013-04-05 03:35:42+00:00,#eatfresh @subway (with Vanessa at Subway) — h...,"{'username': 'brianvdesign', 'id': 27554787, '...","Long Beach, CA",33.853628,-118.133956
384,2013-02-27 18:32:00+00:00,I'm shooting another commercial for @Subway as...,"{'username': 'TheCornfather', 'id': 27968064, ...","Los Angeles, CA",33.853628,-118.133956

,date,content,user,user_location,lat,lng
0,2020-03-27 00:22:59+00:00,@ThisIsHans @SUBWAY https://t.co/8Izt4y0gjQ,"{'username': 'graphicnature_', 'id': 189342670...",SoCal,34.686786,-118.154164
1,2019-10-29 16:40:13+00:00,Finally have plans for the holidays. @iplaycor...,"{'username': 'kennygeezer7', 'id': 107539243, ...",L.A. County,34.686786,-118.154164
2,2018-12-01 23:13:15+00:00,Hey! @subway I come in and try to get Cheese J...,"{'username': 'atari25dj', 'id': 267599785, 'di...",,34.686786,-118.154164
3,2018-06-11 01:48:41+00:00,"I'm at @Subway in Lancaster, CA https://t.co/c...","{'username': 'polkadottie26', 'id': 514017846,...",,34.686786,-118.154164
4,2018-02-28 05:19:58+00:00,@mdchs_310 @SUBWAY Hell I can’t be mad at that...,"{'username': 'Hello_Newee', 'id': 438909976, '...","Lancaster, CA to Lansing, MI",34.686786,-118.154164
5,2018-02-28 05:06:54+00:00,@mdchs_310 @SUBWAY https://t.co/Zk0c9WzmFI,"{'username': 'Hello_Newee', 'id': 438909976, '...","Lancaster, CA to Lansing, MI",34.686786,-118.154164
6,2018-02-28 05:04:00+00:00,@mdchs_310 @SUBWAY Oh jersey mikes is also good.,"{'username': 'Hello_Newee', 'id': 438909976, '...","Lancaster, CA to Lansing, MI",34.686786,-118.154164
7,2017-11-03 20:25:31+00:00,Thanks @SUBWAY for the free sub. I enjoyed it ...,"{'username': 'haus0fXI', 'id': 121591820, 'dis...","Lancaster, CA",34.686786,-118.154164
8,2017-06-15 22:00:20+00:00,"Soups soups souls (at @Subway in Lancaster, CA...","{'username': 'poldz_', 'id': 36214472, 'displa...","Los Angeles, CA",34.686786,-118.154164
9,2016-06-10 04:07:55+00:00,Almost done on @SUBWAY ! Will stream as soon a...,"{'username': 'FalleNCS', 'id': 112897001, 'dis...",,34.686786,-118.154164
10,2016-03-17 18:33:00+00:00,"I'm at @Subway in Lancaster, CA https://t.co/6...","{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
11,2016-03-12 00:51:33+00:00,"I'm at @Subway in Lancaster, CA https://t.co/H...","{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
12,2016-01-25 21:59:11+00:00,"I'm at @Subway in Lancaster, CA https://t.co/I...","{'username': 'A_Sukmak', 'id': 45468336, 'disp...","Golden Coast, USA",34.686786,-118.154164
13,2016-01-12 08:30:11+00:00,Why is every last @SUBWAY fountain drink pure ...,"{'username': 'getgreenshc', 'id': 380632279, '...","Lancaster, CA",34.686786,-118.154164
14,2015-12-10 01:18:24+00:00,Chinese food w/ pot stickers &amp; @SUBWAY we'...,"{'username': 'Jadira_GS', 'id': 30557240, 'dis...","Houston, TX",34.686786,-118.154164
15,2015-11-04 02:00:47+00:00,I was in that damn subway for 25 mins. Lol (at...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
16,2015-11-04 01:30:17+00:00,#Subway #NationalSubDay #BOGO #BuyOneGetOne #T...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
17,2015-10-09 23:00:13+00:00,@subway #SUBWAY / http://t.co/j5odeGfeGw amazi...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",34.686786,-118.154164
18,2015-08-01 04:41:56+00:00,Really tho #Lays!!?? #BiscutsandGravy!!?? lol ...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
19,2015-05-21 02:35:31+00:00,Trying that chipotle sandwich. Btw Tasha is cu...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
20,2015-04-02 20:31:33+00:00,Haven't eaten since bfast so had to stop in ca...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
21,2015-01-07 07:22:52+00:00,Having a 24 hour @SUBWAY is amazing,"{'username': 'chanceorivera', 'id': 2615089608...","Greeley, CO",34.686786,-118.154164
22,2014-12-08 21:58:38+00:00,"Lunch with a friend (at @SUBWAY in Lancaster, ...","{'username': 'kd6cae', 'id': 16707098, 'displa...","Palmdale, CA",34.686786,-118.154164
23,2014-11-19 20:56:12+00:00,"I'm at @Subway in Lancaster, CA https://t.co/y...","{'username': 'A_Sukmak', 'id': 45468336, 'disp...","Golden Coast, USA",34.686786,-118.154164
24,2014-10-29 00:56:30+00:00,Tuna melt time!! (at @subway) — https://t.co/o...,"{'username': '87MrATK05', 'id': 129459905, 'di...","New York, NY",34.686786,-118.154164
25,2014-06-05 00:59:47+00:00,“@nasty_ness_: Thanks ily @SUBWAY http://t.co/...,"{'username': 'fuckingbravo', 'id': 338911746, ...","California, USA",34.686786,-118.154164
26,2014-03-15 19:09:52+00:00,"I'm at @SUBWAY (Lancaster, CA) http://t.co/jYD...","{'username': 'Charlito18', 'id': 92207646, 'di...","Everett, WA",34.686786,-118.154164
27,2014-03-13 05:09:59+00:00,This place is 24 hours (at @Subway) http://t.c...,"{'username': 'kd6cae', 'id': 16707098, 'displa...","Palmdale, CA",34.686786,-118.154164
28,2014-03-11 19:04:26+00:00,"I'm at @SUBWAY (Quartz Hill, CA) http://t.co/8...","{'username': 'RobtWalls', 'id': 628777745, 'di...","Lake Los Angeles, CA",34.686786,-118.154164
29,2014-02-28 20:03:43+00:00,(at @SUBWAY) http://t.co/qan7BuAjy0,"{'username': 'RobtWalls', 'id': 628777745, 'di...","Lake Los Angeles, CA",34.686786,-118.154164
30,2013-12-23 01:49:42+00:00,"I'm at @Subway (Lancaster, CA) http://t.co/I5S...","{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.686786,-118.154164
31,2013-10-06 23:21:40+00:00,I decided to eat fresh and got @SUBWAY yeeah b...,"{'username': 'joshuajgarcia_', 'id': 95699758,...",SoCal,34.686786,-118.154164
32,2013-09-16 10:35:11+00:00,"I'm at @Subway (Lancaster, CA) http://t.co/n8t...","{'username': 'brettdean77', 'id': 40306876, 'd...","ÜT: 33.94003,-117.975809",34.686786,-118.154164

,date,content,user,user_location,lat,lng
0,2018-12-29 22:55:34+00:00,Grabbing lunch...Happy Friday #letswork (at @S...,"{'username': 'rainman1412', 'id': 2347348812, ...",,37.681875,-121.768008
1,2018-11-28 22:14:04+00:00,Getting lunch ... Happy Monday #letswork (at @...,"{'username': 'rainman1412', 'id': 2347348812, ...",,37.681875,-121.768008
2,2018-09-23 21:38:27+00:00,@SUBWAY gettin’ our soobway fix 😊👍🏽👌🏽#feelsgoo...,"{'username': 'Jamshed_', 'id': 24621596, 'disp...","San Francisco, CA",37.681875,-121.768008
3,2018-05-18 00:13:14+00:00,@SUBWAY the world is willing to pay full price...,"{'username': 'SnipeCity420', 'id': 346841475, ...",,37.681875,-121.768008
4,2017-10-27 22:16:29+00:00,@justkidwell @SUBWAY The real question is are ...,"{'username': 'andrewmlinder', 'id': 1000140805...",,37.681875,-121.768008
5,2017-09-04 18:39:39+00:00,@RaceBeardie @GoDucks42_mick @SUBWAY Lol right...,"{'username': 'Scooby1270', 'id': 25909212, 'di...","Pleasanton CA, USA",37.681875,-121.768008
6,2017-09-04 18:05:41+00:00,@jeff_gluck @subway should worry more about th...,"{'username': 'Scooby1270', 'id': 25909212, 'di...","Pleasanton CA, USA",37.681875,-121.768008
7,2017-06-30 20:36:16+00:00,"Lunch time (at @Subway in Pleasanton, CA) http...","{'username': 'rainman1412', 'id': 2347348812, ...",,37.681875,-121.768008
8,2016-12-14 20:32:16+00:00,"I'm at @Subway in Pleasanton, CA https://t.co/...","{'username': 'MrsRaider_Dave', 'id': 23339872,...",California,37.681875,-121.768008
9,2016-08-08 19:31:07+00:00,I feel bad but laughing that a kid is crying a...,"{'username': 'Heyitsmahsa', 'id': 288409350, '...","San Francisco, CA",37.681875,-121.768008
10,2016-01-19 01:34:08+00:00,I'm Madison and I lost 300 lbs by eating @SUBW...,"{'username': '_CameronJJ', 'id': 615950050, 'd...",Livermore,37.681875,-121.768008
11,2015-12-23 17:18:06+00:00,@RexClinkscales @SUBWAY should have bought him...,"{'username': 'zarrdogg', 'id': 123415715, 'dis...",Ncal,37.681875,-121.768008
12,2015-06-11 21:27:47+00:00,In viaggio verso / On the road to Yosemite NP ...,"{'username': 'sciuradaltura', 'id': 31772585, ...",Italy,37.681875,-121.768008
13,2015-02-10 06:25:04+00:00,@TROYMAC1892 @SUBWAY My thought exactly,"{'username': 'ashlee_costa', 'id': 26563339, '...",SF➡️HTX➡️SF,37.681875,-121.768008
14,2015-01-25 18:31:21+00:00,“@SUBWAY: SubLove will find a way 🏢💗🏃💗🏡 http:/...,"{'username': '_mareezy_', 'id': 182529240, 'di...",Saturn,37.681875,-121.768008
15,2014-10-13 23:20:30+00:00,"#landy (at @Subway in Pleasanton, CA) https://...","{'username': 'stigram', 'id': 324560212, 'disp...","California, USA",37.681875,-121.768008
16,2014-09-08 23:30:34+00:00,"I'm at @Subway in Pleasanton, CA https://t.co/...","{'username': 'stigram', 'id': 324560212, 'disp...","California, USA",37.681875,-121.768008
17,2014-08-30 22:42:02+00:00,"I'm at @Subway in Pleasanton, CA https://t.co/...","{'username': 'stigram', 'id': 324560212, 'disp...","California, USA",37.681875,-121.768008
18,2014-07-09 21:34:17+00:00,Lunch. (at @Subway) http://t.co/5y2hAXQAhS,"{'username': 'matthewmspace', 'id': 312169321,...","SF Bay Area, California",37.681875,-121.768008
19,2014-03-31 01:12:27+00:00,Currently at @SUBWAY 🙌🙌💦,"{'username': 'qqstax', 'id': 2274310405, 'disp...",,37.681875,-121.768008
20,2013-11-30 00:59:21+00:00,@SUBWAY ☺️,"{'username': 'AaronUntalan', 'id': 376474419, ...",,37.681875,-121.768008

,date,content,user,user_location,lat,lng
0,2021-07-15 18:40:53+00:00,@FoodInsider In the UK @SUBWAY a court recentl...,"{'username': 'NubianThinker', 'id': 1605100358...","Long Beach, CA",33.768322,-118.195617
1,2021-07-13 07:02:03+00:00,@SUBWAY Fake turkey fake tuna fake sandwich 🤮,"{'username': 'JamesMikeLowery', 'id': 47450504...","Long Beach, CA",33.768322,-118.195617
2,2021-06-24 07:39:30+00:00,Imma still eat me a good ole tuna sandwich fro...,"{'username': 'flowe310', 'id': 816891583794593...","Carson, CA",33.768322,-118.195617
3,2021-06-23 18:34:12+00:00,¿ @SUBWAY o #Supwey ?\n\nTF?\n\nHappy Wednesda...,"{'username': 'reneromanosport', 'id': 33569742...",TheLAVox headquarters,33.768322,-118.195617
4,2021-05-15 01:09:24+00:00,Mmmm 😋 Yummy 😋 \nMy footlong 🥖 \nVeggie 🥬🥒🍅🥑🧅🌶...,"{'username': 'COOKIE693', 'id': 226456467, 'di...","San Pedro, Los Angeles",33.768322,-118.195617
...,...,...,...,...,...,...
197,2013-06-02 00:06:25+00:00,"Hahaha I can't stop laughing, I absolute love ...","{'username': 'tonyspov', 'id': 56964060, 'disp...","ÜT: 34.059918,-118.088841",33.768322,-118.195617
198,2013-05-03 13:22:04+00:00,I am pretty site I ordered my platter IN ADVAN...,"{'username': 'Oh_heyitsnicole', 'id': 14426109...","Downey, CA",33.768322,-118.195617
199,2013-04-24 21:33:59+00:00,Annnnd I’m eating @subway for the 3rd day in a...,"{'username': 'ahbilly', 'id': 15679338, 'displ...",Dodgertown!,33.768322,-118.195617
200,2013-04-05 13:54:00+00:00,"""@apache90745: @subway grand opening in Carson...","{'username': 'MorenoParadise', 'id': 580954988...","Kauai,Hi/Carson,Calif",33.768322,-118.195617
201,2013-04-05 03:35:42+00:00,#eatfresh @subway (with Vanessa at Subway) — h...,"{'username': 'brianvdesign', 'id': 27554787, '...","Long Beach, CA",33.768322,-118.195617

,date,content,user,user_location,lat,lng
0,2021-07-15 17:45:02+00:00,@4lisaguerrero @SUBWAY I love tuna fish. I’ll ...,"{'username': 'ABConte', 'id': 69948869, 'displ...",Los Angeles,34.052233,-118.243686
1,2021-07-15 16:55:06+00:00,I have now done TWO investigations into the @S...,"{'username': '4lisaguerrero', 'id': 265705962,...","Los Angeles, CA",34.052233,-118.243686
2,2021-07-15 15:10:50+00:00,@roketeuss @SUBWAY 💀💀,"{'username': 'xyzeVfx', 'id': 1028245954531680...","Los Angeles, CA",34.052233,-118.243686
3,2021-07-15 02:54:48+00:00,🗣️Y'all still eating @SUBWAY after they told ...,"{'username': 'VersiVeEFAMG', 'id': 58457184, '...","Los Angeles, CA",34.052233,-118.243686
4,2021-07-14 21:42:57+00:00,Okay scientists: Is @Subway's claim true or j...,"{'username': 'Ms_Ellen_F', 'id': 286381811, 'd...",Los Angeles,34.052233,-118.243686
...,...,...,...,...,...,...
756,2012-03-16 23:15:30+00:00,@Subway Getting my Sandwich&lt;3,"{'username': 'jimmypazmusic', 'id': 291970423,...",Los angeles california,34.052233,-118.243686
757,2012-03-06 21:09:46+00:00,Can you say foot long BMT @subway (@ Subway (L...,"{'username': 'BarvelH', 'id': 359379804, 'disp...","Los Angeles, CA",34.052233,-118.243686
758,2012-01-13 10:48:27+00:00,@SUBWAY Tuna sandwich & chicken noodle @ Sub...,"{'username': 'Bx2hollyhood', 'id': 67721993, '...",Empire State 2 Hollywood,34.052233,-118.243686
759,2011-10-13 12:37:14+00:00,One time a guy who worked @Subway let me make ...,"{'username': 'tront', 'id': 8296692, 'displayn...",live from walmart its TGIF,34.052233,-118.243686
760,2011-07-12 22:34:33+00:00,"@subway the BMT is my favorite, wish it was $5...","{'username': 'BenjaminU', 'id': 55479204, 'dis...",Los Angeles,34.052233,-118.243686

,date,content,user,user_location,lat,lng
0,2019-11-23 03:58:22+00:00,@SUBWAY Stop it...,"{'username': 'Tonyper48052997', 'id': 72855068...","California, USA",37.302164,-120.482967
1,2018-10-02 20:44:34+00:00,@lifeofchoychoy When I saw @SUBWAY 's rising p...,"{'username': 'rocio4423', 'id': 1589611442, 'd...","Merced, CA",37.302164,-120.482967
2,2018-03-14 19:47:19+00:00,@IucioV @SUBWAY @Starbucks @amazon @BaskinRobb...,"{'username': 'rocio4423', 'id': 1589611442, 'd...","Merced, CA",37.302164,-120.482967
3,2018-03-14 18:49:25+00:00,"If anyone ever wants to get me a gift card, I ...","{'username': 'rocio4423', 'id': 1589611442, 'd...","Merced, CA",37.302164,-120.482967
4,2018-02-07 15:11:09+00:00,😏😏😏 @SUBWAY https://t.co/6Ypq7sPhpL,"{'username': 'MARKRIGSCANON', 'id': 624050334,...","Merced, CA",37.302164,-120.482967
5,2016-12-06 06:21:55+00:00,@DaBoss_Pardeep My favorite cookie from @Subwa...,"{'username': 'anthonybasaldua', 'id': 24307242...",SC: anthony_baz,37.302164,-120.482967
6,2016-08-14 23:46:54+00:00,@SUBWAY needs to quit playing games with us an...,"{'username': 'Hunter_TheGreat', 'id': 54789389...",Out here in Amish,37.302164,-120.482967
7,2015-12-25 05:23:59+00:00,@LaurensSoDope @SUBWAY,"{'username': 'marlenam9', 'id': 124388046, 'di...",,37.302164,-120.482967
8,2015-01-25 19:18:14+00:00,“@SUBWAY: Our New Grilled Chicken Strips make ...,"{'username': 'shebs__', 'id': 1401448884, 'dis...",,37.302164,-120.482967
9,2015-01-10 17:42:58+00:00,“@SUBWAY: SubLove will find a way 🏢💗🏃💗🏡 http:/...,"{'username': 'YungSlumps', 'id': 445242752, 'd...",,37.302164,-120.482967
10,2014-10-07 22:29:51+00:00,I might #meettaylor thanks to @subway &amp; @d...,"{'username': 'flix_belle', 'id': 976729058, 'd...",Merced Ca,37.302164,-120.482967
11,2014-08-27 20:57:30+00:00,Time for @SUBWAY after class,"{'username': 'RivardLawn209', 'id': 444366308,...",Merced,37.302164,-120.482967
12,2014-01-17 20:23:57+00:00,Bless the @SUBWAY Melt and @jamielovee02 for m...,"{'username': 'FreshAsHoney', 'id': 115545277, ...","37.3022° N, 120.4819° W",37.302164,-120.482967
13,2013-10-05 22:04:39+00:00,On that note. I'm having @Subway and @jamielov...,"{'username': 'FreshAsHoney', 'id': 115545277, ...","37.3022° N, 120.4819° W",37.302164,-120.482967
14,2013-10-02 20:14:56+00:00,I love my @SUBWAY BLT's by @jamielovee02 !! ht...,"{'username': 'FreshAsHoney', 'id': 115545277, ...","37.3022° N, 120.4819° W",37.302164,-120.482967
15,2013-04-22 04:48:24+00:00,#Amazing #Delicious #Filling #Healthy #Italian...,"{'username': 'BobBackwardsLA', 'id': 275938652...",Los Angeles,37.302164,-120.482967

,date,content,user,user_location,lat,lng
0,2021-06-23 15:05:30+00:00,There is no tuna in @SUBWAY tuna sandwich. WT...,"{'username': 'chrisbalck', 'id': 21011131, 'di...","Orange County, CA",33.600022,-117.671994
1,2020-09-22 21:24:56+00:00,So today I veered off and went with @SUBWAY fo...,"{'username': '1stngoal46', 'id': 2806257860, '...",,33.600022,-117.671994
2,2020-01-16 19:39:14+00:00,@Tom_E_Angel @SUBWAY Thank you for your kindne...,"{'username': 'Michsteer', 'id': 82159164033481...","Orange County, CA",33.600022,-117.671994
3,2019-10-28 19:14:07+00:00,"I'm at @SUBWAY in Laguna Woods, CA https://t.c...","{'username': 'wstanfill', 'id': 36126343, 'dis...","Laguna Woods, CA.",33.600022,-117.671994
4,2019-10-21 19:47:38+00:00,"I'm at @SUBWAY in Irvine, CA https://t.co/Q95r...","{'username': 'vegasjeff', 'id': 15102699, 'dis...",LA/OC/Vegas,33.600022,-117.671994
5,2019-09-21 11:32:38+00:00,@ChaseChewning @SUBWAY Imagine still going to ...,"{'username': 'joshua_kuluris', 'id': 254201656...","Laguna Niguel, CA",33.600022,-117.671994
6,2019-08-08 05:52:07+00:00,@CelticCarnivore @fancypirate8 @beejereeno @ai...,"{'username': 'SBakerMD', 'id': 3765572533, 'di...","California, USA",33.600022,-117.671994
7,2019-08-08 05:17:47+00:00,@CelticCarnivore @fancypirate8 @beejereeno @ai...,"{'username': 'SBakerMD', 'id': 3765572533, 'di...","California, USA",33.600022,-117.671994
8,2019-08-07 19:38:47+00:00,"No, @SUBWAY proceeded fake meat chemical slop ...","{'username': 'SBakerMD', 'id': 3765572533, 'di...","California, USA",33.600022,-117.671994
9,2019-04-23 02:40:32+00:00,If feeling 😷 need food. So I ordered from @SUB...,"{'username': 'LilMesican', 'id': 22799070, 'di...","Laguna Beach, CA",33.600022,-117.671994
10,2018-11-03 16:07:06+00:00,#SaturdayMorning #NationalSandwichDay means @...,"{'username': 'SummerLeSmith95', 'id': 82859254...","California, USA",33.600022,-117.671994
11,2018-10-03 20:48:17+00:00,Hey @subway your customer service was super ho...,"{'username': 'HouchenAshley', 'id': 2894224951...",,33.600022,-117.671994

,date,content,user,user_location,lat,lng
0,2020-04-22 15:20:05+00:00,@SUBWAY https://t.co/ncpqc5UKMJ,"{'username': 'Tanmeet', 'id': 18273389, 'displ...","Modesto, California",37.639097,-120.996878
1,2018-05-03 10:00:01+00:00,@norris5785 @SUBWAY Fight,"{'username': 'mikemeezie', 'id': 291942281, 'd...","Modesto, CA",37.639097,-120.996878
2,2017-09-07 19:31:19+00:00,"I'm at @Subway in Modesto, CA https://t.co/NQd...","{'username': 'rawksteadi', 'id': 15079890, 'di...","San Diego, CA",37.639097,-120.996878
3,2017-04-18 18:48:19+00:00,"I'm at @Subway in Modesto, CA https://t.co/zCo...","{'username': 'rawksteadi', 'id': 15079890, 'di...","San Diego, CA",37.639097,-120.996878
4,2017-02-09 20:05:53+00:00,"I'm at @Subway in Modesto, CA https://t.co/0Y2...","{'username': 'rawksteadi', 'id': 15079890, 'di...","San Diego, CA",37.639097,-120.996878
5,2016-05-17 20:33:56+00:00,Girl who works @SUBWAY hit it up w them eyebro...,"{'username': 'Mia___Moore', 'id': 263959681, '...","Modesto, CA",37.639097,-120.996878
6,2016-02-02 22:33:29+00:00,I love @SUBWAY,"{'username': 'TheBrotherMace', 'id': 288274580...",fl studio,37.639097,-120.996878
7,2016-01-23 19:09:23+00:00,When you forget your sandwich at your housing ...,"{'username': 'gingerswank', 'id': 746030077, '...","Maryland, USA",37.639097,-120.996878
8,2016-01-05 20:26:29+00:00,"I'm at @Subway in Modesto, CA https://t.co/iw7...","{'username': 'rawksteadi', 'id': 15079890, 'di...","San Diego, CA",37.639097,-120.996878
9,2015-08-27 02:06:47+00:00,@CivilEats @SUBWAY @NRDC @Eater 1st Jared &amp...,"{'username': 'gbcreque', 'id': 237177347, 'dis...","Modesto, California",37.639097,-120.996878
10,2015-02-23 20:40:26+00:00,Using my father's day gift card. (at @Subway i...,"{'username': 'psxjay', 'id': 19253082, 'displa...","Modesto, CA",37.639097,-120.996878
11,2014-09-12 18:49:43+00:00,Subway @subway. http://t.co/nGIHu4qD3m #Modest...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",37.639097,-120.996878
12,2014-09-01 23:36:35+00:00,"Footlong turkey breast (at @Subway in Modesto,...","{'username': 'OahuAJ', 'id': 14168213, 'displa...","Northshore O`ahu,Hawai'i",37.639097,-120.996878
13,2014-07-01 19:10:57+00:00,@SUBWAY Love to win lunch! Me &amp; my chi lo...,"{'username': 'sasha5758', 'id': 104326345, 'di...","Modesto, CA, USA",37.639097,-120.996878
14,2014-07-01 03:07:24+00:00,@Gabe_209 @SUBWAY hell ya opening across the s...,"{'username': 'oatmilkpapa', 'id': 451515514, '...",CAMP TYLER,37.639097,-120.996878
15,2014-06-09 00:51:32+00:00,"It is SOOO hot, I think we'll get @SUBWAY for ...","{'username': 'papaxs4', 'id': 2532275723, 'dis...",,37.639097,-120.996878
16,2014-06-04 20:01:02+00:00,Lunch with az and Asaiah (at @Subway) http://t...,"{'username': 'ohlonelu', 'id': 66293918, 'disp...","Modesto, CA",37.639097,-120.996878
17,2014-05-21 03:11:12+00:00,@brentcurryy @SUBWAY false advertising,"{'username': 'geoffreyristing', 'id': 37775407...","San Diego, CA",37.639097,-120.996878
18,2014-01-05 13:47:05+00:00,"""@SUBWAY: #JanuANY has arrived. Pace yourself....","{'username': 'ChiefSayFukEm', 'id': 1408815944...","Dallas, TX",37.639097,-120.996878
19,2013-08-25 01:30:07+00:00,Eat fresh (at @subway) http://t.co/oJNSqFAadd,"{'username': 'tdenczek', 'id': 86416986, 'disp...","Oakdale, California",37.639097,-120.996878
20,2012-04-28 18:27:54+00:00,"Done with my 5K walk, now walking to @subway t...","{'username': 'giantslady4life', 'id': 20974018...","Modesto, Ca",37.639097,-120.996878

,date,content,user,user_location,lat,lng
0,2021-04-29 23:16:24+00:00,@LobaDeAzucar @SUBWAY I'll get the damn vaccin...,"{'username': 'deejaylightsoff', 'id': 10064973...","Moreno Valley, CA",33.942467,-117.229672
1,2021-02-04 13:39:12+00:00,@Miaberlyn @SUBWAY On my #OnlySubs page,"{'username': 'Robert_Joseph', 'id': 95143333, ...","Redlands, CA",33.942467,-117.229672
2,2020-12-07 23:30:05+00:00,@SUBWAY Pick up,"{'username': 'Bruinz2104', 'id': 300109687, 'd...",,33.942467,-117.229672

,date,content,user,user_location,lat,lng
0,2020-05-11 15:42:13+00:00,@shannonrwatts @rkonizeski @SUBWAY While I can...,"{'username': 'Simpsioni', 'id': 29934475, 'dis...","Napa, California",38.297539,-122.286864
1,2019-05-17 18:38:50+00:00,@SUBWAY you have some shady business practices...,"{'username': 'ThirdLevelJohn', 'id': 943602817...","California, USA",38.297539,-122.286864
2,2018-10-06 00:20:11+00:00,@SUBWAY Where’s Jared ?,"{'username': 'ooooohscaar_', 'id': 265572663, ...","Bay Area,California",38.297539,-122.286864

,date,content,user,user_location,lat,lng
0,2021-07-13 19:35:01+00:00,@SUBWAY 😎,"{'username': 'Mikehb681', 'id': 65214196, 'dis...","Huntington Beach, CA",33.618911,-117.928947
1,2021-07-13 19:25:29+00:00,@toolbear74 @23andMe @SUBWAY You think Subway ...,"{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.618911,-117.928947
2,2021-07-13 17:33:47+00:00,@SUBWAY this is as pathetic as Jared https://t...,"{'username': 'ReneeGiraldy', 'id': 24547328, '...","Irvine,CA",33.618911,-117.928947
3,2021-07-13 08:14:12+00:00,"@toolbear74 @23andMe @SUBWAY If by ""processed""...","{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.618911,-117.928947
4,2021-07-10 00:02:12+00:00,@tizzywoman @IMontoyaResists @DebbieforFL @SUB...,"{'username': 'SheilaGinHB', 'id': 762084312518...","Huntington Beach, CA",33.618911,-117.928947
...,...,...,...,...,...,...
128,2012-05-07 19:51:09+00:00,"Just had a veggie sandwich @subway, it was so ...","{'username': 'MatiMorgan', 'id': 157872489, 'd...","Washington, DC US",33.618911,-117.928947
129,2011-10-03 21:19:41+00:00,Loving this @subway $5 anytober deal!!,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.618911,-117.928947
130,2011-10-03 21:16:45+00:00,Eating fresh Tweeps! @subway,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.618911,-117.928947
131,2011-10-01 22:43:41+00:00,Ryan Howard's bomb was brought to you in part ...,"{'username': 'geoffreyswhite', 'id': 151675659...","Portland, OR",33.618911,-117.928947
132,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.618911,-117.928947

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.902236,-118.081733
1,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.902236,-118.081733
2,2021-04-08 03:11:25+00:00,@SUBWAY shoutout to Yessenia! She shouldn’t g...,"{'username': 'NOH9999', 'id': 424003246, 'disp...",Los Angeles County,33.902236,-118.081733
3,2021-02-25 17:50:03+00:00,Still waiting for @SUBWAY to do a campaign aro...,"{'username': 'NateoftheDead', 'id': 82796831, ...","Willoughby, July 1888",33.902236,-118.081733
4,2020-12-18 00:18:55+00:00,@SUBWAY help @PatrickTheGiver feed those who a...,"{'username': 'shewantsmusic', 'id': 1290725222...","California, USA",33.902236,-118.081733
5,2020-11-26 05:34:55+00:00,Still haven’t changed my @SUBWAY order in 20+ ...,"{'username': 'LuisFgalindo1', 'id': 87215149, ...",The Moon,33.902236,-118.081733
6,2020-10-20 16:24:09+00:00,"Picking to lunch. (at @SUBWAY in Buena Park, C...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
7,2020-10-17 03:26:38+00:00,"Picking up lunch! (at @SUBWAY in Buena Park, C...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
8,2020-02-11 21:59:41+00:00,"I'm at @SUBWAY in Whittier, CA https://t.co/PU...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.902236,-118.081733
9,2020-02-09 18:19:39+00:00,Breakfast before work. (at @SUBWAY in Buena Pa...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
10,2020-02-04 04:53:14+00:00,@MercyForAnimals @SUBWAY @BeyondMeat Can we pl...,"{'username': 'miiichaelv93', 'id': 125176250, ...",Earth,33.902236,-118.081733
11,2020-02-02 17:23:04+00:00,"Eating before work. (at @SUBWAY in Buena Park,...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
12,2020-02-02 11:34:57+00:00,@subway why you be taxing so much. I got a 6 i...,"{'username': 'LuisAngel2408', 'id': 7946919233...","Paramount, CA",33.902236,-118.081733
13,2020-01-29 00:22:46+00:00,"I'm at @SUBWAY in Lakewood, CA https://t.co/Xh...","{'username': 'babythtaway', 'id': 89650458, 'd...",N 33°56' 0'' / W 117°59' 0'',33.902236,-118.081733
14,2020-01-20 18:22:17+00:00,"Breakfast! (at @SUBWAY in Cerritos, CA) https:...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
15,2020-01-14 17:53:08+00:00,"Before work. (at @SUBWAY in Cerritos, CA) http...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
16,2020-01-10 17:41:52+00:00,"Food pick up. (at @SUBWAY in Cerritos, CA) htt...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
17,2020-01-08 22:05:22+00:00,Watching the #JokerMovie again while enjoying ...,"{'username': 'NaylaKodiak', 'id': 296574636, '...","Whittier, California",33.902236,-118.081733
18,2020-01-05 17:20:08+00:00,Breakfast before work. (at @SUBWAY in Buena Pa...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
19,2019-12-31 18:28:28+00:00,Happy New Years Eve! (at @SUBWAY in Buena Park...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
20,2019-12-24 18:39:22+00:00,"Eating before work! (at @SUBWAY in Buena Park,...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
21,2019-12-22 18:09:53+00:00,Eating before Job #1! (at @SUBWAY in Buena Par...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
22,2019-11-30 01:22:18+00:00,Dinner before Job #2! (at @SUBWAY in Buena Par...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
23,2019-11-24 15:41:23+00:00,Nvm I think it's #Chixtape5 and @SUBWAY https:...,"{'username': '2th1cc4myjeansx', 'id': 28868602...","California, USA",33.902236,-118.081733
24,2019-11-09 18:41:12+00:00,"Last time, they lost my order. (at @SUBWAY in ...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
25,2019-11-04 18:24:27+00:00,"Eating before work. (at @SUBWAY in Buena Park,...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
26,2019-10-28 17:24:06+00:00,Breakfast on the go! (at @SUBWAY in Buena Park...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
27,2019-10-21 17:27:57+00:00,Yay! They didn’t screw up my order! (at @SUBWA...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
28,2019-10-20 23:51:51+00:00,"I'm at @SUBWAY in La Habra, CA https://t.co/q7...","{'username': 'lauraloves11', 'id': 2855898964,...","South Whittier, CA",33.902236,-118.081733
29,2019-10-04 20:40:59+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/i8E...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
30,2019-10-02 19:57:19+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/HOH...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
31,2019-09-30 17:16:36+00:00,They lost my mobile order! (at @SUBWAY in Cerr...,"{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
32,2019-09-26 19:51:15+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/A2A...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
33,2019-09-18 17:00:09+00:00,"Before work. (at @SUBWAY in Buena Park, CA) ht...","{'username': 'Dan_Tasmic', 'id': 32279814, 'di...",Mostly at Disneyland! :),33.902236,-118.081733
34,2019-09-09 19:34:01+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/MTz...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
35,2019-07-08 19:45:50+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/sPu...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
36,2019-07-03 19:49:31+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/7G4...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
37,2019-06-19 19:37:27+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/js0...","{'username': 'LuisYoPR', 'id': 299044962, 'dis...","California, USA",33.902236,-118.081733
38,2019-04-15 21:47:53+00:00,So @SUBWAY only has one person working and its...,"{'username': 'EP___3', 'id': 166071470, 'displ...",,33.902236,-118.081733
39,2019-02-12 03:05:05+00:00,@AoAmerican @SUBWAY Mee Too!,"{'username': 'unvjef', 'id': 3252994676, 'disp...",,33.902236,-118.081733
40,2018-08-26 21:13:36+00:00,"Best copies come from @7eleven , @SUBWAY, @arc...","{'username': 'EP___3', 'id': 166071470, 'displ...",,33.902236,-118.081733
41,2018-07-10 17:34:45+00:00,Guess it’s time 2 boycott @SUBWAY. Black folks...,"{'username': 'kimfeagin', 'id': 33830920, 'dis...",,33.902236,-118.081733
42,2018-06-07 18:54:59+00:00,Excuse me as I go to heaven for a quick second...,"{'username': 'EP___3', 'id': 166071470, 'displ...",,33.902236,-118.081733
43,2018-06-03 00:11:13+00:00,@SUBWAY figure it out... https://t.co/zvm4XBAifH,"{'username': 'ricky_winfield', 'id': 227851862...","Lakewood, CA",33.902236,-118.081733
44,2018-05-09 02:39:41+00:00,@2s_daniel AYYY huge S/O to @SUBWAY bc without...,"{'username': 'miguelalcala21', 'id': 268054967...",Madison Suace Garden,33.902236,-118.081733
45,2018-05-08 20:01:03+00:00,@Awetty1 @SUBWAY Why? 🙃,"{'username': 'LylaMatar', 'id': 1429127504, 'd...","Los Angeles, CA",33.902236,-118.081733
46,2018-04-27 03:48:25+00:00,@Obin4obin @nowthisnews @SUBWAY ARE U SERIOUS❓...,"{'username': 'smstevens14', 'id': 895283085909...","Whittier, CA",33.902236,-118.081733
47,2018-04-27 02:25:17+00:00,"@nowthisnews WAIT, WHAT⁉️ So we're taking job...","{'username': 'smstevens14', 'id': 895283085909...","Whittier, CA",33.902236,-118.081733
48,2018-04-26 10:18:41+00:00,I've been getting a double chicken chopped sal...,"{'username': 'PeacefulMarvyn', 'id': 262987637...","Bell Gardens, CA",33.902236,-118.081733
49,2018-04-22 22:37:26+00:00,"I'm at @SUBWAY in Norwalk, CA https://t.co/4v5...","{'username': 'kobi001', 'id': 125880889, 'disp...","Seoul, Korea/Songpa/guro",33.902236,-118.081733
50,2018-03-14 01:19:09+00:00,"I'm at @SUBWAY in Buena Park, CA https://t.co/...","{'username': 'Lonster55', 'id': 117486750, 'di...",Anaheim CA.,33.902236,-118.081733
51,2018-03-02 02:34:47+00:00,"I'm at @SUBWAY in Buena Park, CA https://t.co/...","{'username': 'Lonster55', 'id': 117486750, 'di...",Anaheim CA.,33.902236,-118.081733

,date,content,user,user_location,lat,lng
0,2021-07-15 06:06:01+00:00,@itsjuztin @SUBWAY It’s fire,"{'username': 'David19871951', 'id': 1405286743...",Oakland,37.804364,-122.271114
1,2021-07-13 18:17:14+00:00,@SUBWAY You ruined Tony Hawk for me. Hope you’...,"{'username': 'Emmett_Eilands', 'id': 489963378...","Oakland, CA",37.804364,-122.271114
2,2021-07-13 14:29:22+00:00,@NCSGI @SUBWAY No. It’s all crap 💩,"{'username': 'PeterRabbit67', 'id': 1042214704...","Oakland, CA",37.804364,-122.271114
3,2021-07-07 19:29:28+00:00,@JoeyDevine @IkeShehadeh @SUBWAY I'd back this.,"{'username': 'BearSilber', 'id': 14614623, 'di...","Oakland, CA",37.804364,-122.271114
4,2021-06-25 07:47:06+00:00,@SUBWAY @ScorpioBaby601 @TNelsss should I tell...,"{'username': 'matmatjo', 'id': 130087559280023...","Berkeley, CA",37.804364,-122.271114
...,...,...,...,...,...,...
250,2012-10-21 20:04:48+00:00,@subway! Falafal sandwich is gross!,"{'username': 'TiffanidawnM', 'id': 892413314, ...",,37.804364,-122.271114
251,2012-09-20 04:31:05+00:00,Have you ever craved an Italian BMT from @subw...,"{'username': 'twerkcitytacos', 'id': 33104124,...","Frisco, TX",37.804364,-122.271114
252,2012-09-18 15:45:18+00:00,Larry King @Kingsthings advocates for improvin...,"{'username': 'livegreglive', 'id': 412585912, ...",Sausalito,37.804364,-122.271114
253,2011-12-11 21:00:10+00:00,When your hungry and broke and like to eat hea...,"{'username': 'TaylorLeeGirl', 'id': 21272057, ...",San Francisco,37.804364,-122.271114
254,2011-04-25 16:43:00+00:00,"RT @meesheewoo: I just got a 6"" breakfast sand...","{'username': 'unthink11', 'id': 17474892, 'dis...","ÜT: 38.179063,-122.128921",37.804364,-122.271114

,date,content,user,user_location,lat,lng
0,2020-10-18 23:03:12+00:00,@SUBWAY @MiamiDolphins Thanks Subway,"{'username': 'AustinT129', 'id': 1267141027808...",,33.195869,-117.379483
1,2020-05-30 22:13:29+00:00,@ZavierPedro @SUBWAY Nope,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.195869,-117.379483
2,2020-05-30 20:12:32+00:00,@juaquin06264198 @SUBWAY Nah,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.195869,-117.379483
3,2020-05-30 20:05:26+00:00,@ThanksBilly @SUBWAY Onions,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.195869,-117.379483
4,2019-05-26 02:40:21+00:00,@SUBWAY thank you next.,"{'username': '_RickyLozano_', 'id': 2281279033...","San Diego, CA",33.195869,-117.379483
5,2019-01-24 19:31:44+00:00,Why do hospital @SUBWAY taste so goood?!,"{'username': 'StephonMaserati', 'id': 51593299...","San Diego, CA",33.195869,-117.379483
6,2018-04-01 21:25:22+00:00,shout out to liz and the north oceanside subwa...,"{'username': 'yabeech_', 'id': 2957956499, 'di...","Oceanside, CA",33.195869,-117.379483
7,2018-01-12 01:36:01+00:00,Ralis from @SUBWAY ❤️ https://t.co/JTXwIsQMkq,"{'username': 'hallieditzhazy', 'id': 546439934...","Oceanside, CA",33.195869,-117.379483
8,2017-07-08 02:16:12+00:00,I just want to take a minute to say how much I...,"{'username': 'KimmyLee_B', 'id': 1858745954, '...",She/her,33.195869,-117.379483
9,2017-02-13 20:22:03+00:00,Why does @subway ask for here or to go? They s...,"{'username': 'ThatHoeMo', 'id': 708536070, 'di...",,33.195869,-117.379483
10,2017-01-22 20:11:25+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/2...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
11,2017-01-07 23:27:47+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/y...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
12,2016-12-20 18:57:28+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/x...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
13,2016-08-13 02:29:53+00:00,@nancylasocki I had @SUBWAY for lunch/dinner!,"{'username': 'QuinnCanTweet', 'id': 78194485, ...",Fledermaüsland,33.195869,-117.379483
14,2016-08-01 18:55:48+00:00,Makes me think of Subway in Australia! (at @SU...,"{'username': 'QuinnCanTweet', 'id': 78194485, ...",Fledermaüsland,33.195869,-117.379483
15,2016-06-10 18:21:16+00:00,@FuntCaseUK @SUBWAY who goes to subway to buy ...,"{'username': 'burgandyyyy', 'id': 521452139, '...",Hell,33.195869,-117.379483
16,2016-06-07 23:50:17+00:00,So I walked to my job and @SUBWAY starts playi...,"{'username': '_RickyLozano_', 'id': 2281279033...","San Diego, CA",33.195869,-117.379483
17,2016-06-06 21:15:27+00:00,@hoffyhoffusa just walked in @SUBWAY and love ...,"{'username': '_RickyLozano_', 'id': 2281279033...","San Diego, CA",33.195869,-117.379483
18,2016-04-14 19:24:51+00:00,Lunch before some driving (at @SUBWAY in Vista...,"{'username': 'brandbogard', 'id': 151544596, '...","Solana Beach, CA",33.195869,-117.379483
19,2016-03-11 23:07:16+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/X...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
20,2016-02-12 03:47:23+00:00,@SUBWAY what the hell is this?! That's no sand...,"{'username': 'Stallion_OG', 'id': 539661345, '...","San Diego, CA",33.195869,-117.379483
21,2016-02-06 01:04:02+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/p...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
22,2016-02-05 17:40:59+00:00,@SUBWAY @CourtneyTrouten They are increasing p...,"{'username': 'TylerGreenSB', 'id': 555523618, ...",,33.195869,-117.379483
23,2015-12-31 23:13:13+00:00,The @SUBWAY by work is quite possibly the wors...,"{'username': 'ilbelcuoco', 'id': 621478406, 'd...","San Diego, CA",33.195869,-117.379483
24,2015-12-01 19:06:38+00:00,When you get judged for your @SUBWAY order by ...,"{'username': 'ilbelcuoco', 'id': 621478406, 'd...","San Diego, CA",33.195869,-117.379483
25,2015-11-09 22:53:29+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/P...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
26,2015-11-03 19:23:28+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/S...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
27,2015-10-16 23:08:02+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/r...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
28,2015-09-11 21:53:29+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/M...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
29,2015-06-17 18:58:47+00:00,"Wow full house today, guess everyone was cravi...","{'username': 'about3oclock', 'id': 95960400, '...","Escondido, California",33.195869,-117.379483
30,2015-06-10 20:35:47+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/H...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
31,2015-03-28 21:18:39+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/G...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
32,2015-03-23 21:32:04+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/N...","{'username': 'hell0bAbykitty', 'id': 150164791...",Somewhere over the 🌈,33.195869,-117.379483
33,2015-03-21 23:34:37+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/C...","{'username': 'erin760', 'id': 52446527, 'displ...","San Diego, CA",33.195869,-117.379483
34,2015-02-26 14:16:18+00:00,@SUBWAY from Americas favorite BLT to off the ...,"{'username': 'Mulebo1', 'id': 276283268, 'disp...",Southern California,33.195869,-117.379483
35,2015-01-17 23:36:37+00:00,"Lunch with Patrick (at @SUBWAY in Oceanside, C...","{'username': 'GameJumperX', 'id': 131677163, '...","Oceanside, CA",33.195869,-117.379483
36,2015-01-10 21:17:54+00:00,"I'm at @SUBWAY in Oceanside, CA https://t.co/h...","{'username': 'theonlinecoach', 'id': 131320193...","Temecula, CA",33.195869,-117.379483
37,2014-10-01 22:49:53+00:00,SUBWAY @subway. http://t.co/mIrhSdo7NM #Vista ...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",33.195869,-117.379483
38,2014-08-03 18:58:55+00:00,@subway :D http://t.co/lI75rJQzFx,"{'username': 'heyangeIstyIes', 'id': 215923310...",,33.195869,-117.379483
39,2014-07-16 00:36:12+00:00,"""@SUBWAY: .@troyesivan Cookies are great but l...","{'username': 'lyncross29', 'id': 2517090247, '...","Woodcrest, CA. /Oceanside, Ca.",33.195869,-117.379483
40,2014-07-16 00:32:59+00:00,@SUBWAY @troyesivan can't wait sounds yummy !,"{'username': 'lyncross29', 'id': 2517090247, '...","Woodcrest, CA. /Oceanside, Ca.",33.195869,-117.379483
41,2014-06-02 19:10:37+00:00,"I'm at @SUBWAY (Carlsbad, CA) http://t.co/kw2J...","{'username': 'puckhead9', 'id': 13117962, 'dis...","Poway, CA",33.195869,-117.379483
42,2014-05-28 23:12:49+00:00,"I'm at @SUBWAY (Oceanside, CA) http://t.co/tZ9...","{'username': 'buritoslicer', 'id': 71419441, '...","Great Lakes, Illinois",33.195869,-117.379483
43,2014-05-26 04:42:55+00:00,@Ahhdaamn @mattbeanbean @wizkhalifa @pizzahut ...,"{'username': 'DolphGod', 'id': 93966945, 'disp...",Pittsburgh,33.195869,-117.379483
44,2014-05-02 00:52:12+00:00,"I'm at @SUBWAY (Carlsbad, CA) http://t.co/Mcdz...","{'username': 'puckhead9', 'id': 13117962, 'dis...","Poway, CA",33.195869,-117.379483
45,2014-04-28 20:23:02+00:00,"I'm at @SUBWAY (Oceanside, CA) http://t.co/2HF...","{'username': 'puckhead9', 'id': 13117962, 'dis...","Poway, CA",33.195869,-117.379483
46,2014-04-27 21:06:39+00:00,Lean &amp; green (at @SUBWAY) http://t.co/f7vj...,"{'username': 'warewho1', 'id': 44659997, 'disp...","Escondido, CA",33.195869,-117.379483
47,2014-04-17 19:41:08+00:00,"I'm at @SUBWAY (Carlsbad, CA) http://t.co/S4PN...","{'username': 'puckhead9', 'id': 13117962, 'dis...","Poway, CA",33.195869,-117.379483
48,2014-04-15 02:08:13+00:00,@SUBWAY this is the most poorly made pizza I'v...,"{'username': 'DolphGod', 'id': 93966945, 'disp...",Pittsburgh,33.195869,-117.379483
49,2013-12-28 23:33:37+00:00,"I'm at @SUBWAY (Oceanside, CA) http://t.co/LaK...","{'username': 'Qiana0917', 'id': 42373483, 'dis...",,33.195869,-117.379483
50,2013-11-21 20:04:18+00:00,@SUBWAY is awesome fuel for cycling round the ...,"{'username': 'CaptainKetch', 'id': 249184183, ...",England UK,33.195869,-117.379483
51,2013-11-21 19:55:38+00:00,I just used my Net+ card by @neteller to purch...,"{'username': 'CaptainKetch', 'id': 249184183, ...",England UK,33.195869,-117.379483
52,2013-11-04 06:01:38+00:00,"I'm at @SUBWAY (Vista, CA) http://t.co/n1N2rIsSCO","{'username': 'reginacarmem', 'id': 39094962, '...",US,33.195869,-117.379483
53,2013-08-12 00:39:48+00:00,Having to eat here since Mr. Sub won't deliver...,"{'username': '_KillerBeauty', 'id': 391283161,...",,33.195869,-117.379483
54,2013-01-08 21:35:24+00:00,@SUBWAY #EatFresh 👍 http://t.co/rW9D5bsq,"{'username': 'ErikSarni1', 'id': 49922295, 'di...",Blessed,33.195869,-117.379483
55,2012-11-11 18:53:15+00:00,@SUBWAY no veterans day discounts for are heroes?,"{'username': 'sayheykait', 'id': 268377571, 'd...",Orlando,33.195869,-117.379483

,date,content,user,user_location,lat,lng
0,2021-07-15 16:50:34+00:00,"@SUBWAY Your Tuna gave me COVID-19, so I would...","{'username': 'DragonIVXX', 'id': 256828204, 'd...","Ontario, CA",34.063344,-117.650889
1,2021-07-14 15:39:50+00:00,@SUBWAY I have been eagerly awaiting the retur...,"{'username': 'JustJules83', 'id': 892424787783...","Upland, CA",34.063344,-117.650889
2,2021-07-11 15:15:32+00:00,@MaritimeTartan @SUBWAY Have you tried MrSub? ...,"{'username': 'bates_gail', 'id': 494252830, 'd...",Ontario,34.063344,-117.650889
3,2021-06-01 22:27:36+00:00,What happened to the cilantro 🌿 @SUBWAY,"{'username': 'danyoflore5', 'id': 87127386, 'd...","Rancho Cucamonga, CA",34.063344,-117.650889
4,2021-06-01 21:53:15+00:00,"I'm at @SUBWAY in Claremont, CA https://t.co/V...","{'username': 'AngelSailer', 'id': 904887926307...",,34.063344,-117.650889
...,...,...,...,...,...,...
172,2013-02-14 22:37:56+00:00,"Works for Jarred, works for me (at @subway) ht...","{'username': 'SoCalScouse', 'id': 20216473, 'd...","Upland, CA",34.063344,-117.650889
173,2013-02-12 21:15:13+00:00,Craving some broccoli cheese soup from @SUBWAY,"{'username': 'ChrissyParis_', 'id': 228509400,...",california☀️,34.063344,-117.650889
174,2012-08-14 00:50:22+00:00,@JRsBBQ @SUBWAY For real's! There's BBQ sauce ...,"{'username': 'madmaiden5150', 'id': 52236958, ...","upland,ca",34.063344,-117.650889
175,2012-08-10 19:03:45+00:00,"Hey @subway, why is avocado an extra charge bu...","{'username': 'NckWtrs', 'id': 22115220, 'displ...","Los Angeles, CA",34.063344,-117.650889
176,2012-03-19 22:18:08+00:00,Yum!!! @subway,"{'username': 'Coala__', 'id': 333829215, 'disp...",,34.063344,-117.650889

,date,content,user,user_location,lat,lng
0,2021-07-14 06:15:02+00:00,@SUBWAY These #coupons can't be used on the #C...,"{'username': 'ghosty4', 'id': 24838604, 'displ...","Anaheim, Ca",33.787794,-117.853111
1,2021-07-14 02:29:32+00:00,@NCSGI @SUBWAY Whoops missed this,"{'username': 'JizzelEtBass', 'id': 282252332, ...","Anaheim, CA",33.787794,-117.853111
2,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.787794,-117.853111
3,2021-07-07 18:09:08+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.787794,-117.853111
4,2021-07-07 18:03:16+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.787794,-117.853111
...,...,...,...,...,...,...
362,2012-05-05 02:44:28+00:00,A lot of magic is happening right now. Eating ...,"{'username': 'LuiCalibre', 'id': 42300444, 'di...","New Orleans, LA",33.787794,-117.853111
363,2011-10-01 02:45:29+00:00,"Starting tomorrow, @Subway has codes for #unch...","{'username': 'johnnymorner', 'id': 107948035, ...","California, USA",33.787794,-117.853111
364,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.787794,-117.853111
365,2011-04-08 03:48:42+00:00,Having veggie sub from @subway. #latedinner,"{'username': 'iRockCardigans', 'id': 187880318...",,33.787794,-117.853111
366,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.787794,-117.853111

,date,content,user,user_location,lat,lng
0,2021-07-13 18:06:01+00:00,@SUBWAY Don’t bother going for the free sandwi...,"{'username': 'Marisela50', 'id': 126636980, 'd...","Ventura, CA",34.197506,-119.177053
1,2021-07-12 07:26:52+00:00,@SUBWAY @SubwayListens what happened to the fr...,"{'username': 'texis2001', 'id': 79396147977494...","Oxnard, CA",34.197506,-119.177053
2,2020-12-21 06:26:38+00:00,"I'm at @SUBWAY in Port Hueneme, CA https://t.c...","{'username': 'thehund', 'id': 73321884, 'displ...","Santa Clarita, CA",34.197506,-119.177053
3,2020-12-02 00:31:59+00:00,@SUBWAY please have someone contact me in rega...,"{'username': 'neyneyd', 'id': 61014668, 'displ...",,34.197506,-119.177053
4,2020-12-02 00:31:08+00:00,@SUBWAY Really bad experience at store #3035...,"{'username': 'neyneyd', 'id': 61014668, 'displ...",,34.197506,-119.177053
5,2020-11-08 21:21:08+00:00,@SUBWAY @espn I love subway so much it’s my fa...,"{'username': 'NBAYOUNGBOTE', 'id': 2222010534,...",Oxnard CA,34.197506,-119.177053
6,2019-07-04 01:37:41+00:00,"Out of the 6+ @subway locations in my town, wh...","{'username': 'workingmanders', 'id': 271228324...","Camarillo, CA",34.197506,-119.177053
7,2019-04-22 15:14:56+00:00,@SUBWAY Why is a 6” $6.99 ?!?!,"{'username': 'SpicyMeatDad', 'id': 1948102579,...","Bakersfield, CA",34.197506,-119.177053
8,2019-04-19 03:01:51+00:00,@Sammyjothefox Always get that at @SUBWAY with...,"{'username': 'DJJimmyReyes', 'id': 318159501, ...","Oxnard, CA",34.197506,-119.177053
9,2019-02-21 03:17:36+00:00,@CrianaBastro @SUBWAY What colors boo I’m on it,"{'username': 'dumpstercrawler', 'id': 96166768...",Elm street,34.197506,-119.177053
10,2019-01-31 00:56:59+00:00,@SUBWAY why can I order 3 steak and cheese @ 8...,"{'username': 'AJ_Klopf', 'id': 222017596, 'dis...",,34.197506,-119.177053
11,2018-07-25 16:23:11+00:00,@SUBWAY Eating fresh is a nice way to live !,"{'username': 'Debbie70275953', 'id': 977775526...",,34.197506,-119.177053

,date,content,user,user_location,lat,lng
0,2021-06-27 06:48:49+00:00,@ChesWho @SUBWAY That's my question.,"{'username': 'PeteyPablo623', 'id': 388450833,...",626 📍,34.579433,-118.116461
1,2018-12-01 23:13:15+00:00,Hey! @subway I come in and try to get Cheese J...,"{'username': 'atari25dj', 'id': 267599785, 'di...",,34.579433,-118.116461
2,2018-10-24 01:54:05+00:00,@subway quesadillas are a go https://t.co/RQkM...,"{'username': 'gavin_hagen', 'id': 1698026048, ...",,34.579433,-118.116461
3,2018-06-19 22:19:28+00:00,@SUBWAY Thanks for being so Keto friendly! Sub...,"{'username': 'RedDrunknpanda', 'id': 248545271...",Palmdale Ca,34.579433,-118.116461
4,2018-03-06 07:34:52+00:00,@douwanturfries @SUBWAY Life is gross.,"{'username': '_Raaaaal', 'id': 2284288002, 'di...",,34.579433,-118.116461
5,2018-03-06 07:32:07+00:00,"@douwanturfries @SUBWAY Sadly it is true, i th...","{'username': '_Raaaaal', 'id': 2284288002, 'di...",,34.579433,-118.116461
6,2018-03-06 07:29:05+00:00,When @SUBWAY gives you the food poisoning 😭😭😭,"{'username': '_Raaaaal', 'id': 2284288002, 'di...",,34.579433,-118.116461
7,2017-04-03 22:51:16+00:00,what way is it? @SUBWAY,"{'username': 'daamaass_', 'id': 2286293959, 'd...","Palmdale, CA",34.579433,-118.116461
8,2016-07-18 23:07:05+00:00,@Pantone294 @SUBWAY https://t.co/T7W46UxU5q,"{'username': 'mperalta112', 'id': 16278444, 'd...",,34.579433,-118.116461
9,2016-07-18 23:02:37+00:00,@Pantone294 @SUBWAY 👎🏼😒,"{'username': 'mperalta112', 'id': 16278444, 'd...",,34.579433,-118.116461
10,2016-07-14 23:06:19+00:00,Pretty disappointed in the veggie quality at t...,"{'username': '_ChachaLinda', 'id': 48480495, '...","California, USA",34.579433,-118.116461
11,2016-07-03 20:26:22+00:00,I ❤️ @SUBWAY,"{'username': '_DoseOfNoe', 'id': 2590223118, '...",,34.579433,-118.116461
12,2016-04-22 02:23:47+00:00,"I'm at @SUBWAY in Palmdale, CA https://t.co/NA...","{'username': 'kd6cae', 'id': 16707098, 'displa...","Palmdale, CA",34.579433,-118.116461
13,2016-04-19 19:47:09+00:00,"I'm at @SUBWAY in Palmdale, CA https://t.co/Ko...","{'username': 'K8TYBoo', 'id': 26444809, 'displ...","Los Angeles, CA",34.579433,-118.116461
14,2016-04-19 06:02:17+00:00,I just came into @subway and got some rocks (c...,"{'username': 'betoloco18', 'id': 2913045620, '...",,34.579433,-118.116461
15,2016-04-05 07:39:37+00:00,"24 hour subway! (at @SUBWAY in Palmdale, CA) h...","{'username': 'MikiniWilliams', 'id': 25337400,...","Washington, DC",34.579433,-118.116461
16,2015-09-09 07:31:37+00:00,@ahoynicoy @SUBWAY what u tryna say,"{'username': 'Brittnawww', 'id': 2206268803, '...","Palmdale, CA",34.579433,-118.116461
17,2015-07-28 15:33:16+00:00,@SUBWAY #4to9Sweeps1 3:01 towel! :),"{'username': 'SkysNews', 'id': 515670617, 'dis...",USA,34.579433,-118.116461
18,2015-07-21 16:09:03+00:00,@SUBWAY #4to9Sweepsz 3:19,"{'username': 'SkysNews', 'id': 515670617, 'dis...",USA,34.579433,-118.116461
19,2015-07-21 16:02:50+00:00,@SUBWAY #4to9Sweeps2 at 4:02,"{'username': 'SkysNews', 'id': 515670617, 'dis...",USA,34.579433,-118.116461
20,2015-06-11 07:03:44+00:00,@DrewwwLC @SUBWAY http://t.co/9PW7mbr0TH,"{'username': 'Brittnawww', 'id': 2206268803, '...","Palmdale, CA",34.579433,-118.116461
21,2014-11-23 01:54:57+00:00,"I'm at @SUBWAY in Palmdale, CA https://t.co/3m...","{'username': 'iSaud72', 'id': 1036946504, 'dis...","Kuwait , Los Angeles",34.579433,-118.116461
22,2014-11-20 06:33:21+00:00,"Time to eat...!!!! (at @SUBWAY in Palmdale, CA...","{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.579433,-118.116461
23,2014-06-18 20:46:51+00:00,“@SUBWAY: The time has come… http://t.co/yMhHT...,"{'username': 'thatkidgriff_', 'id': 358945436,...",,34.579433,-118.116461
24,2014-06-05 00:59:47+00:00,“@nasty_ness_: Thanks ily @SUBWAY http://t.co/...,"{'username': 'fuckingbravo', 'id': 338911746, ...","California, USA",34.579433,-118.116461
25,2014-03-11 19:04:26+00:00,"I'm at @SUBWAY (Quartz Hill, CA) http://t.co/8...","{'username': 'RobtWalls', 'id': 628777745, 'di...","Lake Los Angeles, CA",34.579433,-118.116461
26,2014-03-08 17:05:01+00:00,Second time this time I'm here with my bros. I...,"{'username': 'xjesbluex', 'id': 140966887, 'di...",↗↖all over calι ☀↘↙,34.579433,-118.116461
27,2014-02-28 20:03:43+00:00,(at @SUBWAY) http://t.co/qan7BuAjy0,"{'username': 'RobtWalls', 'id': 628777745, 'di...","Lake Los Angeles, CA",34.579433,-118.116461
28,2013-12-17 20:13:20+00:00,Uh (at @SUBWAY) http://t.co/9EpCIxfraD,"{'username': 'ermergerd', 'id': 20487390, 'dis...","Detroit, MI",34.579433,-118.116461
29,2013-12-04 19:19:15+00:00,"I'm at @SUBWAY (Palmdale, CA) http://t.co/vYRk...","{'username': 'KingSpadeShan', 'id': 27196367, ...","San Bernardino,Ca",34.579433,-118.116461
30,2013-11-13 19:20:43+00:00,"I'm at @SUBWAY (Palmdale, CA) http://t.co/wMCl...","{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.579433,-118.116461
31,2013-10-13 22:09:50+00:00,“@SUBWAY: Your $5 FOOTLONG™ play of the day ht...,"{'username': 'thatkidgriff_', 'id': 358945436,...",,34.579433,-118.116461
32,2013-10-03 21:14:56+00:00,"“@SUBWAY: I had @SUBWAY for breakfast, lunch a...","{'username': 'thatkidgriff_', 'id': 358945436,...",,34.579433,-118.116461
33,2013-09-24 02:43:39+00:00,Buen pobrecho ...!!! (at @Subway) http://t.co/...,"{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.579433,-118.116461
34,2013-09-20 05:05:41+00:00,"I'm at @Subway (Palmdale, CA) http://t.co/vULf...","{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.579433,-118.116461
35,2013-08-08 05:25:48+00:00,"I'm at @Subway (Palmdale, CA) http://t.co/AAho...","{'username': 'giojas', 'id': 60455789, 'displa...",Palmdale / Cali...,34.579433,-118.116461
36,2013-04-05 20:42:06+00:00,"@SUBWAY I love you subway, I always get Black ...","{'username': '_Marx92', 'id': 30404002, 'displ...",,34.579433,-118.116461

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.147786,-118.144517
1,2021-06-23 17:58:09+00:00,@RuthSch04593054 @SUBWAY No Tuna DNA in your f...,"{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.147786,-118.144517
2,2021-06-23 17:56:34+00:00,"@renderrain @MuckDNewsome88 @SUBWAY Maybe, may...","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.147786,-118.144517
3,2021-06-23 17:53:53+00:00,"@SUBWAY Not Tuna, it seems.","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.147786,-118.144517
4,2021-05-20 01:14:31+00:00,@SUBWAY @AmineAouragh20 And dessert.,"{'username': 'taco', 'id': 543797515, 'display...",LA (maybe Tokyo someday),34.147786,-118.144517
5,2020-10-27 00:59:18+00:00,@stevengregory @jerseymikes @Wendys @kfc @SUBW...,"{'username': 'dirtsurfer66', 'id': 75259460833...","Pasadena, CA",34.147786,-118.144517
6,2020-08-06 22:28:49+00:00,"@wavybonebby @SUBWAY All the olives, jalapeños...","{'username': 'IbarraArlene', 'id': 89012609848...","Monrovia, CA",34.147786,-118.144517
7,2020-05-07 20:29:07+00:00,Wow @SUBWAY who are you trying to rip off with...,"{'username': 'mitchieemonster', 'id': 12164822...","Pasadena, CA",34.147786,-118.144517
8,2020-04-27 21:37:42+00:00,Hey @SUBWAY i need some #customercare. Bad exp...,"{'username': 'SweeteeePiie', 'id': 10327094697...",United States,34.147786,-118.144517
9,2020-03-20 23:25:14+00:00,"I'm at @SUBWAY in Arcadia, CA https://t.co/JWF...","{'username': 'hapaniki', 'id': 24994477, 'disp...",,34.147786,-118.144517

,date,content,user,user_location,lat,lng
0,2021-07-15 16:50:34+00:00,"@SUBWAY Your Tuna gave me COVID-19, so I would...","{'username': 'DragonIVXX', 'id': 256828204, 'd...","Ontario, CA",34.055228,-117.752306
1,2021-07-14 15:39:50+00:00,@SUBWAY I have been eagerly awaiting the retur...,"{'username': 'JustJules83', 'id': 892424787783...","Upland, CA",34.055228,-117.752306
2,2021-07-11 15:15:32+00:00,@MaritimeTartan @SUBWAY Have you tried MrSub? ...,"{'username': 'bates_gail', 'id': 494252830, 'd...",Ontario,34.055228,-117.752306
3,2021-06-19 00:26:16+00:00,Another day another protein bowl from @SUBWAY ...,"{'username': 'JsAboutBusiness', 'id': 61721746...","Los Angeles, CA",34.055228,-117.752306
4,2021-06-18 01:50:49+00:00,That steak protein bowl from @SUBWAY was amazi...,"{'username': 'JsAboutBusiness', 'id': 61721746...","Los Angeles, CA",34.055228,-117.752306
...,...,...,...,...,...,...
184,2013-03-30 16:27:43+00:00,Flatbread breakfast sandwich @Subway included ...,"{'username': 'mattgeiler', 'id': 116858591, 'd...","Los Angeles, CA",34.055228,-117.752306
185,2013-02-12 21:15:13+00:00,Craving some broccoli cheese soup from @SUBWAY,"{'username': 'ChrissyParis_', 'id': 228509400,...",california☀️,34.055228,-117.752306
186,2012-08-14 00:50:22+00:00,@JRsBBQ @SUBWAY For real's! There's BBQ sauce ...,"{'username': 'madmaiden5150', 'id': 52236958, ...","upland,ca",34.055228,-117.752306
187,2012-08-10 19:03:45+00:00,"Hey @subway, why is avocado an extra charge bu...","{'username': 'NckWtrs', 'id': 22115220, 'displ...","Los Angeles, CA",34.055228,-117.752306
188,2012-03-19 22:18:08+00:00,Yum!!! @subway,"{'username': 'Coala__', 'id': 333829215, 'disp...",,34.055228,-117.752306

,date,content,user,user_location,lat,lng
0,2021-07-15 16:50:34+00:00,"@SUBWAY Your Tuna gave me COVID-19, so I would...","{'username': 'DragonIVXX', 'id': 256828204, 'd...","Ontario, CA",34.1064,-117.593108
1,2021-07-14 15:39:50+00:00,@SUBWAY I have been eagerly awaiting the retur...,"{'username': 'JustJules83', 'id': 892424787783...","Upland, CA",34.1064,-117.593108
2,2021-07-11 15:15:32+00:00,@MaritimeTartan @SUBWAY Have you tried MrSub? ...,"{'username': 'bates_gail', 'id': 494252830, 'd...",Ontario,34.1064,-117.593108
3,2021-06-01 22:27:36+00:00,What happened to the cilantro 🌿 @SUBWAY,"{'username': 'danyoflore5', 'id': 87127386, 'd...","Rancho Cucamonga, CA",34.1064,-117.593108
4,2021-06-01 21:53:15+00:00,"I'm at @SUBWAY in Claremont, CA https://t.co/V...","{'username': 'AngelSailer', 'id': 904887926307...",,34.1064,-117.593108
...,...,...,...,...,...,...
167,2013-02-14 22:37:56+00:00,"Works for Jarred, works for me (at @subway) ht...","{'username': 'SoCalScouse', 'id': 20216473, 'd...","Upland, CA",34.1064,-117.593108
168,2013-02-12 21:15:13+00:00,Craving some broccoli cheese soup from @SUBWAY,"{'username': 'ChrissyParis_', 'id': 228509400,...",california☀️,34.1064,-117.593108
169,2012-08-14 00:50:22+00:00,@JRsBBQ @SUBWAY For real's! There's BBQ sauce ...,"{'username': 'madmaiden5150', 'id': 52236958, ...","upland,ca",34.1064,-117.593108
170,2012-08-10 19:03:45+00:00,"Hey @subway, why is avocado an extra charge bu...","{'username': 'NckWtrs', 'id': 22115220, 'displ...","Los Angeles, CA",34.1064,-117.593108
171,2012-03-19 22:18:08+00:00,Yum!!! @subway,"{'username': 'Coala__', 'id': 333829215, 'disp...",,34.1064,-117.593108

,date,content,user,user_location,lat,lng
0,2021-07-07 18:46:46+00:00,@SUBWAY REAL TUNA??,"{'username': 'raidirz', 'id': 467837829, 'disp...","Redding, California",40.586539,-122.391675
1,2021-01-10 21:27:57+00:00,"I'm at @Subway in Redding, CA https://t.co/EPk...","{'username': 'AngelSailer', 'id': 904887926307...",,40.586539,-122.391675
2,2020-07-31 16:13:32+00:00,"I'm at @Subway in Redding, CA https://t.co/ztT...","{'username': 'ronovmen', 'id': 90899353, 'disp...",México,40.586539,-122.391675
3,2020-03-13 18:42:16+00:00,"I'm at @Subway in Redding, CA https://t.co/o3Z...","{'username': 'ronovmen', 'id': 90899353, 'disp...",México,40.586539,-122.391675
4,2019-03-04 16:21:28+00:00,@BigSouz67 @SUBWAY Much love to you brotha mis...,"{'username': 'colecpl', 'id': 1431901388, 'dis...","Corning, CA",40.586539,-122.391675
5,2018-11-27 20:48:43+00:00,@SUBWAY Thanks appreciate it,"{'username': 'colecpl', 'id': 1431901388, 'dis...","Corning, CA",40.586539,-122.391675
6,2018-11-27 20:44:46+00:00,@BigSouz67 @SUBWAY Omw,"{'username': 'colecpl', 'id': 1431901388, 'dis...","Corning, CA",40.586539,-122.391675
7,2017-04-17 16:19:41+00:00,Getting #dinner at 9:00 am (at @Subway in Redd...,"{'username': 'IAmTheZOOM', 'id': 7210291085246...",Santa Rosa JC & KQED 9/88.5 FM,40.586539,-122.391675
8,2016-06-11 21:14:35+00:00,Picking up lunch for my sister. (at @Subway in...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
9,2016-06-09 20:41:12+00:00,Italian BMT footlong combo. Avocado is extra b...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
10,2015-10-23 15:42:14+00:00,"I'm at @Subway in Redding, CA https://t.co/1qM...","{'username': 'Dilworth1', 'id': 56994303, 'dis...",DillyWorld,40.586539,-122.391675
11,2014-06-24 21:21:28+00:00,Big thanks to Fred from @BethelRedding for pic...,"{'username': 'USArmy_Redding', 'id': 248573584...",Redding California,40.586539,-122.391675
12,2014-06-17 21:57:21+00:00,"Footlong BMT on jalapeño bread, usual veggies,...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
13,2014-05-27 22:20:15+00:00,"Footlong BMT on garlic bread, usual veggies, j...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
14,2014-05-15 21:31:34+00:00,Italian BMT footlong with usual veggies and ch...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
15,2014-05-06 21:05:10+00:00,Footlong club on garlic bread; usual veggies; ...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
16,2014-04-08 20:50:48+00:00,Footlong club on garlic bread. Sprite because ...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
17,2014-04-03 21:11:26+00:00,"Pastrami &amp; pepper jack on garlic bread, wi...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
18,2014-03-25 20:52:09+00:00,Testing a theory that tomatoes make the chicke...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
19,2014-03-21 20:55:59+00:00,Chicken Enchilada footlong on jalapeño cheddar...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
20,2014-03-17 20:52:40+00:00,Trying their new Chicken Enchilada Melt. It's ...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
21,2014-03-11 21:34:09+00:00,"Footlong club on jalapeño bread, usual veggies...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
22,2014-02-25 21:10:11+00:00,Quick early lunch; on a tight work deadline. B...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
23,2014-02-11 22:11:00+00:00,Hot Pastrami footlong on jalapeño cheddar brea...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
24,2014-02-06 21:51:45+00:00,"Footlong club on jalapeño cheddar bread, usual...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
25,2014-01-21 21:49:13+00:00,"Footlong Italian BMT, usual veggies, jalapeño ...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
26,2014-01-16 21:57:00+00:00,"Pastrami footlong on jalapeño cheddar bread, u...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
27,2013-12-02 22:16:56+00:00,"Late lunch. Italian BMT on garlic bread, jalap...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
28,2013-12-01 18:52:44+00:00,"I'm at @Subway (Redding, CA) http://t.co/7ZDgg...","{'username': 'jrinella', 'id': 19777954, 'disp...","Livermore, CA",40.586539,-122.391675
29,2013-11-19 21:46:35+00:00,"No water at my house today, so my ""no fast foo...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
30,2013-11-12 22:14:38+00:00,"Spicy Italian footlong on garlic bread, usual ...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
31,2013-11-07 21:42:54+00:00,"Footlong club on garlic bread, usual veggies; ...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
32,2013-10-29 20:34:02+00:00,"Footlong pastrami and Swiss on garlic bread, u...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
33,2013-10-28 00:34:02+00:00,Hearing #paramore @SUBWAY makes me like subwa...,"{'username': 'BrettBettendorf', 'id': 28823931...","McKinleyville, CA",40.586539,-122.391675
34,2013-09-27 20:52:58+00:00,"Italian BMT on IH&amp;C with usual veggies, Dr...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
35,2013-09-12 22:00:59+00:00,Trying their new Creamy Sriracha Sauce on my B...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
36,2013-09-03 20:44:19+00:00,Footlong hot pastrami &amp; Swiss on IHC with ...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
37,2013-08-27 21:04:12+00:00,Footlong club with pepper jack on IHC with the...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
38,2013-08-19 20:29:08+00:00,"Club with pepper jack, avocado and other usual...","{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675
39,2013-08-06 21:18:13+00:00,Pastrami? Or a club with pepper jack? Decision...,"{'username': 'bii', 'id': 69263, 'displayname'...",United States,40.586539,-122.391675

,date,content,user,user_location,lat,lng
0,2021-06-24 01:32:33+00:00,@SUBWAY stop your tuna bull shit,"{'username': 'Ericwgreene1977', 'id': 11180714...","North Fair Oaks, CA",37.485214,-122.236356
1,2020-11-04 04:44:44+00:00,@gov_ravi @BurgerKing @kfc @SUBWAY @dominos @p...,"{'username': 'MDMGeek', 'id': 42079656, 'displ...","Bay Area, CA",37.485214,-122.236356
2,2020-07-17 14:06:50+00:00,@Stimmy7 @SUBWAY https://t.co/4ohYZ9PPAL,"{'username': 'Ralliney', 'id': 45500457, 'disp...","Northern California, USA",37.485214,-122.236356
3,2019-10-20 03:05:24+00:00,Bruh @SUBWAY it’s barely 8pm what gives. 😔😔 @c...,"{'username': 'snap_dragona', 'id': 1132137835,...",Here and there,37.485214,-122.236356
4,2019-10-18 14:47:43+00:00,Where can I get that vacuum? Hysterical new ad...,"{'username': 'monietenbroeck', 'id': 15322023,...","Redwood City, CA",37.485214,-122.236356
...,...,...,...,...,...,...
84,2013-06-15 17:33:28+00:00,"Wow, @Subway always hits the spot. #FootLongBr...","{'username': 'PartiPants27', 'id': 29619901, '...","Long Beach, CA",37.485214,-122.236356
85,2013-04-19 17:26:59+00:00,Thank you 24 hour @subway in Palo Alto. You sa...,"{'username': 'McGrubbin', 'id': 32347929, 'dis...","Seattle, WA",37.485214,-122.236356
86,2012-09-22 19:05:26+00:00,After #readingtutor lunch @subway (@ Subway) [...,"{'username': 'danglethemangle', 'id': 17077823...","Palo Alto, California USA",37.485214,-122.236356
87,2012-06-18 04:19:23+00:00,@DJDROC @SUBWAY LOL,"{'username': 'catphungu', 'id': 20332785, 'dis...","Redwood City, CA",37.485214,-122.236356
88,2011-08-09 20:35:29+00:00,Enjoying my BBQ pulled pork sandwich thx to @s...,"{'username': 'rickyyean', 'id': 15123226, 'dis...",🍜,37.485214,-122.236356

,date,content,user,user_location,lat,lng
0,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.1064,-117.370325
1,2021-04-20 05:45:24+00:00,"I'm at @SUBWAY in Rialto, CA w/ @cuccabug http...","{'username': 'Sir_Hit_Man', 'id': 357121602, '...","Corona, CA",34.1064,-117.370325
2,2020-07-05 23:52:26+00:00,Don't make me laugh right now. Haha @SUBWAY ta...,"{'username': 'earthsindie', 'id': 107015945792...",San Bernardino,34.1064,-117.370325
3,2019-10-13 05:18:16+00:00,@SUBWAY worst sandwich ever I bought and taste...,"{'username': 'Missy102187', 'id': 856680895239...","California, USA",34.1064,-117.370325
4,2019-02-27 15:49:10+00:00,@lino_storyz @jocelynnmm @SUBWAY Come work at ...,"{'username': 'mynamesisntgeo', 'id': 101936364...",,34.1064,-117.370325
...,...,...,...,...,...,...
94,2012-08-10 18:13:29+00:00,Showed up a whole hr early to work. Gunnaa tre...,"{'username': 'smileliksam', 'id': 66394677, 'd...","Sugar Land, TX",34.1064,-117.370325
95,2012-07-13 19:33:26+00:00,@Starbucks beat me to the punch... Barista del...,"{'username': 'GNAdv', 'id': 15490712, 'display...","Omaha, NE",34.1064,-117.370325
96,2011-09-09 23:52:06+00:00,@socalsubway @subway $2 meatball sandwich! Wha...,"{'username': 'socaldebbie', 'id': 34807279, 'd...",California,34.1064,-117.370325
97,2011-07-15 19:33:08+00:00,@subway :),"{'username': 'littlevero40', 'id': 71964422, '...",r-ToWn,34.1064,-117.370325
98,2011-01-22 02:43:08+00:00,@subway with my bois #nohomo,"{'username': 'green_ste', 'id': 92222387, 'dis...",,34.1064,-117.370325

,date,content,user,user_location,lat,lng
0,2021-06-25 07:47:06+00:00,@SUBWAY @ScorpioBaby601 @TNelsss should I tell...,"{'username': 'matmatjo', 'id': 130087559280023...","Berkeley, CA",37.935758,-122.34775
1,2021-06-24 07:52:41+00:00,WTF have we been eating then??? @SUBWAY https...,"{'username': 'NeoTongamoa', 'id': 137819532072...","Richmond, CA",37.935758,-122.34775
2,2021-06-23 02:21:58+00:00,I wonder what @Wendys got to say bout this @SU...,"{'username': 'matmatjo', 'id': 130087559280023...","Berkeley, CA",37.935758,-122.34775
3,2020-06-27 08:50:06+00:00,@SUBWAY Do you understand that both hashtags a...,"{'username': 'ToANewFuture', 'id': 11814934084...","Berkeley, CA",37.935758,-122.34775
4,2020-05-12 19:19:26+00:00,@SUBWAY Kramitin,"{'username': 'Williamfitzwat1', 'id': 10123268...","California, USA",37.935758,-122.34775
5,2020-02-11 18:32:42+00:00,Why tf @SUBWAY charge me more than the Subtota...,"{'username': 'poobahWack', 'id': 1087168425397...",he/him,37.935758,-122.34775
6,2019-10-01 18:18:47+00:00,@evelynplaza4 @SUBWAY How do you explain this ...,"{'username': 'ismlriv', 'id': 58424645, 'displ...","Vallejo, CA",37.935758,-122.34775
7,2019-09-17 09:20:34+00:00,@SUBWAY tried in San Francisco and no way was ...,"{'username': 'sbassi', 'id': 14427119, 'displa...","Berkeley, CA",37.935758,-122.34775
8,2018-12-03 02:39:16+00:00,@SUBWAY is this really double meat????? I’m so...,"{'username': 'BigBob80', 'id': 75088591, 'disp...",Bay Area California,37.935758,-122.34775
9,2018-08-03 14:13:24+00:00,@ListElaine @Steph_Lopez_66 @Lovely1Nika @_SJP...,"{'username': 'jentameno', 'id': 448213217, 'di...",bayarea califonia,37.935758,-122.34775
10,2018-05-21 02:51:10+00:00,"I'm at @Subway in Berkeley, CA https://t.co/oP...","{'username': 'albutala', 'id': 894398456, 'dis...","Nashville, TN",37.935758,-122.34775
11,2018-04-12 13:57:46+00:00,A @subway store on Telegraph Avenue in #Berkel...,"{'username': 'Yeegeefoto', 'id': 8555615445532...","Berkeley, CA",37.935758,-122.34775
12,2018-01-12 20:16:32+00:00,"Lunch (at @Subway in El Cerrito, CA) https://t...","{'username': '0hS0Fly', 'id': 29371689, 'displ...","Bay Area, Ca",37.935758,-122.34775
13,2017-12-01 16:51:25+00:00,So @SUBWAY gave me food poisoning and I want a...,"{'username': 'equilibracion', 'id': 1535547038...","Los Angeles, CA",37.935758,-122.34775
14,2017-12-01 06:10:09+00:00,@SUBWAY gave me food poisoning,"{'username': 'equilibracion', 'id': 1535547038...","Los Angeles, CA",37.935758,-122.34775
15,2017-09-20 22:50:10+00:00,"@TastyBite @CokeZero @ClifBar FWIW, #CSUEB has...","{'username': 'meekorouse', 'id': 11922222, 'di...","Berkeley, CA",37.935758,-122.34775
16,2017-08-04 01:02:18+00:00,@SUBWAY Just had subway😂,"{'username': 'TWST33', 'id': 87331509345850163...",Kontrol,37.935758,-122.34775
17,2017-08-02 20:16:47+00:00,"I'm at @SUBWAY in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
18,2017-05-10 18:47:40+00:00,"Entropy sandwich (at @Subway in El Cerrito, CA...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
19,2017-04-20 19:19:21+00:00,"I'm at @Subway in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
20,2017-03-27 19:07:07+00:00,"I'm at @SUBWAY in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
21,2017-02-23 20:31:13+00:00,"I'm at @Subway in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
22,2016-12-23 19:51:24+00:00,"I'm at @Subway in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
23,2016-10-19 20:22:12+00:00,"Sammich (at @Subway in El Cerrito, CA) https:/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
24,2016-08-06 01:54:24+00:00,@TylerJahnke @SUBWAY How come it's only Subway...,"{'username': 'miquelj', 'id': 21324423, 'displ...","San Diego, CA",37.935758,-122.34775
25,2016-08-06 01:53:15+00:00,"@TylerJahnke @SUBWAY at ""non franchise"" stores...","{'username': 'miquelj', 'id': 21324423, 'displ...","San Diego, CA",37.935758,-122.34775
26,2016-07-30 20:37:06+00:00,"I'm at @SUBWAY in El Cerrito, CA https://t.co/...","{'username': 'Edcool1', 'id': 15413150, 'displ...","El Cerrito, CA",37.935758,-122.34775
27,2016-05-22 23:49:03+00:00,@synopsi @SmittenIceCream i remember you going...,"{'username': 'musHo', 'id': 15012042, 'display...",NFT ➜,37.935758,-122.34775
28,2016-05-14 02:15:38+00:00,"I'm at @Subway in Hercules, CA https://t.co/ap...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
29,2016-04-24 02:31:46+00:00,"I'm at @Subway in Berkeley, CA https://t.co/m9...","{'username': 'VinnieLJack', 'id': 250253394, '...","San Francisco, Ca",37.935758,-122.34775
30,2016-03-06 01:32:08+00:00,@SUBWAY @gglightbulb I'm recovering from food ...,"{'username': 'gglightbulb', 'id': 2245887787, ...",SF California Bay Area,37.935758,-122.34775
31,2015-11-25 21:43:26+00:00,Lunch fail #KEURIG #singleserving #cofeecup @R...,"{'username': 'joseluis415510', 'id': 248427333...",Oakland,37.935758,-122.34775
32,2015-10-03 00:35:36+00:00,"I'm at @Subway in Hercules, CA https://t.co/9d...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
33,2015-09-30 01:27:35+00:00,Very slow when person in front of you has a lo...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
34,2015-09-04 01:37:01+00:00,"I'm at @Subway in Hercules, CA https://t.co/J4...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
35,2015-08-16 02:19:28+00:00,What is the dark it's hotter here than Orinda....,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
36,2015-05-14 15:57:48+00:00,@SUBWAY My superpower is pulling avocados out ...,"{'username': 'KathieHoehn', 'id': 490473942, '...",,37.935758,-122.34775
37,2015-01-27 22:24:51+00:00,Me if I worked at @SUBWAY \nCustomer:can I get...,"{'username': 'El_Rico_Suave10', 'id': 27022127...",Utah,37.935758,-122.34775
38,2014-10-24 01:12:46+00:00,When bæ buys you @SUBWAY &gt;&gt;&gt; 😍😜😋,"{'username': 'lexxtastic', 'id': 700627488, 'd...",Your dreams,37.935758,-122.34775
39,2014-10-03 01:30:00+00:00,How many people does it take to decide on the ...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
40,2014-09-20 21:41:29+00:00,Decided id better eat something today. (at @Su...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
41,2014-09-06 01:23:20+00:00,Dinner time. Need the wine at home after all o...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
42,2014-08-08 01:19:05+00:00,"Dinner salad (at @Subway in Hercules, CA) http...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
43,2014-08-01 01:30:54+00:00,Wahoo exciting gourmet dinner. (at @Subway in ...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
44,2014-05-30 18:11:27+00:00,"@SUBWAY @craigahh @EGCrimsix Hmm, is there Uni...","{'username': 'jefposk', 'id': 4254951, 'displa...",Berkeley CA,37.935758,-122.34775
45,2014-05-12 21:32:53+00:00,"Hey @SUBWAY, The new Chop Chicken Salads come ...","{'username': 'angie4jesus', 'id': 16599479, 'd...","San Francisco, CA",37.935758,-122.34775
46,2014-01-14 02:32:37+00:00,"I'm at @Subway (Berkeley, CA) http://t.co/fWzx...","{'username': 'jlaveck', 'id': 17975139, 'displ...","New England, USA",37.935758,-122.34775
47,2013-12-10 02:10:58+00:00,I hope I just did a good thing for someone in ...,"{'username': 'jlaveck', 'id': 17975139, 'displ...","New England, USA",37.935758,-122.34775
48,2013-11-19 20:25:33+00:00,"I'm at @Subway (Berkeley, CA) http://t.co/7NuY...","{'username': 'DenizzYksl', 'id': 612940545, 'd...",AFS '13 BELGIË ~ Santa Barbara,37.935758,-122.34775
49,2013-11-17 04:55:28+00:00,OR WORSE........ @SUBWAY,"{'username': 'ArsalanA10', 'id': 200061002, 'd...","California, USA",37.935758,-122.34775
50,2013-10-30 02:06:20+00:00,"I'm at @Subway (Hercules, CA) http://t.co/C5b0...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
51,2013-10-08 00:56:19+00:00,"I'm at @Subway (Hercules, CA) http://t.co/ymdE...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
52,2013-09-05 03:12:36+00:00,"I'm at @Subway (Hercules, CA) http://t.co/NPcI...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
53,2013-08-24 01:33:00+00:00,"I'm at @Subway (Hercules, CA) http://t.co/poQM...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
54,2013-08-14 02:22:18+00:00,"I'm at @Subway (Hercules, CA) http://t.co/hwNQ...","{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775
55,2013-08-08 01:46:54+00:00,Actually eating at home tonight. And probably ...,"{'username': 'Shayach', 'id': 15706444, 'displ...",San Francisco Bay Area,37.935758,-122.34775

,date,content,user,user_location,lat,lng
0,2021-07-15 20:00:25+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/N...","{'username': 'travisdjohnson', 'id': 283771757...","IE, CA",33.95335,-117.396156
1,2021-07-02 20:49:15+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/e...","{'username': 'travisdjohnson', 'id': 283771757...","IE, CA",33.95335,-117.396156
2,2020-11-07 20:43:20+00:00,@SUBWAY WHAT IS THIS?! https://t.co/GFvOc0XYgd,"{'username': 'llluisperez', 'id': 4403741532, ...","California, USA",33.95335,-117.396156
3,2020-01-08 06:38:25+00:00,@BelligerentDan @ShrimzyPUBg @MattDillonGG @Gh...,"{'username': 'jayFlixx', 'id': 905188472134053...","Corona, CA",33.95335,-117.396156
4,2019-12-31 19:21:55+00:00,@SUBWAY bread stale : Day ruined,"{'username': 'Savannahmorriss', 'id': 76014949...",,33.95335,-117.396156
5,2019-10-31 20:05:03+00:00,@SUBWAY I'm so confused as why am I being cha...,"{'username': 'TheCarlaMarieee', 'id': 53490070...",United States,33.95335,-117.396156
6,2019-10-21 20:08:34+00:00,@subway bring back $5 footlongs i’m struggling,"{'username': 'jayystrange', 'id': 2476443433, ...","Riverside, CA",33.95335,-117.396156
7,2019-10-17 00:56:52+00:00,@kendraakiaraa @SUBWAY Well wassup,"{'username': '9877_pablo', 'id': 225729157, 'd...",🇵🇪ΚΣ,33.95335,-117.396156
8,2019-07-11 23:22:32+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/h...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
9,2019-02-27 00:57:03+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/M...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
10,2019-02-02 05:13:11+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/F...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
11,2019-01-08 03:08:03+00:00,@SUBWAY no white bread? 🥖 that sucks,"{'username': 'lakersmysquad', 'id': 158268691,...",USA,33.95335,-117.396156
12,2018-12-20 18:16:39+00:00,Yo! @SUBWAY got mozzarella!😭,"{'username': '_Just_Joey', 'id': 4888958120, '...",Instagram: joelgonzalez_z,33.95335,-117.396156
13,2018-12-04 00:48:49+00:00,@SUBWAY https://t.co/Di5s3efUWu,"{'username': 'andy_ortega2', 'id': 839978534, ...","Riverside, CA",33.95335,-117.396156
14,2018-04-26 22:44:45+00:00,@SUBWAY aye man...look...it’s been a long day....,"{'username': 'Groovyie', 'id': 217841043, 'dis...","IE, Ca",33.95335,-117.396156
15,2018-04-26 22:42:07+00:00,@SUBWAY YOU ASKIN TOO MANY QUESTIONS HOMIE,"{'username': 'Groovyie', 'id': 217841043, 'dis...","IE, Ca",33.95335,-117.396156
16,2018-04-26 22:35:26+00:00,@SUBWAY Aye man. I love yal. But I will fade yal.,"{'username': 'Groovyie', 'id': 217841043, 'dis...","IE, Ca",33.95335,-117.396156
17,2018-03-31 21:56:20+00:00,Absolutely the worst service I’ve had at any @...,"{'username': 'weze2', 'id': 391032950, 'displa...",Southern California,33.95335,-117.396156
18,2018-03-10 04:04:05+00:00,"استراحة محارب💔 (at @SUBWAY in Riverside, CA) h...","{'username': '272_asa', 'id': 1604634870, 'dis...",Kuwait | USA🌴.,33.95335,-117.396156
19,2018-03-06 01:14:18+00:00,"Healthy dinner (at @SUBWAY in Riverside, CA) h...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
20,2018-01-06 03:43:53+00:00,"Hey @SUBWAY what’s the correct order? Bread, ...","{'username': 'AT_RaffyC', 'id': 42151965, 'dis...","Riverside, CA",33.95335,-117.396156
21,2017-11-29 01:18:25+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/W...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
22,2017-10-20 22:51:05+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/Z...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
23,2017-10-17 01:27:40+00:00,2nd time is the charm😞 (at @SUBWAY in Riversid...,"{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
24,2017-10-17 01:12:12+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/y...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
25,2017-10-14 23:09:03+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/B...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,33.95335,-117.396156
26,2017-09-26 23:22:40+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/J...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
27,2017-09-23 00:51:17+00:00,"I'm at @Subway in Riverside, CA https://t.co/i...","{'username': 'mizplum95', 'id': 41980884, 'dis...","Riverside, CA",33.95335,-117.396156
28,2017-09-20 01:48:23+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/y...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
29,2017-09-09 19:25:17+00:00,"Healthy lunch (at @SUBWAY in Riverside, CA) ht...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
30,2017-09-05 06:43:35+00:00,@SUBWAY You guys just lost a ton of customers ...,"{'username': 'ASBSmartBiz', 'id': 1250866771, ...","Las Vegas, NV",33.95335,-117.396156
31,2017-08-28 18:34:59+00:00,Even more ghetto fabulous. (at @SUBWAY in More...,"{'username': 'ocabj', 'id': 14530895, 'display...","Riverside, CA",33.95335,-117.396156
32,2017-07-13 04:24:35+00:00,@SUBWAY Can you explain WHY your salads cost $...,"{'username': 'Sa_Ni_Bo', 'id': 3257626260, 'di...","California, USA",33.95335,-117.396156
33,2017-07-08 02:40:13+00:00,@SUBWAY - WTH with the chicken inside your Ces...,"{'username': 'sean_n_deb', 'id': 3237280274, '...",,33.95335,-117.396156
34,2017-06-20 02:57:38+00:00,@SUBWAY got home with my order to find out my ...,"{'username': 'FindingElFuture', 'id': 85501762...","Riverside, CA",33.95335,-117.396156
35,2017-06-19 05:02:19+00:00,@WastonKid @SUBWAY Bruh why you @ subway lmao,"{'username': '_LittleBigDavid', 'id': 51386457...",,33.95335,-117.396156
36,2017-02-02 03:24:55+00:00,@subway next to cbu 🖕,"{'username': '_JohnnyM16', 'id': 2549216984, '...",Spain without the S,33.95335,-117.396156
37,2017-01-30 08:14:43+00:00,Yo @subway can we wear these? https://t.co/nRZ...,"{'username': '_JohnnyM16', 'id': 2549216984, '...",Spain without the S,33.95335,-117.396156
38,2016-11-30 02:16:35+00:00,"Dinner (at @SUBWAY in Riverside, CA) https://t...","{'username': 'knelsonvsi', 'id': 23367384, 'di...","California, Riverside",33.95335,-117.396156
39,2016-11-29 03:37:20+00:00,hello @SUBWAY yea I was eating my sandwich and...,"{'username': 'babyzayda', 'id': 840588254, 'di...",pride rock,33.95335,-117.396156
40,2016-10-25 23:06:00+00:00,Getting a 6 inch sub of the day (at @SUBWAY in...,"{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
41,2016-09-19 03:39:49+00:00,s/o to all the @SUBWAY sandwich artists who ma...,"{'username': 'senko_14', 'id': 65823157, 'disp...",Pico Rivera,33.95335,-117.396156
42,2016-09-03 07:31:53+00:00,@Subway STOP hiring douchebags!,"{'username': 'Hoboe_Joe', 'id': 591227662, 'di...",,33.95335,-117.396156
43,2016-07-03 19:44:27+00:00,"I'm at @SUBWAY in Riverside, CA https://t.co/S...","{'username': 'wgerickson66', 'id': 247141436, ...","Katy, TX",33.95335,-117.396156
44,2016-05-04 01:01:12+00:00,"Spicy Italian baby! (at @SUBWAY in Riverside, ...","{'username': 'disneytoni', 'id': 263591835, 'd...","Riverside, CA",33.95335,-117.396156
45,2016-03-25 19:09:45+00:00,@SUBWAY online ordering is fantastic!,"{'username': 'kt_duprey', 'id': 1228267903, 'd...",,33.95335,-117.396156
46,2016-03-21 00:36:05+00:00,@SUBWAY gave me the wrong bread I was lowkey s...,"{'username': 'AlbertoBro_', 'id': 1679190985, ...",Valium Village,33.95335,-117.396156
47,2016-02-23 20:51:55+00:00,I wish I lived in Seattle to have endless free...,"{'username': 'edgr_grcia', 'id': 23968322, 'di...","Corona, CA",33.95335,-117.396156
48,2016-02-04 07:26:59+00:00,@lessllyzamoraa @SUBWAY not cuz of her ass or...,"{'username': 'yatzfigueroaa', 'id': 3389928124...",,33.95335,-117.396156

,date,content,user,user_location,lat,lng
0,2021-07-15 18:32:43+00:00,@Alloystang @SUBWAY 👀 Wow.....,"{'username': '00WabiSabi00', 'id': 90988597147...","Granite Bay, CA",38.752122,-121.288006
1,2021-05-23 17:19:20+00:00,@barshoelife @BriMott @SUBWAY You’d know all a...,"{'username': 'rred1178', 'id': 842223949593292...","Rocklin, CA",38.752122,-121.288006
2,2021-03-02 04:02:12+00:00,@SUBWAY By the way it would have been nice at ...,"{'username': 'Billg8136498900', 'id': 13502848...","Roseville, CA",38.752122,-121.288006

,date,content,user,user_location,lat,lng
0,2021-07-13 22:28:55+00:00,@SUBWAY You missed the boat. My girlfriend and...,"{'username': 'handlefortim', 'id': 94443275701...","Sacramento, CA",38.581572,-121.4944
1,2021-07-12 19:24:11+00:00,Hey @SUBWAY bring back ROAST BEEF!!!!,"{'username': 'Ca_Country_Girl', 'id': 38193673...",Sacramento,38.581572,-121.4944
2,2021-07-12 17:23:25+00:00,"@AP_Planner @SUBWAY No tuna? Oh, wait ...","{'username': 'GinaSpadafori', 'id': 49013407, ...",Sacramento,38.581572,-121.4944
3,2021-06-29 23:47:31+00:00,@SUBWAY @sier41396 Haha! Bullshit,"{'username': 'TimHeadAdvocate', 'id': 12237608...","Sacramento, CA",38.581572,-121.4944
4,2021-06-29 23:46:47+00:00,@nesspalombo @SUBWAY Maybe that's what their T...,"{'username': 'TimHeadAdvocate', 'id': 12237608...","Sacramento, CA",38.581572,-121.4944
...,...,...,...,...,...,...
171,2012-11-07 20:48:37+00:00,Pregame feast/ritual @subnatomas @subway #king...,"{'username': 'Scott_Fresh', 'id': 223650885, '...",Northern California,38.581572,-121.4944
172,2012-07-06 23:59:23+00:00,Probably the most satisfying trip to @Subway e...,"{'username': 'codytlove', 'id': 65254573, 'dis...","Syracuse, New York",38.581572,-121.4944
173,2012-06-06 17:51:58+00:00,@SUBWAY I would #AddVocado to the BLT!,"{'username': 'smkotar', 'id': 252609803, 'disp...","Novato, CA",38.581572,-121.4944
174,2012-01-26 01:27:18+00:00,I'm at @Subway in Natomas getting ready to #Ea...,"{'username': 'stocktanian', 'id': 44659486, 'd...","Sacramento, CA",38.581572,-121.4944
175,2011-08-30 19:25:38+00:00,I need to eat more @SubWay,"{'username': 'stocktanian', 'id': 44659486, 'd...","Sacramento, CA",38.581572,-121.4944

,date,content,user,user_location,lat,lng
0,2020-11-09 08:20:59+00:00,@RaiderDerekCarr @derekcarrqb @SUBWAY @SportsC...,"{'username': 'zukeferd', 'id': 116670961, 'dis...","Monterey Bay Area, USA",36.677736,-121.6555
1,2020-10-16 03:09:36+00:00,@SUBWAY Ireland says youre not really making b...,"{'username': 'DeepDickDadd', 'id': 11430677096...","Marina, California",36.677736,-121.6555
2,2020-09-11 20:42:04+00:00,@SUBWAY @artburgerrrr Nobody:\n@subway:,"{'username': 'omg_arianahh', 'id': 334875695, ...",,36.677736,-121.6555
3,2020-05-19 21:01:34+00:00,I added two cookies to my @DoorDash @SUBWAY or...,"{'username': 'davidciani', 'id': 821199, 'disp...","Marina, CA",36.677736,-121.6555
4,2020-01-31 21:46:35+00:00,@SUBWAY bring back jalepeno cheddar bread and ...,"{'username': 'thailenol_', 'id': 1328131812, '...",$thailenol,36.677736,-121.6555
5,2020-01-05 20:15:57+00:00,@DoorDash I have a @SUBWAY gift card \nI’m sic...,"{'username': 'thailenol_', 'id': 1328131812, '...",$thailenol,36.677736,-121.6555
6,2019-12-17 20:31:16+00:00,@SUBWAY why don’t you allow your employees to ...,"{'username': 'Conlabrisa', 'id': 7367172399074...","Las Vegas, NV",36.677736,-121.6555
7,2019-07-02 04:20:24+00:00,@LongMasterWolf @sssssparkers @rysimmons When ...,"{'username': 'ChinoDeGuzwald', 'id': 810406811...","California, USA",36.677736,-121.6555
8,2018-05-26 23:36:51+00:00,Lowkey felt a little offended the @SUBWAY work...,"{'username': 'Reckless_Juwan', 'id': 251387540...","Salinas, CA",36.677736,-121.6555
9,2017-09-06 06:46:11+00:00,Hey @SUBWAY why did you take BLT off the menu ...,"{'username': 'wthayle', 'id': 112064310, 'disp...",,36.677736,-121.6555
10,2017-08-29 22:22:59+00:00,Saw a @SUBWAY employee cut meat and veggies wi...,"{'username': 'Blaizie', 'id': 420138900, 'disp...",,36.677736,-121.6555
11,2016-07-13 23:02:53+00:00,I like how most of the @Subway Twitter rn is t...,"{'username': 'thndrstrike', 'id': 629658334, '...",in a different place,36.677736,-121.6555
12,2015-12-31 20:07:16+00:00,"I'm at @Subway in Marina, CA https://t.co/Nehu...","{'username': 'WEIRDO47', 'id': 52103959, 'disp...","Monterey, CA",36.677736,-121.6555
13,2015-01-01 17:05:13+00:00,Subway @subway. http://t.co/YcVzohRjit #Salina...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",36.677736,-121.6555
14,2014-10-31 19:22:49+00:00,Is there a @SUBWAY subsidy for #SocialWork/ers?,"{'username': 'NachoSocialWork', 'id': 29474987...","Monterey, California",36.677736,-121.6555

,date,content,user,user_location,lat,lng
0,2021-07-08 08:29:37+00:00,"If @SUBWAY and @Starbucks merged, what would t...","{'username': '2AD3ADVeteran', 'id': 7641350965...","Colton, CA",34.108344,-117.289764
1,2021-06-23 19:39:33+00:00,Damn y'all did yall best to deny it but DNA sh...,"{'username': 'TJ_the_ripper', 'id': 460879551,...","California, USA",34.108344,-117.289764
2,2021-05-02 00:38:00+00:00,@SUBWAY So I see you're using the anti-America...,"{'username': 'bryonthor', 'id': 23559119, 'dis...","Redlands, CA",34.108344,-117.289764
3,2021-04-20 05:45:24+00:00,"I'm at @SUBWAY in Rialto, CA w/ @cuccabug http...","{'username': 'Sir_Hit_Man', 'id': 357121602, '...","Corona, CA",34.108344,-117.289764
4,2019-07-24 17:08:15+00:00,@SUBWAY Too bad it doesn't look like this when...,"{'username': 'blondcurls', 'id': 277728203, 'd...",Southern California,34.108344,-117.289764
...,...,...,...,...,...,...
57,2013-01-02 16:54:59+00:00,If only @SUBWAY made deliveries!,"{'username': 'FrankiSaysRelx', 'id': 281179593...",92553,34.108344,-117.289764
58,2012-08-10 18:13:29+00:00,Showed up a whole hr early to work. Gunnaa tre...,"{'username': 'smileliksam', 'id': 66394677, 'd...","Sugar Land, TX",34.108344,-117.289764
59,2012-07-13 19:33:26+00:00,@Starbucks beat me to the punch... Barista del...,"{'username': 'GNAdv', 'id': 15490712, 'display...","Omaha, NE",34.108344,-117.289764
60,2011-07-15 19:33:08+00:00,@subway :),"{'username': 'littlevero40', 'id': 71964422, '...",r-ToWn,34.108344,-117.289764
61,2011-01-22 02:43:08+00:00,@subway with my bois #nohomo,"{'username': 'green_ste', 'id': 92222387, 'dis...",,34.108344,-117.289764

,date,content,user,user_location,lat,lng
0,2021-07-15 18:18:05+00:00,@SUBWAY Lost business forever! Choose a patri...,"{'username': 'ProVisionWM', 'id': 828745798380...","San Diego, CA",32.715328,-117.157256
1,2021-07-15 01:21:11+00:00,@SUBWAY spent a lot of damn money on their rec...,"{'username': 'nailsbykaylyn', 'id': 1219787582...","San Diego, CA",32.715328,-117.157256
2,2021-07-14 18:09:30+00:00,@SUBWAY Shut your mouth https://t.co/h39sxI1UsR,"{'username': 'angelo_rocko', 'id': 80562391797...","San Diego, CA",32.715328,-117.157256
3,2021-07-14 05:07:26+00:00,@Katniss_Amc @SUBWAY @TradesTrey TBH Ive been ...,"{'username': 'sandiegoAPE', 'id': 136168560188...","San Diego, CA",32.715328,-117.157256
4,2021-07-14 04:48:50+00:00,@SUBWAY Tuna?,"{'username': 'traveler952', 'id': 1486255320, ...",San Diego,32.715328,-117.157256
5,2021-07-14 04:16:42+00:00,@SUBWAY Trying to direct attention away from t...,"{'username': 'v1nn1e', 'id': 16266078, 'displa...","San Diego, CA",32.715328,-117.157256
6,2021-07-14 04:00:57+00:00,@SUBWAY Oven roasted wild caught salmon is the...,"{'username': 'davidtanny2021', 'id': 134996932...",San Diego,32.715328,-117.157256
7,2021-07-14 02:00:27+00:00,@SUBWAY is the definition of Corporate Lies an...,"{'username': 'EytonShalom', 'id': 527160533, '...","San Diego, CA",32.715328,-117.157256
8,2021-07-13 21:30:38+00:00,@Subway and this #EatFreshRefresh is a joke co...,"{'username': 'rashonts', 'id': 34217514, 'disp...","San Diego, CA",32.715328,-117.157256
9,2021-07-13 20:03:05+00:00,@SUBWAY John Chidsey can say what he wants. Bu...,"{'username': 'bladesofsteel42', 'id': 14120816...","San Diego, CA",32.715328,-117.157256
10,2021-07-13 11:56:16+00:00,@SUBWAY No seafood and crab??? Bring it back yo,"{'username': 'jarin', 'id': 1270781, 'displayn...","San Diego, CA",32.715328,-117.157256
11,2021-07-10 00:44:37+00:00,I decided to message @SUBWAY about the terribl...,"{'username': 'Cptsugarbear', 'id': 85945971, '...","San Diego, CA",32.715328,-117.157256
12,2021-07-09 04:11:29+00:00,I wonder if all @SUBWAY stores make a habit of...,"{'username': 'Cptsugarbear', 'id': 85945971, '...","San Diego, CA",32.715328,-117.157256
13,2021-07-07 22:26:02+00:00,@BlackBernieBabe @SUBWAY Come on now. Girl you...,"{'username': 'NegansKatt', 'id': 1901619061, '...","San Diego, CA",32.715328,-117.157256
14,2021-07-07 22:11:17+00:00,@will_lamf @SUBWAY Oh my God I forgot about th...,"{'username': 'NegansKatt', 'id': 1901619061, '...","San Diego, CA",32.715328,-117.157256
15,2021-07-07 22:00:59+00:00,Are they going to make their sandwiches taste ...,"{'username': 'NegansKatt', 'id': 1901619061, '...","San Diego, CA",32.715328,-117.157256
16,2021-07-07 19:33:12+00:00,"@foxla @subway. Is the 1M free sandwiches, all...","{'username': 'daveup2bat', 'id': 143449715, 'd...","San Diego, California",32.715328,-117.157256

,date,content,user,user_location,lat,lng
0,2021-07-15 18:40:43+00:00,@SUBWAY those are some really premium avocados...,"{'username': '_angleofrepose_', 'id': 26546793...","San Francisco, CA",37.774931,-122.419417
1,2021-07-15 13:56:08+00:00,@SUBWAY we have for years eaten Subway weekly....,"{'username': 'DrMal11', 'id': 1208041679355367...","San Francisco, CA",37.774931,-122.419417
2,2021-07-14 01:11:43+00:00,@SUBWAY W@,"{'username': 'SpecialEdSpac', 'id': 1307215359...","San Francisco, CA",37.774931,-122.419417
3,2021-07-13 20:27:46+00:00,@SUBWAY When will you #AcceptDoge \nAsking for...,"{'username': 'Padraic92996190', 'id': 13885083...","San Francisco, CA",37.774931,-122.419417
4,2021-07-13 15:46:49+00:00,"@TonyBrunoShow @SUBWAY ""Really now? Screw em! ...","{'username': 'rich415Media', 'id': 19365985, '...","San Francisco, CA",37.774931,-122.419417
...,...,...,...,...,...,...
2001,2011-12-11 21:00:10+00:00,When your hungry and broke and like to eat hea...,"{'username': 'TaylorLeeGirl', 'id': 21272057, ...",San Francisco,37.774931,-122.419417
2002,2011-11-28 20:14:38+00:00,The creamy broccoli and cheese soup from @SUBW...,"{'username': 'taylen24', 'id': 46507453, 'disp...","Sactown, CA",37.774931,-122.419417
2003,2011-11-13 22:08:52+00:00,I hate when @subway gives me dry bread.,"{'username': 'TheCsiz', 'id': 5638382, 'displa...",San Francisco,37.774931,-122.419417
2004,2011-11-07 01:39:00+00:00,"@Subway, why u cook meatballs and soup in plas...","{'username': 'daveisdynamic', 'id': 94403836, ...",San Francisco,37.774931,-122.419417
2005,2011-04-25 16:43:00+00:00,"RT @meesheewoo: I just got a 6"" breakfast sand...","{'username': 'unthink11', 'id': 17474892, 'dis...","ÜT: 38.179063,-122.128921",37.774931,-122.419417

,date,content,user,user_location,lat,lng
0,2021-07-14 19:14:48+00:00,Can @SUBWAY bring back ice tea please,"{'username': 'muzik4life408', 'id': 318741454,...","san jose,Ca",37.339386,-121.894956
1,2021-07-14 05:34:49+00:00,@SUBWAY I would like to have actual tuna in th...,"{'username': '33ACDD', 'id': 13655825189471805...","San Jose, CA",37.339386,-121.894956
2,2021-07-14 01:39:37+00:00,@SUBWAY Do these poor people know what their a...,"{'username': 'toolbear74', 'id': 14294884, 'di...","San Jose, CA",37.339386,-121.894956
3,2021-07-14 01:35:52+00:00,@louegde @SneakyTruth093 @4lisaguerrero @garre...,"{'username': 'toolbear74', 'id': 14294884, 'di...","San Jose, CA",37.339386,-121.894956
4,2021-07-13 11:24:59+00:00,@PalmerLuckey @23andMe @SUBWAY Subway sells yo...,"{'username': 'toolbear74', 'id': 14294884, 'di...","San Jose, CA",37.339386,-121.894956
...,...,...,...,...,...,...
277,2012-06-30 15:27:12+00:00,"Yelp gave me the ""Dangerous Badge"" because I w...","{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.339386,-121.894956
278,2012-06-28 20:22:08+00:00,@SUBWAY - hot sauce = nice addition to the con...,"{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.339386,-121.894956
279,2012-05-20 18:27:00+00:00,@swapniltamse dude if u start working @subway ...,"{'username': 'blackpearl3288', 'id': 96481507,...","San Jose, CA",37.339386,-121.894956
280,2012-05-08 16:44:06+00:00,"@SUBWAY yes, it's WAAAY too salty!","{'username': 'BuddySoto', 'id': 28961027, 'dis...","Sunnyvale, CA",37.339386,-121.894956
281,2011-10-20 22:56:02+00:00,yeah buddy @SUBWAY on deck!!!,"{'username': 'i_AmTheBay', 'id': 25864322, 'di...","Bay Area, CA",37.339386,-121.894956

,date,content,user,user_location,lat,lng
0,2021-06-24 07:30:06+00:00,@SUBWAY explain this https://t.co/4g84zozK1L,"{'username': 'LyricalVapor', 'id': 1688762208,...","East Oakland, CA",37.724931,-122.156078
1,2021-06-23 05:31:29+00:00,@Complex Haven’t eaten at @SUBWAY in years and...,"{'username': 'LakeshoreFancy', 'id': 136619176...","Oakland, CA",37.724931,-122.156078
2,2021-05-18 20:23:49+00:00,@SUBWAY Tuna Wrap with some Lays baked chips i...,"{'username': 'Close2God510', 'id': 32390765, '...","East Oakland, CA",37.724931,-122.156078
3,2021-04-24 21:42:53+00:00,"Munchies (at @Subway in San Leandro, CA) https...","{'username': 'dldincali', 'id': 21883527, 'dis...",N 37°34' 0'' / W 77°23' 0'',37.724931,-122.156078
4,2021-04-18 00:42:28+00:00,@SUBWAY y’all not saying nothing bout this gam...,"{'username': 'Blacking96', 'id': 948601632, 'd...","Oakland, CA",37.724931,-122.156078
...,...,...,...,...,...,...
164,2013-08-09 00:23:07+00:00,"I'm at @Subway (Hayward, CA) http://t.co/2MYyF...","{'username': 'yoda24man', 'id': 262433220, 'di...","Castro Valley, Ca",37.724931,-122.156078
165,2013-05-09 02:49:17+00:00,@SUBWAY every day they now know he order by me...,"{'username': 'aSwarm0fHobo', 'id': 1057287296,...","Alameda, CA",37.724931,-122.156078
166,2013-05-09 02:48:34+00:00,@SUBWAY my friend has gone to the same subway ...,"{'username': 'aSwarm0fHobo', 'id': 1057287296,...","Alameda, CA",37.724931,-122.156078
167,2013-01-09 05:57:32+00:00,"@SUBWAY No specials this month,","{'username': 'emvalencia', 'id': 45060638, 'di...","Fremont, CA",37.724931,-122.156078
168,2011-11-17 05:00:45+00:00,just funked up a cold cut combo footlong from ...,"{'username': 'FooBear408', 'id': 94450677, 'di...",Oakland,37.724931,-122.156078

,date,content,user,user_location,lat,lng
0,2020-05-30 22:13:29+00:00,@ZavierPedro @SUBWAY Nope,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.143372,-117.166144
1,2020-05-30 20:12:32+00:00,@juaquin06264198 @SUBWAY Nah,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.143372,-117.166144
2,2020-05-30 20:05:26+00:00,@ThanksBilly @SUBWAY Onions,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.143372,-117.166144
3,2020-05-20 00:18:28+00:00,"I'm at @SUBWAY in Escondido, CA https://t.co/Z...","{'username': 'HereComsTrouble', 'id': 47407757...","Flight 504, Cali 4 Sho !",33.143372,-117.166144
4,2019-10-16 19:47:01+00:00,"No matter how many different ways I order it, ...","{'username': 'RockFam5', 'id': 1062279709, 'di...","Murrieta, CA",33.143372,-117.166144
...,...,...,...,...,...,...
62,2013-10-10 20:13:30+00:00,Lunch (at @SUBWAY) http://t.co/CgsK6oUbrz,"{'username': 'KrissySD', 'id': 31630823, 'disp...",San Diego,33.143372,-117.166144
63,2013-09-28 19:03:27+00:00,"I'm at @Subway #50755 (Escondido, CA) http://t...","{'username': 'cesar8ramirez', 'id': 20942422, ...","Temecula, CA",33.143372,-117.166144
64,2013-09-26 23:23:03+00:00,"I'm at @Subway #50755 (Escondido, CA) http://t...","{'username': 'AmA760', 'id': 112495685, 'displ...","San Diego, CA",33.143372,-117.166144
65,2013-09-08 19:30:17+00:00,"I'm at @Subway (Vista, CA) http://t.co/aiU6dsJscV","{'username': 'oceangirl6108', 'id': 18150059, ...",,33.143372,-117.166144
66,2013-08-23 20:53:36+00:00,Mmm (at @Subway #50755) http://t.co/xLxeb6IUTU,"{'username': 'AmA760', 'id': 112495685, 'displ...","San Diego, CA",33.143372,-117.166144

,date,content,user,user_location,lat,lng
0,2020-11-04 04:44:44+00:00,@gov_ravi @BurgerKing @kfc @SUBWAY @dominos @p...,"{'username': 'MDMGeek', 'id': 42079656, 'displ...","Bay Area, CA",37.562992,-122.325525

,date,content,user,user_location,lat,lng
0,2021-07-13 20:05:27+00:00,@willrowactor @SUBWAY I wish him a speedy reco...,"{'username': 'SandyRegion', 'id': 135865990454...",Midway City,33.745572,-117.867833
1,2021-07-13 19:25:29+00:00,@toolbear74 @23andMe @SUBWAY You think Subway ...,"{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.745572,-117.867833
2,2021-07-13 17:33:47+00:00,@SUBWAY this is as pathetic as Jared https://t...,"{'username': 'ReneeGiraldy', 'id': 24547328, '...","Irvine,CA",33.745572,-117.867833
3,2021-07-13 08:14:12+00:00,"@toolbear74 @23andMe @SUBWAY If by ""processed""...","{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.745572,-117.867833
4,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.745572,-117.867833
...,...,...,...,...,...,...
430,2012-05-05 02:44:28+00:00,A lot of magic is happening right now. Eating ...,"{'username': 'LuiCalibre', 'id': 42300444, 'di...","New Orleans, LA",33.745572,-117.867833
431,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.745572,-117.867833
432,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.745572,-117.867833
433,2011-04-08 03:48:42+00:00,Having veggie sub from @subway. #latedinner,"{'username': 'iRockCardigans', 'id': 187880318...",,33.745572,-117.867833
434,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.745572,-117.867833

,date,content,user,user_location,lat,lng
0,2021-07-08 02:07:43+00:00,Can we call the Subway tuna crisis the PaniniD...,"{'username': 'Antonio71539194', 'id': 14128367...","Las Vegas, NV",34.420831,-119.698189
1,2020-05-11 09:10:58+00:00,@shannonrwatts @SUBWAY Sic sic sic please keep...,"{'username': 'PentlandDeborah', 'id': 80012682...",,34.420831,-119.698189
2,2019-05-28 20:41:30+00:00,When @SUBWAY ask me what size sandwich I want....,"{'username': 'LauraCooper92', 'id': 406999049,...","Poole, England",34.420831,-119.698189
3,2018-12-28 00:16:50+00:00,@hooleil @SUBWAY NOOOOOOOOO,"{'username': 'LeafyEricScott', 'id': 143927237...","Massachusetts, USA",34.420831,-119.698189
4,2018-10-29 20:15:35+00:00,@SBCity here’s something I’m pondering as I’m ...,"{'username': 'BihJoBe', 'id': 1031561064, 'dis...","Santa Barbara, CA",34.420831,-119.698189
5,2018-10-26 17:03:32+00:00,"The dumbest commercial on pandora, hands down ...","{'username': 'ShawnMilli', 'id': 33994649, 'di...",Queens NYC-California,34.420831,-119.698189
6,2018-03-06 20:12:52+00:00,Lunch with the juror (at @SUBWAY in Santa Barb...,"{'username': 'BihJoBe', 'id': 1031561064, 'dis...","Santa Barbara, CA",34.420831,-119.698189
7,2018-02-14 20:23:06+00:00,@SUBWAY you need to get some help to the 5146 ...,"{'username': 'mister_corndog', 'id': 15326718,...","California, USA",34.420831,-119.698189
8,2017-09-19 04:55:38+00:00,"It's official, @SUBWAY decides enough time has...","{'username': 'theanalartist', 'id': 518188856,...","Los Angeles, CA",34.420831,-119.698189
9,2016-11-03 23:48:02+00:00,I ate too much 😩 @SUBWAY did me right but damn...,"{'username': 'msandysands', 'id': 4794984733, ...",United States,34.420831,-119.698189
10,2016-09-28 18:21:24+00:00,I could legitimately be the poster boy for @SU...,"{'username': 'CamGable', 'id': 567844861, 'dis...","Santa Barbara, CA",34.420831,-119.698189
11,2015-03-26 21:19:03+00:00,@SUBWAY @ART_awildflower and you didn't tell me,"{'username': 'cjruu', 'id': 106948537, 'displa...",Santa Barbara | San Bernardino,34.420831,-119.698189
12,2015-03-26 20:43:41+00:00,Apperently @SUBWAY doesn't have $5 foot longs ...,"{'username': 'cjruu', 'id': 106948537, 'displa...",Santa Barbara | San Bernardino,34.420831,-119.698189
13,2015-01-14 19:42:12+00:00,“@KellyOlexa: @Alexandrafunfit @SUBWAY they sh...,"{'username': 'Alexandrafunfit', 'id': 13746254...",Santa Barbara,34.420831,-119.698189
14,2015-01-14 19:40:53+00:00,Decision time - stay in #chickenchat or drive ...,"{'username': 'Alexandrafunfit', 'id': 13746254...",Santa Barbara,34.420831,-119.698189
15,2015-01-14 19:39:01+00:00,“@KellyOlexa: you are the bomb. always #chic...,"{'username': 'Alexandrafunfit', 'id': 13746254...",Santa Barbara,34.420831,-119.698189
16,2015-01-14 19:30:41+00:00,I am joining #chickenchat from the gym to say ...,"{'username': 'Alexandrafunfit', 'id': 13746254...",Santa Barbara,34.420831,-119.698189
17,2014-07-24 03:20:39+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
18,2014-04-25 00:25:32+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
19,2014-04-19 05:24:08+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
20,2014-04-11 21:53:09+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
21,2014-04-04 23:21:07+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
22,2014-03-11 08:51:48+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'captmayham', 'id': 77341112, 'di...",goleta CA,34.420831,-119.698189
23,2014-02-26 01:05:16+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
24,2014-02-20 13:24:20+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'captmayham', 'id': 77341112, 'di...",goleta CA,34.420831,-119.698189
25,2014-02-19 02:30:19+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
26,2014-02-08 00:30:51+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
27,2014-02-01 02:58:30+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
28,2014-01-23 20:23:33+00:00,#IWorkForAHA “@AHACentralCoast: Why Michelle O...,"{'username': 'sophialitsey', 'id': 845836512, ...","San Diego, CA",34.420831,-119.698189
29,2014-01-09 07:11:45+00:00,"Was gonna go to McDonald's, but chose to make ...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
30,2014-01-06 21:34:01+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
31,2014-01-04 04:02:09+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
32,2014-01-03 11:39:57+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'captmayham', 'id': 77341112, 'di...",goleta CA,34.420831,-119.698189
33,2014-01-01 23:17:33+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
34,2013-12-28 00:50:36+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
35,2013-12-21 05:03:02+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
36,2013-12-14 03:46:39+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
37,2013-12-05 20:35:35+00:00,Trynna eat fresh (at @SUBWAY) http://t.co/oBSo...,"{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
38,2013-11-03 00:39:44+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
39,2013-11-01 21:41:01+00:00,Ate fresh (at @SUBWAY) http://t.co/S5cCo8oTbK,"{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
40,2013-10-25 08:55:51+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
41,2013-10-24 01:26:58+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
42,2013-10-10 05:51:40+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
43,2013-10-04 00:22:51+00:00,"I'm at @SUBWAY (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
44,2013-10-03 12:46:47+00:00,"I'm at @Subway (Santa Barbara, CA) http://t.co...","{'username': 'captmayham', 'id': 77341112, 'di...",goleta CA,34.420831,-119.698189
45,2013-09-27 22:12:15+00:00,"I'm at @Subway (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
46,2013-09-11 20:41:27+00:00,"I'm at @Subway (Goleta, CA) w/ 2 others [pic]:...","{'username': '_e0da_', 'id': 33687393, 'displa...","Santa Barbara, CA",34.420831,-119.698189
47,2013-09-10 20:33:52+00:00,Lunchtime (at @Subway) http://t.co/iBoGOEd4t0,"{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
48,2013-09-06 22:21:13+00:00,"I'm at @Subway (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
49,2013-08-23 21:52:10+00:00,"I'm at @Subway (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
50,2013-08-20 02:04:22+00:00,"I'm at @Subway (Santa Barbara, CA) http://t.co...","{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
51,2013-08-06 21:38:30+00:00,Eatin FRESH (at @Subway) http://t.co/XkFTeQarqC,"{'username': 'iAmJayAre', 'id': 23107894, 'dis...",Cali MI  LA,34.420831,-119.698189
52,2013-06-11 04:39:09+00:00,man my Subway burps taste like tuna and I didn...,"{'username': 'andrewjventura', 'id': 19140464,...",CA,34.420831,-119.698189
53,2013-04-18 23:22:53+00:00,@blakegriffin32 how is the back feeling? @LAC...,"{'username': 'mdmarquis', 'id': 42045740, 'dis...","Laguna Beach, CA",34.420831,-119.698189
54,2012-07-04 06:04:20+00:00,@SUBWAY when will you have the vegan menu in t...,"{'username': 'TheHolisticLove', 'id': 41496228...",the central coast,34.420831,-119.698189

,date,content,user,user_location,lat,lng
0,2021-07-15 00:56:28+00:00,#disappointed in @SUBWAY #EatFreshRefresh,"{'username': 'vsolanoy', 'id': 11192292, 'disp...","Silicon Valley, California",37.354108,-121.955236
1,2021-07-14 19:14:48+00:00,Can @SUBWAY bring back ice tea please,"{'username': 'muzik4life408', 'id': 318741454,...","san jose,Ca",37.354108,-121.955236
2,2021-07-14 05:34:49+00:00,@SUBWAY I would like to have actual tuna in th...,"{'username': '33ACDD', 'id': 13655825189471805...","San Jose, CA",37.354108,-121.955236
3,2021-07-14 04:19:47+00:00,I’d like to see the cost of the @serenawilliam...,"{'username': 'CVanchieri6', 'id': 56291872, 'd...","Mountain View, CA",37.354108,-121.955236
4,2021-07-14 01:39:37+00:00,@SUBWAY Do these poor people know what their a...,"{'username': 'toolbear74', 'id': 14294884, 'di...","San Jose, CA",37.354108,-121.955236
...,...,...,...,...,...,...
327,2012-06-28 20:22:08+00:00,@SUBWAY - hot sauce = nice addition to the con...,"{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.354108,-121.955236
328,2012-06-26 21:37:23+00:00,“@SUBWAY: #HonestHour I get the same sub so of...,"{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.354108,-121.955236
329,2012-05-20 18:27:00+00:00,@swapniltamse dude if u start working @subway ...,"{'username': 'blackpearl3288', 'id': 96481507,...","San Jose, CA",37.354108,-121.955236
330,2012-05-08 16:44:06+00:00,"@SUBWAY yes, it's WAAAY too salty!","{'username': 'BuddySoto', 'id': 28961027, 'dis...","Sunnyvale, CA",37.354108,-121.955236
331,2011-10-20 22:56:02+00:00,yeah buddy @SUBWAY on deck!!!,"{'username': 'i_AmTheBay', 'id': 25864322, 'di...","Bay Area, CA",37.354108,-121.955236

,date,content,user,user_location,lat,lng
0,2021-07-14 17:47:24+00:00,@CaptainOctavis @SUBWAY @CNN @BLMLA 🗽💯🇺🇸,"{'username': 'mrsanderson1979', 'id': 86166074...","Santa Clarita, CA",34.391664,-118.542586
1,2021-02-16 00:10:33+00:00,"I'm at @SUBWAY in Castaic, CA https://t.co/2mP...","{'username': 'AngelSailer', 'id': 904887926307...",,34.391664,-118.542586
2,2020-10-01 12:59:28+00:00,I want a turkey sandwich with extra mayo and F...,"{'username': 'shesahurrikane', 'id': 432543590...","Los Angeles, CA",34.391664,-118.542586
3,2020-05-23 01:20:38+00:00,@SUBWAY help 😭 https://t.co/mTvwFSHOk0,"{'username': 'jmHolub', 'id': 44718195, 'displ...","Los Angeles, CA",34.391664,-118.542586
4,2019-06-02 21:03:32+00:00,@SUBWAY why the hell don't you have gluten fre...,"{'username': 'katfran', 'id': 21064105, 'displ...","Los Angeles, CA",34.391664,-118.542586
...,...,...,...,...,...,...
116,2013-09-24 17:34:06+00:00,"@SUBWAY how about 25 burpees, 20 mtn climbers,...","{'username': 'lexiej_hardcore', 'id': 88119215...","Santa Clarita, CA",34.391664,-118.542586
117,2013-03-27 05:39:44+00:00,I just downed a @SUBWAY veggie delight like it...,"{'username': 'alexabrutledge', 'id': 23174975,...","Ventura, CA",34.391664,-118.542586
118,2013-02-19 16:30:52+00:00,@SUBWAY of course I am. #fanatic,"{'username': 'alexabrutledge', 'id': 23174975,...","Ventura, CA",34.391664,-118.542586
119,2013-01-31 05:37:30+00:00,"@Nuggetry_OG @subway yeah real bacon isn't, th...","{'username': 'taylor_hickman', 'id': 532782797...","awesometown, CA",34.391664,-118.542586
120,2013-01-31 05:17:14+00:00,what the fuck @subway havin me spend an extra ...,"{'username': 'taylor_hickman', 'id': 532782797...","awesometown, CA",34.391664,-118.542586

,date,content,user,user_location,lat,lng
0,2020-03-25 20:24:02+00:00,@rooshv I hope it’s @SUBWAY,"{'username': 'nick_is_solid', 'id': 2201409482...","Atlanta Maria, CA",34.953033,-120.435719
1,2017-06-15 20:23:16+00:00,"O (at @SUBWAY in Santa Maria, CA) https://t.co...","{'username': 'GDPGaming', 'id': 1518843985, 'd...",,34.953033,-120.435719
2,2016-06-01 06:42:47+00:00,"I'm at @Subway in Santa Maria, CA https://t.co...","{'username': 'foxmoha96', 'id': 403330305, 'di...",Al Khobar,34.953033,-120.435719
3,2016-05-14 17:55:54+00:00,Went to @SUBWAY for two subs and came out with...,"{'username': 'Antony_97G', 'id': 391796049, 'd...",California,34.953033,-120.435719
4,2016-02-27 05:06:15+00:00,The Subway in Guadalupe is drive through 😍 @SU...,"{'username': 'BrewerClarissa', 'id': 232808466...",,34.953033,-120.435719
5,2015-01-04 20:24:33+00:00,@SUBWAY @jonnayorange,"{'username': 'JoshJuache01', 'id': 1135674008,...",California,34.953033,-120.435719
6,2014-08-27 02:11:33+00:00,@SUBWAY jalapeños #ProjectSubwaySweeps,"{'username': 'Oh_So_Gucci', 'id': 16943227, 'd...",,34.953033,-120.435719
7,2014-08-27 02:11:21+00:00,@SUBWAY olives #ProjectSubwaySweeps,"{'username': 'Oh_So_Gucci', 'id': 16943227, 'd...",,34.953033,-120.435719
8,2014-08-27 02:11:11+00:00,@SUBWAY spinach #ProjectSubwaySweeps,"{'username': 'Oh_So_Gucci', 'id': 16943227, 'd...",,34.953033,-120.435719

,date,content,user,user_location,lat,lng
0,2021-07-15 01:41:17+00:00,@SUBWAY Eat Fresh.... Interesting. How fresh w...,"{'username': 'SocalLindsay', 'id': 26328244, '...","Santa Monica, CA",34.019453,-118.491192
1,2021-07-14 02:03:27+00:00,@SUBWAY Might be better for you’re brand if yo...,"{'username': 'westsidepaesano', 'id': 12059259...","Venice, CA",34.019453,-118.491192
2,2021-07-13 16:34:04+00:00,@jillian0428 @NCSGI @SUBWAY 🤣😂😂🤣🤣😂,"{'username': 'TheLastPirateLA', 'id': 24813535...",Los Angeles #DTLA,34.019453,-118.491192
3,2021-07-13 13:20:04+00:00,@NCSGI @SUBWAY What? No tuna ?🤣😂🤣😂🤣😂 https://t...,"{'username': 'TheLastPirateLA', 'id': 24813535...",Los Angeles #DTLA,34.019453,-118.491192
4,2021-07-13 04:35:42+00:00,@SUBWAY can you puhhhlease do something about ...,"{'username': 'trixiepeyer', 'id': 4016103494, ...","Los Angeles, CA",34.019453,-118.491192
...,...,...,...,...,...,...
1168,2011-05-16 20:04:16+00:00,@subway going to lunch. get out of the way jar...,"{'username': 'luiscbandajr', 'id': 132328232, ...",90019,34.019453,-118.491192
1169,2011-04-28 20:22:50+00:00,A creature of habit: My @Starbucks baristas th...,"{'username': 'JimNaylr', 'id': 6981222, 'displ...","San Clemente, CA",34.019453,-118.491192
1170,2011-04-15 21:28:21+00:00,::: sPRiiinkLES! :::: juS' wRAPPed + up W()Rk...,"{'username': 'malibu_c0wgirl', 'id': 272139938...",d.t.LA /mempHiS.tn,34.019453,-118.491192
1171,2011-04-03 23:56:17+00:00,@MarkBolin @subway did i reply to this yet? W...,"{'username': 'williambrent', 'id': 15214778, '...","Hollywood, CA",34.019453,-118.491192
1172,2010-05-28 18:30:00+00:00,Getting some lunch @Subway before the game (@ ...,"{'username': 'skalush', 'id': 62561376, 'displ...","San Francisco, CA",34.019453,-118.491192

,date,content,user,user_location,lat,lng
0,2020-01-10 22:29:27+00:00,@JoannaClaus @SUBWAY Haha if only we had one i...,"{'username': 'HumCo707', 'id': 170894951, 'dis...","Santa Rosa, CA",38.440467,-122.714431
1,2020-01-10 21:28:41+00:00,@james_leedom @SUBWAY Hell yeah! Sandwich Spot...,"{'username': 'HumCo707', 'id': 170894951, 'dis...","Santa Rosa, CA",38.440467,-122.714431
2,2020-01-10 21:23:36+00:00,I wish I was as good as cutting an avocado lik...,"{'username': 'HumCo707', 'id': 170894951, 'dis...","Santa Rosa, CA",38.440467,-122.714431
3,2019-12-29 06:58:59+00:00,@ps_itslauren @SUBWAY we know,"{'username': 'zachyb30', 'id': 3074372510, 'di...",,38.440467,-122.714431
4,2018-10-30 19:19:14+00:00,@SUBWAY moves away from their flat bread optio...,"{'username': 'garyzface', 'id': 12988722, 'dis...","Texas, Oregon, California & NY",38.440467,-122.714431
5,2018-05-25 18:47:01+00:00,"I'm at @Subway in Rohnert Park, CA w/ @mel1177...","{'username': 'dochutch109', 'id': 234075609, '...",Not sure yet,38.440467,-122.714431
6,2018-04-02 20:43:05+00:00,@hanslarge @RoseanneOnABC @Microsoft @SUBWAY @...,"{'username': 'HopeSprings10', 'id': 1413061176...",Marin county - California,38.440467,-122.714431
7,2018-02-01 00:46:36+00:00,Went to @SUBWAY today and got a chicken sandwi...,"{'username': 'rosiegirl209', 'id': 50703044, '...",Your ♥,38.440467,-122.714431
8,2017-05-03 05:16:50+00:00,".@SUBWAY, @rubytuesday embrace REFORM for chic...","{'username': 'Betty_Lea', 'id': 482577233, 'di...","Florida, USA",38.440467,-122.714431
9,2017-03-12 20:32:11+00:00,I Would Rather Pee On\nThose Who Are Prejudice...,"{'username': 'CRISPIAN1017', 'id': 228319169, ...","Petaluma, CA",38.440467,-122.714431
10,2016-09-06 16:49:49+00:00,"6"" Oven-Roasted Chicken sandwich from @SUBWAY ...","{'username': 'Munkiy', 'id': 17531602, 'displa...","Santa Rosa, Ca.",38.440467,-122.714431
11,2016-03-01 05:22:10+00:00,@NatbyNature and @ReneeYoungWWE doing some sha...,"{'username': 'AnthonyKT1983', 'id': 2801136608...","Santa Rosa, CA",38.440467,-122.714431
12,2015-08-09 03:02:37+00:00,"Mom's spaghetti (at @Subway in Santa Rosa, CA)...","{'username': 'RockMan_Rock', 'id': 28388790, '...",,38.440467,-122.714431
13,2015-05-17 21:08:59+00:00,@jailene_morales @SUBWAY I know I love subway too,"{'username': 'Bellizer', 'id': 291518867, 'dis...",P.N.W.,38.440467,-122.714431
14,2015-05-17 21:02:40+00:00,@__maddz @SUBWAY grosssss I love subway,"{'username': 'Bellizer', 'id': 291518867, 'dis...",P.N.W.,38.440467,-122.714431
15,2014-07-02 07:37:36+00:00,@subway Subway / http://t.co/JHZPT1kmI4 #Santa...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",38.440467,-122.714431
16,2014-04-23 20:33:27+00:00,Seriously @subway. No more sourdough bread. Ha...,"{'username': 'idalia_topete', 'id': 701882400,...",North Bay,38.440467,-122.714431
17,2013-07-22 20:32:59+00:00,Haven't been here in a long time. No Korean in...,"{'username': 'Koreafornian', 'id': 321694121, ...","Santa Rosa, CA",38.440467,-122.714431

,date,content,user,user_location,lat,lng
0,2021-07-10 01:11:21+00:00,Had to come here instead since the last place ...,"{'username': 'keithrpillow', 'id': 16339693, '...",Los Angeles | Ventura County,34.269447,-118.781483
1,2021-02-07 22:43:47+00:00,@Grubhub @SUBWAY Tails 🤞,"{'username': 'BigSEXYIrma', 'id': 236085469, '...",USA,34.269447,-118.781483

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.954736,-118.212017
1,2021-07-13 19:32:24+00:00,I went to @SUBWAY for the first time in over a...,"{'username': 'padawanemily', 'id': 603852046, ...","South Gate, CA",33.954736,-118.212017
2,2021-07-09 16:06:13+00:00,@Lexon__ @Overgirltv @SUBWAY If this isn’t i’m...,"{'username': 'SSJ_KingNephy', 'id': 3268508971...","Paramount, California",33.954736,-118.212017
3,2021-04-20 02:19:16+00:00,@SUBWAY what’s the sub of the day,"{'username': 'jahgo97', 'id': 8124364865745018...","Los Angeles, CA",33.954736,-118.212017
4,2021-04-16 01:58:12+00:00,@SUBWAY I can see nothing but bread!,"{'username': 'Javie1916', 'id': 460609917, 'di...",LA,33.954736,-118.212017
5,2021-03-09 02:42:01+00:00,"I'm at @SUBWAY in Los Angeles, CA https://t.co...","{'username': 'Insane4now', 'id': 34710996, 'di...",Los Angeles,33.954736,-118.212017
6,2021-01-08 03:38:03+00:00,@Cmoyer @GeoffTBlosat @SUBWAY @pepsi @odysseyg...,"{'username': 'njh287', 'id': 21158648, 'displa...","Los Angeles, CA",33.954736,-118.212017
7,2020-09-18 01:29:14+00:00,@BAM_itzJake @SUBWAY Que te hico @SUBWAY ahora...,"{'username': 'johnnym9511', 'id': 996378800, '...","Huntington Park, CA",33.954736,-118.212017

,date,content,user,user_location,lat,lng
0,2021-07-14 06:45:38+00:00,@SUBWAY https://t.co/QkJfTztCvG,"{'username': 'RioKingdom1st', 'id': 1232310756...","Stockton, CA",37.957703,-121.290781
1,2021-07-13 15:18:32+00:00,@NCSGI @SUBWAY https://t.co/dGij0g7M36,"{'username': 'RioKingdom1st', 'id': 1232310756...","Stockton, CA",37.957703,-121.290781
2,2020-11-17 23:34:36+00:00,The tuna was great today @SUBWAY https://t.co/...,"{'username': 'EGZ66', 'id': 889694315454189568...",,37.957703,-121.290781
3,2020-11-04 19:45:21+00:00,@SUBWAY Five dollar ?,"{'username': 'EGZ66', 'id': 889694315454189568...",,37.957703,-121.290781
4,2020-01-04 01:05:24+00:00,Al fin encontré mi sopa de pollo. 😭 (at @SUBWA...,"{'username': 'jujogoru', 'id': 55930323, 'disp...",Chilangolandia (Cd. de México),37.957703,-121.290781
5,2019-12-14 22:36:23+00:00,Hey @FirehouseSubs 10 out of 10 meatball sandw...,"{'username': 'Spencer47342824', 'id': 11574498...","Wichita Falls, TX",37.957703,-121.290781
6,2019-09-11 20:27:12+00:00,Hey @SUBWAY your locations aren’t hovering the...,"{'username': 'Mike209D', 'id': 514074189, 'dis...",,37.957703,-121.290781
7,2019-05-20 22:25:19+00:00,Wishing today was a 3 Buck Monday game day :( ...,"{'username': 'stocktonports', 'id': 30397498, ...","Stockton, CA",37.957703,-121.290781
8,2019-05-14 01:49:26+00:00,How many hot dogs can you eat on 3 Buck Monday...,"{'username': 'stocktonports', 'id': 30397498, ...","Stockton, CA",37.957703,-121.290781
9,2019-04-09 01:15:33+00:00,"Gates are open! Pick up a $3 ticket, $3 hot do...","{'username': 'stocktonports', 'id': 30397498, ...","Stockton, CA",37.957703,-121.290781
10,2018-11-26 23:51:42+00:00,@DaltonHall99 @SUBWAY Lmao gotta use what u go...,"{'username': 'RaiderLos209', 'id': 70966834746...","Stockton, CA",37.957703,-121.290781
11,2018-07-10 19:14:26+00:00,"#foh (at @Subway in Stockton, CA) https://t.co...","{'username': 'dldincali', 'id': 21883527, 'dis...",N 37°34' 0'' / W 77°23' 0'',37.957703,-121.290781
12,2018-04-09 19:48:19+00:00,@SUBWAY @AnthonyKComedy But is it as rude as s...,"{'username': 'TheLifeofLouPOD', 'id': 87670846...","California, USA",37.957703,-121.290781
13,2018-03-25 03:14:59+00:00,"A short pit stop lol (at @Subway in Stockton, ...","{'username': '54stormywill54', 'id': 54463831,...","California, USA",37.957703,-121.290781
14,2017-08-31 19:33:36+00:00,Does anyone know why @SUBWAY charges extra for...,"{'username': 'TheFlashyArena', 'id': 235570200...","San Jose, CA",37.957703,-121.290781
15,2017-08-05 22:39:46+00:00,"I'm at @Subway in Stockton, CA https://t.co/7h...","{'username': 'SheilasCreation', 'id': 28869848...","Stockton, California",37.957703,-121.290781
16,2017-04-13 02:24:45+00:00,i never got a chance to try this @SUBWAY in to...,"{'username': 'jjjose74', 'id': 44430324, 'disp...",,37.957703,-121.290781
17,2017-03-13 22:21:08+00:00,Just had @TogosSandwiches for the first time i...,"{'username': 'REALGTHEKING', 'id': 1573859252,...",Worldwide,37.957703,-121.290781
18,2017-01-26 03:32:05+00:00,@SUBWAY 4,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
19,2017-01-26 03:32:01+00:00,@SUBWAY 3,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
20,2017-01-26 03:31:57+00:00,@SUBWAY 2,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
21,2017-01-24 11:16:01+00:00,@SUBWAY 5,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
22,2017-01-24 11:15:58+00:00,@SUBWAY 4,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
23,2017-01-24 11:15:54+00:00,@SUBWAY 3,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
24,2017-01-24 11:15:50+00:00,@SUBWAY 2,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
25,2017-01-24 11:15:47+00:00,@SUBWAY 1,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
26,2017-01-09 08:50:21+00:00,@SUBWAY 7,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
27,2017-01-09 08:50:17+00:00,@SUBWAY 6,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
28,2017-01-09 08:50:13+00:00,@SUBWAY 5,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
29,2017-01-09 08:50:09+00:00,@SUBWAY 4,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
30,2017-01-09 08:50:05+00:00,@SUBWAY 3,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
31,2017-01-09 08:50:01+00:00,@SUBWAY 2,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
32,2017-01-09 08:49:57+00:00,@SUBWAY 1,"{'username': 'EzioDfr', 'id': 7502173016521523...","California, USA",37.957703,-121.290781
33,2016-10-19 05:26:51+00:00,@mrboxingguru @RPopBox @SUBWAY lmfado 😂😂😂😂😂😂😂😂...,"{'username': 'TncTrini', 'id': 1206930066, 'di...","Stockton, CA",37.957703,-121.290781
34,2016-07-19 04:24:26+00:00,Dinner dinner. Chicken dinner. (at @Subway in ...,"{'username': 'Nadjatrois', 'id': 289158546, 'd...",,37.957703,-121.290781
35,2015-12-18 13:31:11+00:00,@LittlemRX @RapGameMonet @SUBWAY sure got my vote,"{'username': 'CelesteePas', 'id': 65799787, 'd...",CA,37.957703,-121.290781
36,2015-12-06 20:49:00+00:00,"Lunch it is (at @Subway in Stockton, CA) https...","{'username': 'Nadjatrois', 'id': 289158546, 'd...",,37.957703,-121.290781
37,2015-11-11 21:38:28+00:00,"I'm at @Subway in Stockton, CA https://t.co/vk...","{'username': 'Nikkiiee_Love', 'id': 30121890, ...",,37.957703,-121.290781
38,2015-11-03 19:08:28+00:00,#NationalSandwichDay @SUBWAY 👏🏼,"{'username': 'efraaaJS97', 'id': 479017262, 'd...","Stockton, CA",37.957703,-121.290781
39,2015-09-21 00:14:20+00:00,"I swear, Subway is one of the best cures for h...","{'username': 'RamCalle209', 'id': 742993298, '...",,37.957703,-121.290781
40,2015-09-03 21:20:46+00:00,@SUBWAY smelling @innoutburger in the distance...,"{'username': 'B22Dizzle', 'id': 3305743844, 'd...",,37.957703,-121.290781
41,2015-08-28 08:47:04+00:00,@SUBWAY Jared,"{'username': 'Abrahamv92', 'id': 2155663806, '...","Chino, CA",37.957703,-121.290781
42,2015-06-27 14:41:26+00:00,Apparently @SUBWAY has resulted to strapping b...,"{'username': 'davidglipari', 'id': 612329997, ...","Stockton, CA",37.957703,-121.290781
43,2015-01-21 20:28:31+00:00,I hate @SUBWAY,"{'username': 'Jennifreshhhh', 'id': 1355759832...",,37.957703,-121.290781
44,2014-11-17 19:14:55+00:00,Currently craving a @SUBWAY sandwich. 😍,"{'username': 'Nesss_Nesss_', 'id': 247993230, ...","Lodi, CA",37.957703,-121.290781
45,2014-11-13 02:22:56+00:00,@SUBWAY You should sponsor me.. Lol #lifegoals,"{'username': 'Dreamypetee', 'id': 391026929, '...","French Camp, CA",37.957703,-121.290781
46,2014-09-12 22:03:01+00:00,Subway @subway. http://t.co/kqPEFP5kVY #Stockt...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",37.957703,-121.290781
47,2014-08-31 01:09:52+00:00,"I'm at @Subway in Stockton, CA https://t.co/xi...","{'username': 'lukalukaret', 'id': 37159846, 'd...",SFO / MNL,37.957703,-121.290781
48,2014-05-05 23:38:20+00:00,Picking up a sandwich! (at @Subway) http://t.c...,"{'username': 'DWEnterprises', 'id': 21537188, ...","Stockton, CA",37.957703,-121.290781
49,2014-02-22 20:59:10+00:00,LUNCH TIME!!!!\nHaven't been to @SUBWAY in a w...,"{'username': 'RashbirS', 'id': 473640791, 'dis...",,37.957703,-121.290781
50,2013-10-12 08:06:34+00:00,@SUBWAY @DarrenGoody,"{'username': 'CodeTheBrode', 'id': 420887954, ...",,37.957703,-121.290781
51,2013-08-10 19:58:53+00:00,"I'm at @Subway (Stockton, CA) http://t.co/EnAP...","{'username': 'meganowilson', 'id': 14890118, '...","Oakland, CA",37.957703,-121.290781
52,2012-10-22 17:50:20+00:00,“@SUBWAY: Up for an extraordinary trip? Tag #T...,"{'username': 'vintages0ul2o9', 'id': 47856199,...","Stockton, CA",37.957703,-121.290781
53,2012-07-11 19:43:37+00:00,Hearing #OrdinaryWorld #NP @Subway #eatfresh #...,"{'username': 'Leenie_po', 'id': 27536174, 'dis...","San Francisco, CA",37.957703,-121.290781

,date,content,user,user_location,lat,lng
0,2021-07-15 00:56:28+00:00,#disappointed in @SUBWAY #EatFreshRefresh,"{'username': 'vsolanoy', 'id': 11192292, 'disp...","Silicon Valley, California",37.368831,-122.03635
1,2021-07-14 04:19:47+00:00,I’d like to see the cost of the @serenawilliam...,"{'username': 'CVanchieri6', 'id': 56291872, 'd...","Mountain View, CA",37.368831,-122.03635
2,2021-07-09 21:20:06+00:00,"As quality drops, so do sales. The challenge o...","{'username': 'SumitGup', 'id': 333605719, 'dis...","Sunnyvale, CA",37.368831,-122.03635
3,2020-11-01 06:12:28+00:00,@SUBWAY What is a heroin overdose,"{'username': 'SatansMlt', 'id': 13175785292157...","Palo Alto, CA",37.368831,-122.03635
4,2020-10-02 04:41:48+00:00,Ireland’s Supreme Court has ruled that bread s...,"{'username': 'MichaelRihani', 'id': 15960435, ...","Palo Alto, CA",37.368831,-122.03635
...,...,...,...,...,...,...
188,2012-06-30 15:27:12+00:00,"Yelp gave me the ""Dangerous Badge"" because I w...","{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.368831,-122.03635
189,2012-06-28 20:22:08+00:00,@SUBWAY - hot sauce = nice addition to the con...,"{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.368831,-122.03635
190,2012-06-26 21:37:23+00:00,“@SUBWAY: #HonestHour I get the same sub so of...,"{'username': 'eatteachblog', 'id': 590520319, ...","Bay Area, California",37.368831,-122.03635
191,2012-05-20 18:27:00+00:00,@swapniltamse dude if u start working @subway ...,"{'username': 'blackpearl3288', 'id': 96481507,...","San Jose, CA",37.368831,-122.03635
192,2012-05-08 16:44:06+00:00,"@SUBWAY yes, it's WAAAY too salty!","{'username': 'BuddySoto', 'id': 28961027, 'dis...","Sunnyvale, CA",37.368831,-122.03635

,date,content,user,user_location,lat,lng
0,2021-07-13 21:09:59+00:00,@SUBWAY I challenge you to watch 3 min on how ...,"{'username': 'carbajalphoto', 'id': 193524535,...","Murrieta, CA",33.493639,-117.148364
1,2020-12-22 19:39:30+00:00,@SUBWAY @itsjusta6_ @SUBWAY it’s 1000% worth it 😉,"{'username': 'cossey_chayley', 'id': 280061464...","California, USA",33.493639,-117.148364
2,2020-10-27 17:16:23+00:00,The price went up and no cookie. Sorry @SUBWAY...,"{'username': 'figurethingsout', 'id': 19629118...","iPhone: 33.859764,-118.074562",33.493639,-117.148364
3,2019-10-07 03:13:43+00:00,@AllenKelly @SUBWAY https://t.co/PYbe5ieO49,"{'username': 'timlopez', 'id': 14402782, 'disp...",Southern California,33.493639,-117.148364
4,2019-10-06 03:05:44+00:00,I feel like @SUBWAY should roast people like W...,"{'username': 'timlopez', 'id': 14402782, 'disp...",Southern California,33.493639,-117.148364
5,2019-09-28 17:13:42+00:00,@A_Ciolli @SUBWAY You mean your job?,"{'username': 'Jay_is_Cray', 'id': 1107811177, ...",Escondido,33.493639,-117.148364
6,2018-04-07 14:36:53+00:00,@scroggstl @Sears @Swiffer @CharlesSchwab @Kel...,"{'username': 'ladysandyc', 'id': 83449527, 'di...","Murrieta, CA",33.493639,-117.148364
7,2018-01-23 00:44:10+00:00,@SUBWAY Just took the Get Free Food survey! Ju...,"{'username': 'MissRols', 'id': 3246304475, 'di...",Montreal,33.493639,-117.148364
8,2016-08-15 19:37:37+00:00,Lost my lunch buddy 😣 but atleast I still have...,"{'username': 'Bdmafia25', 'id': 3893284034, 'd...",,33.493639,-117.148364
9,2016-03-07 17:24:06+00:00,"I'm at @SUBWAY in Temecula, CA https://t.co/sk...","{'username': 'Dublj77', 'id': 1521567800, 'dis...","Murrieta Ca,",33.493639,-117.148364
10,2016-01-20 02:29:52+00:00,"I'm at @Subway in Murrieta, CA https://t.co/rJ...","{'username': 'Dublj77', 'id': 1521567800, 'dis...","Murrieta Ca,",33.493639,-117.148364
11,2015-10-13 17:01:22+00:00,"I'm at @Subway in Murrieta, CA https://t.co/KM...","{'username': 'Dublj77', 'id': 1521567800, 'dis...","Murrieta Ca,",33.493639,-117.148364
12,2015-09-04 18:10:55+00:00,"I'm at @Subway in Murrieta, CA https://t.co/Aw...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
13,2015-08-28 16:40:22+00:00,"I'm at @Subway in Murrieta, CA https://t.co/9u...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
14,2015-08-04 20:46:45+00:00,"I'm at @Subway in Murrieta, CA https://t.co/lI...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
15,2015-05-24 17:45:49+00:00,"I'm at @Subway in Murrieta, CA https://t.co/GR...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
16,2015-05-10 16:13:01+00:00,@FredBrooklyn how about just cuz their food su...,"{'username': 'PiDayScott', 'id': 26395298, 'di...",Inland Empire CA,33.493639,-117.148364
17,2015-05-09 21:29:15+00:00,"I'm at @Subway in Murrieta, CA https://t.co/Iw...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
18,2015-03-06 20:33:15+00:00,"I'm at @Subway in Murrieta, CA https://t.co/E1...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
19,2015-02-17 21:34:15+00:00,"I'm at @Subway in Murrieta, CA https://t.co/4o...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
20,2015-01-09 21:27:33+00:00,"I'm at @Subway in Murrieta, CA https://t.co/rz...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
21,2014-12-17 03:44:05+00:00,"I'm at @SUBWAY in Temecula, CA https://t.co/NY...","{'username': 'theonlinecoach', 'id': 131320193...","Temecula, CA",33.493639,-117.148364
22,2014-12-06 18:29:26+00:00,"I'm at @Subway in Murrieta, CA https://t.co/SW...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
23,2014-12-05 20:00:26+00:00,"I'm at @Subway in Murrieta, CA https://t.co/3X...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
24,2014-11-07 17:10:05+00:00,"I'm at @Subway in Murrieta, CA https://t.co/nY...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
25,2014-10-31 18:49:59+00:00,"I'm at @Subway in Murrieta, CA https://t.co/aC...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
26,2014-10-27 18:13:03+00:00,Just got @socalsubway! Yep I am addicted to Su...,"{'username': 'sweetcheek7', 'id': 91648352, 'd...",,33.493639,-117.148364
27,2014-10-26 19:18:52+00:00,@TT4Taylor @SUBWAY @amandajanee4,"{'username': 'gabiiiiandrade_', 'id': 34816053...",,33.493639,-117.148364
28,2014-08-16 20:14:00+00:00,Everything's better with avocado on it :-) (at...,"{'username': 'carlrmueller', 'id': 169236850, ...","Temecula, CA",33.493639,-117.148364
29,2014-07-15 20:06:40+00:00,"I'm at @Subway (Murrieta, CA) http://t.co/ds2Z...","{'username': 'djseantildawn', 'id': 30190188, ...","Murrieta, Ca.",33.493639,-117.148364
30,2014-02-13 23:12:06+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/vCvQ...","{'username': 'JDMDrama', 'id': 241779243, 'dis...",Neverland,33.493639,-117.148364
31,2014-01-10 22:01:09+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/Wd5W...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
32,2014-01-05 01:07:50+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/LC2d...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
33,2013-12-28 22:52:34+00:00,I'm at @SUBWAY w/ @freespiritjuju http://t.co/...,"{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
34,2013-12-23 21:33:41+00:00,Lunch time (at @SUBWAY) http://t.co/ZVSvRjJJ2K,"{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
35,2013-12-17 04:01:35+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/ecKQ...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
36,2013-12-10 02:03:32+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/n5ww...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
37,2013-12-02 02:38:09+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/Qzr9...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
38,2013-11-23 02:30:43+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/Z7ud...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
39,2013-11-15 02:05:54+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/Y3rJ...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
40,2013-11-14 00:17:24+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/uudF...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
41,2013-11-08 23:13:01+00:00,I'm addicted (at @SUBWAY) http://t.co/H4hpVItJ0n,"{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
42,2013-11-08 04:25:32+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/O5RF...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
43,2013-11-05 23:20:01+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/6jrJ...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
44,2013-11-03 00:24:50+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/xp5n...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
45,2013-10-29 02:33:54+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/fRUj...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
46,2013-10-25 03:31:30+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/JWdf...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
47,2013-10-15 18:42:06+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/O39L...","{'username': 'JDMDrama', 'id': 241779243, 'dis...",Neverland,33.493639,-117.148364
48,2013-10-06 21:58:04+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/zNLJ...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
49,2013-10-04 20:20:03+00:00,"I'm at @SUBWAY (Temecula, CA) http://t.co/K5w9...","{'username': 'tinklover88', 'id': 234055240, '...","Murrieta, ca",33.493639,-117.148364
50,2013-08-27 20:42:51+00:00,Eat fresh suckas (at @Subway) http://t.co/c2i7...,"{'username': 'JDMDrama', 'id': 241779243, 'dis...",Neverland,33.493639,-117.148364
51,2012-06-21 23:39:53+00:00,@ChefJRivas okay!!! Who's buying??? @SUBWAY,"{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
52,2012-06-20 19:31:47+00:00,Picking up @SUBWAY for lunch for @ChefJRivas. ...,"{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
53,2012-06-18 23:18:44+00:00,@ChefJRivas @robertirvine1 Tell @subway to sto...,"{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
54,2012-06-18 23:17:20+00:00,"@robertirvine1 @SUBWAY I do, occasionally.... ...","{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
55,2012-06-07 19:47:42+00:00,"Official #princess birthday: @ToysRUs, @starbu...","{'username': 'JakotaR', 'id': 14065727, 'displ...","Napa, CA",33.493639,-117.148364
56,2011-02-27 18:07:37+00:00,@blueasyouu I had a bite of a strawberry chees...,"{'username': 'iDigress_Barbie', 'id': 13108932...",Darnassus & Aiur,33.493639,-117.148364

,date,content,user,user_location,lat,lng
0,2021-07-14 01:34:34+00:00,@Channel8ABC @BurgerKing @kfc @McDonalds @Wend...,"{'username': 'TravelBud76', 'id': 57561443, 'd...","Pasadena, CA",34.107231,-118.057847
1,2021-06-23 17:58:09+00:00,@RuthSch04593054 @SUBWAY No Tuna DNA in your f...,"{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.107231,-118.057847
2,2021-06-23 17:56:34+00:00,"@renderrain @MuckDNewsome88 @SUBWAY Maybe, may...","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.107231,-118.057847
3,2021-06-23 17:53:53+00:00,"@SUBWAY Not Tuna, it seems.","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.107231,-118.057847
4,2021-05-20 01:14:31+00:00,@SUBWAY @AmineAouragh20 And dessert.,"{'username': 'taco', 'id': 543797515, 'display...",LA (maybe Tokyo someday),34.107231,-118.057847
5,2020-08-06 22:28:49+00:00,"@wavybonebby @SUBWAY All the olives, jalapeños...","{'username': 'IbarraArlene', 'id': 89012609848...","Monrovia, CA",34.107231,-118.057847
6,2020-05-02 19:01:49+00:00,@kryptohills @HamaramaDD @lmcgrew @SUBWAY I do...,"{'username': 'TheRealJaimeP', 'id': 8305872860...","Los Angeles, CA",34.107231,-118.057847
7,2020-05-02 18:50:16+00:00,@HamaramaDD @kryptohills @lmcgrew @SUBWAY I’m ...,"{'username': 'TheRealJaimeP', 'id': 8305872860...","Los Angeles, CA",34.107231,-118.057847
8,2020-05-02 18:49:36+00:00,@kryptohills @lmcgrew @HamaramaDD @SUBWAY Clit...,"{'username': 'TheRealJaimeP', 'id': 8305872860...","Los Angeles, CA",34.107231,-118.057847
9,2020-05-02 18:39:49+00:00,@lmcgrew @HamaramaDD @SUBWAY #justsaying … 10-...,"{'username': 'TheRealJaimeP', 'id': 8305872860...","Los Angeles, CA",34.107231,-118.057847
10,2020-05-02 18:37:17+00:00,@HamaramaDD @lmcgrew Didn’t @SUBWAY also lie a...,"{'username': 'TheRealJaimeP', 'id': 8305872860...","Los Angeles, CA",34.107231,-118.057847
11,2020-04-27 21:37:42+00:00,Hey @SUBWAY i need some #customercare. Bad exp...,"{'username': 'SweeteeePiie', 'id': 10327094697...",United States,34.107231,-118.057847
12,2020-04-02 03:39:30+00:00,@crooked_zebras @SUBWAY Good pastrami nearby b...,"{'username': 'TightBrigade', 'id': 407474715, ...","California, USA",34.107231,-118.057847
13,2020-04-01 22:01:12+00:00,Need a foot long spicy Italian from @SUBWAY,"{'username': 'TightBrigade', 'id': 407474715, ...","California, USA",34.107231,-118.057847
14,2020-03-20 23:25:14+00:00,"I'm at @SUBWAY in Arcadia, CA https://t.co/JWF...","{'username': 'hapaniki', 'id': 24994477, 'disp...",,34.107231,-118.057847
15,2020-02-26 21:30:21+00:00,"I'm at @Subway in Baldwin Park, CA https://t.c...","{'username': 'samtingwong09', 'id': 465263889,...",Los Angeles,34.107231,-118.057847
16,2020-02-13 23:16:16+00:00,Got a foot long at @SUBWAY today and the man b...,"{'username': 'gabulousmills', 'id': 221200602,...","Los Angeles, CA",34.107231,-118.057847
17,2020-01-22 09:20:27+00:00,At @SUBWAY #midnightsnack,"{'username': 'plazolafernando', 'id': 21605006...","West Covina, CA",34.107231,-118.057847
18,2020-01-07 22:30:24+00:00,@nathanacn @wydsimp @SUBWAY Bruh he black. The...,"{'username': 'Supertramp_91', 'id': 1057479492...",yo mamas,34.107231,-118.057847

,date,content,user,user_location,lat,lng
0,2021-07-15 17:13:51+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Lor...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.83585,-118.340628
1,2021-07-15 17:10:59+00:00,@OSV227Hex @vap1337 @4lisaguerrero @SUBWAY 🤦‍♀️,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.83585,-118.340628
2,2021-07-15 17:08:53+00:00,@vap1337 @OSV227Hex @4lisaguerrero @SUBWAY Ok ...,"{'username': 'lgsmarin', 'id': 3171163801, 'di...",Torrance,33.83585,-118.340628
3,2021-07-15 03:29:57+00:00,Did y’all ever let us know what’s in this tuna...,"{'username': 'LEXXinthe_CITY', 'id': 49850788,...",90250,33.83585,-118.340628
4,2021-07-09 01:18:05+00:00,@nytimes had @SUBWAY's tuna dna-tested. Most l...,"{'username': 'kfsone', 'id': 94830628, 'displa...","Lawndale, CA",33.83585,-118.340628
...,...,...,...,...,...,...
293,2013-04-05 13:54:00+00:00,"""@apache90745: @subway grand opening in Carson...","{'username': 'MorenoParadise', 'id': 580954988...","Kauai,Hi/Carson,Calif",33.83585,-118.340628
294,2012-11-09 23:54:02+00:00,@subway 265 E. 5th Street Long Beach.CA store ...,"{'username': 'kiwidane', 'id': 13755002, 'disp...",🇳🇿 & 🇬🇧,33.83585,-118.340628
295,2012-10-21 19:43:29+00:00,Bouts to get my grub on. @SUBWAY,"{'username': 'oscar_velez__', 'id': 634280236,...",,33.83585,-118.340628
296,2012-10-12 19:42:08+00:00,@subway thanks for lunch :) #ff yum edition (@...,"{'username': 'calijulz', 'id': 182941546, 'dis...",So Cal,33.83585,-118.340628
297,2012-06-30 20:47:10+00:00,@robertirvine1 @SUBWAY Avacado season...I love...,"{'username': 'leelamariegorom', 'id': 54122411...","Riverside,Ca.",33.83585,-118.340628

,date,content,user,user_location,lat,lng
0,2021-07-14 03:14:19+00:00,@SUBWAY So we getting real Tuna and bread adde...,"{'username': 'MrWChocolate', 'id': 211035948, ...",Tracy Ca,37.73965,-121.425222
1,2018-09-12 21:16:04+00:00,@SUBWAY i love you,"{'username': 'ianholman16', 'id': 3354588499, ...",L ♡,37.73965,-121.425222
2,2018-04-22 06:07:02+00:00,How I feel whenever I go to @SUBWAY and they a...,"{'username': 'aaronhimor', 'id': 68091693, 'di...",30 minutes away from BAY AREA,37.73965,-121.425222
3,2018-01-25 01:25:14+00:00,"@CarlsJr Did you know @BurgerKing, @SUBWAY, @C...","{'username': 'joycetompsett', 'id': 1850731, '...","California, USA",37.73965,-121.425222
4,2015-11-25 03:56:47+00:00,Dear @SUBWAY why don't you have mushrooms or b...,"{'username': 'joycetompsett', 'id': 1850731, '...","California, USA",37.73965,-121.425222
5,2014-09-04 04:59:46+00:00,#UCantBullyMe not even at @SUBWAY https://t.co...,"{'username': 'noflexzone51', 'id': 2710966088,...",Tracy cal,37.73965,-121.425222

,date,content,user,user_location,lat,lng
0,2021-07-13 19:25:29+00:00,@toolbear74 @23andMe @SUBWAY You think Subway ...,"{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.74585,-117.826167
1,2021-07-13 17:33:47+00:00,@SUBWAY this is as pathetic as Jared https://t...,"{'username': 'ReneeGiraldy', 'id': 24547328, '...","Irvine,CA",33.74585,-117.826167
2,2021-07-13 08:14:12+00:00,"@toolbear74 @23andMe @SUBWAY If by ""processed""...","{'username': 'PalmerLuckey', 'id': 294306372, ...","Irvine, CA",33.74585,-117.826167
3,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.74585,-117.826167
4,2021-07-07 18:09:08+00:00,@RealLazyVulcan @SUBWAY @pizzahut @googlenews ...,"{'username': 'optimumsurf', 'id': 891873883099...","California, USA",33.74585,-117.826167
...,...,...,...,...,...,...
285,2011-10-03 21:19:41+00:00,Loving this @subway $5 anytober deal!!,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.74585,-117.826167
286,2011-10-03 21:16:45+00:00,Eating fresh Tweeps! @subway,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.74585,-117.826167
287,2011-10-01 02:45:29+00:00,"Starting tomorrow, @Subway has codes for #unch...","{'username': 'johnnymorner', 'id': 107948035, ...","California, USA",33.74585,-117.826167
288,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.74585,-117.826167
289,2011-03-22 20:46:19+00:00,@tacobell tacos are good. But @subway is bette...,"{'username': 'himynameisscott', 'id': 20424005...",Los Angeles,33.74585,-117.826167

,date,content,user,user_location,lat,lng
0,2021-04-28 00:16:21+00:00,@SUBWAY just go out of business like for real,"{'username': 'nodoubt212005', 'id': 872848500,...","Vallejo, California",38.104086,-122.256636
1,2021-04-28 00:15:46+00:00,@SUBWAY teach your employees about food safety,"{'username': 'nodoubt212005', 'id': 872848500,...","Vallejo, California",38.104086,-122.256636
2,2021-01-29 02:02:02+00:00,Like seriously @SUBWAY don’t you teach your em...,"{'username': 'nodoubt212005', 'id': 872848500,...","Vallejo, California",38.104086,-122.256636
3,2020-10-15 04:19:19+00:00,"In high school I worked @subway, I always came...","{'username': 'DeterminedMaria', 'id': 29020920...",Earth.,38.104086,-122.256636

,date,content,user,user_location,lat,lng
0,2021-07-12 07:26:52+00:00,@SUBWAY @SubwayListens what happened to the fr...,"{'username': 'texis2001', 'id': 79396147977494...","Oxnard, CA",34.274639,-119.229006
1,2021-01-24 19:40:59+00:00,It’s comical how much meat + veggies they put ...,"{'username': 'modishandmain', 'id': 70712796, ...","Ventura, CA",34.274639,-119.229006
2,2020-12-02 23:07:24+00:00,@SUBWAY Pepper steak‼️,"{'username': 'scaksd', 'id': 1005393012, 'disp...","Ventura, CA",34.274639,-119.229006

,date,content,user,user_location,lat,lng
0,2020-08-19 05:56:59+00:00,You know how I know we are fucked as an Americ...,"{'username': 'Hotormild', 'id': 190229858, 'di...",Still so blessed while in Cali,34.536108,-117.291158
1,2019-03-31 20:01:47+00:00,@SUBWAY notice anything? Like a lack of soap? ...,"{'username': 'jguilfoyle', 'id': 15399229, 'di...","San Diego, CA",34.536108,-117.291158
2,2018-05-26 04:02:48+00:00,"Dinner (at @SUBWAY in Victorville, CA) https:/...","{'username': 'NewWaveDoll', 'id': 261115533, '...",The Basement of the Alamo,34.536108,-117.291158
3,2018-03-23 01:53:28+00:00,What’s the magical number of times you have to...,"{'username': 'HuellCore', 'id': 236532376, 'di...","Apple Valley, CA",34.536108,-117.291158
4,2017-12-29 21:56:39+00:00,"Lunch! (at @SUBWAY in Victorville, CA) https:/...","{'username': 'NewWaveDoll', 'id': 261115533, '...",The Basement of the Alamo,34.536108,-117.291158
5,2017-10-23 07:31:13+00:00,"Late dinner (at @SUBWAY in Victorville, CA) ht...","{'username': 'NewWaveDoll', 'id': 261115533, '...",The Basement of the Alamo,34.536108,-117.291158
6,2017-05-08 00:59:03+00:00,Getting take out for my girl and I (at @SUBWAY...,"{'username': 'MPRR489', 'id': 29923969, 'displ...","Victorville, CA",34.536108,-117.291158
7,2017-04-12 07:30:18+00:00,Everytime I watch #HappyGilmore I crave @SUBWA...,"{'username': 'thingfromswamp', 'id': 248470038...",the swamp,34.536108,-117.291158
8,2017-04-11 15:06:18+00:00,"I'm at @SUBWAY in Victorville, CA https://t.co...","{'username': 'JoGroh', 'id': 95315824, 'displa...",,34.536108,-117.291158
9,2017-03-20 01:42:50+00:00,Way too jacked up to cook (at @SUBWAY in Victo...,"{'username': 'MPRR489', 'id': 29923969, 'displ...","Victorville, CA",34.536108,-117.291158
10,2016-12-01 21:58:19+00:00,This lady at @SUBWAY just asked to FEEL the br...,"{'username': 'Willie_d20', 'id': 113491430, 'd...","Riverside, CA",34.536108,-117.291158
11,2016-09-08 04:58:59+00:00,Shout outs to @SUBWAY @TMobile for making the ...,"{'username': 'Kitandre94', 'id': 70048986, 'di...","Victorville, CA",34.536108,-117.291158
12,2016-08-14 06:18:19+00:00,I ate a @SUBWAY sandwich today and now my ball...,"{'username': 'skeezboi', 'id': 384085645, 'dis...",victorville,34.536108,-117.291158
13,2016-05-30 06:08:05+00:00,"Late dinner (at @SUBWAY in Victorville, CA) ht...","{'username': 'NewWaveDoll', 'id': 261115533, '...",The Basement of the Alamo,34.536108,-117.291158
14,2016-01-08 20:49:53+00:00,"Lunch time! (at @SUBWAY in Victorville, CA) ht...","{'username': 'keithrpillow', 'id': 16339693, '...",Los Angeles | Ventura County,34.536108,-117.291158
15,2015-11-16 08:37:17+00:00,@subway #SUBWAY / https://t.co/eunrrrl0eF ok h...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",34.536108,-117.291158
16,2015-05-10 20:29:57+00:00,"I'm at @SUBWAY in Victorville, CA https://t.co...","{'username': 'kariavka', 'id': 115960276, 'dis...",Kyiv,34.536108,-117.291158
17,2014-06-12 01:08:27+00:00,Eat fresh (at @SUBWAY) http://t.co/CQvLQIzhR8,"{'username': 'VirgoJQ', 'id': 21658960, 'displ...",The island of Guam,34.536108,-117.291158
18,2014-05-12 02:13:02+00:00,Dinner with the kiddies (at @SUBWAY) http://t....,"{'username': 'wykdryde', 'id': 85877962, 'disp...",Cali,34.536108,-117.291158
19,2014-05-08 00:24:12+00:00,Dinner time. (at @SUBWAY) http://t.co/hLkVhjan6Q,"{'username': 'BryanBHopkins1', 'id': 220664914...","Lewisville, TX",34.536108,-117.291158
20,2014-04-11 16:20:02+00:00,Breakfast! (at @SUBWAY) http://t.co/muUlpLFeDA,"{'username': 'BADHOMBRE2403', 'id': 26124353, ...",City of Champions,34.536108,-117.291158
21,2014-03-27 02:15:44+00:00,"I'm at @SUBWAY (Victorville, CA) http://t.co/O...","{'username': 'wykdryde', 'id': 85877962, 'disp...",Cali,34.536108,-117.291158
22,2014-02-07 17:50:31+00:00,😂 I'm back! (at @SUBWAY) http://t.co/L8jIau8kPz,"{'username': 'MrScottII', 'id': 289156209, 'di...",,34.536108,-117.291158
23,2014-02-05 01:34:45+00:00,I love Subway!! (at @SUBWAY) http://t.co/lHzLx...,"{'username': 'MrScottII', 'id': 289156209, 'di...",,34.536108,-117.291158
24,2014-02-03 18:00:32+00:00,Yes! Back at subway!😋 (at @SUBWAY) http://t.co...,"{'username': 'MrScottII', 'id': 289156209, 'di...",,34.536108,-117.291158
25,2014-02-01 02:38:51+00:00,Told you the line was deep #subway (at @SUBWAY...,"{'username': 'MrScottII', 'id': 289156209, 'di...",,34.536108,-117.291158
26,2014-02-01 02:18:00+00:00,I love Subway!!! #subway #eatinggood. And so d...,"{'username': 'MrScottII', 'id': 289156209, 'di...",,34.536108,-117.291158
27,2014-01-24 18:21:46+00:00,Breakfast! @Subway (at @SUBWAY) http://t.co/Vb...,"{'username': 'BADHOMBRE2403', 'id': 26124353, ...",City of Champions,34.536108,-117.291158
28,2014-01-20 02:02:38+00:00,"I'm at @SUBWAY (Apple Valley, CA) http://t.co/...","{'username': 'SJVDB21', 'id': 74818472, 'displ...","ÜT: 34.085489,-117.642845",34.536108,-117.291158
29,2013-12-20 21:02:08+00:00,EAT FRESH! (at @SUBWAY) http://t.co/Y5CEk2BQB2,"{'username': 'BADHOMBRE2403', 'id': 26124353, ...",City of Champions,34.536108,-117.291158
30,2013-12-13 02:30:08+00:00,"I'm at @SUBWAY (Victorville, CA) http://t.co/Z...","{'username': '143Nette', 'id': 258511036, 'dis...",Southern California,34.536108,-117.291158
31,2013-11-15 18:07:14+00:00,"I'm at @SUBWAY (Victorville, CA) http://t.co/L...","{'username': 'BADHOMBRE2403', 'id': 26124353, ...",City of Champions,34.536108,-117.291158
32,2013-10-25 19:06:24+00:00,Lunch time (at @SUBWAY) http://t.co/5FLVf0lc8d,"{'username': '143Nette', 'id': 258511036, 'dis...",Southern California,34.536108,-117.291158
33,2013-08-13 19:33:40+00:00,Lunch (at @Subway) http://t.co/ZvvDlgdBzE,"{'username': '143Nette', 'id': 258511036, 'dis...",Southern California,34.536108,-117.291158
34,2013-08-05 01:22:15+00:00,It's what's for dinner (at @Subway) [pic]: htt...,"{'username': 'VirgoJQ', 'id': 21658960, 'displ...",The island of Guam,34.536108,-117.291158
35,2012-10-24 18:06:10+00:00,I had a nice Breakfast BMT from @SUBWAY and so...,"{'username': 'kutak', 'id': 21053793, 'display...","Los Angeles, CA",34.536108,-117.291158

,date,content,user,user_location,lat,lng
0,2019-12-04 04:43:25+00:00,@SUBWAY why don’t your PARTICIPATING locations...,"{'username': 'Savannahhhhaley', 'id': 10850317...","Porterville, CA",36.330228,-119.292058
1,2019-10-28 23:29:33+00:00,@SUBWAY LaLaLa remix October 30,"{'username': 'fckngdegenerate', 'id': 73535321...",Hell,36.330228,-119.292058
2,2019-03-11 19:40:43+00:00,@NereydaaSilvaa @alyssaru1z @SUBWAY 😌,"{'username': 'LeslieSilva__', 'id': 797611153,...","Visalia, CA",36.330228,-119.292058
3,2019-03-11 19:38:23+00:00,@alyssaru1z @SUBWAY @NereydaaSilvaa is shAKING,"{'username': 'LeslieSilva__', 'id': 797611153,...","Visalia, CA",36.330228,-119.292058
4,2016-12-12 01:16:22+00:00,@SUBWAY is sensational,"{'username': 'fernandothewoe', 'id': 310798997...",the gutter,36.330228,-119.292058
5,2016-12-05 07:18:09+00:00,My favorite cookie from @Subway is the #WhiteC...,"{'username': 'hecto2917', 'id': 4064067793, 'd...","Visalia, CA",36.330228,-119.292058
6,2016-10-26 02:52:07+00:00,What's the sub of the day @SUBWAY,"{'username': 'AleksEnglish', 'id': 57765215, '...","Sacramento, CA",36.330228,-119.292058
7,2015-07-08 16:01:28+00:00,Vasalia has everything but sadness. Can't wait...,"{'username': 'AlwaysRoxanne1', 'id': 116059546...","Los Angeles, CA",36.330228,-119.292058
8,2015-03-03 00:21:09+00:00,Visalia Cypress @Subway this salad is a bit sp...,"{'username': 'KC6YRU', 'id': 20338703, 'displa...","36.31981,-119.333387",36.330228,-119.292058
9,2014-09-14 20:26:23+00:00,I guess eating all that @Subway hasn't been do...,"{'username': 'StrokerBoob', 'id': 395720348, '...","California, USA",36.330228,-119.292058
10,2014-09-14 15:17:14+00:00,SUBWAY @subway. http://t.co/xOAw8ayZpL #Visali...,"{'username': 'dine_here', 'id': 421095102, 'di...","New York, USA",36.330228,-119.292058
11,2011-07-16 00:59:11+00:00,#thehills season 2!\nAnd @subway!!!!\nYup it's...,"{'username': 'SophiaBushArmy', 'id': 222608462...","California, USA",36.330228,-119.292058

,date,content,user,user_location,lat,lng
0,2020-10-18 23:03:12+00:00,@SUBWAY @MiamiDolphins Thanks Subway,"{'username': 'AustinT129', 'id': 1267141027808...",,33.200036,-117.242536
1,2020-05-30 22:13:29+00:00,@ZavierPedro @SUBWAY Nope,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.200036,-117.242536
2,2020-05-30 20:12:32+00:00,@juaquin06264198 @SUBWAY Nah,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.200036,-117.242536
3,2020-05-30 20:05:26+00:00,@ThanksBilly @SUBWAY Onions,"{'username': 'harryburks4', 'id': 723574902679...","Vista, CA",33.200036,-117.242536
4,2019-05-26 02:40:21+00:00,@SUBWAY thank you next.,"{'username': '_RickyLozano_', 'id': 2281279033...","San Diego, CA",33.200036,-117.242536
...,...,...,...,...,...,...
90,2013-09-22 23:58:12+00:00,#EatFresh #Tuna #Sandwich (at @Subway) [pic]: ...,"{'username': 'JoseMartinezSD', 'id': 553819218...","San Diego, CA",33.200036,-117.242536
91,2013-09-09 02:32:51+00:00,Dinner... #Subway #Melt #EatFresh (at @Subway)...,"{'username': 'JoseMartinezSD', 'id': 553819218...","San Diego, CA",33.200036,-117.242536
92,2013-09-08 19:30:17+00:00,"I'm at @Subway (Vista, CA) http://t.co/aiU6dsJscV","{'username': 'oceangirl6108', 'id': 18150059, ...",,33.200036,-117.242536
93,2013-08-12 00:39:48+00:00,Having to eat here since Mr. Sub won't deliver...,"{'username': '_KillerBeauty', 'id': 391283161,...",,33.200036,-117.242536
94,2013-01-08 21:35:24+00:00,@SUBWAY #EatFresh 👍 http://t.co/rW9D5bsq,"{'username': 'ErikSarni1', 'id': 49922295, 'di...",Blessed,33.200036,-117.242536

,date,content,user,user_location,lat,lng
0,2021-07-14 04:08:43+00:00,@SUBWAY Why does your tuna not have any traces...,"{'username': 'CrashSpyroBanjo', 'id': 12957275...","La Puente, CA",34.068622,-117.938953
1,2021-06-23 17:58:09+00:00,@RuthSch04593054 @SUBWAY No Tuna DNA in your f...,"{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-117.938953
2,2021-06-23 17:56:34+00:00,"@renderrain @MuckDNewsome88 @SUBWAY Maybe, may...","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-117.938953
3,2021-06-23 17:53:53+00:00,"@SUBWAY Not Tuna, it seems.","{'username': 'nanorich', 'id': 20823753, 'disp...",Los Angeles,34.068622,-117.938953
4,2021-06-19 00:26:16+00:00,Another day another protein bowl from @SUBWAY ...,"{'username': 'JsAboutBusiness', 'id': 61721746...","Los Angeles, CA",34.068622,-117.938953
...,...,...,...,...,...,...
229,2013-06-17 17:39:35+00:00,@SUBWAY yummm!! Cucumbers!,"{'username': 'LAluvs27', 'id': 498068062, 'dis...",west covina ca,34.068622,-117.938953
230,2013-04-30 20:38:24+00:00,Found some gift cards while cleaning my room. ...,"{'username': 'BigD923', 'id': 35308999, 'displ...","El Monte, CA",34.068622,-117.938953
231,2013-03-29 23:23:23+00:00,"Lunch time .. About to enjoy a footlong: ""Ital...","{'username': 'SANTOSALOFICIAL', 'id': 12814590...",United States,34.068622,-117.938953
232,2013-02-04 13:50:31+00:00,"@SUBWAY @SUBWAY, #SubwayShowdown and the appr...","{'username': 'ygalin', 'id': 76412707, 'displa...",ca,34.068622,-117.938953
233,2012-03-27 19:34:27+00:00,@subway you guys put 4 slices of meat on a san...,"{'username': 'JACimages', 'id': 35823897, 'dis...",L.A,34.068622,-117.938953

,date,content,user,user_location,lat,lng
0,2021-07-13 20:05:27+00:00,@willrowactor @SUBWAY I wish him a speedy reco...,"{'username': 'SandyRegion', 'id': 135865990454...",Midway City,33.751342,-117.993992
1,2021-07-10 21:00:33+00:00,MAJOR changes are coming to @SUBWAY. Read more...,"{'username': 'foodbeast', 'id': 17382260, 'dis...","Santa Ana, CA",33.751342,-117.993992
2,2021-03-16 19:47:45+00:00,@SUBWAY FOR LUNCH... TUNA WRAP ON SPINACH HA,"{'username': 'MIGGIE611', 'id': 23389244, 'dis...",California,33.751342,-117.993992
3,2020-11-15 23:25:34+00:00,"I'm at @Subway in Anaheim, CA https://t.co/vUF...","{'username': 'KBlack2595', 'id': 49882371, 'di...","Orange, CA",33.751342,-117.993992
4,2020-10-01 19:34:15+00:00,"Well, no more “foot longs” for me. Thanks, @S...","{'username': 'jonathan_shen7', 'id': 550933750...","Huntington Beach, California",33.751342,-117.993992
...,...,...,...,...,...,...
335,2011-10-03 21:19:41+00:00,Loving this @subway $5 anytober deal!!,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.751342,-117.993992
336,2011-10-03 21:16:45+00:00,Eating fresh Tweeps! @subway,"{'username': 'tommy1569', 'id': 165190180, 'di...",Nevada,33.751342,-117.993992
337,2011-10-01 02:45:29+00:00,"Starting tomorrow, @Subway has codes for #unch...","{'username': 'johnnymorner', 'id': 107948035, ...","California, USA",33.751342,-117.993992
338,2011-08-23 19:32:41+00:00,"@subway lunch, eating outdoors and listening t...","{'username': 'adanrico', 'id': 30963788, 'disp...","Bay Area, CA",33.751342,-117.993992
339,2011-05-11 00:25:55+00:00,Ok everybody so @justsimplyNANI eats the nasti...,"{'username': 'YoSoyELjefe_', 'id': 185115632, ...","Nuevo, CA",33.751342,-117.993992

,date,content,user,user_location,lat,lng
0,2021-07-14 20:06:23+00:00,@SUBWAY How is the steak for your cheese steak...,"{'username': 'BrianCBock', 'id': 7310462, 'dis...","Downey, CA",33.979178,-118.032844
1,2021-07-14 04:08:43+00:00,@SUBWAY Why does your tuna not have any traces...,"{'username': 'CrashSpyroBanjo', 'id': 12957275...","La Puente, CA",33.979178,-118.032844
2,2021-03-09 02:42:01+00:00,"I'm at @SUBWAY in Los Angeles, CA https://t.co...","{'username': 'Insane4now', 'id': 34710996, 'di...",Los Angeles,33.979178,-118.032844
3,2021-02-25 17:50:03+00:00,Still waiting for @SUBWAY to do a campaign aro...,"{'username': 'NateoftheDead', 'id': 82796831, ...","Willoughby, July 1888",33.979178,-118.032844

In [45]:
print(loc)

33.979178, -118.032844, 10km

In [41]:
df_test = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '@McDonalds geocode:"{}"'.format(loc)).get_items(), 1000))[['date', 'content']]

In [47]:
final_df_array = []

for df in df_array:
    print(df['date'].count())
    if df['date'].count() > 30:
        final_df_array.append(df)

101
341
17
147
185
47
118
367
9
75
406
16
28
218
123
35
8
2
228
1975
27
98
9
46
12
29
15
142
399
505
140
31
12
2
142
67
57
1356
334
385
33
21
202
761
16
12
21
3
3
133
52
255
56
177
367
12
37
10
189
172
40
89
99
56
49
3
176
15
62
17
2006
282
169
67
1
435
55
332
121
9
1173
18
2
8
54
193
57
19
298
6
290
4
3
36
12
95
234
340
4

In [48]:
for df in final_df_array:
    print(df['date'].count())

101
341
147
185
47
118
367
75
406
218
123
35
228
1975
98
46
142
399
505
140
31
142
67
57
1356
334
385
33
202
761
133
52
255
56
177
367
37
189
172
40
89
99
56
49
176
62
2006
282
169
67
435
55
332
121
1173
54
193
57
298
290
36
95
234
340

In [49]:
rows = []

for df in final_df_array:
    sentiment_total = 0
    df_len = df['date'].count()
    i = 0
    while i < df_len:
        testimonial = TextBlob(df.loc[i, 'content'])
        sentiment_total = sentiment_total + testimonial.sentiment.polarity
        sentiment_average = sentiment_total/df_len
        i = i+1
    print(f"({df.loc[1,'lat']}, {df.loc[1,'lng']}): Sentiment Total = {sentiment_total}, Average Sentiment: {sentiment_average}")
    rows.append([df.loc[1,'lat'],df.loc[1,'lng'], sentiment_total, sentiment_average])
    print("-" *42)

(34.095286, -118.127014): Sentiment Total = 7.718337166305917, Average Sentiment: 0.07641917986441502
------------------------------------------
(33.835292, -117.914503): Sentiment Total = 10.052303391053396, Average Sentiment: 0.029478895574936645
------------------------------------------
(35.373292, -119.018711): Sentiment Total = 7.318319213338746, Average Sentiment: 0.04978448444448126
------------------------------------------
(34.085286, -117.960897): Sentiment Total = 3.4696798340548347, Average Sentiment: 0.018755026130026133
------------------------------------------
(33.881683, -118.117011): Sentiment Total = 3.636805555555556, Average Sentiment: 0.07737884160756502
------------------------------------------
(37.871592, -122.272747): Sentiment Total = -0.9451319080225327, Average Sentiment: -0.00800959244086892
------------------------------------------
(33.867514, -117.998117): Sentiment Total = 18.58561958874459, Average Sentiment: 0.05064201522818689
------------------------------------------
(33.158092, -117.350594): Sentiment Total = 3.8320312500000004, Average Sentiment: 0.05109375000000001
------------------------------------------
(33.831406, -118.282017): Sentiment Total = 25.99361629689752, Average Sentiment: 0.06402368546033872
------------------------------------------
(32.640053, -117.084197): Sentiment Total = 7.848322510822508, Average Sentiment: 0.0360014794074427
------------------------------------------
(36.825228, -119.702919): Sentiment Total = 7.561487054612055, Average Sentiment: 0.061475504509041094
------------------------------------------
(33.89585, -118.220072): Sentiment Total = 3.206041666666667, Average Sentiment: 0.09160119047619049
------------------------------------------
(33.641133, -117.918669): Sentiment Total = 18.838737824675324, Average Sentiment: 0.08262604309068125
------------------------------------------
(37.687925, -122.470208): Sentiment Total = -4.391000603129505, Average Sentiment: -0.002223291444622534
------------------------------------------
(32.794772, -116.962528): Sentiment Total = 0.5654586038961039, Average Sentiment: 0.005769985754041877
------------------------------------------
(33.119208, -117.086422): Sentiment Total = 0.8258630952380952, Average Sentiment: 0.017953545548654245
------------------------------------------
(36.746842, -119.772586): Sentiment Total = 2.644847444222444, Average Sentiment: 0.01862568622691862
------------------------------------------
(33.870292, -117.925339): Sentiment Total = 20.797380050505048, Average Sentiment: 0.05212375952507531
------------------------------------------
(33.773906, -117.941447): Sentiment Total = 20.28940735479798, Average Sentiment: 0.04017704426692669
------------------------------------------
(34.142508, -118.255075): Sentiment Total = 9.826525072150075, Average Sentiment: 0.07018946480107197
------------------------------------------
(33.916403, -118.352575): Sentiment Total = 3.7543055555555553, Average Sentiment: 0.12110663082437276
------------------------------------------
(34.426389, -117.300878): Sentiment Total = 3.1832859848484856, Average Sentiment: 0.022417506935552715
------------------------------------------
(33.660297, -117.999225): Sentiment Total = 6.252976190476191, Average Sentiment: 0.09332800284292822
------------------------------------------
(33.720578, -116.215561): Sentiment Total = 2.682857142857143, Average Sentiment: 0.04706766917293233
------------------------------------------
(33.961681, -118.353131): Sentiment Total = 88.19320248280056, Average Sentiment: 0.06503923486932195
------------------------------------------
(33.683947, -117.794694): Sentiment Total = 15.720745851370856, Average Sentiment: 0.04706810135140975
------------------------------------------
(33.853628, -118.133956): Sentiment Total = 18.652000698953795, Average Sentiment: 0.04844675506221765
------------------------------------------
(34.686786, -118.154164): Sentiment Total = 4.236104910714285, Average Sentiment: 0.12836681547619047
------------------------------------------
(33.768322, -118.195617): Sentiment Total = 9.029411638708515, Average Sentiment: 0.04470005761736889
------------------------------------------
(34.052233, -118.243686): Sentiment Total = 35.35980572089946, Average Sentiment: 0.04646492210367866
------------------------------------------
(33.618911, -117.928947): Sentiment Total = 11.493727453102453, Average Sentiment: 0.08641900340678536
------------------------------------------
(33.902236, -118.081733): Sentiment Total = 3.129909812409813, Average Sentiment: 0.06019057331557332
------------------------------------------
(37.804364, -122.271114): Sentiment Total = 2.5069882894882896, Average Sentiment: 0.009831326625444272
------------------------------------------
(33.195869, -117.379483): Sentiment Total = 3.16875, Average Sentiment: 0.05658482142857143
------------------------------------------
(34.063344, -117.650889): Sentiment Total = 10.392364774981965, Average Sentiment: 0.058713925282383984
------------------------------------------
(33.787794, -117.853111): Sentiment Total = 4.472550955988454, Average Sentiment: 0.012186787346017585
------------------------------------------
(34.579433, -118.116461): Sentiment Total = 1.0694839015151514, Average Sentiment: 0.02890497031122031
------------------------------------------
(34.055228, -117.752306): Sentiment Total = 16.422744352002162, Average Sentiment: 0.0868928272592707
------------------------------------------
(34.1064, -117.593108): Sentiment Total = 14.800803064123379, Average Sentiment: 0.08605118060536848
------------------------------------------
(40.586539, -122.391675): Sentiment Total = -0.9273899711399711, Average Sentiment: -0.023184749278499277
------------------------------------------
(37.485214, -122.236356): Sentiment Total = 7.54105339105339, Average Sentiment: 0.08473093697812799
------------------------------------------
(34.1064, -117.370325): Sentiment Total = 12.167965367965364, Average Sentiment: 0.12290874109055923
------------------------------------------
(37.935758, -122.34775): Sentiment Total = -1.3841098484848484, Average Sentiment: -0.024716247294372294
------------------------------------------
(33.95335, -117.396156): Sentiment Total = 0.3593749999999999, Average Sentiment: 0.0073341836734693855
------------------------------------------
(38.581572, -121.4944): Sentiment Total = 8.552585466833513, Average Sentiment: 0.048594235607008596
------------------------------------------
(34.108344, -117.289764): Sentiment Total = 10.18837481962482, Average Sentiment: 0.16432862612298096
------------------------------------------
(37.774931, -122.419417): Sentiment Total = -2.837811231737009, Average Sentiment: -0.0014146616309755778
------------------------------------------
(37.339386, -121.894956): Sentiment Total = 12.384401605339106, Average Sentiment: 0.04391631774942945
------------------------------------------
(37.724931, -122.156078): Sentiment Total = 1.3616221278721277, Average Sentiment: 0.008056935667882412
------------------------------------------
(33.143372, -117.166144): Sentiment Total = 3.00640625, Average Sentiment: 0.04487173507462686
------------------------------------------
(33.745572, -117.867833): Sentiment Total = 7.0658522727272715, Average Sentiment: 0.016243338557993727
------------------------------------------
(34.420831, -119.698189): Sentiment Total = 0.6433862433862433, Average Sentiment: 0.011697931697931697
------------------------------------------
(37.354108, -121.955236): Sentiment Total = 9.322370580808084, Average Sentiment: 0.02807942946026531
------------------------------------------
(34.391664, -118.542586): Sentiment Total = -2.990416666666666, Average Sentiment: -0.024714187327823687
------------------------------------------
(34.019453, -118.491192): Sentiment Total = 86.50075072863183, Average Sentiment: 0.07374318050181741
------------------------------------------
(37.957703, -121.290781): Sentiment Total = 3.4770833333333333, Average Sentiment: 0.06439043209876544
------------------------------------------
(37.368831, -122.03635): Sentiment Total = 3.7894539141414136, Average Sentiment: 0.01963447623907468
------------------------------------------
(33.493639, -117.148364): Sentiment Total = 1.4813541666666667, Average Sentiment: 0.025988669590643276
------------------------------------------
(33.83585, -118.340628): Sentiment Total = 18.346736562049063, Average Sentiment: 0.06156623007399015
------------------------------------------
(33.74585, -117.826167): Sentiment Total = 11.85336534992785, Average Sentiment: 0.040873673620440865
------------------------------------------
(34.536108, -117.291158): Sentiment Total = 2.9609375, Average Sentiment: 0.0822482638888889
------------------------------------------
(33.200036, -117.242536): Sentiment Total = 4.821019345238095, Average Sentiment: 0.050747572055137836
------------------------------------------
(34.068622, -117.938953): Sentiment Total = 13.042605970418471, Average Sentiment: 0.05573763235221569
------------------------------------------
(33.751342, -117.993992): Sentiment Total = 9.299514678030304, Average Sentiment: 0.02735151375891266
------------------------------------------

In [50]:
total_sentiment_df = pd.DataFrame(rows, columns=["lat", "lng", "sentiment_total", "sentiment_average"])

In [51]:
total_sentiment_df

          lat         lng  sentiment_total  sentiment_average
0   34.095286 -118.127014         7.718337           0.076419
1   33.835292 -117.914503        10.052303           0.029479
2   35.373292 -119.018711         7.318319           0.049784
3   34.085286 -117.960897         3.469680           0.018755
4   33.881683 -118.117011         3.636806           0.077379
..        ...         ...              ...                ...
59  33.745850 -117.826167        11.853365           0.040874
60  34.536108 -117.291158         2.960938           0.082248
61  33.200036 -117.242536         4.821019           0.050748
62  34.068622 -117.938953        13.042606           0.055738
63  33.751342 -117.993992         9.299515           0.027352

[64 rows x 4 columns]

In [52]:
total_sentiment_df.to_csv("subway_tweets_average_sentiments.csv")

In [54]:
# Specify the file to write to
output_path = os.path.join("..","tweet_csvs", "subway_tweets.csv")

# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w', newline='') as csvfile:
    
    # Initialize csv.writer
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    csvwriter.writerow(['date', 'content', 'lat', 'lng', 'city', 'population', 'sentiment'])
    
    for df in final_df_array:
        print(df['date'].count())
        everything_bigger_final = pd.merge(df, final_city_df, how='inner', left_on=['lat', 'lng'], right_on=['lat', 'lng'])
        
        print(everything_bigger_final['date'].count())
        
        index_len = everything_bigger_final['date'].count()
        i = 0
        while i < index_len:
            testimonial = TextBlob(everything_bigger_final.loc[i, 'content'])
            
            csvwriter.writerow([everything_bigger_final.loc[i, 'date'], everything_bigger_final.loc[i, 'content'], everything_bigger_final.loc[i, 'lat'], everything_bigger_final.loc[i,'lng'], everything_bigger_final['city'][0], everything_bigger_final['pop_april_2010'][0], testimonial.sentiment.polarity])
            i = i+1
    # Write the first row (column headers)

    #date	content	user	user_location	lat	lng

101
101
341
341
147
147
185
185
47
47
118
118
367
367
75
75
406
406
218
218
123
123
35
35
228
228
1975
1975
98
98
46
46
142
142
399
399
505
505
140
140
31
31
142
142
67
67
57
57
1356
1356
334
334
385
385
33
33
202
202
761
761
133
133
52
52
255
255
56
56
177
177
367
367
37
37
189
189
172
172
40
40
89
89
99
99
56
56
49
49
176
176
62
62
2006
2006
282
282
169
169
67
67
435
435
55
55
332
332
121
121
1173
1173
54
54
193
193
57
57
298
298
290
290
36
36
95
95
234
234
340
340